.pc1 {
  color: #ff9800;
}

.pc2 {
  color: #2196f3;
}

.pc3 {
  color: #4caf50;
}

.npc1 {
  color: #795548;
}

.npc2 {
  color: #E91E63;
}

.npc3 {
  color: #673ab7;
}

.gm {
  color: #673ab7;
}

.system {
  color: #555555;
}