body {

}

h1 {

}

hr.divider {
    display: block;
    border: 0;
    height: 5px;
    margin: 3em 0;
    background: repeat-x top left url("../img/go-divider-31x5.png");
}

span.go-icon {
    width: 23px;
    height: 20px;
    margin: 0 7px 0 0;
    display: inline-block;
    background: no-repeat url("../img/go-tree-icon-94x80.png");
    background-size: 23px 20px;
}