.row {
    margin: 0 0 1.0em 0;
}

.row.comment {
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em;
    color: #333333;
    border: 1px solid #cccccc;
}

.name {
    font-weight: bold;
}

.serif {

}

blockquote {
    font-size: 14px;
}

b {
    font-size: large;
    color: #f44336;
    margin: 0 7px 0 7px;
}