.pc1 {
  color: #4caf50;
}

.pc2 {
  color: #2196f3;
}

.pc3 {
  color: #FF4081;
}

.npc1 {
  color: #212121;
}

.npc2 {
  color: #212121;
}

.npc3 {
  color: #212121;
}

.enemy1 {
  color: #212121;
}

.enemy2 {
  color: #212121;
}

.enemy3 {
  color: #212121;
}

.gm {
  color: #ff9800;
}

.system {
  color: #555555;
}