body {
    background: repeat top left url("../img/sw-background-seamlesspaper.jpg");
}

.container {
    background-color: #ffffff;
}

h1 {

}

h2 {

}

h3 {
    font-size: 18px;
    font-weight: bolder;
}

hr.divider {
    display: block;
    border: 0;
    height: 5px;
    margin: 0 0;
    background: repeat-x top left url("../img/sw-divider-9x5.png");

}

span.section-icon {
    width: 23px;
    height: 23px;
    margin: 0 7px 0 0;
    display: inline-block;
    background: no-repeat url("../img/sw-icon-80x80.png");
    background-size: 23px 23px;
}

blockquote{
    position: relative;
    margin: 0 1em 1.5em;
    padding: 1em;
    border: 3px solid #cd5c5c;
    background-color : #fffacd;
    box-shadow: 1px 2px 4px rgba(50,50,50,.5);
    -webkit-box-shadow: 1px 2px 4px rgba(50,50,50,.5);
    -moz-box-shadow: 1px 2px 4px rgba(50,50,50,.5);
}

blockquote:before{
    content: url("../img/sw-icon-80x80.png");
	text-align:right;
	display:block;
	height:10px;
	font-weight: lighter;
	font-style: oblique;
	font-size: 380%;
	color: #6D6D6D;
	margin: -80px -80px 50px 30px;
	-moz-transform: rotate(25deg); 
	-webkit-transform: rotate(25deg);
	 -moz-transform: rotate(25deg);
	 -o-transform: rotate(25deg); 
}
