body {
    background: repeat top left url("../img/sw-background-seamlesspaper.png");
}

.container {
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #edd99f, -3px 3px 5px #edd99f;
}

h1 {

}

h2 {

}

h3 {
    font-size: 18px;
    font-weight: bolder;
}

hr.divider {
    display: block;
    border: 0;
    height: 5px;
    margin: 0 0;
    background: repeat-x top left url("../img/sw-divider-9x5.png");

}

span.section-icon {
    width: 23px;
    height: 23px;
    margin: 0 7px 0 0;
    display: inline-block;
    background: no-repeat url("../img/sw-icon-80x80.png");
    background-size: 23px 23px;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

blockquote {
    position: relative;
    margin: 0 1em 1.5em;
    padding: 1em;
    border: 3px solid #cd5c5c;
    background: #fffacd;
    background-size: 30px 30px;
    box-shadow: 1px 2px 4px rgba(50, 50, 50, .5);
    -webkit-box-shadow: 1px 2px 4px rgba(50, 50, 50, .5);
    -moz-box-shadow: 1px 2px 4px rgba(50, 50, 50, .5);
}

blockquote:before {
    content: " ";
    text-align: center;
    float: left;
    position: relative;
    background: url("../img/sw-icon-80x80.png");
    background-size: 20px 20px;
    display: block;
    height: 20px;
    width: 20px;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

.row.comment {
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em;
    color: #333333;
    border: 2px dashed #cccccc;
}
