{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/lostroyal-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>キャラクターメイク</h2>
                    <p>※一言プリーズ(なくてもいいよ)</p>
                </div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>いい国だ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>ハロー　見知らぬ人</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>よし、フランベルジュ作ろう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>あなたもすきね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>キャラシはどこじゃああああ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>認知症かな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>サラくんにリンク張ってないのがいけない・・・</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>みぃつけた（にやり</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>1d6+D66 LostRoyal : (1D6+D66) → 3[3]+0 → 3</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>D66 LostRoyal : (D66) → 33</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>ハロー　見知らぬ人</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>くさかだけど？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 5</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>D66 LostRoyal : (D66) → 12</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>くさかぁ！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>choice[m,f] LostRoyal : (CHOICE[M,F]) → F</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>こんばん</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>hei</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>わからない・・・けどアイコンがあったんだ・・・</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>過去の遺物か</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>怨念がおんねん</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>キャラを作ってね!</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>マリウスじゃなくてニュービーのほうがいいかな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ちゅくる～＾ｑ＾</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>新しいの作ってね！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>16+1d20 LostRoyal : (16+1D20) → 16+14[14] → 30</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>使う機会あるか分からないけどマイクは買った</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おばさんになっちゃった・・・</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>使えばいいじゃない</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>種族どうしようかな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>1d6 酒歌 LostRoyal : (1D6) → 1</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>１・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>騎士人数が３なので</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>血路高いです</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>1d6+1d6 LostRoyal : (1D6+1D6) → 2[2]+2[2] → 4</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>とりあえず２２時までを目標に、のびのびしましょう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あい</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>フランベルジュがいるからデネブにしようかな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ところでなんで、くさかぁ！のこまがあったんだろう？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ん～、デフォルトアイコンに入れられてるからかな？詳細はevi死かわかんないと思う</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>デフォルトにいんのかよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ちなみに魔人と魔群のアイコン絵がないのは寝たばれ防止のためです。嘘です。忘れてました</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>早くちゅくって！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>1d6+1d6 LostRoyal : (1D6+1D6) → 5[5]+4[4] → 9</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>絵だけね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>奇数だと宣誓が半々になるということがないのがいいね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なんか・・・フランベルジュってお酒関係の能力がおおのね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>酒歌は一回まで振りなおしてもいいことにします。一回だけね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ただし振りなおしたら、２回目のを選んでください</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>1d とりあえず酒歌 LostRoyal : (1D6) → 2</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>倍になったな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>まだ一回目じゃない？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>nakiさんは１だしてたけど</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>んむ・・・</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>まぁけど振り直しはいいかな、別になくてもなんとかなるやろ！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>7d6 LostRoyal : (7D6) → 28[1,2,4,4,5,6,6] → 28</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ふぁい、できたよ～</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>はやいな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>くさかだけど、は枕詞かな？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>コンストラクション超簡単だからねこのゲーム</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>名前変えるの忘れてた・・・</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>くさかだけど？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>実際慣れればすぐできると思う</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>王女を守る人もほしいね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>殴り屋だ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>デネブとフランベルジュがいるなら</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>人間がド安定なんだけど・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>そんなことはしらない！</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>2d6 LostRoyal : (2D6) → 9[4,5] → 9</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>よし、こんなところかな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>まあEp1なので敵は強くない。。。かな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>ん、髪色かぶるから変えよう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>7d6 LostRoyal : (7D6) → 22[1,1,2,2,5,5,6] → 22</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>すげえ偏った</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>確認なんだけど、デネブの能力の短命主ってパッシブなのかな？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>ＥＶＩは戦闘スタイルどうする？防御？作戦？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>どっちでもいいよ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>ふむ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>足跡を得るって能力がよくわからんな、名誉点を増やしていいってことか？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>どの能力？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>短命種</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>これは使用するたびに足跡を得るのか、作成時だけなのかもわからん</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>2d LostRoyal : (2D6) → 7[3,4] → 7</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>名誉点増えるとおもう</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>ふむ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>さすがに作成時だけだと思う。</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>シナリオ中にいきなり自傷行為しはじめても・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>短命種という文字を見た感じ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>じゃあ命数の最大値が下がるって認識でいいのかな？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>はい</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>了解</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>じゃあ自分は作戦型やろうかな</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>1d6 （酒と歌） LostRoyal : (1D6) → 6</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>いえー</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>振りなおす？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>ＮＯ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>実質命数増えたね！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>やたらフルボッコヒーローズの絵がひっかかるんだけど、これはやってるん？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>げーむ？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>スマートフォンのゲームだった気がするな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>完成してしまった</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>女傑がおおいな、男子にするか</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>ニルヴァーナの男っていうのが想像つかなくって・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>たしかに</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>リーシンみたいなやつじゃない？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>こいつが第一候補だったんだけど</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>エルフ(ぽい)のやるときはマジメってきめてるから！</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>じぶん男の予定だ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ネウマっぽい</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>なんじゃそりゃあ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>でもニルヴァーナには花の戦いとかあるよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>王の話ばっかしそう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>2ターンに1回はしてきそう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>有能すぎるなあ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>7d6 LostRoyal : (7D6) → 23[1,2,3,3,4,5,5] → 23</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>けっこうバラけるね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>7d6 LostRoyal : (7D6) → 19[1,1,1,2,3,5,6] → 19</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>つよいぞ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>宣誓についてはキャラ作成が終わったら聞きます</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>つよいぞ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>7d6 LostRoyal : (7D6) → 25[1,1,1,5,5,6,6] → 25</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>１ばっかり</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>何回振るねーん</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>足跡+2だから３回じゃないの？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>常識的に考えて7d6が9d6になるんだとおもうんですよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ですよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>足跡の数=名誉点です</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>ああなるほど</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>やり直します</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>化け物ができるとこだったぞ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>9d6 LostRoyal : (9D6) → 34[1,2,3,3,4,5,5,5,6] → 34</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>すごい・・・平均的です</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>騎士道が強くても戦闘で勝てないけど</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>巨人二期か・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ブーム再来するんかねえ？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>ストーリー覚えてない</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>なきがおが暇すぎてシート改造してる</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ほんとだ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>あ、ばれた？いろいろ試してみたくてね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ちょっとトイレ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>完成</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>また人外がやってきたぞ！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>名前長いからカットで</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ひどーい</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>これでいい？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あれ、ピングイーノが名前じゃないのけ？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>まあピングイーノが名前だけど本人はキングとよばれたがっているので</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なるほど？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>「みんなも気軽にキングって呼んでくれよな！」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>懐かしいカードだ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>寒いから腹壊したかな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>僕の知らない記憶</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>シマウマの絵で白黒はっきりつけてやる、とかなかったっけ？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ちょっとキャラ確認しよう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>確かになんか寒いなぁ・・・</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>寒すぎてオーロラが見える</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>蜂蜜が凝固してたなあ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>大丈夫そうですね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>（突っ込みそこなった・・・）</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>今日はどこまでやる予定なん？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>宣誓選択の結果、幸運は命題Aを選んだベルとペンギンが持つことになります</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>やったぜぇ！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>戦闘前までいけたらいいかなと思ってる。</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>てことは、宣誓点は1点だけかな、えヴぃだけ2点か？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>正義が増える</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>戦闘突入したら中途半端なところでやめそうだから</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>やっぱり宣誓点はそうなるんですかね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>と、思うよ。前見たときそう書いてあった気がする</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>宣誓点が高いのは人数が少ない側なので</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ルルブの間違いかと思ってた</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>幸運もこっちだとおもう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>なぜルルブを疑ったのだろうか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>そうなりますね・・・
                    <幸運
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ああ、対立する人数なのか</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>少数派に救いがあるタイプの民主主義</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ということでサラ王女はクヮインに少し気持ちを寄せています</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>一般的に考えたら2v1だと数値的に勝てるわけないからな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>要するに・・・サラ王女は君主なんてやめてやらあ！ってことかな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>そこまで言ってない</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>微妙に違うんだけどね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>結果的にはそういう風にとられるかもしれない</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あれ？けど再興をあきらめちゃうんでしょ？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>ネオ・アヴァロンを建国すればよいのですよ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>よくわからんが、別にそうすると王族の血筋である必要はなくないか？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ああ、そこらへんははじめてから分かるかも</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>らじゃあ！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>始めますか</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>どっちにしろ魔王倒せるのは王族だけだから・・・王様が勇者にクラスチェンジするだけだな！</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>その場合は俺が王になろう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>誰だ貴様</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>私がキングだ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>キング牧師的な名前だと思っておくよ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>僭称王</div>
            </div>
        </section>
    </div>
{% endblock %}