{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/lostroyal-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>キャラクターメイク</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>キャラを作ってね！新しいの作ってね！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>フランベルジュ、ちゅくる～＾ｑ＾</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>種族どうしようかな。フランベルジュがいるからデネブにしようかな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>騎士人数が3なので、血路高いです。ちなみに魔人と魔群のアイコン絵がないのは寝たばれ防止のためです。嘘です。忘れてました</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なんか……フランベルジュってお酒関係の能力がおおのね。(適当にごにょごにょやって)ふぁい、できたよ～</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>はやいな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>コンストラクション超簡単だからねこのゲーム</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>実際慣れればすぐできると思う</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>デネブとフランベルジュがいるなら、人間がド安定なんだけど……そんなことはしらない！</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>確認なんだけど、デネブの能力の「短命種」ってパッシブなのかな？足跡を得るって能力がよくわからんな、名誉点を増やしていいってことか？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>これは使用するたびに足跡を得るのか、作成時だけなのかもわからん</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>名誉点増えるとおもう。さすがに作成時だけだと思う。短命種という文字を見た感じ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>シナリオ中にいきなり自傷行為しはじめても……</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>じゃあ命数の最大値が下がるって認識でいいかな。eviは戦闘スタイルどうする？防御？作戦？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>どっちでもいいよ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>じゃあ自分は作戦型やろうかな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>完成してしまった。エルフ(ぽい)のやるときはマジメってきめてるから！</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>完成</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>(ペンギンのようなアイコンを見て)また人外がやってきたぞ！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>名前長いからカットで</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ひどーい</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あれ、ピングイーノが名前じゃないのけ？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>まあピングイーノが名前だけど本人はキングとよばれたがっているので</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>「みんなも気軽にキングって呼んでくれよな！」</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>宣誓選択</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>宣誓選択の結果、幸運は命題Aを選んだベルとペンギンが持つことになります</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>てことは、宣誓点は1点だけかな、えヴぃだけ2点か？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>正義が増える、幸運もこっちだとおもう。少数派に救いがあるタイプの民主主義</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>一般的に考えたら2v1だと数値的に勝てるわけないからな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ということでサラ王女はクヮインに少し気持ちを寄せています</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>要するに……サラ王女は君主なんてやめてやらあ！って考えてるってことかな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>そこまで言ってない</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>微妙に違うんだけどね、結果的にはそういう風にとられるかもしれない</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あれ？けど再興をあきらめちゃうんでしょ？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>ネオ・アヴァロンを建国すればよいのですよ。どっちにしろ魔王倒せるのは王族だけだから……王様が勇者にクラスチェンジするだけだな！</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>その場合は俺が王になろう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>誰だ貴様</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>私がキングだ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>キング牧師的な名前だと思っておくよ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>僭称王</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>主君作成</h2>
                    <p></p>
                </div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>一人一つほど行動させたいことをシート内に書いてください</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>シリアス？コメディ？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>マカセロ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>うーん、シリアスよりのコメディ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>今ある内容にシリアスが入ってないんですが</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あんまりアレなのはダメってことだな……</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>全裸になるとかやめてね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>幼女の全裸はまずいですよ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>チィッ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>健全なやつでたのむ</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2 name"></div>
                <div class="col-sm-10 serif">
                    <blockquote>
                        ※しばしの書き込みタイム
                    </blockquote>
                </div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>(「無性に羽がむしりたくなる」という項目を見て)……誰だ白鳥族に危害を加えるやつは！！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>だ、だれかな～(口笛</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>ペット虐待はまずいね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ここにも人種問題がはびこっていたか</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>仕方ないなぁ……(書き直し)……これなら無理やりにでもシリアスになるだろう</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>真面目になった</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>(「アイドルになる」の項目を見て)ビギドルTRPGと間違えてる人いるけど、大丈夫？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>ビギドルは囚人スタートからドラゴン倒したり秋葉原を陥没させたりしたので違うゲームだとおもう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>（もはやそれは、ルーニー的な遊び方なのでは……）</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>姫様のキャラを考えて項目埋めたんだけどなあ</div>
            </div>
        </section>
    </div>
{% endblock %}