{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/lostroyal-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>オープニング</h2>
                    <p>※一言プリーズ(なくてもいいよ)</p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>とりあえず、舞台設定</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>妖魔の手により祖国は滅ぼされ、サラ王女と愉快な仲間達は途方もなく旅をしていた。齢12という年で君主となったサラ。その幼き心は祖国が滅んだその日から大きくゆり動いていた。信頼できる家来達とともにアヴァロンの再興を目指すべきだろうか、それとも国のことは諦め、新たな人生を歩むか。</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>一応儀式タイプのシナリオです</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ふんむふんむ・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>察していると思いますが、選択しだいでこの後が大きく変わるので</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>EP2のシナリオは影しかありません</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>どっちに転んでも良いキャラにしとこう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>コウモリ野郎がいる</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ペット役は必要</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ペンギンです！！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>癒しポジだったか・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>とりあえず始まり</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>ワー</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>妖魔の手から逃れたサラ一行は、グラナテル地方に身を潜めることにしました。</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>その道中から始まります</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>北のフィヨルド地帯かな、寒いのかしらね</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>「お父様・・・お母様・・・うう・・・」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>冬だもんね</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>なんかないてる</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あ、君主で思い出した。アクション表はまだ決めない感じ？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>アクション表的には最後の涙かもしれない</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>「姫！おいたわしや、さあ俺様の胸で存分に泣くがいい！！」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>埋めていいなら埋めるぞ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>「ありがとう！思う存分泣かせてもらおう！」と男泣き</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>忘れてた、分岐フェイズになったら決めよう</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>と思ったけど今決めますか</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>全部GM決めちゃってもいい気もするけどな、雰囲気壊れる可能性あるし</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>一人一つほど行動させたいことをシート内に書いてください</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ほい</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>シリアス？パロディ？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>マカセロ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>最初は全部決めてたけど</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>コメディ？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>既に雰囲気が壊れる内容しかないから問題ない</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>やめた</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ああ、こめでぃこめでぃ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>うーん、シリアスよりのコメディ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あんまりあれなのはダメってことだな・・・</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>今ある内容にシリアスが入ってないんですが</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>全裸になるとかやめてね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>幼女の全裸はまずいですよ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>チィッ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>健全なやつでたのむ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>誰だ白鳥族に危害を加えるやつは！！</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>もはや外伝になりそうな内容がある</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>だ、だれかな～(口笛</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>まとも</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>ペット虐待はまずいね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ここにも人種問題がはびこっていたか</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>仕方ないなぁ・・・</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>完成・・・？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>これなら無理やりにでもシリアスになるだろう</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>しかしEP1のシナリオは決まっているのだ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>真面目になった</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ビギドルTRPGと間違えてる人いるけど、大丈夫？</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>「これからどうしたらいいんだろう・・・」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>ビギドルは囚人スタートからドラゴン倒したり秋葉原を陥没させたりしたので違うゲームだとおもう</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>というところで各自イニシ順に自己紹介をしてください</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>（もはやルーニー的な遊び方なのでは・・・）</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>姫様のキャラを考えて項目埋めたんだけどなあ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>考えてなかった、まってね</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>ゆっくりしていってね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>「オレの名前はベル、酒が大好きなのさ！あと、一番槍はまかせとけ！」と神槍タケヤリを構えます</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>終わり</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>軽い役割紹介も入れていい感じです</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>能力値的なことってこと？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>特殊能力とか</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>能力的には、武力が一番高くて、武力を使えないと死んじゃうキャラ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>一言で表せちゃう簡単さ、素敵</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>戦闘での役割かな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>戦闘での役割は、攻撃型前衛はまかせて</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>つおそうだなあ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>フランベルジュは強い！（確信）</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>買ってきたマイク、コードがマイク部分に刷れることが判明した</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>どんな欠陥品だよ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>速力が使えないから、判定負けするとたぶんなにもできないんじゃないかな・・・</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>というか今マイク使ってるの？</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>いや、使ってない</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>では次、クヮイン</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>「サラ様のお付き見習いのクヮイン。例え貴方様になにがあろうと、私は貴女を身を挺して守ります。盲ておりますが、私の魔力の篭った声はあらゆる敵を惑わすでしょう。」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>「具体的には魔群の戦力値を-1してご覧にいれます。私は見えないですけど。」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>すごいつよそう・・・</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ニルヴァーナも初登場かな、こりゃ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>かな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>22歳のニルヴァーナ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>蔦</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>蔦には及ばず・・・"若草"等と呼ばれております</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>よろしく</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>魔群戦に特化してるから魔人は苦手</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>武力も0！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>(いちおう☓はついてないので武力パンチも可能)</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>魔人は相手しない方がいいかも</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>以上です</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>はい</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ＧＭからのアドバイスか</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>GMストップが出るってやばそうだな・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>まあ魔人って強いし</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>まあ実際戦ってみないと分からないけどね</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>次、ペンちゃん</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>「我が名はキング！まさに世界の頂点に立つことを宿命づけられた男！！何れはアヴァロンの皇帝になろうと思っているがその前に魔族どもを皆殺しにせねばなるまいて」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>http://tn-skr4.smilevideo.jp/smile?i=26068435.L</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>能力値は速度特化で特殊能力のせいで死にやすいぞ。</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>これは獅子身中の虫というのでは・・・</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>大丈夫かな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>真面目な話守りが手薄なんですよね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>魔人が2回攻撃とかしてきたら・・・1ラウンドでかばえるのは1回だけだから</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>姫攻撃されたら終わりだからね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ノウキンパ楽しいし、いいと思う！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>私だけでは庇え無い・・・</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>魔人は２回攻撃ガデフォだからねえ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>やられる前にやるのだ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あれ？かばうって制限あるんだっけ？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>そうなんですよ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ふむ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>1回だけなんです</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>じゃあ俺が姫様の影武者になろう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>ちなみに前回のセッションは特に2回殴られることはなかったので大丈夫でした</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>自己紹介終わったところで</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>だったよね、一回は回復してくれてたし</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>へんだなあ、そうするとプレイヤー側って勝てなくないかな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>3人推奨だとおもう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>そこからデネブの白鳥の湖で</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>サラと愉快な仲間たちはグラテナル地方にあるスゴクアマイ市街に行き着きました</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>後陣からのペナルティ無し身代わりと</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>本陣の防御型騎士の身代わりで</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>カキンカキン</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>すごくあまい</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>何にせよこのゲームシビアですよ　サプリでどうなったのか知らないけど</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>隣接ますにいればできるってあるから、大丈夫かな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ペナルティはあるけども・・・</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>まあやってみなけりゃ分かるまい</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>どうでもいいけどanekoくんだけdiscodeにいない</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>相変わらず甘そうな土地名だぜ・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>「姫様、久方ぶりの市街地です。今夜はゆっくりできそうですね」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>戦闘は毎ターン包囲を０にしていかないと、基本的には王女が二回攻撃されると思っていいです</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>「そうだね・・・はあ」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>ACT LostRoyal :姫様アクション表(2[2]) → 鼻歌を歌う</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>文字で起こすと、ただの悩めるお供みたいだ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>「姫様…姫様のお望みは分かっております、すべてこのキングにお任せください！」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>ACTでアクション表振れるようにしたよ！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>いいね！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>一応宣誓ハンドアウトは選んでるけど、オープニングだからなにか事件がおきるはずだ・・・</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>こんな平和な街で事件なんて・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>GMのPCがフリーズしてるそうです</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>寒いから仕方ないね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>たまげたなぁ・・・</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>グーグルシート開いた状態でディスコード開いたらフリーズした・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>アプリ版のほうがいいよ(Discorde)</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>さて続きを</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>eいらね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>はい</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>市街に着くと、多くの市民が王女に近づいてきました</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@市民A</div>
                <div class='col-sm-10 serif'>「王女様！アヴァロンは大丈夫なんですか！」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@市民B</div>
                <div class='col-sm-10 serif'>「王女様、アヴァロン復興期待してますよ！」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@市民C</div>
                <div class='col-sm-10 serif'>「王女様、今日もかわいいですね！」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>この市民はダメなにおいがするな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>とまあ、市民は王女に励ましの言葉をぶっ掛けてきます</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>支持率過ごそう</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>王女の反応は？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>王女はログレスの中では知らない人がいないぐらい有名な方です。日本で言う愛顧様みたいな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>愛子</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>まあ当たり前といえば当たり前</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>王女の反応ですが</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>見ただけで分かる自身がない愛子さま</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>やさしく微笑んで皆に手を振っています。まるで皇族のような素振りです</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>握手会だ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>しかし、長年付き添ってきた仲間たちには、無茶をしていることが丸わかりです</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>じゃあ俺も隣で手を振る</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>そんなこんな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@市民N</div>
                <div class='col-sm-10 serif'>「わー！ぺんぎんだー！羽むしらせてー！」むしりむしり</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>「ぶち殺すぞ！ヒューマン！！」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@市民N</div>
                <div class='col-sm-10 serif'>「きゃー！」と無邪気に喜んでいます</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>ヒューマン・・・どんな種族だろう・・・</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>髪の毛を無視ってやろうかな</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>「皆さん、私たちは妖魔に追われる身、どうか少しでも人目につかない休息所を探してくれませんか」と騎士たちに言ってきます</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>毟る</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>ロストロ共通の設定で、</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>妖魔間での賞金首なんです</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>血筋を絶たねば魔軍に平和は訪れない・・・</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>パッと見つかる感じなん？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>「姫！ありましたぞ！隠れ家が！！」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>その辺の家のカギを開けて借りよう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>「市民たち、姫様は精鋭たる我々をお連れになり、忍ばれつつもここへ到着致しました。あまり騒がれないように。」と呼びかけよう</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>またとまった・・・</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>すみません、続きを</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>では、キングが見つけてきた？隠れ家を暫くの宿ということにしました</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>そして翌日</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>姫様との対話シーンです</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ポイント上がったかな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>さすぺん</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>イニシ順でいいかな？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>時間は何点もらえるんです？</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>ああ、時間は２点です。</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>番外シーンの前に対話シーンをします</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ほう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>わしからかぁ！</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@サラ王女</div>
                <div class='col-sm-10 serif'>ベルから対話しようと思うので</div>
            </div>
        </section>
    </div>
{% endblock %}