{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/lostroyal-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>儀式</h2>
                    <p>※一言プリーズ(なくてもいいよ)</p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>さて、終幕フェイズです</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ほい</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>P.186</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>見ながらしよう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>いつもデザート容れになっている、「聖杯」を使用しての儀式が始まります</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>いいエンディングだった</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>TOKIOなら泥から作る</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>情景の舞台表をふろう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>1d6+1d6 LostRoyal : (1D6+1D6) → 4[4]+3[3] → 7</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>鳥のなく、灰色の荒野</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>烏</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>鳥</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ああ、トリか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>カラスが鳴いているのかな？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>「うおおおおおおおお」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>字がつぶれて読めないんだよね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あ、ここぞとばかりに鳥類が！！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>儀式は各プレイヤーがするそうです</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ダイス振るんだったよな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>舞台表に残した記憶点に対し、風力決定表を2度振るって書いてる</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>これ自分が残したってあるけど・・・</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>各自記録しておくべき項目だったのかもしかして</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>意味が分からない</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>儀式中・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>放浪のたびかな？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>流石に誰の記憶点とかは書いてないなあ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>これ舞台表の記憶点って集計ただしい？＞GM</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>集計はあってると思う</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>誰のかは分からないけど</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>であれば、別に誰の点数であっても問題ない気がする</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>結果、同じ儀式点になるわけだし</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>せやな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>確かにそうだね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>取りあえずダイス振ればいいんじゃね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>そだね、2回振ろう</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 3</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 2</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>けど結果が微妙に違ってくる</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>振り足しだからカエル君もっかい</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 1</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>おうふ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>なんもない</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>今日は風が泣いてるな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 4</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 5</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>「みえる・・・オレにも見える・・・！」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 4</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 1</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 4</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>儀式店＋１</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>合計儀式点2</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>(なんも見えへん)</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>幻視だから見えてるんだよなぁ・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>記憶点はこっからプラスってことかな？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>c(3+2+15+6) LostRoyal : 計算結果 → 26</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>こうかな？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>5点もあった？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>(3,2,1)(4,5)(4,1,4)</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>(0)(3)(2)じゃなぁい？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あ、4は0だったわ、ごめんね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>c(1+15+6) LostRoyal : 計算結果 → 22</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>こうかな？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>クヮインは振り足しが一回あるので合計5になり、1点プラスかな？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ああ、ふり足しってそういうことか</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ダイスもう1回振れる権利かと思ったわ。なるほどだから7以上になるわけか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>だから7以上が存在してるのだと思う</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>よって合計23点です</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>すごいのかは分からない</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おっけ～</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>そして皆さん見事生き残ったので</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>勲章点をあげます</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ありがたき幸せ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>わ～いやった～</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>そして愛用の武具に武具値+1</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>勲章式</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>そして今回のMVPですが</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>・・・・・・・・・・・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>みんなの投票だった</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>さあ指を指そう！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>キングかなぁ、ラストの演出が好みだったわ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>ペンギン</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ではとり</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>おめでと</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>なんと！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ぱちぱちぱち～～～</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>勲章点とメザシ+1</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>選ばれたからには今後も王として国を導いていこう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>後一つ、</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>（ちがうそうじゃない）</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>主君のアクション表を一つ変える権利があるよ！</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>おお</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>じゃあ何か変えとこう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>今回成長に関しては特に何もできないかな、ペンギンはできるけど</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>できるのか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>そして希望点のロール</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>やろうと思えばね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>P.188</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>2d6 LostRoyal : (2D6) → 8[3,5] → 8</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>Ep1なので9点</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おお、黒字じゃぁ～！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>農民がふえたぞ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>貧乏生活からオサラバ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>義勇兵ですが</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>今回ボレミアが仲間になったので+1点です</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>残念ながらさほど影響はありません</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>義勇兵扱いなのはゲーム上致し方なし</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>顔つきMOB</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ロストロ2だと、義勇兵が変更されて仲間になるよ。ただしその次のシナリオで墓標になるよ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>これはＧＭがロストロ２を買う流れかな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>買っちゃうとボレミアが強制ログアウトになっちゃう・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ということでEP1「小さな心の大きな一歩」終了です</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おつかれさま～</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>おつかれー</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ありがとうございました</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>感想戦</h2>
                    <p>※一言プリーズ(なくてもいいよ)</p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>EP2はそのうちやる</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>んむ、ぜひやってほしい</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ＥＰ２は１０年後の話とかかな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ペンギンは死んでそう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>かわいそうなペンギン・・・</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>死んだら霊体になって主人公を導くよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>どうせなら2のルルブも導入してもいいかもしれないですね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>２を導入すると別げーになると噂で聞いた</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>魔王の存在が書いてるのは知ってる</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>潜水艦で表紙は見たから</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>えらい早く終わったなあ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おっきところは変わってない感じするけどなぁ、実プレイが全然あれなのかしら</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>リプレイも読もう・・・</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>たまにはいいんじゃない、サクッと終わる日も</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>うむ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>2はとりあえず買ってみようかなあ、導入するかは別として</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>１だけだと直ぐに飽きが来そうな感がある</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>2も世界観が少し詳しく書いてあるだけな感じするけどね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>データも追加っていうか、</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>変更が多いし・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>そうなのか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ちなみですが</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>血路を０にするのではなく、魔人を倒して戦闘終了すると</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>サラ王女が多大なる心の傷を追うエンドになる予定でした</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>悲しいけどこれ、戦争なのよね・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>どうころんでもペンギンの思惑通りか</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>サラ王女にはメンタルケアが必要だ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>そして心の弱っている人は操りやすい</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>鬼畜ペンギン</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>実際影の支配者になることも可能</div>
            </div>
        </section>
    </div>
{% endblock %}