{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/nvnv-common.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>PL達の控室</h2>
                    <p>オンラインでも3時間で2回できるってすごいと思いました</p>
                </div>
            </div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>「Evi@女子高校生」をキャラクターとして追加しました。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「kaeru@巫女」をキャラクターとして追加しました。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>多分このゲーム巫女が最強な気がする</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>ほんとぉ?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>GMの判定がしぶいと難しいそうな特性だわな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、これハーレム主人公できるじゃーん^^</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>「naki@フリーター」をキャラクターとして追加しました。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>妖怪胎児は任せて</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>退治</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>助産婦かな?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>まあ巫女だからそういうのもありそう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>助産婦かなは笑う</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>おっし、でーきた。席替えするか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>1d3</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>DiceBot : (1D3) → 3</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>1d3</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>DiceBot : (1D3) → 2</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>いいんでないかい。では、最初GM決めるので2ディー6どうぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>2d6</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>DiceBot : (2D6) → 5[1,4] → 5</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>しぶいGMならまかせろ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>2d</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>DiceBot : (2D6) → 10[4,6] → 10</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>2d6</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>DiceBot : (2D6) → 11[5,6] → 11</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>2d6</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>DiceBot : (2D6) → 9[6,3] → 9</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>ありゃ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>わたしか?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ちゅよい・・・では、最初GMはカエル君</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>おでん始めました</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>イントロダクション</h2>
                    <p></p>
                </div>
            </div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>イントロダクションカードを1枚ひいてから、続いてシーンカードを一枚ね>GM</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「INTRODUCTION CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>/[INTRO] 失踪した家族 /突如失踪した家族を追って、PCたちは捜索を開始した。  わずかな手掛かりを辿れば、行く手には奇妙な場所、恐ろしい出来事が待ち受ける。  これらはすべて、家族の疾走と関係がある。すべてを乗り越え、生き延び、残酷な真実に奪われた絆を取り戻すんだ。/</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>これは・・・もしや全員家族の設定なのか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>かもね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どっちがお姉ちゃん!?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>家族の疾走は関係ないとおもう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ま、たぶんね。家族設定でも面白いなって思っただけさ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なかなかできなくないPC全員家族っての</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>いや失踪が疾走になってたから</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>とりあえず妹でも探してることにしよう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>じゃあ母でも探してることにしよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お、誤字だったかすまんすまん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>母っていうか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>ママっていうか・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>パマ?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>両親と妹がいなくなったとそういうあれ・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>まさか前回の主人公娘ポジションだと!!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>お母さん(お父さん)</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>1週目</h2>
                    <p></p>
                </div>
            </div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「SCENE CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>/[SCENE] 悪い予感がする・・・・・・。 /順調かと思われた道の途中、君は足を止めた。 この先に進むと、なにか、ろくでもないことが起こる気がする......。 仲間は不思議そうに君を見る。  説明しようがないけれど、この悪い予感を、なんとかして説明しないと。 /[判定] /場面PCは2D、その他の全員は1Dを振る。 場面PCのダイスがその他の全員の合計を上回ったら「光」カードを、さもなくば「闇」カードを得る。/</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「父ちゃんとは新宿2丁目に消えた・・・これは・・・悪い予感がする」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>いつの間にか仲間になってた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>とりあえず2Dか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>新宿のローソンの兄ちゃん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>2d6</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>DiceBot : (2D6) → 9[6,3] → 9</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>さわやかイケメン</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>これは厳しいな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>1d6</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>DiceBot : (1D6) → 4</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>行けるかも</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>今日のえヴぃちゃんダイス走ってるからなぁ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>1d</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>DiceBot : (1D6) → 5</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ぎゃああああ・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>同値だから成功でいいかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>ククク</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>合計を上回ったら だから</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>ああ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>闇ィ!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ああ、なるほど確かにそうだ!</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>暗黒面に落ちてしまった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「はああああん、うまくあらわせないけど、悪い予感が、あっあっ!無視しないで!あっ!」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>なに かえって免疫が付く</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>「DARKNESS CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>/[DARKN] 犬(NPC) /「君がボクのご主人様だよ!ボクがご主人様を守るよ!さあ、こっちこっち!行こうよこっち!ボクたちならきっとうまくやってけるさ!」 /[BONUS] /技+1/</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>我犬を得たり</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>ワンワン</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>これ闇なの?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「小次郎!ついてこい!」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>猫派か?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>殺せ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@小次郎</div><div class='col-sm-10 serif'>「わんわん!」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>闇の犬…ティンダロス?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>このゲーム、闇が闇じゃなかったりするから・・・ちなみに光の動物枠はネコ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>香港の串屋台思い出した</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>猫派はゆるさない</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>どっちかというと猫の方が闇っぽいのに</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>「SCENE CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>これがきたかぁ・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>/[SCENE] お風呂 /温かいお湯に満ちた浴槽と、柔らかく空間を包み込む湯気......そう、ここはお風呂だ。 いろいろなことがあったけど、今だけはすべてを忘れてお湯に身体を委ねよう。 /[ROLEPLAY] /この場面にどういう意味があるかは、君や仲間が決めるといい。 場面PCは「光」カードを得る。/</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>うん、サービスシーンなんだ、すまない。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>意味?サービス</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>これはサービスシーン以外の何物でもない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>もう一致した</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>満場一致で草しか生えませんよ～</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>しかしこれはホラー映画</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>じゃあシーンPCはお風呂入るシチュエーションでなんかRPして</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>誰かが襲われるはず</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>串太郎さんがやばい予感がする・・・って言った後にこのお風呂シーンですよね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>これは小次郎を女湯でシャンプーしてますね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>すなわち串太郎は一人</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「やばいよかんがする!!!!」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>さあ、どうする串太郎</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>見るか、見ないか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>け、けど家族だから・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>https://www.youtube.com/watch?v=8VP5jEAP3K4</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>洗濯もの別にしてって言ったよね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あまりにも名場面すぎなんだよなぁ・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>これしか思いつかない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>トイレにメモ紙を流すなぁ!</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>で、誰が死ぬんだろう、犬?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>便器に服をかけるなぁ!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>西洋ならでは・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>んじゃあ、シチュエーションを楽しんだ?ところで、光カードをどうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>「意気地のない男ね!」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>「LIGHT CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「ゆるして姉さん!あっあっ!叩かないで!」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>/[LIGHT] 海外育ち /人生の途中でこの国にやってきた君は、ところどころで常識が通用しない(育った国が思いつかない場合は「アメリカ帰り」とする)。 海の向こう側から見れば、いまの問題だってちっぽけなものかもしれないね。 /[BONUS] /力+1/</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>動画とつながった・・・?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>帰国子女だと!?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>実はシーランド公国出身なんです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どこだよぉ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>https://upload.wikimedia.org/wikipedia/commons/1/1d/Location_Sealand.png</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>ここ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>ドコココ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>もはやアキコはマイケル・ベーツでしかないのでは・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>人口4人</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ほぉい、つぎどうぞぅ!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>「SCENE CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>なんだこれw</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>/[SCENE] 力士 /目の前に立ちはだかるのは、この国の大地で御霊をその身に宿した、岩山のような力士であった。 どすこい!踏みしめたコンクリートが砕け、建物が振動する。 どすこい!躍動するキンニク、高まるパワーが大気を揺らす。 さあ、覚悟を決めろ。見合って見合って!はっけよい、のこった! /[判定] /[力:15]以上で成功する。/</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>SUMOU(デンデンデデン</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>http://www.nicovideo.jp/watch/sm19050136</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>これすき</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んー、サポートスキルがないぞ・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>SUMOUか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>でもこれ御霊って思いっきり書いてるね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>力士は神霊の加護を受けた特別クラスだから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>当然ですね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>当たり前なんだよなぁ・・・(デンデンデデン</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「このみ姉さん!女子が相撲は色々やばいって!」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>ならば御霊を払ってみせよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お、これは解呪チャレンジか?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「大丈夫よ、そんなマンガ見たことあるもの」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>せやな解呪を使うぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>(多分にマニアックだと思います、ねえさん・・・)生暖かい目</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>どんなお祓いをするんですか?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>きたー!しぶいGM様だああ!</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>力士の御霊を払って弱体化させる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>相手が日ノ本を背に負った力士であることをお忘れなく</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>帰国子女のくせにそれを言うのか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>GMは日本人だから</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@小次郎</div><div class='col-sm-10 serif'>「わんわんわおーん!(力士、それは日本の魂そのもの)」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>御霊って思いっきり霊能力関連でしょ?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>日本の魂を封印する</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>後の鎖国である</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>ならば4Dであらがうが良い</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>日本人は4Dには屈しない</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「悪霊…退散」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>4d6</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>DiceBot : (4D6) → 20[6,6,2,6] → 20</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>えぇ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>敗戦</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>4Dには勝てなかったよ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>日本はGHQに占領されました</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>では張り手で御霊事粉砕しました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@小次郎</div><div class='col-sm-10 serif'>「わおーん!(チョコレィトプリーズ!)」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>富士山は木っ端みじんになりました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「あああああああ、日本の魂があああ!」頭をかかえる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>あと鷹となすびもついでに木っ端みじんになりました</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>日本は我々神道の支配下になるのだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「正月はおしまいだあああ!」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>そして太陽はこのみに従属することになるのであった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>これは日本の歴史の中でも屈辱的な一幕であった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>大このみ皇国の誕生である</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>光カードをどうぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>しかし力士突破したか、やるねえ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>ソルティライチうめー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ハイボールがマイブームっしょ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「LIGHT CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>やばい</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>/[LIGHT] 御曹司 /君は名家の出身で、道楽にあふれた毎日を何不自由なく過ごしている。 だが一方で、高貴なるものの責務を果たしてこそ、御曹司であると君は知っている。 平民たちの力になってあげよう。 /[SKILL] /執事の一擲(いってき)[他者の判定] 合図ひとつで執事がやってきて、密かに仲間を助けてくれる。 判定に[+2]のボーナスを与える。 連続した場面では使用できない。/</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>がちで支配者路線にいっちゃった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>これは王族ですわ・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「姉様～姉様～、お恵みを～」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>コンビニ店員が群がる</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「いいわ、愚民には施しが必要だものね」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>実際に動くのは執事でわらた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>執事が最強生物なのは基本</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「ノブレス・オブリージュ、高貴なるものの務めを果たしましょう」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「あぁ^～」恍惚</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>2週目</h2>
                    <p></p>
                </div>
            </div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>よし、ラスト30分。シーンカード引いてひいて</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「SCENE CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>あー頑張って</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>今回なんも脅威がおきてないな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>/[SCENE] 忍者 /いつのまにか、黒装束の集団に取り囲まれている。 「知られたからには、生かしておけぬ」 君、いったい何を知っちゃったんだ? 忍者に狙われるなんて! 撃退するか、逃げるか、決めるんだ。 /[判定] /[力:12]または[技:14]以上で成功する。/</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>力士が撃破されたのが脅威っちゃ脅威</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お次はニンジャときたわ!!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>ここは日本か?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>助けがいるかい?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ネオサイタマめいてきた・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「ア、アイエーッ!!!」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>実際近い気がする</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>援護・・・援護くれるなら援護くれ、もちろんだとも</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>お</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「だが・・・」串太郎はおもむろにメンポをかぶる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>そのメンポには忍殺の二文字</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「仕方ないわね、やりなさいセバス」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「ニンジャはバイトでやったことがあるんでね!!」※バイト経験チャレンジ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ナイス</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>セバスでてきたぞ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@セバスチャン</div><div class='col-sm-10 serif'>「半分はこちらでお相手しましょう」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@セバスチャン</div><div class='col-sm-10 serif'>1d100</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@セバスチャン</div><div class='col-sm-10 serif'>DiceBot : (1D100) → 1</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>ゴミか?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@セバスチャン</div><div class='col-sm-10 serif'>じゃあ0.5人は倒したぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ワロタ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@セバスチャン</div><div class='col-sm-10 serif'>残りは頑張ってくれ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>根性出せ!!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>一人一殺にすら届いてないんですが・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@セバスチャン</div><div class='col-sm-10 serif'>とりあえず+2だ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>力判定でいけるかなぁ・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@セバスチャン</div><div class='col-sm-10 serif'>全部やったら本人の為にならないし</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>2d6+2+3>=12 セバス、バイト経験</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>DiceBot : (2D6+2+3>=12) → 6[2,4]+2+3 → 11 → 失敗</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>うっそだろぉ!??!?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「あっあっ!ごめんなさい、日光江戸村で、ええ、このメンポも通販で・・・あ、あ、あの・・・」アワレ串太郎はニンジャに囲まれてしまった・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@セバスチャン</div><div class='col-sm-10 serif'>「お嬢様すみません、力及びませんでした」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「使えない執事は首よ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>串太郎が串刺しに</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「アバーーーーッ!」遠くで断末魔めいた悲鳴が聞こえた気がしたが、ネオサイタマではいつものことだ・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>安心して、魂は成仏させるから</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>「DARKNESS CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>/[DARKN] オカルト好き /君は怪談話を求めてここにやってきた。 実際危険にさらされても気にしない、オカルト好きは超常現象を見れればかなりハッピーなのだ。 /[BONUS] /技+1/</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>有頂天</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>というか巫女だし蘇生もできるのかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>技いらないんだよなぁ・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>神道に黄泉がえりはあるのか・・・?あるな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>割とあるよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「うっへぇ、やっべぇ!ニンジャ見ちゃったニンジャ!」とうきうき</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>バイト経験とは</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>「SCENE CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>/[SCENE] 結界を張れ! /絶対絶命かと思われたそのとき、謎の少女が駆け込んできて、「結界を張るんです!四隅の守護像を立て直して!」と叫んだ。  結界で君たちの身を守るには、散らかりきった四隅から守護像を見つけ出し、正しく並べる必要がある。 急ぐんだ! /[判定] /場面PCは6Dを振る。 連続した目が4つ以上含まれていれば判定に成功する(「2・3・4・5」等)。 この判定には4回まで挑戦できる。/</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ん?なんのことかなぁ?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>連番を・・・出す・・!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>6d</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>DiceBot : (6D6) → 25[6,4,6,3,2,4] → 25</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>この結界の少女・・・どこかで・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>6d</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>DiceBot : (6D6) → 14[4,1,2,5,1,1] → 14</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>6d</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>DiceBot : (6D6) → 21[4,4,5,1,6,1] → 21</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>6d</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>DiceBot : (6D6) → 19[2,6,2,6,1,2] → 19</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>だめでぇす!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>判定シッパイデス・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>「DARKNESS CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>/[DARKN] はずかしい本 /君は服の下にすっごく、すっごくはずかしい本を隠し持っている。 仲間の悪気のない行動で暴かれてしまわないように、死力を尽くすんだ! /[SKILL] /本が落ちそう[他者の判定] 判定に[+2]のボーナスを与える。 判定に失敗したら本がぱさっと落ち、このスキルは二度と使えない。/</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どんな本なんですかねぇ・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「あの少女素晴らしいヒロイン力を感じるわ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「背中からキノコ生えてるみたいですけどね、あの少女・・・」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「そこがチャーミングでしょ?」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>食えぬぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>(姉様はたまに意味がわからないことをいう。セバスチャンがうなずいてるから、きっとそれが正しいのだろう)達観</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>「SCENE CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>/[SCENE] UFO /闇の奥、一条の光が走ったのを君は見逃さなかった。 仲間が口々に聞いてくる。あれはなんだ!? 君はこう答えるだろう。 「未確認飛行物体......そう......これまでの事件は......、すべて宇宙人の仕業だったんだよ!!!」  仲間を納得させるためには、力ずくでUFOの痕跡を発見するほかない。 /[判定] /[力:11]以上で成功する。/</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>やっぱりUFOはいたんだあああ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@宇宙人</div><div class='col-sm-10 serif'>「すまない、またなんだ」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>UFOその正体は妖怪</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「な、なんだってええーーー!」ΩΩΩ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>はやくMMR出動してどうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>MMRは人類滅亡クラスの危機じゃないとうごかないからなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>腰重いってレベルじゃない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>人類滅亡派の大学教授とかいたらワクワクで取材するんだけど</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>UFOの正体は妖怪だから解呪を使うぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>無理矢理つなげてきたな。しぶいGMはどう出る</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>解呪とかじゃなくて痕跡を見つけてくれないとなー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>物証がいるんですよねー物証がー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>く、一筋縄ではいかないぜ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>だって・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>巫女は技派かぁあ、きつそうだな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>霊的現象だったらオッケーっていわれても</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>ウチュウジンは霊じゃないし・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>隣にいるし・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>いやいや宇宙人は全て霊だよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ほげぇ!?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ここでプラズマ教授がいれば・・・!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>プラズマ教授ならね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>放電現象ですよって言えば一撃なんだけど</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>根性で11出せばいいだけだ、さあいけ!皇族の実力を見せてやれえ!</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@セバスチャン</div><div class='col-sm-10 serif'>証拠だあああ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>力の11ね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>だめでせうか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>慈悲はない</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>2d6+2</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>DiceBot : (2D6+2) → 6[2,4]+2 → 8</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ドワッハッハッハ～、ようかいのせいなのね～</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>だめじゃあああああ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「きっと見間違いね…宇宙人なんているわけない」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>「我々が納得しないぞ!」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「姉さま、なにいってるんですか・・・セバスチャンもジト目になってますよ」と白い目</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「おだまりなさい愚民ども!私がいないと言えばいないのです」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「はぁあああん、ノブレスオブリージュの前には屈せざるを得ない～～～」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>さあ闇を抱えるのです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>やーみ!やーみ!</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「DARKNESS CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>これは</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>/[DARKN] 天才博士 /天才的発明により窮地を脱するか、恐るべきトラブルを巻き起こすぞ。 /[SKILL] /ひらめいた![自身の場面] このスキルを発動する際、何を発明したのか解説すること。 判定前に1Dを振る。 偶数ならその数値は判定のボーナスに、奇数ならマイナスのペナルティになる。/</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まぁたすごい属性を付け足してきたなぁ・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>金持ちで天才になってしまった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>ダイジョーブ</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>クライマックス</h2>
                    <p></p>
                </div>
            </div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ん～さて、2周して最後クライマックスで締めよう!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>クライマックスカードは最初GMのカエル君が引いてどうぞ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「CLIMAX CARD」を追加しました。(カードを自分の管理にして、公開しましょう)</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>これは</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>/[CLIMX] 怨霊の嵐 /亡者の怨念が凝縮され、闇の嵐となり、唸りをあげはじめる。このままでは現世が負の感情に覆われてしまう! 対抗するためには生者の輝きを結集し刃となし、闇を切り裂くしかない(と、事情を知る人物が教えてくれる)。 /[DEAD OR ALIVE] /[力:14+PCの人数]または[技:14+PCの人数]以上で成功する。 1人ずつ通常のやり方で判定に挑む。 1人が失敗する毎に目標値は-2され、1人でも成功すれば怨霊を撃破できる。/</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>誰か教えてくれた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>最期だけホラーの面目を保つ系セッション</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>お隣の・・・ウチュウジン田中さん</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>これこそ解呪の使いどころ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「ウチュウジン田中さん!あんたいいやつだったのか!」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>なつかしい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>初期難易度が17かな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「悪霊が集まっている…滅ぼさなきゃ」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>このみをラストに持ってきた方がよさそうだな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>とりあえずどっちかには執事を貸すよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>捨て駒になろう。支援は不要</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「うおおおおお、最後くらいいい所みせてやるあああ!」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>というか一人成功なら</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>2d6+6>=17</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>DiceBot : (2D6+6>=17) → 5[3,2]+6 → 11 → 失敗</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「あふぅん!」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@小次郎</div><div class='col-sm-10 serif'>「きゃわああん!」と1人と1匹は悪霊に飲まれました・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>次どうぞ!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>力すげー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>現目標値は15</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>じゃあアキコに執事を</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>でも私はコミュニケーションをします</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@セバスチャン</div><div class='col-sm-10 serif'>「執事パワー注入!!+2」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>5dを全員で振って</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いわくつきのスキルやな!?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>その目を達成値にする!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いけそうな気がする</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>1d6を振ればいいんだっけ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>というわけでkaeruくん2dとnakigaoくん1dたのみますね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>2d</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>DiceBot : (2D6) → 7[2,5] → 7</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>ほい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>1d6</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>DiceBot : (1D6) → 2</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>2d6</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>DiceBot : (2D6) → 7[3,4] → 7</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>1がでなかった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>16!</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>絆パワー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>出も足りない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>爆発四散!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>目標値下がってるから、達成してるで</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>執事を忘れてないかい?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>あ、下がるんだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>失敗するたびにあがる って読んでた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>失敗独り毎に-2だ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>怨霊と・・・仲良くなった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あるある・・・せっかくだから、最後にこのみも判定しとこ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>そうなの!?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>ふむ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「悪霊…爆散!!」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>4d6</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>DiceBot : (4D6) → 15[3,3,4,5] → 15</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>友達なんだが</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>同値成功!?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんだかんだ悪霊の飲まれたのは串太郎だけだったか・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>友達だろうと悪霊なら殺す</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>よし、最初GM、結末を描写してくれ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>悪霊がさり、後には探索者とその家族だけが取り残された</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>そして夜は明け朝日が顔をだす、悪夢の夜は終わりを告げる</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>悪霊は町中の人間に取りつき、この場所へと集めていたのだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@串太郎</div><div class='col-sm-10 serif'>「おわったでやんすか・・・」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>「ええ、これで終わり…まったく長い夜だったわ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>よっし、これにて2セクション目終了!いい終わり方だった感</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>なんかB級映画感あるね</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>感想戦</h2>
                    <p></p>
                </div>
            </div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>後は感想戦と自由解散でどうぞ～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>MVP</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>確かに</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>勇者アキオなくして1セクション目の成功はなかった・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>これ結局光でも闇でも大して変わらないよね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>気が付いたかね。僕もデータ入力してるとき思ったわ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>種類が違うだけで闇だから悪い結果とも限らないんだよね子のシステム</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>オネエになるのも光だから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>オネエは光</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>もうそれは光なのか闇なのかすらわかんねぇな・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>あれは本来別の人がとるものなんや</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いや・・・光と闇が合わさり・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>女性専用装備なんや</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>でもわし、性別明記してないし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>ええじゃろ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>たしかに!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>ジヒドロテストステロンがちょっと優位なだけで・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>リーブ21</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>2セッション目はやっぱ巫女強かったなあ・・・4dはしゅごい</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>1セッション目も巫女なら無双できたと思う</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>技ボーナスが高まってきたら4dの期待値より技の固定値のほうが</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>敵に襲われる系は全部行けるでしょう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>つよいけどね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>1セッション目はとくに怪異多かったもんなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まあGMよるだろ、実態がある者は霊体じゃないですっていわれたら、それまでだし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>いや巫女の技5点あるから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>2dで7でると考えたら</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>技ボーナスが2点貰える状況でどっこい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>力がなぁ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>3点以上だと技で振った方が期待値は↑</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>串太郎さんは・・・ボーナスが・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>判定はカードによるから、技で振れないときは厳しい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>こう・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>弱点を補ってましたね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>確かに・・・あんまり使う場面なかったけどなぁ技</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>犬のRPが楽しかったくらいだよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>簡単でいいゲームだわ。カード増やせば増やしただけバリエーションも増えるし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>湯煙殺人事件しかなかった</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>カードの比率とか気になるよね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まあまた時間が余ったときにでもサクッとやってもいいんじゃなかろうか。準備はすぐできると思う</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@このみ</div><div class='col-sm-10 serif'>だね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>DONOU</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>以上、のびのびTRPG体験卓おっしまーい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あー・・・実卓向けって書いてあったけど、わりとオンラインでもいけるかな、うん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@アキコ</div><div class='col-sm-10 serif'>おつかれさまぁあぁん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>さまあああん</div></div>
        </section>
    </div>
{% endblock %}