{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>キャラクターメイク</h2>
                    <p>※クトゥフルと言っても1/10クトゥルフルールです</p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>では最初にキャラ作成をしてもらおうかなと思います、共有メモを見ながら作成願います</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>作成する方式なんだな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ご覧のとおり、今回このマップしかないので、こった設定のキャラを作っても生かせない可能盛大です</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>合計19回振るのかしら</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>神話技能はないので18回かな？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>サイコロが爆発しそう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>分けて振ってもいいんですよ？何かあったら質問してください。技能考える必要ないから意外と早く終わりそう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>あの、アイデア幸運知識も1d6ですか？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>そうです＜１ｄ６</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>それだとステータスがあまり機能しないな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>うん、おまけだよ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@PL</div>
                <div class='col-sm-10 serif'>いっそ清々しい</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>そういえば持ち物だけど、書いても書かなくてもいいです</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2 name"></div>
                <div class="col-sm-10 serif">
                    <blockquote>
                        30分後……
                    </blockquote>
                </div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>できたよ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ん、データ的には完了</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>こんな可愛い子があんな目にあおうとは……</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>完成</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>(kaeru君のキャラ名を見て)手抜きかな？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>画像探す手間が省けるしね、前回使えなかった画像もあるし</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>どんだけあるんだよぉ！？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>でははじめてもいいかな？</div>
            </div>
        </section>
    </div>
{% endblock %}
