{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>準備中</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では最初にキャラ作成をしてもらおうかなと思います</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>作成する方式なんだな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>いつものCoC用のキャラシを使って、共有メモを見ながら作成願います</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>キャラシどうすんだい？GoogleDocument？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、いつものでいいのね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>Googleの使うと稀にとまっちゃうのです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>マシンパワーいるからねぇ、あれ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>時間は４０分までにしましょうか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>りょ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>おｋ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ご覧のとおり、今回このマップしかないので</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>8+11で合計19回振るのかしら</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>こった設定のキャラを作っても生かせない可能盛大です</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ん？神話技能は振らなくていいから18回かな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>神話技能はないので１８回かな？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>サイコロが爆発しそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>分けて振ってもいいんですよ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>何かあったら質問してください</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>分けて振らざるを得ない気がする</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、あと足しでいいのか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>先生INTが４なんですけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>キャラシに入力できない！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>解決した</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>うそ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>よかった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>技能考える必要ないから意外と早く終わりそう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>その他増加分に全部書こうかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>これ技能どう書くの＾ｑ＾</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>初期値が邪魔だね・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ちょっとイニシ表いじろう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>あの</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>アイデア幸運知識も1d6ですか？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>このくらいなら、GoogleSpreadSheetに書いた方が早いわ、どう？＞GM</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>じゃあそうしようかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そうです＜１ｄ６</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>それだとステータスがあまり機能しないな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>うん、おまけだよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>いっそ清々しい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>もしかして各自スプレッドシートに書いてる？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>うん、もうできた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>かなしみ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>次回に生かそう、あるか分からないけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>まあステは最悪自分が把握しとけば大丈夫かな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>みんな持ってるの同じだしね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>http://charasheet.vampire-blood.net/1386341</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>できたよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>うわすごいずれてる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>初期値も変えれたんだね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>https://docs.google.com/spreadsheets/d/1m00NUJCkGeavKtGoG_5Ro9lih0zB6QdbbuZdHh-GCvQ/edit#gid=430490086</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>はい、これでどうぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>statusこんだけだとすごいうれしい</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>ありがたい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ありがとう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>いれなおすかー</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>これはＰＣ１をいじってもいいのか？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>わかればどっちでもいいんじゃないかしら</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>適当に名前入れて編集しちゃおう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あと、キャラ名欄か</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>助かる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>進行状況がリアルタイムで分かるのはありがたい限り</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>共同作業にはもってこいだよね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そういえば持ち物だけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>書いても書かなくてもいいです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ん、データ的には完了</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>外人枠がいる</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>完成</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>手抜きかな？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お、手抜きか？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>画像探す手間が省けるしね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ワンオフキャラなのでアニメから・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>前回使えなかった画像もあるし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>こんな可愛い子があんな目にあおうとは・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どんだけあるんだよぉ！？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>でははじめてもいいかな？</div></div>
        </section>
    </div>
{% endblock %}
