{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>オープニング1「オフ会前日の20ch」</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        君たちは皆、ホラーが大好きだ。<br>
                        今回は気の会う仲間と、ネットで大好評なホラーハウスに行くことにした。<br>
                        ネットでの体験者の感想は「とにかく行ってみて！」と「恐かった」と言葉ばかりでなんか胡散臭いけど「恐くなかったら料金を返金します」と自信満々なうたい文句も言っているから、よほど恐いのだろう。<br>
                        と期待しているあっ、それと君たちはネットではよくホラー２０ｃｈで話し合っている仲だけど、実際にあったことはない。<br>
                        今回はいわゆるオフ会ってやつも兼ねている。
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>さて、最初はチャット内の会話から始まります。</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ん～、んるほどなるほど？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>「宝くじで１０万当たったなう」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>時間はオフ会前日、PC内にて。みんな、唐突に自己紹介をお願いします。結構適当でいいですよ。名前はお願いします</div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>クリスティアナの場合</h3>
                </div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ハンドルネーム考えてたわ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>あ、確かに本名は可笑しいね、本名っぽいハンドルネームって体でいこう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>「オレの名前は道了 堂(どうりょう どう)日本のホラーが大好き！明日はなんとオフ怪ときたもんだ！楽しみだぜ！」ネット上では男です（即席</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>終わり</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>オフ回で炎上間違いなし</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>実は自分もネット上では男です。</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>え、みんな女の子だったはずだけど……</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>10代美少女だろいい加減にしろ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>そうだそうだ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>しー</div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>猪狩上篭の場合</h3>
                </div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>「猪狩 上篭(いかり あげろ)好きなものは豚肉、嫌いなものはホラーだ！打ち上げ楽しみだなあ」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>飲み会目当てとはたまげたなぁ……</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>なんとこれは即死しますね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>ホラーハウスってあれでしょ？お化け屋敷でしょ？そんなん外で待つわ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ふふ……その行動も想定済み(意味ありげな笑顔</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>エリア外の闇に飲まれて即死</div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>真黒土の場合</h3>
                </div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>「真　黒土（しんくろと）ハンドルネームは神で職業は神だ、明日はオフ会で愚民どもに会うのが楽しみだなあ」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>顔芸先輩その2</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>このキャラでオフ会会うのは恥ずかしくないですか？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>神だからね頼りにしてくれ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>オフ会ゼロ人不可避</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>０人だったらサクラを投入するよ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>私は会いたくないです</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>「やっぱいくのやめようかな」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>神君にだけは集合場所違うところ教えておこう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>「オレはぜぇったいに行くぜ！なにせ話題のホラーハウスだもんね！」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ではそんなやり取りをする前日でした。</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>オープニング2「目覚めた先は」</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        さて、明くる日、皆さんが目を覚ますと、見慣れない部屋の中にいました。<br>
                        そしてその部屋には自分以外に見知らぬ二人。
                        どうやら皆同じタイミングで目を覚ましたようです。
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>皆さんはマップ左下の緑部屋中央にいます、ここらへんです</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ココ部屋なのか</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>これ部屋なのか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>だってダンジョンだもん</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>屋根のチップセットですよね(確信)</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>「え？え？……きゃああああ！あなたたち誰ですかあ！」と黄色い悲鳴でもあげておこう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>「甲高い声はキーンとくるぜ……！俺は猪狩だ」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>「いかり……？いかりって、ホラー20chでいつも話してる？」と指さします</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>「おたくと話してるかは知らんがね。そこの常連だよ」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>「やれやれ朝から騒々しいな」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>「て……ことは、あなたは神？」と黒土に言う</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>「そのとおり！私が神だ」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>(ゴキブリを見つけたときの顔をする)</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>「わぁ！わたくし、道了 堂(どうりょう どう)です！本名はクリスティアナです！クリスって呼んでね！」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>「アイアム！！ゴーーーッド！！！」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>お約束的にはこんなところか……</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>クリスだと男になっちゃう？なっちゃうのか……？男の娘なのか……？？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>愛称だからなぁあ</div>
            </div>
        </section>
    </div>
{% endblock %}
