{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>準備中</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>今回ですが</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>行動をイニシ順で宣言してもらおうと思います</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>取れる行動ってなぁに？＞GM</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>マップ上のアイテムは全部調べれます。あと、部屋全体を見渡す行動も出来ます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>「ところで・・・ここは？」と辺りを見渡します</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では辺りを見渡すと</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>砂金の山と</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あったかいやきとりのパックと、キンキンに冷えたビール？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ここはTEIAIだった？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>部屋の両端（１と４に続く３マスの所）にドアがあるのと</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>室内なのに池があｒのか？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>君の家にはないの？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>中央に向かって一つドアがあります</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>池くらいあるよなぁ！？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>家は砂漠だから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そのドアの隣には「COUTION！」と書いた看板がありますね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>高知オン</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あとは下に瓶、箱、砂金の山があります</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>中央って池の仲ってこと？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>わっざ！？ホントに砂金の山だった！？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あれ、実は部屋なんです・・・＜池</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>わろりんちょ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>どういうことだってばよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>今回３人いるので</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>色々不親切設計です</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なぁに妄想力を鍛えてあればこのくらい平気平気</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>たぶん全部指示していくと</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>直ぐ終わる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ナイスデース</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>真ん中のドアは２につながってんの？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ごめん、正確にはここぐらいにある</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>あーそういう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>さて、動いていきましょうか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>まあ大体わかった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>「よくはわかりませんが、せっかくですから、皆さんで朝ごはんにしましょう！出口は・・・あっちかしら」とドアAに行きます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>このドア開くんけ？あとなんかオブジェクトあるけど、これらはなんだ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>行動的だな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではドアAのところにいくと横に張り紙があるのが分かります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>読まなくてもいいです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>「なになに・・・？」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>もちろん読む</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>読むと片目がつぶれます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ちょっとまって</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ぐぅおおおおお！ぬかったわあああああ！って世紀末覇王並みに叫ぶ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>「このハウスはある条件を達成しないと一生出ることが出来ないらしい。それは死んでも・・・だ。俺は一体いつになったら出ることが出来るのだろうか・・・」そのメモの横には、血文字の小文字が書いていた。８本ほど書かれている。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>復活しました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おかえり</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>すでにメモが張ってあった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>小文字って正の字の誤字ですか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あ、ごめん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そうです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>そうか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>「ハウス・・・？出られない・・・？」と首傾げ。ドアに手をかけます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なるほど、正の字か</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではクリスは一人で移動しますか？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あ、あと</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>開くか開かないか確認だけ、できないなら振り向いて「これなんでしょう？」って2人に聞く</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ドアの下に、ドアに向かって矢印がかかれています</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>矢印が書かれているタイルがあります、だ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ふむふむ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではいかりくん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>勇猛に捜索してください</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>なんで？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>結局開かないのか？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>箱を開けよう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>箱は開けるものだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>開けるために置かれる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ああ、ドアは開きます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>なんとドアの中には</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>見た感じパイナップルっぽい金属の何かがあります</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>投擲とかないんですけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>たぶん見た人は大体こう思います</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>パイナップルボム・・・？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>「手榴弾！？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>どうやって黒土にぶつければいいんだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>手に持っててもらってピンを抜くだけさ、簡単簡単</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>なるほど、それなら自殺だな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>神に仇名すものは罰を与えるぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>何個あるんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そして箱のふたの裏側にこういった張り紙が</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>持てるだけ持とう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>お</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>「殺傷力はないよ♡」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>以上です</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>でいくつあるんです</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>一個ですね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>じゃあポケットにいれとこ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>特に言及しない場合、周知はしてないと判断します</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では神</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>困ったらアイディアを振ったらヒントが振ってきます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>殺傷力のない金属の物体かぁ、何につかうんだこれ・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>それはありがたい</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>じゃあ振ろうか、1ｄ10だよね？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>一人プレイだと勝手に振ってくる仕様です（一人相手にするとは言っていない）</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>なんだろうねえ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1d10<=7    Cthulhu : (1D10<=7) → 6 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>もう調べるものないんですか？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>アイディアを振れという流れかと</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ああ、言い方が悪かったですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>詰んだな、と思ったらいってください</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>神はもう詰んだのだ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>なるほど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>察して差し上げろ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>じゃあ砂金の山にダイブします</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「金！これこそ神の私に相応しい」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>あやしい粉まみれ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>意外と深く、あなたは埋もれてしまいました</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「フハハハハハハ！！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>誰か助けてあげないと、キット彼は死んでしまうでしょう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ポケットに入るだけ砂金を詰め込みます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>すまないが無視はNG</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>じゃあ次の人いこう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>クロールで脱出できないかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>黒土君は１d６を振ってください</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1d6    Cthulhu : (1D6) → 5</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>流石の出目だ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では５ダメージ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>何のダメージだ！？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あなたはもう少しで窒息死するところでした</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ところで持って行きますか？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>持っていくよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>砂金でしょ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>了解です。ダメージ食らってね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>さっそくHPが減る・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>残りライフ２</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>あと少し</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではクリスかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、この灰色のやつが矢印パネルってことか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んじゃあ、問題なく開くなら、ガチャっといくわ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>1人でOK</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>よく気づいたな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>「出口、出口っと・・・」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では一人で入りますか？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>YES</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どぎつい色の床になったな・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>くりすが次の部屋に入ると</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>その部屋は少し蒸し暑く、体感的には３０度を超えていました</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>俺の部屋かな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そして暑いと思うと同時に、</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ドアがひとりでに閉まってしまいました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ドア「しまりまーす」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>「あ、はーい・・・ってぇ！？」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では聞き耳判定をどうぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ダイスの振り方は？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>1d10ですね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>1d10+9    Cthulhu : (1D10+9) → 6[6]+9 → 15</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>たすんじゃなくて</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>1d10の結果が低かったらいいんじゃないかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>９以下だったら成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>えーとそうですね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ん～なるほど？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>すみません</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>要するにパーセンテージロールだから</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>1d10<=9    Cthulhu : (1D10<=9) → 9 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>技能判定も1/10なんです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>こういうこと？それとも1d10<9?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>同値ってどうなるんだ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>＜だけですね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>未満か</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おっけぇ。じゃあ最初のは6出てるから成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>１０は自動的失敗です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ひどいね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>1d6+3なら9だから9も自動失敗になるんじゃない？大丈夫？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではクリスは、</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>９は大丈夫かな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>一応こっちのルルブだと以下になってるな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ロール</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>なにかこっちが勘違いしてそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あ、以下です</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>普通に考えて技能値の最大値が９になるから以下だとおもうわ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んじゃあ「1d10<=XX」でいいって感じかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>すみません、変な勘違いしてた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>以下ですね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>実質初めてルールなわけだし、問題ないでしょう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>えっと、気を取り直してさっきの続きです</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>クリスはその超人的な聴覚で</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ドアの「しまりまーす」という声が聞き取れました。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>こわい？こわくない？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>正気度チェックをお願いします</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>失敗でー１です</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ファミマの入店音みたいなもんかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>やさCドアだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>誰もいないのに声がするのはコワイ！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>現在地が9だから、1d10<=9でいいのかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>1d10<=9    Cthulhu : (1D10<=9) → 1 → 成功</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>成功してしまった・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>クリスにとっては普通のことでした</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>「ま、普通かしらね・・・けど、困ったわ」とドアをどんどんして終わり</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではいかりくん</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>む、開かないのか？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>瓶</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>メタい目線だとどういうドアかはわかるけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>なんだろうこの瓶</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>なにやら透明の液体が入ってます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ジュース？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ヨーグリーナ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ふたを開けて臭いをかいで見ますか？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>でも</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>あれ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>手でパタパタやるやつで</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>きついアルコール臭がしました</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ほー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ポケットにいれとこう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ウォッカかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ラベルとかには何も書いてないよね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>保健室のことを思い出したかもしれません</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そもそもラベルがありません</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ふむふむ・・・？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>未成年じゃなくてよかった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>次どうぞ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>これは舐めてみるべきでは？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では舐めますか？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>イカリ君ならやってくれる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>まあいつでも舐めれますから・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>まあじゃあ扉が開くか確かめます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>Ｂの方</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あきません</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ほう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ドアの下のほうには・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>何もありません</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>当たり前だよなぁ！？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>カギがかかってる感じ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>不思議な力であきません</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>これは・・・怖い体験なのでは？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ほうほう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>神だからこの程度は日常茶飯事</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>みんなクリスを放っておくんですね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>気持ち的には箱の中身と瓶はささっと回収して向かいたいけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ターン制だからね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>結果一方通行ってことかぁ？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ぐるぐるしてんでしょ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>4の部屋で行き止まりの可能性もあるでよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>それは全部周ってからのお楽しみ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>その場合は池に行けだな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>結局真ん中の部屋が一番怪しいわけよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>同じ場所に集まって話し合うという選択肢も作ることにします</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ターン経過なしでね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>とその前に</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>１１時まで休憩しましょう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ういー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>点呼するので、遅れてもかまいません</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>市内いこう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、キャラシの下にダイス用のテキスト入れといたから、右クリックしてコピペして使って</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>kamigao</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>とても使いやすくなった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ツールはシンプルが一番。改造もしやすいもんね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>やはりディスコなしだと思った以上に時間かかるね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>スクリプト用意してないと文章だけはきついかも</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>点呼開始！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>準備完了！（1/3）</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>準備完了！（2/3）</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>準備完了！（3/3）</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>文を考えるのが精一杯です・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なら、今からボイチャ切り替えでやる？聞き専だけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>リプレイ的には文だけがいい気がするのでこのままで行こうと思います</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ありがてぇありがてぇ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>誰からだっけ、クリスからか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>いえね、あまり時間かけるのはどうなのかなと思っただけなので。GMとしては全然OKなんですけどね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>周囲見回すだけで、終わりにしとくわ。合流を待つ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では部屋の様子を</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>目の前に食器棚らしきもの、その奥に天井からぶら下がっているロープ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>部屋の奥に箱、鏡が見えます。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>後は角度的には見えないですけど</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まーた箱かぁ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>２の部屋に続くドア、中央に向かうドアがあります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではいかりくん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>基本的な構造は同じかなぁ、やっぱり</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>箱をあけにいくぜーーー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ワープくらいする</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>めっちゃ突進してきた。。。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>まあいいかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>箱の中には</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>真っ白いラベルが貼られたスプレー缶がありました</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>スプレー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ポケットにいれておこう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ポケットがもうパンパンだぜ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そして間の底部には、「缶重量    １００g」と書いてあります</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>４次元なのかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>今度はスプレー缶かあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>果汁100%</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では黒</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>神と呼んでくれ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>１の部屋の探索はもういいんですか？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>もうないでしょ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そんなに神に会いたいの？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>いや、一応聞こうと思ってね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>クトゥルフ系統は勘弁</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>中央への扉は気になる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>開きそう？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>隣の部屋に行くぞ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>これ、何の卓か知ってます？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ふむ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>どうします？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>真ん中の扉が開くかどうか試すか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>そーっと開けるぞ１ｃｍくらい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>扉の横には「COUTION!」と書かれていますがいいですか？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ふむ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>聞き耳していい？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>英語よめないからなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>それはドアを開けてからですか？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>開ける前に</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ドアが厚いせいか何も聞こえませんでした</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>じゃあ開けるぞ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>音がしないようにゆっくりと</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>少しだけ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では空けた瞬間に</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>少しだぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>その顔がそっと開いた扉から見えたら、叫んでしまう自信がある</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>邪神様でしたか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>中から恐ろしい速さで何かが突っ込んできました</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>すぐ締めます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>あきらめます？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>神は高速飛行物体なんぞ恐れはしない！</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>これはあかん奴や</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あなたはその恐ろしい物体を見たと同時に絶命してしまいました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>わろりんちょ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>オイオイオイ死んだわアイツ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>回避を振らせてよおおお</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>というところで皆さんの視界がいきなり真っ暗になりました</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>あいつそんなに早いのか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そして目が覚めると</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>最初いた位置に戻っていました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>「黒土さん！黒土さん！まあ！しばらく見ないうちにひどいお顔に！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>死んだはずの黒ですが</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>何事もなかったかのように佇んでいます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>うーん、なるほど？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ただ、先ほどの記憶は鮮明に覚えています。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>黒は正気度チェックをお願いします</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1d10<=5 (正気度(現在))    Cthulhu : (1D10<=5) → 7 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ちなみにですが、先ほど秘話機能使ってkaeruくんに何かを見せたので悪しからず</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いかりがポケットに入れたものは？元に戻ってるの？＞GM</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では１d３減少です</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「やはり私は神だった！神は死なない」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>秘匿通話とか使う系かぁ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>この数値で１ｄ３はきついなあ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1d3    Cthulhu : (1D3) → 2</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>とったものは全部そのまま持っています。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ぐへへ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>人体の位置が戻っただけってことか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>本当は戻したいけど面倒だしね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ただとりにいく作業が増えるだけから・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>黒土くんのせいでアイテムロストとか切れるわ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>物体に起こった現象は基本的には巻き戻らないって認識でいいんかな？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ほんとは初期化なんじゃない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい。例外もあります</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>処理てきにしないだけで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>なんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>本当は初期化にしたかった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>それだと、例えば正の字の数が変わってたりした場合は、戻った時点でGMが通知してくれたりするの？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>えー、超常現象を体験したほかの二人は正気度チェックをお願いします</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>それとも、いちいち調べなおし？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>1d10<=5 (正気度(現在))    Cthulhu : (1D10<=5) → 5 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>何か変わっていたら自動的にお知らせします</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>1d10<=9 (正気度(現在))    Cthulhu : (1D10<=9) → 7 → 成功</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お、そりゃ親切。調べなおす心配もないのは嬉しい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>皆さんにとっては日常茶飯事だったのでむしろ興奮しています。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>本棚の本とかはわからないけど</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>「これは・・・夢なのかしら・・・？わたくし、さっき別の部屋に・・・」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>一人になったところで明けたのは非常に運がよかったですね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>「また気絶しちまったなあ。疲れてんのか誰かの仕業か・・・」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>黒くんは会ったことを話しても言いし話さなくてもいい</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>聞きたい？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>べつに</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>判断は任せる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>しないなら２の部屋からスタートとなります。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あ、ならない</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>まあキャラ的には話すでしょうね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>つぶしあうのか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>いいでしょう。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ＳＡＮが減らないようにマイルドに話すよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>判断は任せたからなーーー！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そういえば、黒くんはクトゥルフ神話を１プラスしてください</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>任せて大丈夫かよぉ？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんだかんだ言って、カエル君はゲーム得意だし信頼して大丈夫（曇りのない目</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>SAN値を減らす話をしたいなら説得を振ってください。減らしたくないなら皆は面白がって終わります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>仮にもホラー好きの集まり・・・だったような・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>じゃあ説得をふるぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>下手な話じゃ通じないってことさ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1d10<=9    Cthulhu : (1D10<=9) → 7 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>これ、大丈夫かなあ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>説得は得意なんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>まだ部屋半分残ってるのに</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「あの扉の向こうには化け物がいる！半ポリプ上で全く異質の恐ろしい生物！彼らは部分的にしか物質ではなく、翼もないのに空を飛ぶ」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>怖くないイントネーションで喋るぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>（そのときクリスの脳内に衝撃走る！）</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>正直この説明で怖がることは不可能だと思う</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>正気度判定すればいいんけ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>話し手はあほっぽいけど、中身はとても現実味を帯びていその内容を聞いた皆さんは</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>いやいらんよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>正気度チェックしてください</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>1d10<=9 (正気度(現在))    Cthulhu : (1D10<=9) → 9 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>1d10<=5 (正気度(現在))    Cthulhu : (1D10<=5) → 6 → 失敗</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>説得の意味は！？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>文章を読み間違えてるぽいな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>なら説得振らないでよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ぽいね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ああ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>そういうことか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>信頼されてるなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>こっちが書き間違えたかと思って見直してきましたよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>カエル君を信じてるよ（曇りのない目</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ミスったな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どむまい、ぼくもよくやる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではいかりは、正気度を１減少してください</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>まあ大丈夫でしょ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ん？？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>なかったことにしてもいいですよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>無かった事に使用</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>正直すまんかった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では皆さんは笑い話と思いながら聞きました</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>kaeru:SANチェキ入らないように説明したいaneko:じゃあ説得に成功したらSANチェックねkaeru:ウオオオオ（コロコロ～だよな・・・？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「なんてことがあってさあＨＡＨＡＨＡ」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>そうだな勘違いしてた</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>話の流れ的に</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>「あはは、おもしろいですね、ホラーですね、それ！」とコロコロと笑います</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>kaeruが勘違いするのも致し方ないね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>じゃあ戻しときます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>説得振るぞーまで冗談かと思ってました</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>「ポリプ状とか言われてもイメージわかないぜ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>さて、移動しますか？それとも真ん中の扉開ける？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>移動だ！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>本棚あああああああああああああああああああああああああああああああああああああああああ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>ホンダーナ！を調べよう！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>食器棚らしきものです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>本棚じゃねぇ！？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>食器ダーナ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ソウダーナ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>包丁を装備しよう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>包丁は食器じゃなくて調理器具じゃないですかね（冷静</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>食器棚には、食器とはかりがありました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そのぐらいです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>はかりをポケットに入れよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ポケットの中はパンパンだぜ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>残念ながら入りませんでした</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>SIZ9だからたくさんはいるでしょ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>じゃあ背負うよ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>持って行きますか？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>持っていけるのか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そりゃもちろん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>じゃあ持っていこう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>こいつは大事なはかりだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ただし両手がふさがります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>移動中はね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>食器棚で殴れば攻撃力アップ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>神は食器棚を持ち運ぶそうですよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>すごい</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>違うのか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>食器棚においてあった「はかり」を背負うとのこと</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではSTRで判定どうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>クリス飛ばしちゃったのかな私は</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>自由度が高いTRPGを目指しています</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、そうだったな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ターン制に縛られてます！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>まあ順番にこだわる必要はないからねえ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んじゃ、はかりはクリスが持つってことで</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>1d10<=5 (STR)    Cthulhu : (1D10<=5) → 7 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あ、ごめん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はかりは普通にもてます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>「ぐぎぎぎぎぎ！おーもーいーでーすー！」持てませんでした・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>まあ我々が３人がかりならGMの処理速度を超えて行動をしはじめるから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>食器棚ジョーク</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ややこしいわ！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>食器棚を持つにはSTRがいります</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>んじゃ、両手にはかりをもって終了</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>無駄にいろいろ出来るように設定してるんですよ。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>私のパンチが一番弱いんで私が持とうかとおもっていたけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>まあいいや</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>食器はなんか重要かなあ・・・いらないきがするな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>実際この食器棚不自然だし動かしたらなんかあるかもね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>食器って調査項目なん？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おお、動かすってのはいい案かもな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>まあ一通り調べようか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>食器とはかりがあるっていってたから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>動かすならSTRで振ってくださいね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>GMが極限まで無駄を省いた描写をしているなら調査項目だ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>何します？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>そうでないなら・・・謎だ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>今誰の番だ？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>私ですかね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>はかりとられたし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>鑑でもみよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>鏡に向かってお前は誰だって話しかけてよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>後でね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では鏡を見ると</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>やったあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>鏡からにゅっと手が出てきます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>握手します</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ひえぇ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>トモダチ　コワクナーイヨ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>引っ張られています。このままだと・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>お二人はどうしますか？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ああ、参加可能なのか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>かがみを割ります</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>強硬手段やな！？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>割るのか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>神はなんか死に直結しそうな行動ばかりするなあ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>それが早くない？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ブレイクは普通最終手段じゃない？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ああ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>腕に攻撃のほうがいいか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>やりますねえ！</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>格闘高いし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ところでどうやって割ります？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まあ、それもいいんじゃない</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>いえ、腕のひじのあたりを蹴ります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では格闘をどうぞ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>うまくいけば関節を破壊できる</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1d10<=9 (格闘(=パンチ))</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1d10<=9 (格闘</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>余計なのがついてるよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1d10<=9 (格闘    Cthulhu : (1D10<=9) → 3 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>残念な子だ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>成功</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「ゴッドキック！！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>技名がすごいかっこわるい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではその蹴りはなぞの手にヒットし、その手は鏡の中に返って行きました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ナイスデース！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>かわいい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>なんとSANチェックはないです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>「助かったぜ、えーと・・・ハジメマシテさん」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>よくある出来事だよね、そういえば先日もそんなことがあったし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>むしろ普段は我々が引き込む側だしね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>こわいなあ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「神なら当然の事さ」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「さあ皆で私を称えよ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>完全に一人だけ頭おかしいんだよなあ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>化け物見たら可笑しくもなるよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>見る前から変わってないじゃん</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>まあホラー映画にもムードメーカーはいるし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>あとは神がなんか行動したらキリがいいぞ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>じゃあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>鏡を見ると、何か文字が浮かび上がっています</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>文字？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>「冷えることにより、見える真実がある」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>という文字がありました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>(意味深</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>一体何のことなんでしょうかね？といったところで今日はここまでです。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ひえー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>前回は比較的順調に進んでいました。</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>1回ロールバックしただけだったな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ですね。これ、デメリットは処理が気持ち面倒というだけで</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>順調なのは良いことだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>実質無傷</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>PL側にはデメリットないです</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では前回の続きから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あなた達はホラーハウスの左上の部屋にいますね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ちなみにこの部屋は少し蒸し暑いです。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ばんばん調べていきましょう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>だったら服を脱ぐだろうな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>君は今裸なのかい？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>防御力が落ちますなぁ！</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>もちろん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では受けるダメージが＋１されます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>胸板が足りん！もっと精進せぇ！</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>でも熱くなきなりますよね？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>というか服の防御力高いな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>レディの前で徐に脱ぎだす。紳士だな！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>この部屋はあと、天井からぶら下がっているロープ、2に続くドア、中央に向かうドアが未探索だ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ユニクロの洗えるレザージャケットほしい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>さて、前回と同じく、出来るだけ発言量を平等にしたいので</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>クリスからいきますか。</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>中央扉はリスキィだからなぁ・・・ロープを丁さ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なにで調べるんだっけ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>見る限り、天井からぶら下がっている麻のロープです。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>引くか、引かないかのアクションが出来ます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>じゃあ引く（ぐいっ）</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>！？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではロープを引くと</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あっ、この時点で目星をお願いします</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>皆さん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>1d10<=8 (目星)    Cthulhu : (1D10<=8) → 10 → 失敗</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>幸先悪い</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ファンブルという概念はないです</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ほかの二人もどうぞ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1d10<=7    Cthulhu : (1D10<=7) → 8 → 失敗</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>キャッシュがなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>きえたんだよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>クリスの姿が変わってるが大丈夫なのだろうか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>https://docs.google.com/spreadsheets/d/1m00NUJCkGeavKtGoG_5Ro9lih0zB6QdbbuZdHh-GCvQ/edit#gid=1955175351</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>黒土は感染するのだ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>googleの認証に手間取った</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>1d10<=9 (目星)    Cthulhu : (1D10<=9) → 4 → 成功</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>目星全員8以上もあるんか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あぶないあぶない</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>必須技能だしね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では、猪狩だけ「中央に続くドアと思われるドアの隙間から、光が漏れているのに気づきます」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>「あの扉から光が漏れているな」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そしてその光は、しばらくすると消えてしまいました。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>時間にすると３０秒はかかっていないと思われます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>以上です。</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>何らかの仕掛けのスイッチと考えるのが普通かぁ・・・？おわり</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>あひっぱったから光ったのか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>電球のスイッチかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>なるほどね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>まだ全体の半分しか調査終わってないので色々保留にしてもいいと思います</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>じゃあ僕が引っ張ってるから黒土くんいってくれるかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>まあ覚えておきましょう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>隣の部屋かな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>してもいいし、しなくてもいいですよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ペかっと光った中央の扉に行くんだよぉ！！</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ドアＣってさ、またデンジャーって書いてるの？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>一応調べ尽くしたし真ん中は黒土がいくから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>わたしは→のドアいこう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい、かいてます</div></div>
        </section>
    </div>
{% endblock %}
