{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>準備中</h2>
                    <p></p>
                </div>
            </div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>んなもん開けるかあ！！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>２の部屋にいきます？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>うむ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では２の部屋</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>また箱かよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>みんな行きます？それとも黒土は一人で中央に行きます？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>行くよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>中央にはいかないよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>この部屋に入ると</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ターン回ってきたら2の部屋に移動ね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>先ほどの部屋に比べたら涼しいです。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>電気の紐とか最近はみないねぇ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>エアコンきいてる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あっ、部屋移動はターン経過なしで行けます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>服を着ます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どのみち、次のターンで移動するよ＞GM</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>黒土は正気度が減っていってるね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>もう調べていいのかい？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ばんばんいってもいいですよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>俺ばっかり被害受けてるからねえ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>対応はマイペースですがね。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>箱を開けるぞい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>結構死にやすく作ってるからね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>死能率も１０分の１にしてよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では箱の中にはプラスチックで作られた瓶が入っていました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>基本的には漢捜査するしかあるまい、CoCにマップがついてるわけだし・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>https://www.kokugo.co.jp/shop/goods/goods.asp?goods=101-5840602　こんなの</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>問題は中身だ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>サプリメント入ってそう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>中身を調べるぞ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>死に戻りが出来るということは・・・ということです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>容量も1Lでいいのけ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>中身は何もないようです。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「しけてるなあ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>容量に関してはよく分かりません</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>がっかりします</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んーなら、サイズは？でかいか小さいかくらいでいい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>普段目にする５００ｍｌのペットボトルより背は低いですが、</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>流石に箱一杯のでかさだとかじゃなければ、まあ普通に500ml - 2Lくらいしょ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>円の大きさは倍ぐらいありそうです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>1Lって感じかな、ありがとう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>実は分かる手段があります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>何か思いつきますか？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んまあね、部屋4にいってからやろう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>手段といったら御幣がありましたね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>砂金を詰めてはかりに乗せればいいさ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではクリス</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>1つ聞きたいんだけど、部屋2から部屋1には戻ってこれそう？誰も調べてないけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>それで何が分かります？＜砂金をつめて</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>深淵でも見えるんじゃない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>どうやら無理そうです＜戻る</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んだば、クリスが部屋1から扉を開けっぱなしにしておきます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>「またしまったら困るから、わたくし開けっ放しにしておきますわ！」おわり</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>なかなかのファインプレーです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>強制移動はなしってことね・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>一人プレー用につくったのであまり考えてない行動でしたが。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>デバッグ不足</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では猪狩</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>絵とか台とか勝手にマーカーおいたんだけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>描写してもらっていいですか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そうですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ぱっと見ですと</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>「剣が飾られている台」と「壁にきれいな絵画がある」ということが分かるぐらいです</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ものすごく異様な光景ではないです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ふむふむ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>あと緑の部屋って</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>詳しく知りたいなら目星でお願いします</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>温度はどうだったんですかね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>目星はひとつひとつに？1回で両方？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>特に厚いとも寒いとも感じませんでした</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>一つ一つでお願いします</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>逆に言うと赤い部屋とか黄色い部屋はちょう暑くてちょう寒いのか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>じゃ絵にしとこう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>一部屋１目星はさびしい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んだな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>超暑くて超寒い＜どうでしょうね？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>1d10<=9 (目星)    Cthulhu : (1D10<=9) → 2 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>逆だった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>体感温度が違うくらいだから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>わりとはっきりちがうのかとおもったけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>微妙な差なのかい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>赤い部屋から移動したときに比べて涼しいた、ということです</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>涼しいと感じた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>絵画ですが、</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>「綺麗な貴婦人が描かれているその絵はとても魅力的なものであった。と思ったのは束の間、そこに描かれている貴婦人の目が動きこっちを一瞥し、笑みをこぼした」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ということで正気度チェックをお願いします</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ホラーじゃあああ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ウインクするから大丈夫です</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>1d10<=4 (正気度(現在))    Cthulhu : (1D10<=4) → 2 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>バチコーン★</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>絵画は他にギミックありそう？取り外してポケットに入れられるとか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では絵画の女性はあなたを見て赤面しました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>正気度１回復してください</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>落ちたな（確信）</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>フラグがたったな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ほかには何もなさそうです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>やったぜ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>APP8でつれーわー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では黒</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>行動していいなら、台座の剣を引き抜くよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>伝説の勇者になってしまう・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「これこそが神を選定する剣！！」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>剣を鑑定します</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>呪われてそう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1d10<=7    Cthulhu : (1D10<=7) → 9 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>その剣をもっていると、ずっしりとした重厚感から、何らかの金属で出来ている剣ということがわかりました。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「これはオリハルコンだな間違いない」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>模擬刀の先制攻撃だべ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>懐かしいネタ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では追加の情報はありません</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>これなら化け物にも勝てそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ただひとつ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>装備すると格闘値-２、ダメージボーナス+4ということを教えます。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>やったぜ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>装備します</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>じゃあ装備した画像をどうぞ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>次どうぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>武器なのかぁ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>防具かもよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>神話生物かも</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んじゃあ、もっかい部屋1の紐引っ張るわ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>(ぐいっ)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>また中央の部屋が光りました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>部屋2にいる2人からも確認できる？つまるところ、部屋2の中央扉は光ったか？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そうですね。光は視認できました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>合点。部屋2に移動して、行動終了</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>目星振らせてもよかったけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>失敗したら面倒なのでなしになりました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まあ、確認してってクリスが言ったことにすれば自然</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では猪狩くん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>↓のドアにある張り紙を食べてみようかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>よみよみ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お、ここには張り紙があるのか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>少々お待ちを</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>「奴は『火』と『光』に弱いということが分かった。しかし半端な火では駄目らしい。くそ・・・どうすればいいんだ・・・。」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>と書いてありました。</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>こりゃまた直接的な表現だな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ストレートすぎてあやしいね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>部屋4みたいに正の字ある？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>なんて親切なんだぁ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ないですね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>これで行動終了ですかね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んー、正の字はあんまり重要情報じゃないかぁ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ただのメモ書きだけです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>まだ何かできるなら赤い部屋に戻るけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>気になるのは覚えておきましょう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>もちろん全部目盛ってるけど・・・再確認しなくていいかどうかの判断にね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>中央に続くドアがあるだけですね。黒土いきます？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>どうぞ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>どうせデンジャーなんだろ？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>行け</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>君がイカねば誰が行く</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そうですね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>まだ早いよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>でももう中央しかないよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>伝説の勇者になった今、真黒土に敵はなかった（モノローグ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>変な剣もってますね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>あと伝説の盾と鎧と兜を揃えてからじゃないと</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>伝説の火事氏を探すところから始まるよ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>鍛冶師</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>揃えなかったら出ない、ということですね・・・さすがは！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>探します？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>とりあえず次の部屋に行こう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>きっとドワーフの鍛冶師とかいるはず</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では次の部屋に入ると</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>先ほどの部屋に比べるとかなり寒く、吐く息も白くなっています</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「厚着しねえとやってらんねえ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>上半身裸だときっと死んでしまうでしょう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いけない！彼は服を忘れていってしまった！</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>服は心の中にあるから大丈夫</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おまわりさーーーん！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>死にます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ま、これで春夏秋冬は確定か・・・？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>とりあえず箱開けるか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>伝説の盾よこい！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ミミックだ！</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>剣で切り付けます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>箱の中には一般的によく使われる１００円ライターがあります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>１００円かどうかは分からないけど</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ライターを切りつけるとはなんたる非道！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ライターを切りつけますか？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ポケットにいｒます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>今度は食器棚じゃなくて、ホンダーナかなぁ？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>勇者はメラを覚えた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい本棚が見えます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>合コンで披露したらやや受けしそうなネタ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んじゃあ、ホンダーナを丁さ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>あと雪ダルマのシンボルですが</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>氷塊となっております</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではオカルトでどうぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>1d10<=6 (オカルト)    Cthulhu : (1D10<=6) → 7 → 失敗</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>が、だめ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>終わり</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>統一性のかけらもない本が収納されていました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>氷塊はなんだぁ・・・？雪だるまの形してるの？それともホントに無形の塊？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>雪ダルマの形してるのは、ほかにいいアイコンなかったので・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>目星で分かりますね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ライターであぶればいいのかな？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>目星してからでも遅くはなかろう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>いや、注目すればわかります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>猪狩くん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ん？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>あ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>わたしか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>みんなのアイコンがぐちゃぐちゃだからわかんねえ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>赤い部屋に戻って鏡を取り外したいんですけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>一人じゃ怖いんでだれかついてきてください</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>どちらにしよ青の部屋を通るしかないですね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんで鏡・・・？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>鏡に「冷えることにより見える真実がある」ってあったので</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ここなら冷やせそうだなと</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>よく覚えてるな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>お、そのことを思い出しましたか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>確かに、しかし鏡かぁ・・・？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>じゃあ取りに行くか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では猪狩君はとある変化に気づきます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>はっ・・・APPが9になってる・・・！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>なぜか徐に取り出した、赤い部屋にあったスプレー缶のラベルに「C2H2」という文字が浮かび上がってました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>知識判定をお願いします</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>いいスプレーだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>知識どれだ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>1d10<=7 (知識)    Cthulhu : (1D10<=7) → 1 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>あった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では「C2H2」とは「アセチレン」ということを知っていました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>アセチレン・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>てっきりアルコールの瓶で火炎瓶かとおもったが</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>アセチレンガスか・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>リアルで知ってると終わりに一気に近づく</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>アセチレンガスは、鉄筋の圧接や金属の溶接や溶断、溶射やロウ付け、鉄板の切断、鋼材の焼入れに使われます。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>めちゃ危険物やん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まあちょっと素人に扱えないかも。高温が出せるアイテムってニュアンスでええんかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そして衝撃に弱いです。本来ならスプレー缶などには入っていません</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>とりあえず猪狩からは距離を取ります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>半分そうですね＜高温が出せるアイテム</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いかり君がアッラーアクバール！しそう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>スプレー缶に入ってるってことは</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>何かに注入することが可能？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>今こそ空のグレネードに命を注ぎ込むとき</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>チューします</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いつから空だと・・・！？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>最初から空だったわい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>空のグレネードとは・・・？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>## 箱  見た感じパイナップルっぽい金属の何かが1個あります そして箱のふたの裏側にこういった張り紙が「殺傷力はない」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>情報はこんなもんだけな気がしたが・・・見落としてたか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>なんだ中身あるのか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>本物のグレネードに真改造か</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>じゃあ黒土にチューします</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>はいあーんして</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>声が変わる</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ホモォ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>チューします？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>最後の手段にとっとこう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>剣で切ります</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>殺伐としてきた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>結局鏡のことを思い出しただけで行動してないな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>寄らば斬る</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ですね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>本棚でもあさるか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>誰も君なんかに寄らないよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>所謂ファインプレーの成功報酬を与えたまでです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>アイム・ファイン</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではオカルトでどうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>1d10<=5 (オカルト)    Cthulhu : (1D10<=5) → 7 → 失敗</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>オカルトだったかぁ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>かなしみ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>次の黒土がうまくやってくれるでしょう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>しょうがないにゃあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>まあ大丈夫です。よほど変な行動しない限り詰みは存在しないので。</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>CONTINUEして♡</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>コンテニューしてでもクリアする</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>それか真ん中の黒土の扉をあけてもいいよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>実際その方法も正攻法なんです＜コンテニューしてでも</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>調べるならオカルトで振ってください</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>まかせろん</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1d10<=7 (オカルト)    Cthulhu : (1D10<=7) → 10 → 失敗</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ホラー好きの3人（にわか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>大丈夫大丈夫・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>もうダメだあ、おしまいだあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>変な本棚でした</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>オカルトはまかせた。氷の塊に目星</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>1d10<=8 (目星)    Cthulhu : (1D10<=8) → 10 → 失敗</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>はあああああああああああああああああん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>悶絶して終了。後は任せた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>うーん氷の塊に鏡をつかうのかなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>それともなんか全然違うアプローチなのか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>氷塊をみるとそれは３０ｃｍ角ぐらいで、その中には円筒状の何かが入っているのが分かります</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>わからんなぁ、鏡と絵画は罠だけかも</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>先ほど言いましたが、この氷塊は目星なくても大丈夫です。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>中に何か入っている</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ダイナマイトに違いない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>円筒形ボーイの見た感じの材質はなんだね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>氷の中に爆弾が！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ちょっと具体的に言うと、アセチレンが入った缶と同じぐらいの大きさです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お許し不可避</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ゴキジェットか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>これさ赤い部屋まで運んだらかってに溶けるかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>剣を所持している人物を倒す必要が・・・？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>かなり具体的に言うとスプレー缶っぽいのが氷付けにされています。</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おお、確かに勝手に溶けるかも</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>運べるのかしらないけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>判断は任せます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ポケットにいれればへーきへーき！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>じゃ雪だるまをポケットにいれます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>というか氷なら剣で砕けるのでは？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>都合上、運べます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ほう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>いやねえ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>衝撃に弱い物体だった場合、BOMだぜ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>滑らせて遊ぼう！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>アセチレンがスプレー缶に入ってる世界ですよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ニトロだったら責任とれるのかっていってんの！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>常識が通じると思わないでいただきたい！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>対ブラスト体勢取ってるから、剣でたたいてどうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>別の部屋いってるから叩いてどうぞ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>剣できりつけますか？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>でも僕の番なのでオカルトに再挑戦していいですか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>是非もなし</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>氷だけきれいに切って中身を傷つけない事が俺ならできるはず</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>二回目は自動成功です</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>知識が流れ込んでくる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>無理です＜中身だけ～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ウオオオオ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いかりくんの頭だけDKモードになる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>その本棚にはオカルト界隈でも有名な異形の召還に使う本がまぎれていた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>中身についてですが、重要なところだけ抜粋すると</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>読まざるを得ない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>召喚かあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>てっきり門の創造かと</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>「その本で召喚した異形を送還するには「ある条件」がいる。それは３０００℃以上の熱を干渉させることだ。」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>うーん、なるほど？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>簡単明白な文ですね。まるで文を考えることを放棄したような内容だ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>雑ぅ！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>事実だけ書いてあるのはいい専門書だ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>まあ燃やせばいいんでしょ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>内容も1/10です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>終わりは近い</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>炎の温度も１０分の１でいいかな？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>いいですが、詰みますよ？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>それでも300度の熱って普通の方法で出せるもんなんか？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>タバコの火がそれぐらいらしい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ほっほー、なるほどなるほど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>３０００度ですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>タバコの火は・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>タバコの火がそれぐらい…</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>今1/10だから本来なら30000℃だよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>大変だよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>知識判定をどうぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>メルトダウンして♡</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>みんなしていいですよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1d10<=6 (知識)    Cthulhu : (1D10<=6) → 7 → 失敗</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、この娘脳筋だ・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>1d10<=5 (知識)    Cthulhu : (1D10<=5) → 7 → 失敗</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>1d10<=7 (知識)    Cthulhu : (1D10<=7) → 9 → 失敗</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>チームオバカ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>なんのためのロールだったんだ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>この脳筋パーティよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>３０００度の火という言葉に皆さんは何も感じませんでした</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>詰みは・・・しない・・・はず</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>あつそうだなー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>「まあ！やけどしちゃいそう！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>いつまでそのキャラ絵なんだろう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>この絵すごいすきなんだけど・・・そろそろ戻すよ、悪かったよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>いや、時々発言した人と絵が合致しなくて・・・ね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>立ち絵なんて非表示でやってるわ！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そんなー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>マップが見えなくなってな・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>大丈夫、こっちも見えない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>次カエル君の番？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ですね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>kaeru君はサイズがめちゃくちゃだから非表示にしたくなる</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>そんなー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>200x200にして♡</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>して・・・材料はだいたい揃った感はある</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>２５０までなら許容範囲♡</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>次から統一しよう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>じゃあ移動するか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>全員で赤い部屋行くか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ここからはぱっと移動が出来るようになります。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>拾えるものは全部拾ったし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>けど移動しすぎたら・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>雪だるまを溶かそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では氷塊を溶かすと</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>はやい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>中から「O２（オーツー）」と描かれたスプレー缶が出てきました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>さてここで皆さん知識判定お願いします</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>1d10<=7 (知識)    Cthulhu : (1D10<=7) → 10 → 失敗</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>1d10<=5 (知識)    Cthulhu : (1D10<=5) → 8 → 失敗</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>いい出目だ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>なにこのパーティー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>わっかんないすぅ＾ｑ＾</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1d10<=6 (知識)    Cthulhu : (1D10<=6) → 4 → 成功</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>やはり勇者だったか・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>やるじゃない</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>真打登場</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>酸素アセチレン炎！！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>では黒は</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あつぅい！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>リアル知識の封印を解除する</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>よおしお兄さん核融合とかしちゃうぞお</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>「酸素とアセチレンの混合物を燃焼させると３０００度を超える火が発せられる」ということを思い出しました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>燃やし尽くさざるを得ない！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>一つ問題があってな・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>混合物を取り扱えるバーナー的なものがないんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ここまで来たら倒す算段を作戦会議してください</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なぁに、その辺はちょちょっとすれば万事解決さ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>もう駒は出揃っています</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>だれだ勝手に移動させてんのは</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>結局正体不明なのはグレネードか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>これなんだ？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>わからず・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>スタングレネードかなにか？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>結構無理ある行動とってもいいですよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>金粉の用途もよくわからん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>はかりとペットボトルも結局よくわかんないし</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>光に弱いらしいしスタングレネードはあるかもね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>実はよくわかんないことの方がおおい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ペットボトルと秤はなー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>水があればペットボトルの容量がわかるけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>だからどうしたって話</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>確かに容量がわかりますね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>アルコールもよくわからない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>アルコールはアセチレンのことだったんじゃない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>持っているものが必ず死ぬといういわくつきの剣もよくわからなんだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>アセチレンは赤の部屋で拾ったラベルのないスプレーで</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ちなみにその発言が出たので言いますが、</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>アルコールは緑の部屋で拾った瓶</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ポリ瓶の容量は1.5ℓです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、ほんとだ、部屋4でもなんか拾ってるのか・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>1.5Lのプラスチックボトルが</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>一体何の役に立つのか私にはわからない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>誰か教えてくれ！！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>たぶん誰もわかってない</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>それで殴りかかるんでしょ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>確かに金粉入れれば鈍器にはなると思うけど・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>砂金を詰めたら30キロくらいにはなるはず</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>詰まったらアイディアを振ってね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>1D10<=6 (アイディア)    Cthulhu : (1D10<=6) → 1 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ひらめ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>1D10<=7 (アイディア)    Cthulhu : (1D10<=7) → 7 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>なにが知りたいです</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ペットボトルの謎</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>酸素アセチレンの取扱説明書</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ペットボトルですが</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>これを使えば混合物とやらが作れるのでは・・・？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>といったところです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>まあスプレー缶とスプレー缶じゃ混合できないもんね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>それ用の容器でしょう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>猪狩くんはなにが知りたい？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>そうだなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>よくわかんないけど、スプレー缶に入ってるってことは、出した瞬間気化するように圧力かけられてるんじゃあないの</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>通常の気圧の下に出したら全部気化しちゃうよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>たぶんプラボトル爆弾作るんじゃないですかね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>つっても同河川とかないぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>多少気化しようと酸素とアセチレンをプラスチックボトルに詰め込めればOK</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>導火線はいらないかなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>アルコールの瓶があるから</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そんな簡単に作れるもんなん？爆発するほど詰め込めるとは思えないけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>倒す条件が緩い</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>のにも理由があります</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>アセチレン爆弾を放り投げた後火炎瓶を放り投げるんじゃないですかねえ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>火炎瓶でも導火線いるんじゃないの？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>布とか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>そこは君の服でいいだろ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んだんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>聞いてるとなかなか面白い</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>猪狩の無駄なひげでもいいんじゃないかなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ヒゲでは火がすぐ消えてしまう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>というわけでアイデア報酬はグレネードが閃光グレネードかどうか知りたい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>そうじゃないならゴミ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>アイディアでは分からないんですよこれ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>なんと</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>リアルの私なら見た目だけでわかるというのに</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>そうなのか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>結局なんなんだろなこれ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>なら見たら分かります。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>まじ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>閃光手榴弾です</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ひゅー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>攻略手順はこうか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>第一手は扉の隙間からグレネード投入かな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>誰かがロープを引いて明かりを付けた後</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>グレネードを投擲して</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>アセチレン爆弾を投擲して</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>火炎瓶を投擲</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>投擲ばっかじゃねぇか！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>素晴らしいですね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>最後は黒土がエクスガリバーでとどめ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>剣はいつ使うんだよ！！</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>なるほど</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>じゃあ、それでいこ～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>ではそうしますか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>そうする</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>ガンガン行こうぜ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>あれ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>ロープ引いた後明かりってしばらくついてるんだっけ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クリス</div><div class='col-sm-10 serif'>30sec</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>じゃあ閃光グレネードは無理に投げる必要ないな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>気づきました？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>そりゃあ30秒もあればね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>光量が違うんじゃねえの？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>anekoGM</div><div class='col-sm-10 serif'>解決する手段は一つじゃないんです</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>結局グレネードがいらない子に</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@猪狩上篭</div><div class='col-sm-10 serif'>他の世界線では閃光グレネードでひるんだところにアセチレンスプレーをブシャーする探索者もいるのだろう</div></div>
        </section>
    </div>
{% endblock %}
