{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>フェイズ6</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ではクリスから</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>1つ聞きたいんだけど、部屋2から部屋1には戻ってこれそう？誰も調べてないけど</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>どうやら無理そうです＜戻る</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>んだば、クリスが部屋1から扉を開けっぱなしにしておきます</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>「またしまったら困るから、わたくし開けっ放しにしておきますわ！」おわり</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>なかなかのファインプレーです。一人プレー用につくったのであまり考えてない行動でしたが。</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>デバッグ不足</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>では猪狩</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>絵とか台とか勝手にマーカーおいたんだけど描写してもらっていいですか</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">部屋2</p>
                        剣が飾られている台<br>
                        壁にきれいな絵画がある
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ものすごく異様な光景ではないです。詳しく知りたいなら目星でお願いします</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ふむふむ……</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>目星はひとつひとつに？1回で両方？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>一つ一つでお願いします、一部屋１目星はさびしい</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>1d10<=9 (目星) Cthulhu : (1D10<=9) → 2 → 成功</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">壁の絵画</p>
                        綺麗な貴婦人が描かれているその絵はとても魅力的なものであった。<br>
                        と思ったのは束の間、そこに描かれている貴婦人の目が動きこっちを一瞥し、笑みをこぼした
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ということで正気度チェックをお願いします</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ホラーじゃあああ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>ウインクするから大丈夫です</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>1d10<=4 (正気度(現在)) Cthulhu : (1D10<=4) → 2 → 成功</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>バチコーン★</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>では絵画の女性はあなたを見て赤面しました、正気度1回復してください</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>落ちたな（確信）</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>フラグがたったな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>APP8でつれーわー</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>絵画は他にギミックありそう？取り外してポケットに入れられるとか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ほかには何もなさそうです</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>では黒</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>行動していいなら、台座の剣を引き抜くよ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>伝説の勇者になってしまう……</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>呪われてそう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>その剣をもっていると、ずっしりとした重厚感から、何らかの金属で出来ている剣ということがわかりました。</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>「これはオリハルコンだな間違いない」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>模擬刀の先制攻撃だべ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>懐かしいネタ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>「これこそが神を選定する剣！！」剣を鑑定します</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>1d10<=7 Cthulhu : (1D10<=7) → 9 → 失敗</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>装備すると格闘値-2、ダメージボーナス+4の武器になります。鑑定失敗したので追加の情報はありません</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>これなら化け物にも勝てそう、装備します</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>武器なのかぁ……</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>防具かもよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>神話生物かも</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>フェイズ7</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>次どうぞ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>んじゃあ、もっかい部屋1の紐引っ張るわ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>(ぐいっ)</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>また中央の部屋が光りました</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>部屋2にいる2人からも確認できる？つまるところ、部屋2の中央扉は光ったか？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>そうですね。光は視認できました</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>合点。部屋2に移動して、行動終了</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>では猪狩くん</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>↓のドアにある張り紙を食べてみようかな、よみよみ</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">部屋2の張り紙</p>
                        奴は『火』と『光』に弱いということが分かった。<br>
                        しかし半端な火では駄目らしい。<br>
                        くそ……どうすればいいんだ……。
                    </blockquote>
                </div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>こりゃまた直接的な表現だな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>ストレートすぎてあやしいね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>なんて親切なんだぁ……</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>部屋4みたいに正の字ある？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ないですね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>あとは中央に続くドアがあるだけですね。黒土いきます？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>どうせデンジャーなんだろ？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>行け。君がイカねば誰が行く</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>まだ早いよ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>でももう中央しかないよ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>伝説の勇者になった今、真黒土に敵はなかった（モノローグ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>変な剣もってますね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>あと伝説の盾と鎧と兜を揃えてからじゃないと</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>伝説の鍛冶師を探すところから始まるよ？探します？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>とりあえず次の部屋に行こう、きっとドワーフの鍛冶師とかいるはず</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>では次の部屋に入ると、先ほどの部屋に比べるとかなり寒く、吐く息も白くなっています。上半身裸だときっと死んでしまうでしょう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>いけない！彼は服を忘れていってしまった！</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>服は心の中にあるから大丈夫</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おまわりさーーーん！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>死にます</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>「厚着しねえとやってらんねえ」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>とりあえず箱開けるか、伝説の盾よこい！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ミミックだ！</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>剣で切り付けます</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>箱の中には一般的によく使われる100円ライターがあります</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ライターを切りつけるとはなんたる非道！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ライターを切りつけますか？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>ポケットにいれます。勇者はメラを覚えた</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>合コンで披露したらやや受けしそうなネタ</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>フェイズ8</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">部屋3</p>
                        本棚が見えます<br>
                        氷塊が見えます
                    </blockquote>
                </div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>んじゃあ、ホンダーナを調査</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ではオカルトでどうぞ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>1d10<=6 (オカルト) Cthulhu : (1D10<=6) → 7 → 失敗</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>が、だめ……！終わり</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>統一性のかけらもない本が収納されていました</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>氷塊はなんだぁ……？雪だるまの形してるの？それともホントに無形の塊？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>雪ダルマの形してるのは、ほかにいいアイコンなかったので……目星で分かりますね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>ライターであぶればいいのかな？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>目星してからでも遅くはなかろう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>いや、注目すればわかります</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>次猪狩くん</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>赤い部屋に戻って鏡を取り外したいんですけど、一人じゃ怖いんでだれかついてきてください</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>どちらにしよ青の部屋を通るしかないですね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なんで鏡……？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>鏡に「冷えることにより見える真実がある」ってあったのでここなら冷やせそうだなと</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>よく覚えてるな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>確かに、しかし鏡かぁ……？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>じゃあ取りに行くか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>お、そのことを思い出しましたか、では猪狩君はとある変化に気づきます。なぜか徐に取り出した、赤い部屋にあったスプレー缶のラベルに「C2H2」という文字が浮かび上がってました。知識判定をお願いします</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>いいスプレーだ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>1d10<=7 (知識) Cthulhu : (1D10<=7) → 1 → 成功</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>では「C2H2」とは「アセチレン」ということを知っていました</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>アセチレン……</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>てっきりアルコールの瓶で火炎瓶かとおもったが、アセチレンガスか……</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>リアルで知ってると終わりに一気に近づく</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>アセチレンガスは、鉄筋の圧接や金属の溶接や溶断、溶射やロウ付け、鉄板の切断、鋼材の焼入れに使われます。</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>めちゃ危険物やん</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>まあちょっと素人に扱えないかも。高温が出せるアイテムってニュアンスでええんかな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>そして衝撃に弱いです。本来ならスプレー缶などには入っていません。半分そうですね＜高温が出せるアイテム</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>とりあえず猪狩からは距離を取ります</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>いかり君がアッラーアクバール！しそう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>スプレー缶に入ってるってことは何かに注入することが可能？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>はい</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>今こそ空のグレネードに命を注ぎ込むとき</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>いつから空だと……！？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>最初から空だったわい</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>空のグレネードとは……？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>本物のグレネードに魔改造か</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>なんだ中身あるのか、じゃあ黒土にチューします。はいあーんして</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>ホモォ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>声が変わる</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>チューします？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>最後の手段にとっとこう</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>剣で切ります、寄らば斬る</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>誰も君なんかに寄らないよ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>殺伐としてきた</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>結局鏡のことを思い出しただけで行動してないな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ですね、所謂ファインプレーの成功報酬を与えたまでです</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>アイム・ファイン。本棚でもあさるか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ではオカルトでどうぞ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>1d10<=5 (オカルト) Cthulhu : (1D10<=5) → 7 → 失敗</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>かなしみ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>次の黒土がうまくやってくれるでしょう</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>しょうがないにゃあ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>CONTINUEして♡</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>コンテニューしてでもクリアする</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>まあ大丈夫です。よほど変な行動しない限り詰みは存在しないので。実際その方法も正攻法なんです＜コンテニューしてでも。調べるならオカルトで振ってください</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>まかせろん</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>1d10<=7 (オカルト) Cthulhu : (1D10<=7) → 10 → 失敗</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>大丈夫大丈夫……変な本棚でした</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>もうダメだあ、おしまいだあ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ホラー好きの3人（にわか</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>フェイズ9</h2>
                    <p></p>
                </div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>オカルトはまかせた。氷の塊に目星</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>1d10<=8 (目星) Cthulhu : (1D10<=8) → 10 → 失敗</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>はあああああああああああああああああん！悶絶して終了。後は任せた</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>うーん氷の塊に鏡をつかうのかなあ、それともなんか全然違うアプローチなのか</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>わからんなぁ、鏡と絵画は罠だけかも</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>氷塊をみるとそれは３０ｃｍ角ぐらいで、その中には円筒状の何かが入っているのが分かります。先ほど言いましたが、この氷塊は目星なくても大丈夫です。</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>中に何か入っている</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ダイナマイトに違いない</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>氷の中に爆弾が！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>お許し不可避</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>円筒形ボーイの見た感じの材質はなんだね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ちょっと具体的に言うと、アセチレンが入った缶と同じぐらいの大きさです。かなり具体的に言うとスプレー缶っぽいのが氷付けにされています。</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>ゴキジェットか……これさ赤い部屋まで運んだらかってに溶けるかな？運べるのかしらないけど</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おお、確かに勝手に溶けるかも</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>判断は任せます</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ポケットにいれればへーきへーき！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>じゃ雪だるまをポケットにいれます</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>都合上、運べます。滑らせて遊ぼう！</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>というか氷なら剣で砕けるのでは？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>衝撃に弱い物体だった場合、BOMB!だぜ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>いやねえ、アセチレンがスプレー缶に入ってる世界ですよ？ニトロだったら責任とれるのかっていってんの！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>常識が通じると思わないでいただきたい！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>対ブラスト姿勢取ってるから、剣でたたいてどうぞ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>別の部屋いってるから叩いてどうぞ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>氷だけきれいに切って中身を傷つけない事が俺ならできるはず</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>無理です＜中身だけ～。剣できりつけますか？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>でも僕の番なのでオカルトに再挑戦していいですか</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>是非もなし</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>二回目は自動成功です</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>知識が流れ込んでくる……！ウオオオオ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>いかりくんの頭だけDKモードになる</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>その本棚にはオカルト界隈でも有名な異形の召還に使う本がまぎれていた</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>読まざるを得ない</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">本棚の怪しい本(抜粋)</p>
                        その本で召喚した異形を送還するには「ある条件」がいる。<br>
                        それは３０００℃以上の熱を干渉させることだ。
                    </blockquote>
                </div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>召喚かあ、てっきり門の創造かと</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>うーん、なるほど？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>簡単明白な文ですね。まるで文を考えることを放棄したような内容だ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>雑ぅ！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>事実だけ書いてあるのはいい専門書だ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>まあ燃やせばいいんでしょ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>内容も1/10です。終わりは近い</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>炎の温度も1/10でいいかな？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>いいですが、詰みますよ？知識判定をどうぞ。みんなしていいですよ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>1d10<=6 (知識) Cthulhu : (1D10<=6) → 7 → 失敗</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>1d10<=5 (知識) Cthulhu : (1D10<=5) → 7 → 失敗</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>1d10<=7 (知識) Cthulhu : (1D10<=7) → 9 → 失敗</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>チームオバカ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>なんのためのロールだったんだ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>この脳筋パーティよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>3000度の火という言葉に皆さんは何も感じませんでした</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>あつそうだなー</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>「まあ！やけどしちゃいそう！」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ここからはぱっと移動が出来るようになります。けど移動しすぎたら……</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>フェイズ10</h2>
                    <p></p>
                </div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>拾えるものは全部拾ったし、雪だるまを溶かそう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>では氷塊を溶かすと……中から「O２（オーツー）」と描かれたスプレー缶が出てきました。さてここで皆さん知識判定お願いします</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>1d10<=7 (知識) Cthulhu : (1D10<=7) → 10 → 失敗</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>1d10<=5 (知識) Cthulhu : (1D10<=5) → 8 → 失敗</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>いい出目だ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>わっかんないですぅ＾ｑ＾</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>なにこのパーティー</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>1d10<=6 (知識) Cthulhu : (1D10<=6) → 4 → 成功</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>やるじゃない</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>やはり勇者だったか……</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>真打登場！よおしお兄さん核融合とかしちゃうぞお</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>酸素アセチレン炎！！リアル知識の封印を解除する</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あつぅい！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>では黒は「酸素とアセチレンの混合物を燃焼させると3000度を超える火が発せられる」ということを思い出しました</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>燃やし尽くさざるを得ない！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>一つ問題があってな……混合物を取り扱えるバーナー的なものがないんだ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なぁに、その辺はちょちょっとすれば万事解決さ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ここまで来たら倒す算段を作戦会議してください。もう駒は出揃っています</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>結局正体不明なのはグレネードかこれなんだ？スタングレネードかなにか？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>わからず……</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>光に弱いらしいしスタングレネードはあるかもね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>金粉の用途もよくわからん。はかりとペットボトルも結局よくわかんないし、実はよくわかんないことの方がおおい</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>ペットボトルと秤はなー。水があればペットボトルの容量がわかるけど、だからどうしたって話</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>確かに容量がわかりますね</div>
            </div>


            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>アルコールもよくわからない</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>アルコールはアセチレンのことだったんじゃない</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>アセチレンは赤の部屋で拾ったラベルのないスプレーで</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ちなみにその発言が出たので言いますが、アルコールは緑の部屋で拾った瓶。ポリ瓶の容量は1.5ℓです</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あ、ほんとだ、部屋4でもなんか拾ってるのか……</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>1.5Lのプラスチックボトルが一体何の役に立つのか私にはわからない。誰か教えてくれ！！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>たぶん誰もわかってない</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>それで殴りかかるんでしょ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>確かに金粉入れれば鈍器にはなると思うけど……</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>砂金を詰めたら30キロくらいにはなるはず</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>持っているものが必ず死ぬといういわくつきの剣もよくわからなんだ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>詰まったらアイディアを振ってね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>1D10<=6 (アイディア) Cthulhu : (1D10<=6) → 1 → 成功</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>1D10<=7 (アイディア) Cthulhu : (1D10<=7) → 7 → 成功</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>なにが知りたいです</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>ペットボトルの謎</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ペットボトルですが「これを使えば混合物とやらが作れるのでは……？」といったところです</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>まあスプレー缶とスプレー缶じゃ混合できないもんね。それ用の容器でしょう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>猪狩くんはなにが知りたい？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>そうだなあ……たぶんプラボトル爆弾作るんじゃないですかね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>よくわかんないけど、スプレー缶に入ってるってことは、出した瞬間気化するように圧力かけられてるんじゃあないの？通常の気圧の下に出したら全部気化しちゃうよ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>つっても導火線とかないぞ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>多少気化しようと酸素とアセチレンをプラスチックボトルに詰め込めればOK。導火線はいらないかなあ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>そんな簡単に作れるもんなん？爆発するほど詰め込めるとは思えないけど</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>アセチレン爆弾を放り投げた後、アルコールの瓶があるから火炎瓶でも作ってを放り投げるんじゃないですかねえ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>火炎瓶でも導火線いるんじゃないの？布とか</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>そこは君の服でいいだろ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>んだんだ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>猪狩の無駄なひげでもいいんじゃないかなあ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ヒゲでは火がすぐ消えてしまう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>というわけでアイデア報酬はグレネードが閃光グレネードかどうか知りたい。そうじゃないならゴミ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>アイディアでは分からないんですよこれ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>なんと！リアルの私なら見た目だけでわかるというのに</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>そうなのか……なら見たら分かります。閃光手榴弾です</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>ひゅー！なら攻略手順はこうか？誰かがロープを引いて明かりを付けた後、グレネードを投擲して、アセチレン爆弾を投擲して、火炎瓶を投擲</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>素晴らしいですね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>剣はいつ使うんだよ！！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>最後は黒土がエクスガリバーでとどめ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>なるほど、ガンガン行こうぜ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>じゃあ、それでいこ～</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ではそうしますか</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>そうする</div>
            </div>
        </section>
    </div>
{% endblock %}
