{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>エンディング「扉の先は」</h2>
                    <p></p>
                </div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@クリス</div>
                <div class='col-sm-10 serif'>(ぐいっ)</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>えーとりあえず、君達がロープを引っ張り、中央の部屋に光がともったのを確認したと同時にそのドアを開いた。</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>中には異形がいたのだが、それは知っていたので気にせず、すかさずアセチレンと酸素がでたらめに混ざったポリ瓶を投げつけた。</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>間髪いれず、火が天下したアルコールランプを投げつけると、ポリ瓶を中心として火が舞い上がった・・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>瞬間に君達は目が覚めた</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>すごい燃焼力ありそう</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@男</div>
                <div class='col-sm-10 serif'>「ご生還おめでとうございますー！」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>剣を振りかぶる</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>君達はVR体験型ホラーハウスをプレイしていたのだった。と同時に深いため息をついた・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>といったところで「ドキッ！不快だらけのホラーハウス」終わりです。おつかれさまでした。</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>どこからゲームだったのだろうか？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>おつかれさまでした</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>お疲れ様</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おつかれちゃーん</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>感想戦</h2>
                    <p></p>
                </div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>結局剣の使わないのか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>あれはトラップです。</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>ひどいん</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ちょっと納得行かないところも会ったと思いますが、許してください。何か気になるところがあったら質問してください</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>10分の１という事は、本来はこの１０倍のシナリオなのかな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ではないです。本来がないですし</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>砂金は何だったの？トラップ？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>ですね。誰かポリ瓶につめて遊ばないかなと思ってた</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あぶないあぶない危うく詰めて運ぶところだった・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>あと、最初のメモ紙の小文字ですが、このメモを残した人が死んだ回数を表してました</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>それはなんとなくわかった</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>んだな、ありがちな線で日数かそっちか・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>何回死んでもやりなせるよという地味なアピール</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>気温の差って結局なんだったん？意味ないような気もしたけど</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>氷を溶かすのと、冷えたら見える文字のトリックのためです</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おお、なるほど？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>氷塊については物理的粉砕だと中身の一緒に粉砕する仕組みでした。</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>壊さなくてよかった・・・</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@真黒土</div>
                <div class='col-sm-10 serif'>積むじゃん</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>氷塊に関しては壊すという発想しなければ詰まない</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>しかしなんですな。最近のCoC=探索ゲーの流行にのってるかんじのシステムだね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>最近のが分からない。ルルブのリプレイも見たことないので</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>コービットさんの家に突撃するようなんじゃなくて、毒入りスープ的なクローズド系が多いから</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>aneko@GM</div>
                <div class='col-sm-10 serif'>偏見だけど、ネットで上がってる自作シナリオ？って死なないように出来てるイメージが強い</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@猪狩上篭</div>
                <div class='col-sm-10 serif'>逆に僕はネットのシナリオしらないんですよね・・・</div>
            </div>
        </section>
    </div>
{% endblock %}
