{% extends 'layout2.twig' %}
{% block stylesheet %}
    {#<link href="{{ global.request.baseUrl }}/assets/css/xxxxx.css" rel="stylesheet">#}
{% endblock %}
{% block javascript %}
    {#<script src="{{ global.request.baseUrl }}/assets/js/xxxxx.js"></script>#}
{% endblock %}
{% block left %}
    <ul class="nav nav-sidebar">
        <li><a href="">このサイト？</a></li>
        <li><a href="">管理人？</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h1 class="page-header">ABOUT</h1>
    <div class="row">
        <div class="col-sm-12">
            <h2>このサイト？</h2>
            <p>
                nakigao's TRPG room<br>
                参加したリプレイを中心に、TRPG関連で作ったものをひっそりと置いています。
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>管理人？</h2>
            <p>ご意見ご感想などはTwitterのアカウント(<a href="https://twitter.com/nakigao">@nakigao</a>)にリプライ送るか、DMください。</p>
            <p>
                TRPGが好きな電脳世界の住人。<br>
                もともとゲームの設定集とかをボーっと眺めているのが趣味でした。<br>
                友人の勧めでルールブック(D&De3.5)を手に取り、今ではどっぷりTRPGにはまっています。<br>
                鬼門とされる学園モノがうまい生物になりたいです。<br>
                <br>
                主な出現場所は時間帯夜のオンラインセッション。<br>
                好きなジャンルは『現代異能学園モノ』。<br>
                プレイングモットーは『チームみんなのキャラ立ち重点』。<br>
                マスタリングモットーは『ルール7割、ノリ3割』。<br>
            </p>
            <p>所持ルールブック</p>
            <ul>
                <li><a href="https://ssl.fujimi-trpg-online.jp/contents/sw">ソード・ワールド2.0 I/II/III/EX</a></li>
                <li><a href="http://www.enterbrain.co.jp/hobby/trpg/list/cthu.html">Call Of Cthulfu - クトゥルフ神話TRPG -</a></li>
                <li><a href="http://grancrest.jp/">グランクレスト</a></li>
                <li><a href="http://www.famitsu.com/comic_clear/se_amaho/">Aの魔法陣NG</a></li>
                <li><a href="http://www.fear.co.jp/gorder/">ガーデンオーダー</a></li>
                <li><a href="http://www.bouken.jp/product/makeyou/">迷宮キングダム</a></li>
                <li>迷宮デイズ</li>
                <li><a href="http://www.bouken.jp/pd/sg/">シノビガミ</a></li>
                <li><a href="http://r-r.arclight.co.jp/rpg/kamigakari">神我狩</a> ※未プレイ</li>
                <li><a href="http://lhrpg.com/lhz/top">ログホライズンTRPG</a> ※未プレイ</li>
                <li><a href="http://www.fear.co.jp/ag2/">エンゼルギア天使大戦TRPG</a> ※未プレイ</li>
                <li><a href="http://em.jive-ltd.co.jp/">エムブリオマシンRPG</a> ※未プレイ</li>
                <li><a href="http://www.fear.co.jp/mono/">モノトーンミュージアムRPG</a> ※未プレイ</li>
                <li><a href="http://elseware.jp/tokumei_trpg/tokumei_trpg.html">特命転攻生</a> ※未プレイ</li>
                <li><a href="http://inga.dtiblog.com/">すくぱに - すく～るでいず・パニック -</a></li>
                <li><a href="http://www.sunsetgames.co.jp/rpg/classmate/classmate.htm">あいつはクラスメート！</a> ※未プレイ</li>
                <li><a href="http://www.bang-cho.com/">番長学園！！大吟醸</a> ※未プレイ</li>
                <li><a href="http://www.wtrpg9.com/trpg/">恋と冒険の学園TRPG エリュシオン</a> ※未プレイ</li>
            </ul>
        </div>
    </div>
{% endblock %}