{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/sww2-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-evi.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>※未編集</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>SW2.0キャンペーン「飯!飯!飯!」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>共通ハンドアウトはお渡ししてるんで―・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>地割れに呑み込まれたところからですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>希望にみちた導入だ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>早いな展開が</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>choice[a,k,n]</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>SwordWorld2.0 : (CHOICE[A,K,N]) → K</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>サイを転がす音がする・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>ついわっちゃうんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>じゃあルルディさんが最初に意識を取り戻します</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>おめでとう!</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>やったあ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>「うーん、はつ!ここは何処でしょう?」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>感動のオープニングを頼む</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>地割れに巻き込まれたってことは、地下洞窟みたいなところにいるのかな?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>下のほうにおこう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>なるほど</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>ひろそうだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>描写どうやら、気を失っていたようだ。君が目を覚ますと、周囲に二人、同じように転落してきた者がいる。たしか、同じ輜重隊の護衛だ。周囲には一緒に落下してきた荷車とその荷物が散乱している。幸か不幸か、自由落下というわけではなく、ずいぶん長い距離を滑り落ちてきたようで、致命傷を負ってはいないようだ。しかし、空を仰ぎ見ることは敵わない。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>なえうほど</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>とりあえず他の人を起こそうか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>この世界のエルフは暗視持ちだったな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>便利だ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>「おきてくださーい」とか言いながら寝てる人にビンタします</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あら・・・暗いのね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>まあ地下だし</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「いてっ!」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>薄暗い</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クレイ</div><div class='col-sm-10 serif'>※クレイは滑り落ちた影響で地面からお尻だけ出てるので、お尻を叩かれます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「なんだなんだ!?」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>お尻に往復ビンタ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>じゃあおしりをペシペシしましょう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クレイ</div><div class='col-sm-10 serif'>「イイッ!」飛び起きました</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>「ああ起きましたねえ、よかったですー」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「(やばそうなおっさんだな・・・)」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>2人は暗視持ってないんだっけ?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>(24歳なんだぜこれ)</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>(わたしは80歳です)</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>暗闇も未来も見えない職業です</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>グラランって長寿なんだっけか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>200歳ぐらいまで生きるらしいよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>とりあえず松明に火をつけます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「なんじゃここ?どうなってんだ?」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>洞窟で不用意にたいまつに火をつけるのは実は自殺行為らしいよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>「よくわかりませんが、上から落ちちゃったみたいですねえ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「というかあんたらは・・・?」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>きみたちの肉体と精神と荷物は神の加護により無事です</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>天然なので自殺行為とか平気でやりますね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>グラスランナーのお株を奪っていくぅ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>「私はルルディ・ネライダ、気軽にルルって呼んでくださいねえ、キャハッ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クレイ</div><div class='col-sm-10 serif'>「同じ輜重隊の護衛だったろう。名はクレイだ。」と埃を払いながら立ち上がります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>なんかデジャブが・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>キャピキャピ系がマイブームに違いない</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>エルフロールプレイに徹してるんだ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「おいらはキャロライナ。キャロでいい。勘だが、長い付き合いになりそうだからな」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>こいつ、エスパーか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ET</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ShinobiGami : 感情表(5) → 憧憬(プラス)/劣等感(マイナス)</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クレイ</div><div class='col-sm-10 serif'>※キャロライナに憧憬の念でも抱こう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クレイ</div><div class='col-sm-10 serif'>「(はう、キャロライナさま・・・)」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>男やぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「(寒気)」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>男でも女でも構わない、憧れに性別など不問</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>というか男なのか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ランダムダイスはそうだった気がする</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>男の娘キャラは業が深いな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「ああ、一応言っとくけど、おいらは盗賊だ。だが安心しろ。この状況で物を盗んだりしたりはしない」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「おいらは喧嘩にはめっぽう弱いしな。へへ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>いいねいいね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>いつまでおいら口調を忘れないか楽しみ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>「盗賊さんなんですねえ、私も盗賊はまだやったことがないので今度一緒に強盗でもしませんかあ?」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ET</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ShinobiGami : 感情表(2) → 友情(プラス)/怒り(マイナス)</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「強盗はおいらの美学じゃねえから駄目だ。それ以外の盗みのテクなら教えるさ」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>「やったあ、ありがとうございますう」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>むつかしい感情になってしまった・・・うーん友情っぽくいくか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>なんでもサイコロに頼るな!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>手っ取り早くていいのよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>「あ!私は妖精使いですけど、色々アルバイトしてるので、色々できますよお」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「そうか、というか今はそんな世間話している状況なのか?」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>「うーんどうでしょうねえ、さっぱりです」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>話を進めてくれるPLの鑑</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>「とりあえず護衛任務は失敗なのでしょうか?」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>近くには入口らしきものが1つあるだけ?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>あとゴミがたくさんあります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>探索してもなにもでてこないです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「分かるのは任務どころじゃねえって事かな。というか状況把握したいところだ」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>食糧は?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>キャラシにかいてるでしょ?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>運んでた食糧もダメになってるの?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>もってないの?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>持ってるけd</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>それは大丈夫っていってた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クレイ</div><div class='col-sm-10 serif'>「幸い、進む道はあるようですぞ。」と出口っぽい穴を指さす</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>水袋がキャロライナさん頼みでわろた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>冒険者セットに入ってるしへーきへーき</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>セット含めて6個持ってる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>そして酒ばっかり持ってる</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>水はまあ魔法で何とかなるかなあっと</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「とりま先に進んでみるか?誰かほかの人がいるかも知れねえ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>べんりぃ～</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>「ですねえ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>では移動</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@クレイ</div><div class='col-sm-10 serif'>「(はう、リーダーっぽくてかっこいいたるぅ～)」ニヤニヤしながらついていきます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>「(なんか悪寒がするぜ)」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>みずら～</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>まあ最年長だし従う感じですねえ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>年は秘密だぞ♡</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>そーなのか</div></div>
        </section>
    </div>
{% endblock %}