{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/sww2-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-evi.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>※未編集</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>というわけで今日も生き残ることが出来ました!シナリオクリアおつかれさまでした</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おつかれちゃ～ん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>リザルト</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>おつかれー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ダン飯というか、食レポ大喜利SW的ななにか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>戦利品はドロップ品の共有メモを見て下さい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おお、結構儲かったんじゃない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>経験点はシナリオ成功で1000点、ロマン補正で500点、敵の経験点が400点の1900点</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>クレイとキャロライナは食レポ大賞250点を追加してください</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>能力値の成長は……</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>経験店欲しかったれす</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>肉とつる・葉*2と赤い果実使ってるんで……</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>エールも使ったぞい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>筋力、生命力、知力、精神力のどれか一つ好きなのを上げて下さい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>エールで成長しそうな能力値が思いつかなかった</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>想定外だと思うの……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>リザルトおしまい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>実際何があがるんじゃろうか……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>エールばっかり飲んでたら知力を下げてあげよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>これ以上知力下げられたら蛮族になってしまう……</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@キャロライナ</div><div class='col-sm-10 serif'>筋力にしよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>というわけで次回までに各自成長させといてください</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>買い物は不可ということで</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@ルルディ</div><div class='col-sm-10 serif'>精神力にするか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>らじゃあ。敏捷あげたかったなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>では飯!飯!飯!飯!の第一話「水源を求めて」はおわりです</div></div>
        </section>
    </div>
{% endblock %}