{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div class="container">
        <section>
            <div class="row warning">
                <div class="col-sm-12">
                    <p>WARNING: このリプレイは、同人シナリオ「<a href="http://www.toranoana.jp/mailorder/article/04/0030/44/45/040030444590.html" target="_blank">蕎麦屋 OF THE DEAD</a>」を使用しています。ネタバレが苦手、またはプレイ予定の方は閲覧をお控えください。</p>
                </div>
            </div>
        </section>
    </div>
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>オープニング</h2>
                    <p>今回皆さんにやってもらうタイトルは「蕎麦屋 OF THE DEAD」です</p>
                </div>
            </div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>ゾンビでてきそう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>死人は出なさそうだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>頑張って生き残りましょうね</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>がんばえ～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>エイエイオー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>続いて導入ですが・・・探索者たちは知り合いですか？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>知り合いのほうが都合が良いなら知り合いになる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>都合がいいですね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>人類皆知り合い</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あなた達は今旅行に来ています</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>友達かな？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>蕎麦同好会あたりが都合よさそう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>そうしよう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>蕎麦には不思議なパワーがあるので、問題ないですね</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>不思議なパワーないのなさそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あ！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>死んだ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あとあなた達の共通点として、<b>全員が蕎麦アレルギーです</b>。蕎麦を食べると死にます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>してやられたな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>残念ですが冒険はここで終わりのようです・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>料理人なのに</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>蕎麦愛好会(ALLアレルギー)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>一服盛られたようだ(盛りそば)・・・ふふ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>うどん同好会あたりにしようか（Take2</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>せやな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>なぜここにきた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>香川県なんでしょう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>これ、いたるところでそばを食べさせられるイベントがありそうだな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>お茶が蕎麦茶かもしれない、気をつけよう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>水道も怪しい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ではあなた達うどん同好会は、香川県でうどんの食べ歩きををしています</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「この辺においしいうどん屋があるっていう話、だったはず・・・」と地図を見ながらうろうろしよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いいね。では目当てのうどん屋を見つけました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「ふふ、私が作るうどんより美味しいうどんに会いたいですね」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まつ毛抜いてあげたい顔してる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'><b>まつげも食料だからダメ</b>だよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ヒエッ</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>「うどん人としては気になるね！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>しかしあなた達がうどん屋に入ろうとすると・・・急激な目眩に襲われ、意識が遠くなります。抵抗は無駄なので全員意識を失うのだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「クゥーン・・・」絶命</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>デデドン</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「たちくらっみでーす」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>うどんしか食べてなかったから・・・栄養失調かな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>糖尿病かも</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>やーねー</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        そして気が付くと、探索者は木製のテーブルに座り。<br>
                        手には和紙でできたお品書きが握られていた。<br>
                        何故ここに居るのか記憶をたどるが、まるで思い出すことが出来ない。<br>
                        唯一分かることはお品書きに掛かれた「蕎麦」の文字だけだ。<br>
                    </blockquote>
                </div>
            </div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>おもわず和紙でできたお品書きを鷲掴みにする(激うまギャグ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>うまい！そばだけに！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「これは・・そば！？」ブツブツブツ・・・アレルギー反応あり！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「そ、そばぁ！？」一回転宙返りして恐れおののきます</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>「そんなギャグマンガみたいに！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>気を失います</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では不可解な状況+蕎麦の文字に死を感じたあなた達は、SANチェック(0/1)だ！！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>思ったけど、このキャラ、まずSANチェックに成功しないと思った</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>CC<=60    Cthulhu : (1D100<=60) → 27 → 成功</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>CC<=20    Cthulhu : (1D100<=20) → 29 → 失敗</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>CC<=60    Cthulhu : (1D100<=60) → 85 → 失敗</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>CC<=60    Cthulhu : (1D100<=60) → 32 → 成功</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>へった。みんなSAN値多すぎない？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>コレが普通ですよ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>普通はこれくらい必要でしょうな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>料理人は芸術家みたいなものだし、SAN値低いのかも・・・？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>まあ大丈夫でしょう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「斬太郎さんしっかりして！」とお尻を叩きます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「せくはーら」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そして、あなた達は気づく、同じ席に見知らぬ女性が座っていることに</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>アイエェエ！ゲイシャ！？</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>たたりじゃ！祟りの仕業じゃ～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>その顔で騒がれるとこわいなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>暴れただけで地震が起こりそうな風貌</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@白井陽菜</div><div class='col-sm-10 serif'>「あれえ？ここはどこですかね～？私はなんでここにいるんでしょうかね～？」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「貴方は誰でーすか？」</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>「状況確認人としては気になりますね！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@白井陽菜</div><div class='col-sm-10 serif'>「私ですか？白井陽菜（しらい ひな）といいます、大学生です～」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'><b>かわったネックレスですね</b></div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'><b>チョーカーってやつじゃね？</b></div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「ああそういう・・・」といぶかし気な表情でひなを見ます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「オー囚人スタイルですか！ナウいですね～」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@白井陽菜</div><div class='col-sm-10 serif'>「あなた達は誰なんでしょうか？もしかして私誘拐されたりとか～？」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「正直今の状況がまったく理解できないでござるよ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'><b>キャラ崩壊しかけてるでござるよ</b></div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「ここはだれ？わたしはどこ？」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ彼女の状況は探索者と一緒です、いつの間にかここに居てわけがわからない状況です</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「・・・とりあえずここを出ましょうか。うどん食べたいですし」</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>「そういえばお昼時でしたもんね」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「そう！私たちはうどんを探しに来たの！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>「呼吸しただけで蕁麻疹が出て死にそう」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>そういえば斬太郎の包丁はそばをうどんにする能力がある（突然生えたエピック級の設定</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>勝ったな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>そろそろ握りつぶしたお品書きをみてみるか・・・蕎麦以外になんかかいてあるの</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>えーと、蕎麦オンリーですね天ぷらとか月見とか種類はありますが</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>天ぷらのみ食べていれば生存はできそうではある</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>多分同じつゆに使った時点でアウトだと思う</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>そば成分ついてるだけでダメな人はダメみたい！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>アレルギーは怖いぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>どうでもいいが<b>私はペ○ングを持ち込んでいる</b>ので少しだけ大丈夫だ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>薄めて配ろう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ペ○ング争奪戦でPvPが勃発しそう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>食糧問題はサバイバルのあるあるだからな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では、店内の状況を説明しましょう</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">店内の様子</p>
                        周囲は古き良き和風の店内だ、蕎麦の臭いが立ち込めている。<br>
                        人間は探索者たちのほかには、カウンター席にサラリーマンが一人座っているだけだ。<br>
                        左手に赤いのれんがあり外に通じているようだ。<br>
                        そして奥には白いのれんがあり厨房につながっているようだ。<br>
                        しかし厨房は暗くて中をうかがうことはできない。
                    </blockquote>
                </div>
            </div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お、人がいるのか？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>サラリマンに話しかけるか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「ちょっとそこのサラリマンさん～」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「（またナンパかしら・・・）」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@サラリーマン</div><div class='col-sm-10 serif'>「ん、何だねあんたらは？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>(サラリマンの立ち絵を見て)この人箸食ってる・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>SANチェック！！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ぎゃああああ！？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>したいなら止めないぞ</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>はし人だ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「いきなり失礼ですが、ここはどこでしょうか？」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では、切太郎が話しかけた瞬間、厨房から金属の落ちる音が聞こえた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>親方、空から鉄骨が！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あああああ！？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そして静まり返る店内に、ピチャピチャという水音と、ズルズルと何かが這いずる音が響く</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「ん？なんか音がしましたね。隠れましょうか」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>判断がはえええな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>処世術な</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>スタァーズ・・・とか言いながらどこまでも追いかけてくる感染者がいそう</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>「なんだかんだ、どーなってんだ！」と言いながら厨房に行こう！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>勇者が多いなこのPT</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>すげえな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>頼もしい限りだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>今のところ茶々入れしかしてない私と大違いだ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@サラリーマン</div><div class='col-sm-10 serif'>「？」不審に思ったのかサラリーマンが厨房の方に向かう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>サラリマンさん！？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ではサラリーマンと板倉がのれんに近ずくと・・・突如薄茶色の触手のようなものがサラリーマンに絡みつく！そしてそれらは勢いよく男の口内に飛び込んだ！！</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>「ぎょえ～～～！」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「ぎょえ～～～！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>ミミズ飯。式はひなちゃんと同一座標にいる</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        それは『蕎麦』だった。<br>
                        男は苦悶の表情を浮かべてもがいた後、体中から血と蕎麦をぶちまけて息絶えた。<br>
                        そしてぶちまけられた蕎麦は集まり、一つの形を形成する。<br>
                        そしてそこには蕎麦でできた人形が現れた。
                    </blockquote>
                </div>
            </div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ひえぇ・・・ソバおそろしいぞ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>見てない見てない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>亜人かな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ではこのような光景をみた探索者はSANチェック(1/1d8)だ！！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>CC<=60    Cthulhu : (1D100<=60) → 30 → 成功</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>CC<=60    Cthulhu : (1D100<=60) → 90 → 失敗</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>1d8    Cthulhu : (1D8) → 2</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>cc<=60    Cthulhu : (1D100<=60) → 12 → スペシャル</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>CC<=19 [SAN]    Cthulhu : (1D100<=19) → 63 → 失敗</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>1d8    Cthulhu : (1D8) → 8</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>aneko@贅沢斬太郎のSANを8減少（SAN    19->11）</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>「あー、あるある」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ぎゃああああああああ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>やってしまったな、斬太郎君は不定の狂気です</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>＾＾</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>にこ＾＾</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いきなり料理人が脱落する事態</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ狂気の内容を決めてね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'><b>そばが好きになる</b></div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そりゃおもろいな！？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>ここからアレルギー克服の波乱万丈物語</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>死んでからやり直す</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>おもにSAN値だけ変わればよい、五つ子だから後四人いるし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>だから太郎なんですね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>準備がいいね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>愛するものは殺すのでもっていた村正で切りかかろう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>それは困るので・・・１d10振ってくれ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>1d10    Cthulhu : (1D10) → 9</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>転換性障害: 体調不良をうったえ、同情を引こうとする。らしい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>わろた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>多分ですけど、同情をひかなくても我々そばアレルギー同志なんで大丈夫ですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'><b>まあ被害は少なそうだ</b>。では続けるぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「ううううう、そばが悪い、すべてそばが悪い、私が男なのも、末っ子なのも、年収低いのも！全て、全てそばが悪い！だから死ねーそばやろう！」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'><b>全然大丈夫そうじゃないな</b></div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>蕎麦に切りかかろう・・・てか、精神分析をしてほしいと思った。最高値でても不定の狂気だけど</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>やっぱ使えるんか精神分析</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>わりと落ち着いた状況でそれなりの時間がかかるんじゃなかったっけ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>最低一ヶ月、最高半年ぐらい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>使ってもいいし、使わなくてもいい。仕方ないから、一時的に正気に戻せるってことにしてあげよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>じゃあ、使ってみるか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>不定の狂気の精神分析に成功するとその日くらいは行動できるレベルに復活するはず</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>CC<=91 精神分析    Cthulhu : (1D100<=91) → 8 → <b>スペシャル</b></div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>すげえ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>完璧だっぜ！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>どこで使い方を習った？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>これはSAN値50になりますわ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>回復量+1してあげよう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「うーん、私は料亭のせがれ・・・はっ！」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「落ち着いて漸太郎さん！あなたにはまだ世界最高のうどんを作るという夢が！」と尻を叩きます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「いやな夢を見ていた。いや・・・心地よい夢だった」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>回復量は1d3+1でいいんか？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>1d3+1 回復太郎    Cthulhu : (1D3+1) → 3[3]+1 → 4</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>ありがたや</div></div>
            <div class="row comment">
                <div class="col-sm-2 name"></div>
                <div class="col-sm-10 serif">
                    <blockquote>
                        話は戻って・・・
                    </blockquote>
                </div>
            </div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@白井陽菜</div><div class='col-sm-10 serif'>「アイエエエエエ！何ですかあれえ！？私蕎麦はだめなんですー」といいながら陽菜は暖簾をくぐって外に出るぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>自由やなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>探索者はこの場に残るか外に出るか選んでね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>怖いから逃げよう！ひなちゃんまって～</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>すたこらさっさ！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>で、切太郎はどうする？逃げる？留まる？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'><b>やつをこ○すわ</b></div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>SAN値戻ってないみたいですねこれは・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ちなみに蕎麦人間はまだサラリーマンを食ってるので、逃げるなら追わないでしょう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>食ってるって敵対的っぽいのその蕎麦人間君</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあゾンビみたいなイメージでよろしく</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>逆に言うと今がきりつけチャンスだよね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ピンチはチャンス</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'><b>I CAN K*LL!</b></div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@蕎麦人間</div><div class='col-sm-10 serif'>「ソソソソ」と鳴きながらサラリーマンの肉を取り込んでるぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おそろしいぞ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>切太郎以外はどうしますか？式は逃げたんだったか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>ニゲルンダヨォ～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>板倉も逃走</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んじゃあ、漸太郎君の腕でもつかんで逃げるかあ、従うか振りほどくかは任せるわ>漸太郎</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「ば、ばかなこといってないで、逃げるよ！ほら！」むぎゅ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「なにをするんですか！」手つないで逃げよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ラブラブかな？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では全員食堂を出たという事で続けます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まだNPCをいけにえに捧げてないしね（暗黒微笑</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>まだこののれんの向こうが安全かどうかしらないけどね！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>こんだけ詳しいマップなんだ、まさかオワタ式なんてことはないはず（メタ読み</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>今のうちにスマホで蕎麦人間の弱点を調べるか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では全員がエリア1に逃げたところでハウスルールの説明をします</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">ハウスルール</p>
                        このシナリオの探索はラウンドで処理します。<br>
                        1ラウンドに1回のエリア移動と各自1回の探索が出来ます。<br>
                        またエリア移動時には蕎麦人間との遭遇判定があります。<br>
                        そして1ラウンドが終わると進行度が1上昇します。<br>
                        進行度が20を超えると BAD END になります。<br>
                        進行度はイベントによっても増減します。
                    </blockquote>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>こんな感じかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ふむふむ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>毎回隠れろということか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>進行度は余裕ありそうだけど、これ全員固まって移動する前提の説明ですよね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そうです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>そうなのか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>バラバラになると管理できないので</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>なら仕方がない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>詳しい内容をメモに張りました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>うおお、幸運ベースかぁ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>一人すごい足引っ張ってるやつがいるぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>SANが低いということは必然的に幸運も低い！まあ気にしてもしょうがないから行動しよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>NPCキャラもまだ出てきそうな感じだなぁ、これ</div></div>
        </section>
    </div>
{% endblock %}
