{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr class="divider">
                    <h2><span class="section-icon"></span>オープニング</h2>
                    <p>※一言プリーズ(なくてもいいよ)</p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ではシナリオタイトルから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>タイトルは「蕎麦屋 OF THE DEAD」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>です</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>ゾンビでてきそう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>死人は出なさそうだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>頑張って生き残りましょうね</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>がんばえ～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>エイエイオー</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>それはGMの裁量できまる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>続いて導入ですが…探索者たちは知り合いですか？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>知り合いのほうが都合が良いなら知り合いになる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>都合がいいですね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>人類皆知り合い</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あなた達は今旅行に来ています</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>問題なし</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>友達かな？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>蕎麦同好会あたりが都合よさそう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>そうしよう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>蕎麦には不思議なパワーがあるので</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>問題ないですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あ！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>死んだ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あとあなた達の共通点として、全員が蕎麦アレルギーです</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>蕎麦を食べると死にます</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>不思議なパワーないのなさそう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>してやられたな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>残念ですが冒険はここで終わりのようです・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>料理人なのに</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>蕎麦愛好会（ＡＬＬアレルギー）</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>うどん同好会あたりにしようか（Take2</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>せやな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>一服盛られたようだ(盛りそば)・・・ふふ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>なぜここにきた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>香川県なんでしょう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>これ、いたるところでそばを食べさせられるイベントがありそうだな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>お茶が蕎麦茶かもしれない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>気をつけよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ではあなた達うどん同好会は、香川県でうどんの食べ歩きををしています</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>水道も怪しい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「この辺においしいうどん屋があるっていう話、だったはず・・・」と地図を見ながらうろうろしよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いいね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>こんな感じやろ導入は・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では目当てのうどん屋を見つけました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「ふふ、私が作るうどんより美味しいうどんに会いたいですね」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まつ毛抜いてあげたい顔してる</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>「うどん人としては気になるね！」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>まつげも食料だからダメだよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ヒエッ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>しかしあなた達がうどん屋に入ろうとすると…急激な目眩に襲われ、意識が遠くなります</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「クゥーン・・・」絶命</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>抵抗は無駄なので全員意識を失うのだ</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>デデドン</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「たちくらっみでーす」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>うどんしか食べてなかったから・・・栄養失調かな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>糖尿病かも</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>やーねー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そして気が付くと、探索者は木製のテーブルに座り。手には和紙でできたお品書きが握られていた。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>何故ここに居るのか記憶をたどるが、まるで思い出すことが出来ない。唯一分かることはお品書きに掛かれた「蕎麦」の文字だけだ。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>おもわず鷲掴みにする</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>うまい！そばだけに！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「これは・・そば！？」ブツブツブツ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>アレルギー反応あり</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「そ、そばぁ！？」一回転宙返りして恐れおののきます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>気を失います</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では不可解な状況+蕎麦の文字に死を感じたあなた達は、ＳＡＮチェックだ！！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>それなんて読むの、タケシ？ジャイアン？タカシ？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>しき</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>「そんなギャグマンガみたいに！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>七田式っていくそ胡散臭い幼児教育の方法があって・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>それをそのまんま名前に・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>思ったけど、まずSANチェックに成功しないと思った</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ニコ！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>CC<=60    Cthulhu : (1D100<=60) → 27 → 成功</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>CC<=20    Cthulhu : (1D100<=20) → 29 → 失敗</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>CC<=60    Cthulhu : (1D100<=60) → 85 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>成功は損失0です</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>CC<=60    Cthulhu : (1D100<=60) → 32 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>失敗は１減らしてね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>やばそう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>へった</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>みんな多すぎない？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>コレが普通ですよ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>普通はこれくらい必要でしょうな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>料理人は芸術家みたいなものだし、SAN値低いのかも・・・？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>まあ大丈夫でしょう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「斬太郎さんしっかりして！」とお尻を叩きます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そして、あなた達は気づく、同じ席に見知らぬ女性が座っていることに</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>アイエェエ！ゲイシャ！？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>同一の座標にめりこんでいます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「せくはーら」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@白井陽菜</div><div class='col-sm-10 serif'>「あれえ？ここはどこですかね～？私はなんでここにいるんでしょうかね～？」</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>たたりじゃ！祟りの仕業じゃ～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>その顔で騒がれるとこわいなあ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「貴方は誰でーすか？」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>暴れただけで地震が起こりそうな風貌</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>「状況確認人としては気になりますね！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@白井陽菜</div><div class='col-sm-10 serif'>「私ですか？白井　陽菜（しらい　ひな）といいます、大学生です～」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>かわったネックレスですね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@白井陽菜</div><div class='col-sm-10 serif'>チョーカーってやつじゃね？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「ああそういう・・・」といぶかし気な表情でひなを見ます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「オー囚人スタイルですか！ナウいですね～」</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>色合いが似てる</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@白井陽菜</div><div class='col-sm-10 serif'>「あなた達は誰なんでしょうか？もしかして私誘拐されたりとか～？」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>親戚か何か？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「正直今の状況がまったく理解できないでござるよ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>キャラ崩壊しかけてるでござるよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「ここはだれ？わたしはどこ？」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ彼女の状況は探索者と一緒です、いつの間にかここに居てわけがわからない状況です</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「・・・とりあえずここをでましょうか。うどん食べたいですし」</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>「そういえばお昼時でしたもんね」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「そう！私たちはうどんを探しに来たの！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>「呼吸しただけで蕁麻疹が出て死にそう」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>そういえば斬太郎の包丁はそばをうどんにする能力がある</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>そろそろ握りつぶしたお品書きをみてみるか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>勝ったな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>蕎麦いがいになんかかいてあるの</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ではその前に店内の状況を説明しましょう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>アッはい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>えーと、蕎麦オンリーですね天ぷらとか月見とか種類はありますが</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>天ぷらのみ食べていれば生存はできそうではある</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>多分同じつゆに使った時点でアウトだと思う</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>そば成分ついてるだけでダメな人はダメみたい！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>アレルギーは怖いぞ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>周囲は古き良き和風の店内だ、蕎麦の臭いが立ち込めている。人間は探索者たちのほかには、カウンター席にサラリーマンが一人座っているだけだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>どうでもいいが私はペヤングを持ち込んでいるので少しだけ大丈夫だ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お、人がいるのか？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>薄めて配ろう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ペヤング争奪戦でPvPが勃発しそう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>食糧問題はサバイバルのあるあるだからな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>出口はないの？お店なんでしょたぶん、ここ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>左手に赤いのれんがあり外に通じているようだ、そして奥には白いのれんがあり厨房につながっているようだ。しかし厨房は暗くて中をうかがうことはできない</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>サラリマンに話しかけるか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いいね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「ちょっとそこにサラリマンさん～」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「（またナンパかしら・・・）」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@サラリーマン</div><div class='col-sm-10 serif'>「ん、何だねあんたらは？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>この人箸食ってる・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>SANチェック！！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ぎゃああああ！？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>したいなら止めないぞ</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>はし人だ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「いきなり失礼ですが、ここはどこでしょうか？」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では切太郎が話しかけた瞬間</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>厨房から金属の落ちる音が聞こえた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>親方、空から鉄骨が！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あああああ！？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そして静まり返る店内に、ピチャピチャという水音と、ズルズルと何かが這いずる音が響く</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「ん？なんか音がしましたね。隠れましょうか」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>判断がはえええな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>スタァーズ・・・とか言いながらどこまでも追いかけてくる感染者がいそう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>処世術な</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>「なんだかんだ　どーなってんだ！」と言いながら厨房に行こう！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>勇者が多いなこのPT</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@サラリーマン</div><div class='col-sm-10 serif'>「？」不審に思ったのかサラリーマンが厨房の方に向かう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>頼もしい限りだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>すげえな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>サラリマンさん！？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>隠れる振っていい？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ちょいまって</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>今のところ茶々入れしかしてない私と大違いだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ではサラリーマンと板倉がのれんに近ずくと</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>突如薄茶色の触手のようなものがサラリーマンに絡みつく！そしてそれらは勢いよく男の口内に飛び込んだ！！</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>「ぎょえ～～～！」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「ぎょえ～～～！」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>隠れている</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>ミミズ飯</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>ひなちゃんと同一座標にいる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>それは蕎麦だった、男は苦悶の表情を浮かべてもがいた後、体中から血と蕎麦をぶちまけて息絶えた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ひえぇ・・・ソバおそろしいぞ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そしてぶちまけられた蕎麦は集まり、一つの形を形成する</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>見てない見てない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>でも茶色の蕎麦ってなんだろ</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@蕎麦人間</div><div class='col-sm-10 serif'>そしてそこには蕎麦でできた人形が現れた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>えらいこっちゃ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>亜人かな</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@蕎麦人間</div><div class='col-sm-10 serif'>ではこのような光景をみた探索者はＳＡＮチェックだ！！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>CC<=60    Cthulhu : (1D100<=60) → 30 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>「あー、あるある」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>CC<=60    Cthulhu : (1D100<=60) → 90 → 失敗</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ぎゃああああああああ</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>cc<=60    Cthulhu : (1D100<=60) → 12 → スペシャル</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>隠れては。。。ないんですか？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>まあどうせみるか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>キリたろうだけは死活問題</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>CC<=19 [SAN]    Cthulhu : (1D100<=19) → 63 → 失敗</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@蕎麦人間</div><div class='col-sm-10 serif'>成功は1、失敗は１ｄ8です</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>1d8    Cthulhu : (1D8) → 8</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>aneko@贅沢斬太郎のSANを8減少（SAN    19->11）</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@蕎麦人間</div><div class='col-sm-10 serif'>やってしまったな</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>＾＾</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>不定の狂気です</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ああ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>にこ＾＾</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@蕎麦人間</div><div class='col-sm-10 serif'>アイディアどうぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>1d8    Cthulhu : (1D8) → 2</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>アイディア関係ないぞよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>不定だから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>一時的発狂と不定の狂気を同時発症はしないんだっけか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>よくわからない</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@蕎麦人間</div><div class='col-sm-10 serif'>じゃあ狂気の内容を決めてね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いきなり料理人が脱落する事態</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>そばが好きになる</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@蕎麦人間</div><div class='col-sm-10 serif'>ここまでホットスタートになるとは思わなかった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そりゃおもろいなｗ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>ここからアレルギー克服の波乱万丈物語</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>愛するものは殺すのでもっていた村正で切りかかろう</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>死んでからやり直す</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@蕎麦人間</div><div class='col-sm-10 serif'>それは困るので…１ｄ10振ってくれ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>1d10    Cthulhu : (1D10) → 9</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>おもにSAN値だけ変わればよい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>五つ子だから後四人いるし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>だから太郎なんですね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>準備がいいね</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@蕎麦人間</div><div class='col-sm-10 serif'>転換性障害　体調不良をうったえ、同情を引こうとする。らしい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>わろたｗ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>多分ですけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>同情をひかなくても我々そばアレルギー同志なんで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>大丈夫ですね</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@蕎麦人間</div><div class='col-sm-10 serif'>まあ被害は少なそうだ</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@蕎麦人間</div><div class='col-sm-10 serif'>では続けるぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「ううううう、そばが悪い、すべてそばが悪い、私が男なのも、末っ子なのも、年収低いのも！全て、全てそばが悪い！だから死ねーそばやろう！」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>全然大丈夫そうじゃないな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@白井陽菜</div><div class='col-sm-10 serif'>「アイエエエエエ！何ですかあれえ！？私蕎麦はだめなんですー」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>蕎麦に切りかかろう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@白井陽菜</div><div class='col-sm-10 serif'>といいながら陽菜は暖簾をくぐって外に出るぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>自由やなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>探索者はこの場に残るか外に出るか選んでね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>精神分析をしてほしいと思った</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>やっぱ使えるんか精神分析</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>怖いから逃げよう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>最高値でても不定の狂気だけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>ひなちゃんまって～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>使ってもいいし、使わなくてもいい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ルール読んでくる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ルール読んでくる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>わりと落ち着いた状況でそれなりの時間がかかるんじゃなかったっけ</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>すたこらさっさ！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>最低一ヶ月、最高半年ぐらい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>一時的に正気に戻せるってことにしてあげよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>じゃあ、使ってみるか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>不定の狂気の精神分析に成功するとその日くらいは行動できるレベルに復活するはず</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>CC<=91 精神分析    Cthulhu : (1D100<=91) → 8 → スペシャル</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>すげえ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>完璧だぜ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>これはSAN値５０になりますわ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>回復量+1してあげよう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>どこで使い方を習った？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「落ち着いて漸太郎さん！あなたにはまだ世界最高のうどんを作るという夢が！」と尻を叩きます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>メタい話するとSANで死ぬのは本望じゃないでしょ？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「うーん、私は料亭のせがれ・・・はっ！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ死ぬときは死ぬスタンスで頑張ってくれ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>小腹がすいたな、蕎麦でも食うか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「いやな夢を見ていた。いや・・・心地よい夢だった」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>まだ目がぐるぐるしてる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>で、切太郎はどうする？逃げる？留まる？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>回復量は1d3+1でいいんか？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>1d3+1 回復太郎    Cthulhu : (1D3+1) → 3[3]+1 → 4</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>ころすわ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>SAN値戻ってないみたいですねこれは・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>ありがたや</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ちなみに蕎麦人間はまだサラリーマンを食ってるので、逃げるなら追わないでしょう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>食ってるって敵対敵っぽいのその蕎麦人間君</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあゾンビみたいなイメージでよろしく</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>逆に言うと今がきりつけチャンスだよね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ピンチはチャンス</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>I can kill!</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@蕎麦人間</div><div class='col-sm-10 serif'>「ソソソソｓ」と鳴きながらサラリーマンの肉を取り込んでるぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おそろしいぞ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>切太郎以外はどうしますか？式は逃げたんだったか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row jem'><div class='col-sm-2 name'>jem@板倉仮</div><div class='col-sm-10 serif'>ニゲルンダヨォ～</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>んじゃあ、漸太郎君の腕でもつかんで逃げるかあ、従うか振りほどくかは任せるわ>漸太郎</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ルミ</div><div class='col-sm-10 serif'>「ば、ばかなこといってないで、逃げるよ！ほら！」むぎゅ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>板倉は逃走と</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>「なにをするんですか！」手つないで逃げよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ラブラブかな？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では全員食堂を出たという事で続けます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まだNPCをいけにえに捧げてないしね（暗黒微笑</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>まだこののれんの向こうが安全かどうかしらないけどね！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>こんだけ詳しいマップなんだ、まさかオワタ式なんてことはないはず（メタ読み</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>今のうちにスマホで蕎麦人間の弱点を調べるか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では全員がエリア１に逃げたところでハウスルールの説明をします</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ひでぇｗ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>えーとこのシナリオの探索はラウンドで処理します、１ラウンドに１回のエリア移動と各自１回の探索が出来ます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>またエリア移動時には蕎麦人間との遭遇判定があります</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ふむふむ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そして１ラウンドが終わると進行度が１上昇します。進行度が20を超えるとＢＡＤＥＮＤになります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>進行度はイベントによっても増減します。こんな感じかな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>毎回隠れろということか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>進行度は余裕ありそうだけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>これ全員固まって移動する前提の説明ですよね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そうです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>そうなのか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>バラバラになると管理できないので</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>なら仕方がない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>詳しい内容をメモに張りました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>うおお、幸運ベースかぁ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@式</div><div class='col-sm-10 serif'>一人すごい足引っ張ってるやつがいるぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>SANが引く憂いということは必然的に幸運も低い</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@贅沢斬太郎</div><div class='col-sm-10 serif'>まあ気にしてもしょうがないから行動しよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>NPCキャラもまだ出る漢字なんかなあ</div></div>
        </section>
    </div>
{% endblock %}
