{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div class="container">
        <section>
            <div class="row warning">
                <div class="col-sm-12">
                    <p>WARNING: このリプレイは、同人シナリオ「<a href="http://www.toranoana.jp/mailorder/article/04/0030/44/45/040030444590.html" target="_blank">蕎麦屋 OF THE DEAD</a>」を使用しています。ネタバレが苦手、またはプレイ予定の方は閲覧をお控えください。</p>
                </div>
            </div>
        </section>
    </div>
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>エンディング</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        蕎麦人間が倒れ、生き残った者たちが喜びをかみしめていると・・・。<br>
                        のれんをくぐって食堂に入ってくる人影があります。
                    </blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>斬るか</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>包丁や鈍器をもった集団が目の前に・・・</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@?????</div>
                <div class='col-sm-10 serif'>「・・・」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@?????</div>
                <div class='col-sm-10 serif'>そしてその人影を見た幾蔵が話しかけます</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@利根川幾蔵</div>
                <div class='col-sm-10 serif'>「もしかして・・・たかしなのか？」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@たかし</div>
                <div class='col-sm-10 serif'>「親父」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>感動の再開シーン（縛られた男と防護服の男編）</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>なけるわー</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@利根川幾蔵</div>
                <div class='col-sm-10 serif'>「たかし・・・俺は、俺は・・・」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@たかし</div>
                <div class='col-sm-10 serif'>「もういい、いいんだ親父」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@たかし</div>
                <div class='col-sm-10 serif'>見つめあう二人</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@たかし</div>
                <div class='col-sm-10 serif'>「親父、完成したんだろ？例の蕎麦」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>（空気読んで無言になろう）</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@利根川幾蔵</div>
                <div class='col-sm-10 serif'>それを聞くと幾蔵は素早く盛蕎麦人間の死体を回収すると、慣れた手つきで茹で始めた</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>ぎっくりは？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>しー！しー！</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@利根川幾蔵</div>
                <div class='col-sm-10 serif'>そしてたかしに一杯のかけそばを差し出した</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>まずマウスで試そうよ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@式</div>
                <div class='col-sm-10 serif'>マウスがかわいそう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>動物実験は基本</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@たかし</div>
                <div class='col-sm-10 serif'>おそるおそるそのそばを口に入れるたかし</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@たかし</div>
                <div class='col-sm-10 serif'>「うっ！」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>かなしいなぁ・・・</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@たかし</div>
                <div class='col-sm-10 serif'>「美味い！美味いよ！！親父！！！」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>にっこり</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@たかし</div>
                <div class='col-sm-10 serif'>そして涙を流しながら抱き合う幾蔵とたかし</div>
            </div>
            <div class='row jem'>
                <div class='col-sm-2 name'>jem@板倉仮</div>
                <div class='col-sm-10 serif'>「帰れるようになったのかな！」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@たかし</div>
                <div class='col-sm-10 serif'>あ、外の霧はもう晴れてますね</div>
            </div>
            <div class='row jem'>
                <div class='col-sm-2 name'>jem@板倉仮</div>
                <div class='col-sm-10 serif'>「さぁ！うどん食べに行きましょ～」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>やはりうどんだね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>すごい平常運転だな・・・</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@利根川幾蔵</div>
                <div class='col-sm-10 serif'>「ありがとう、お前たちには感謝してもしきれねえ」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@利根川幾蔵</div>
                <div class='col-sm-10 serif'>幾蔵は君たちに向き合うとそういって頭を下げた</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>IKZO・・・消えるのか・・・？</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@利根川幾蔵</div>
                <div class='col-sm-10 serif'>「せめてもの感謝のしるしだ受け取ってくれ」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@利根川幾蔵</div>
                <div class='col-sm-10 serif'>そういうと幾蔵は鮮やかな手つきで蕎麦を料理し始める</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@利根川幾蔵</div>
                <div class='col-sm-10 serif'>そして探索者たちの持っていた食材を使い見事な蕎麦を完成させた</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>温泉は食材だった</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@式</div>
                <div class='col-sm-10 serif'>だしがきいてるからね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>勝手に人のモノを料理したのか！うどんに使おうと思っていたのに！</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@利根川幾蔵</div>
                <div class='col-sm-10 serif'>「完成だ！長いもキツネ鴨南蛮肉山菜ネギ蕎麦だ！！」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@式</div>
                <div class='col-sm-10 serif'>ジジイの懐で温めたネギだぞ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>もわっ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>おえっ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@利根川幾蔵</div>
                <div class='col-sm-10 serif'>そうして人数分の蕎麦が置かれる</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@白井陽菜</div>
                <div class='col-sm-10 serif'>「わあおいしそうです！！」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>キサマァ！イキトッタノカァ！</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>毒見役がいた</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@マー君とミーちゃん</div>
                <div class='col-sm-10 serif'>「蕎麦なんて生まれて初めて食べるよ」</div>
            </div>
            <div class='row jem'>
                <div class='col-sm-2 name'>jem@板倉仮</div>
                <div class='col-sm-10 serif'>そういや蕎麦人間はゆでたら食えるとかいう話あったなぁ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>それが目的だしね</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>温泉で食べてたね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>むしろ温泉の効能で蕎麦アレルギーが治った可能性も・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>そして陽菜とマー君は思い出したように荷物の中から、「天かす」とレトルトカレーを取り出すと全員のそばにかけていった</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@白井陽菜</div>
                <div class='col-sm-10 serif'>「私たちでもこのくらいの手伝いは出来るんです」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@マー君とミーちゃん</div>
                <div class='col-sm-10 serif'>「これは僕らの感謝の気持ちなんだな」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>やめい</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>うわぁ！やめろぉ！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@式</div>
                <div class='col-sm-10 serif'>わざわざ蕎麦に生命を吹き込んでから食料にする人間のクズ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>実際目の前で自分が作った料理にトッピングされたら泣くわ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>さて皆さんの目の前にはおいしそうな蕎麦がありますどうしますか？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>さて・・・食べていいものなのか否か</div>
            </div>
            <div class='row jem'>
                <div class='col-sm-2 name'>jem@板倉仮</div>
                <div class='col-sm-10 serif'>「まずは私が毒見を！」ずずずずずっずず</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>板倉ーーー！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>では食べた人は生まれて初めてたべる美味しい蕎麦に感動します。めちゃくちゃうまいですね！のど越しも歯ごたえも最高です</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>「美味すぎる・・・犯罪的だ！！」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ルシ</div>
                <div class='col-sm-10 serif'>ルシはちょっと食べられんかなぁ。妹の仇だから・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@式</div>
                <div class='col-sm-10 serif'>まずそうだから食べない。レトルトカレー味じゃん・・・、レトルトカレー蕎麦だよ・・・！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ではルシと式が蕎麦に手を付けずにいると・・・それぞれの蕎麦がひとりでに動き出し口の中に飛び込んできます</div>
            </div>
            <div class='row jem'>
                <div class='col-sm-2 name'>jem@板倉仮</div>
                <div class='col-sm-10 serif'>HIEEEEEEEE</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>呪いのソバやんけえええええうわああああ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ルシ</div>
                <div class='col-sm-10 serif'>「もごご！もごもごご！！」死亡</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@式</div>
                <div class='col-sm-10 serif'>CCB<=43 SANチェック Cthulhu : (1D100<=43) → 50 → 失敗</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@式</div>
                <div class='col-sm-10 serif'>1d100 Cthulhu : (1D100) → 83</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@式</div>
                <div class='col-sm-10 serif'>C(43-83) Cthulhu : 計算結果 → -40</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>宇宙的脅威に出会ってますねこれは・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>「口のなかに芳醇な蕎麦の香りとのど越しを感じとても美味でした」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>こうしてみんなで美味しい蕎麦を食べ、この事件は大団円で幕を閉じます</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>以上でシナリオは終了です、お疲れ様でした！！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おつかれちゃ～ん、楽しかったで！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@式</div>
                <div class='col-sm-10 serif'>おつカニ</div>
            </div>
            <div class='row jem'>
                <div class='col-sm-2 name'>jem@板倉仮</div>
                <div class='col-sm-10 serif'>おちゅおちゅ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>おつかれさまです</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>感想戦</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>集めた食材により最後の蕎麦が豪華になるというのがアイテムの意味でした</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>豪華・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>このあとのSAN回復とかする？</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>しても救いはない</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>まあね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@式</div>
                <div class='col-sm-10 serif'>14ってすごいですね</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>最後SANチェック失敗してたらまだ戦闘してそう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>斬太郎君いなかったらやぁヴぁかった</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>最終戦は蕎麦切使える人がいないと詰むからね、リプレイでもここで一人死んだし</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>なにか質問とかある？謎の答えとかは全部出せたと思うけど</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>謎もだいたい全部出てきた感はあるな。なんで旅館が舞台なのってのは疑問だった</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>元旅館じゃなかった？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あ、そういうことか。従業員がちらほらいたけど、あれは元旅館の・・・みたいな話なのか？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>単純に蕎麦屋が旅館にあって、旅館がつぶれた後も蕎麦屋は続けてただけですね</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>客室はいま従業員の部屋っていってたし</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>一大蕎麦アミューズメントパーク・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@式</div>
                <div class='col-sm-10 serif'>つぶれてしまえ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>従業員はいないぞ、幾蔵だけで。途中であったＮＰＣは全員蕎麦人間に召喚され犠牲者です。全員探索者と同じように気が付いたらここに居ただけです</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ははん一般ピーポーだったか・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>普通は蕎麦アレルギーの人は蕎麦屋で働かんしな</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>ふつうはね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@式</div>
                <div class='col-sm-10 serif'>ランダムイベント表はなにがおきるんです？人生で一度も振らなかったけど</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>なんかお菓子もらった記憶がある</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>色々だけど詳しくはメモ表にはったぞ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>12の適当さよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>だって時間を戻す方法って無いじゃん</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ヨグ様なら仕方がないよね・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@贅沢斬太郎</div>
                <div class='col-sm-10 serif'>そこに吉良義景がおるじゃろ？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>残念ながら殺人鬼はNG</div>
            </div>
        </section>
    </div>
{% endblock %}
