<Files ~ "\.(json|lock|md|twig|gitignore|sql|sqlite3)">
  deny from all
</Files>

<Files ~ "Provider">
  deny from all
</Files>

<IfModule mod_rewrite.c>
#    Options -MultiViews
    DirectoryIndex index.php

    RewriteEngine On
#    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
