{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>社の導入</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>先ずは今回のメイン依頼をしますので社さんから</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>れでぃーふぉあくしょん。探偵事務所にでもいればいい?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>貴方の事務所に依頼が入りますね、それで直接あってお願いしたいので屋敷に来てほしいと</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>始まりは突然に</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「かしこまりましたッス!」他に仕事もないので、二の返事で承諾します</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ちなみに名前は稗葉 金治(ひえば きんじ)と名乗ります</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>その名前にピンときちゃったりする?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ピンと来るには知識が必要だ、振ってくれ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>CCB<=95 知識</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D100<=95) → 87 → 成功</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「ピンッときたッス!」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>知識高いね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>それしかないともいう・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>わしの知識の倍以上あるよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ではあなたは稗葉 金治を知ってますね</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">稗葉 金治</p>
                        この街でも有数の資産家、丘の上の屋敷に住んでいる。<br>
                        72才の老人。<br>
                        かなりの読書家でもある。
                    </blockquote>
                </div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なるほど・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>爆破するか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>警察召喚するぞ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>(おいしい古本ゆずってもらうッス!)ルンルン気分でお屋敷に向かおう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>今更だがかなり読書家の天敵設定だな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>やだなぁ、勝手に食べたりしませんよぉ^^</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>文庫本一冊がどれくらいのカロリーになるの?お茶碗いっぱいくらい?</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>3日は活動できるはず(当社比</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>燃費いいな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>探偵ですから(真顔</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>じゃあ屋敷に移動しました。屋敷のイメージは張ってある通りです。ちなみに屋敷の見た目を詳しく知りたければ、歴史、人類学、機械修理で調べれます</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>記念館っぽい雰囲気あります。歴史なかった・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>まあ振っても振らなくてもいい</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>歴史は持ってるにのまえさんにゆずります。屋敷の入口で倒れてればいいんだっけ?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>普通にインターホン鳴らして入ってもらえればいいですね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「※ぽんぴーん」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>では使用人が現れて応接室に案内します</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>通されましょう。部屋に置いてある本棚にでも釘付けにされておこうと思ったら、和風やないか!?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>恵方巻き出てきそう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>まああくまでイメージですので。では応接室に入ると既に一人の老人が舞っています</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@稗葉金治</div>
                <div class='col-sm-10 serif'>「ようこそいらっしゃいました、社様」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「いえいえ、そんな本日はお日柄もよく、当探偵社ご利用いただきまことに(うんぬんかんぬん)」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>(金治の立ち絵を見て)首だけとはたまげるなあ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>良い画像がなかったのよね。割と太ってて福耳の老人らしいです</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>これは正気度へりますねえ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>もうSANチェックですか・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>だってこれ神話生物でしょ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ある意味ね。そういえば室内描写忘れてた</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">稗葉金治の屋敷</p>
                        屋敷の中は一見和風に見えるが、所々洋風の装飾もあり、ひそかに中華風の装飾もされていた
                    </blockquote>
                </div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>わぁ!ようせっちゅうですな!</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>さらにアイディアも振ってもらいたい</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>CCB<=50 アイディア</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D100<=50) → 82 → 失敗</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>かなしい・・・あとの二人に任せた・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>元気をだして。ぼくはアイデアも低いです。知能は・・・ない</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ではそれ以外には気が付かなかった</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@稗葉金治</div>
                <div class='col-sm-10 serif'>「さっそくで悪いが依頼の話をさせてもらってもいいかな?」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「もちろんッス!」と手帳を開きます。会話風でもいいし、要約でもいいのよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>では金治は1冊のノートとカードを取り出す</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@稗葉金治</div>
                <div class='col-sm-10 serif'>「実はこれらの持ち主を探してほしいのだ」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「ノートとカード・・・ッス?」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>手に取って見ても平気?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>いいよ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>じゃあ、しげしげと眺めましょう。ぺらぺらぺら～</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>徐にたべはじめそう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>よだれでもたらそうかなって思っていたところだ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>どっちを調べる?</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>ぺらぺらいっちゃったから、ノートを読みます</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ノートは日本語で書かれているが、正確に内容を読むには日本語の3倍でロールしてくれ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>今読まなくてもいいなら、読まないでいいや。他の2人待たせるのも悪いし。あ、読まなきゃいけないなら読むよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ふむ、まあ後からでも読めるよ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>母国語ってベースいくつだっけ、60?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>知識とおなじ。つまり私の日本語力は40</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>あ、そうなのか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>とすると自動成功だな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>そりゃありがたい、速読しちゃった呈でよろしくぅ～</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>本を食べたらその内容を瞬時に理解する能力とかどう</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>いいね。言語無視はでかい。腹下しそうだけど</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ドォラエモオオオオオオオにありましたねそんな秘密道具。しかしここで証拠品を食べちゃったら物語が終わってしまうのでは・・・</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">ノートの中身</p>
                        恐ろしい怪物グールに関する生態記録だった。<br>
                        彼らのおぞましい食事描写や儀式、彼らとの接触方法に関する知識などだ。<br>
                        ただし明らかに書きかけであり、魔術の知識などは乗っていない<br>
                        内容的には、ハードゴアな小説ともとれる
                    </blockquote>
                </div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>イヤダアアアア、じゃあノートの内容を読んで眉でもひそめましょうか</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@PL</div>
                <div class='col-sm-10 serif'>黒歴史ノートじゃん・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>ひらがなで「僕の考えたぐーる」って書いてそう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>SANチェックをお願いします</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>SANは50しかないのかぁ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>CCB<=50 SANC</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D100<=50) → 53 → 失敗</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>じゃあ1減らしてね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>※少し気持ちが悪くなりました</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@稗葉金治</div>
                <div class='col-sm-10 serif'>「実はこの2つは拾いものでしてな、私はぜひともこのノートの持ち主と話してみたいのですよ」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「これは・・・悪趣味な創作ッス?」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@稗葉金治</div>
                <div class='col-sm-10 serif'>「確かに悪趣味かもしれんが、タダの創作にしては非常に描写が生き生きしている!さらに場面描写もまるで見て来たかのように鮮明なのだ!!素晴らしいと思いませんか?」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>金治はひじょうに興奮してノートの内容を褒めていた</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「(ス、スバラシイッスかねぇ・・・)ソ、ソウッスネ」と若干引き気味で</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>金持ちって刺激が欲しい生き物なんかね</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@稗葉金治</div>
                <div class='col-sm-10 serif'>「私はぜひともこれを書いたものと話をして見たいのです!!」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「なるほど、なんとなく話が見えてきたッス」</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">ノートの中身2</p>
                        ノートは日本語で書かれているが、ノートの内容は誤字脱字が非常に多かった。<br>
                        いわゆる「てにをは」が間違っており、漢字もかなり間違っている。<br>
                        加えてそれらの間違い部分は赤ペンでチェックされており、「ここは違う!」とか「お前の頭はトム以下か!!」とか書かれている。
                    </blockquote>
                </div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なるほど?かいた人物が日本人じゃないか、正気じゃないかって感じかな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「(見たところ、小学生が書いて、先生が添削したって感じッスカネ)」とぺらぺらしながら 思いました</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@稗葉金治</div>
                <div class='col-sm-10 serif'>「というわけで是非とも探して頂きたいのです、報酬は弾みますよ!」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>あ、トムはそんなに重要じゃないです</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>重要じゃないのね、唯一出た名詞だから重要なのかと思ってた</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>え、まじ・・・</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>トムを探す冒険の物語が、今はじまる―――</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>まあよっぽど変な行動しない限り、今回はトム出ないしね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「わかりましたッス、この案件、お任せくださいッス!」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>あ、そうだ、ちなみにノートを拾った場所は長伝寺っていうお寺です</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なんて読むの、ナガデンジ?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>チョウデンジ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>スパロボみたいな名前のお寺</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>超電磁、メモしとこう</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>かっこいい</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>さっき渡されたカードって調べられたん?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>調べてもいいよ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>じゃあ、ついでに調べとくよ、アイディア?知識?電脳操作?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>地質学</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>超古代出土品のカードかなにか?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>歴史、生物学、博物学かな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ない!くそうないぜ!合流してからにします・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>まあ最悪食べれば理解できるから</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おお、そうか書籍が食べられるなら、カードも食べられるね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>かなり古い紙に様々な言語で何か書かれてるって感じだね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>アーティファクトなんだよなぁ・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ならばアイディアでもいいよ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>CCB<=50 アイディア</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D100<=50) → 42 → 成功</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>※少しかじってみました</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>なつかしの味</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>知識は得られましたか・・・・?</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">古い図書カード</p>
                        ではあなたはそのカードに似たものを昔どこかで見たような気がしました。<br>
                        図書館で使う図書カードに似ているなと思いました。<br>
                        内容は英語とかドイツ語とかその他とか様々な言語で書かれている。
                    </blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>ぽ○モンカード?</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「(この味は・・・むかしどこかで・・・)」回想編が始まる</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>回想編はアンケートが下がるのでNG</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>そんなぁ;;</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>描き手の問題では?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>無尽蔵に広がる図書館はやめてくれ。図書館利用証じゃなくて図書カードなのはなにか強い思い入れがあるのですか?</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>貸出カード的なのをイメージしてたけど、利用証なんかな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>貸出カードだよ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>貸出カードってことは、そのカードにトムの名前が載っている可能性が微レ存・・・?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>まあ名前欄はあるね英語だけど</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>まりの導入</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>では会社のオフィスにて、まりの元に一人の女性がきました</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@後輩</div>
                <div class='col-sm-10 serif'>「まり先輩助けてくださーい」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>「あら、どうしたの後輩ちゃん」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@後輩</div>
                <div class='col-sm-10 serif'>「実は班長から、取材に行って来いって言われたんですけどね、それがなんと狼男の取材なんっすよ」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>いったいどんな職場にいるんだろう・・・ム〇?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>ム〇編集部か・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>まあ都市伝説とか特集してる感じです</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@後輩</div>
                <div class='col-sm-10 serif'>「でもあたし、犬アレルギーじゃないですかあ?もうマジ無理って感じなんですよ」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>後輩ちゃん仕事なめてるから一発ヤキいれてこ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>「狼を犬と思っちゃダメ、ライオンだって猫と思わないでしょ?」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>猫は近づくとアレルギー反応がでるけど、ライオンだとそんなことないし</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なんて賢い先輩なんだぁ(恍惚</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ネコ科だよ奴は</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@後輩</div>
                <div class='col-sm-10 serif'>「なんで先輩!どうか変わってもらえませんか!?」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>「がんば♡」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@後輩</div>
                <div class='col-sm-10 serif'>「そこを何とかお願いしますよお!」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>(はいを選ぶまでループします)</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なんてこったい・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>日本史ジャーナリストって書いたはずなのに</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>まあ雑誌内の日本史コラム担当なんでしょ普段は</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>怪しげな民話とかも詳しそう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>ムー大陸と日本をこじつけてそう</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>「はあ・・・今回だけよ。次回までには犬アレルギー治しとくように。宿題ね」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>治るのか!?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>次はねえよって言ってるんですよ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>コワイ!</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@後輩</div>
                <div class='col-sm-10 serif'>「はあい!さすが先輩です!!」</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">まりへの取材依頼</p>
                        長伝寺って寺で夜中に狼男を見たって目撃証言が何件か送られてきた。<br>
                        その確認取材にいってほしい。
                    </blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>まあそういうこと</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>超電磁狼男か・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>毛皮が尖ってそう、砂鉄をまとって高い防御力も持つ</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>トムの導入</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>じゃあ最後はトムの番です。本当にトムなのか?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>はい、トムです</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>僕らはトムの子供さ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>トムだな(確信</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>では職場にいたトムの肩が叩かれます</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>リストラ?</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>ぶるぶる</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>警察ってリストラあるのかな</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>直接的なのはないと思うけど・・・</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@部長</div>
                <div class='col-sm-10 serif'>「やあトム君ちょっといいかな?」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>「?」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@部長</div>
                <div class='col-sm-10 serif'>「ちょっと不審者の通報があってね、様子を見て来て欲しいんだ」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>「!」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>やはり二枚目は目で語るよね、いやあ、クールだなぁ(恍惚</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@部長</div>
                <div class='col-sm-10 serif'>「場所は長伝寺で、昨日の夜にフードを被った大柄で毛深い男が4つんばいになって徘徊していたらしい」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>こいつ相当変態だぜ?</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>それ一人で大丈夫ですか?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>「・・・。」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@部長</div>
                <div class='col-sm-10 serif'>「もうかなり怪しいので早急になんとかしてくれたまえ」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>「???」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>トムは大丈夫なのか</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>この部長と話したくないんじゃない?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>ソロ活する警察官なんて・・・いるのか?</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>刑事ものとかわりといるよね。敏腕ベテラン刑事がほら、1人で独断専行して、ほら</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>刑事って大体ソロじゃない?</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>むしろ働きすぎてるイメージ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>刑事じゃないよ?</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なんだって!?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>刑事じゃなくてもいいから行きなさいな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>国家公務員にとって上官命令は国からの命令も同じ・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>まあ私の本当の上官は上海にいるんですけどね・・・おっと口が滑った</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>マジで国籍どうなってんの</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@部長</div>
                <div class='col-sm-10 serif'>「ほらほら、ボーっとしてないで、働きなさい」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>じゃあ警棒とピストル持っていくか・・・</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@部長</div>
                <div class='col-sm-10 serif'>「それ、前みたいに売り払ったら始末書ね」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム</div>
                <div class='col-sm-10 serif'>官給品のピストルを使うと始末書書かされるから上官に貰ったトカレフを使おう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>・・・まあこんな感じで探索者は集うわけですな</div>
            </div>
        </section>
    </div>
{% endblock %}
