{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>ダグラスと図書館</h2>
                    <p></p>
                </div>
            </div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>ダグラスについて竹藪に入ると、そこには一つのドアがありました</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>そのドアはポツンとそこに立っており、どこかにつながっている様子は有りませんでした</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>「さてこの中だが…入る前に一つ言っておこう、心を強く持ちなさい」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>何番目かの柱に突進すると異世界につながってる感じですね、わかります</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>まあまさにそんな感じです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>魔法覚えれそう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>扉をくぐるとあなた達はいつの間にか室内にいました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おお・・・しゅんごい背景画像まで用意してあるとは</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>そこは図書館と呼ぶのにふさわしい場所でした、辺り一面は本棚であり通路の壁もすべて本棚でした</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>「まあ、壮観・・・」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「(生唾を飲む)」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>この奇怪な現象に遭遇した探索者はSANちぇックをどうぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>CCB<=60 [SAN]</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>Cthulhu : (1D100<=60) → 54 → 成功</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>CCB<=44 SANC</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>Cthulhu : (1D100<=44) → 70 → 失敗</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>日常茶飯事なんだよなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>あはあああああん</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>減少は1d3ね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>成功は0で</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>1d3 SAN減少</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>Cthulhu : (1D3) → 1</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>44 -> 43</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>さらにアイディアを振ってもらおうか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>※あやうく正気を失い、手当たり次第に本を食べ始めるところでしたが、思いとどまりました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>CCB<=60 [アイディア]</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>Cthulhu : (1D100<=60) → 49 → 成功</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>さすまり</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>やった</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>ではアイディアに成功したものは図書館の奇妙さに気が付きます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>天井がないとか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>実はほんの背表紙が偽装してあり、中身は・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>例えば2階の位置にドアがあるのにそこへの階段がなかったり、天井にドアがついていたり、壁に向かって進む階段があったり、どこにもつながっていない螺旋階段があったりあしますね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>インテリアでしょ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>実に異界っぽい感じでよろしい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>と思って感心して、この画像出されたらただの欠陥じゅ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>イメージ的にはこんな感じ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>ただの欠陥住宅か</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「(増改築に失敗して、こうなっちゃったんスネ)」とあきれます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>さらにここで歴史かオカルトか芸術か人類学をふれるよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>CCB<=95 [歴史]</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>Cthulhu : (1D100<=95) → 36 → 成功</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>つよい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ではマリはこの手法が「超芸術トマソン」と呼ばれる実在する芸術手法であり、イギリスのとある資産家の立てた「ウィンチェスターハウス」に似てると思いました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あれ、欠陥住宅じゃない!?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ自分も理解は出来ないけど、芸術らしいよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>「あ、あれね、あれ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>「さて、それではまずは館長に紹介しようか」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ダグちゃんが所有者じゃなかったのか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>サンチェック不可避</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ダグラス・キンボール</div><div class='col-sm-10 serif'>まあ館長は別にいますね、このキャンペーンのキーキャラクターです</div></div>
        </section>
    </div>
{% endblock %}
