{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>エンディング</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>それぞれ帰還後の行動を宣言してくださいな</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>帰社しよう。時間によるけど</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>まあ日の出くらいの時間かな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>上司こわいから直帰しよ、拳銃もってるけど</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>なぁにしようかなぁ……あ、福耳おじさんのところにカード届けに行くよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>了解</div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>まりの場合</h3>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ではまりが会社に出社すると後輩が寄ってきました</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>寄らばコロスのまり と二つ名があるらしい</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@後輩</div>
                <div class='col-sm-10 serif'>「あ!先輩おはようっす」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>「ぐっもん、後輩ちゃん」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@後輩</div>
                <div class='col-sm-10 serif'>「そういえば例の件どうなりました?順調ですか?」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>「ええ、恐ろしく順調に行ってるわ。まだ秘密だけどね」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@後輩</div>
                <div class='col-sm-10 serif'>「流石っすね先輩ぱねえっすわ」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>なぐりたい</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>褒めてるのに!?</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>減ったSAN値返して</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>それは後ね</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>というか褒めてたの?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>どう見ても褒めてるじゃん、結構好かれる後輩を演じてたつもりだよ</div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>社の場合</h3>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>では金治亭で</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@稗葉金治</div>
                <div class='col-sm-10 serif'>「社さん、調査はどうなりましたかな?」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「(不思議な現象の事は伏せておきつつ)……と、いうわけで、持ち主はダグラス・キンボールさんだとわかりました」と報告</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@稗葉金治</div>
                <div class='col-sm-10 serif'>「ほうほう成程、外国のかたでしたか……そうですなあ流石は海外、日本とは感性が違いますなあ」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「一つ謝らないといけないことがありまして……ダグラスさんがどうしてもノートとカードを返してほしい、返さなければ髪の毛が生えなくなる呪いを末代までかけると言われて、渡してきてしまいました」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@稗葉金治</div>
                <div class='col-sm-10 serif'>「いえいえそれは良いのです、元々会えれば返すつもりでしたから」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「おお、それはよかったッス。代わりといってはなんなんすけど……」といって例の図書カードを渡す</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「これをあなたに渡してほしいと、預かってまいりましたッス」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@稗葉金治</div>
                <div class='col-sm-10 serif'>「おお!これは図書カードですな!いやあ私大好きなんですよ」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>笑顔で受け取りますね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>無二の図書カード好きとはなかなかの変態ですね……</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>まあ読書マニアだからね。この話基本変態だらけだし</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「では、これにて、オレの依頼は完了ってことでイイッスカ?」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@稗葉金治</div>
                <div class='col-sm-10 serif'>「もちろんですよ、報酬は口座振り込みでよろしいですか?」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>「もちろんっす!また御贔屓に～っす!」と笑顔で席を立ちます</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>現金がよかった……</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>某13みたいな……</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>まあこっから未払い編始まるし</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>スイス銀行に頼む</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>取り立て探偵と化した社の冒険が今始まる</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>過払い金の返済には期限があります(幻聴)</div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>トムの場合</h3>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>家に帰ったんだっけ?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>帰った、有給ね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>じゃあ電話が鳴りますね、有給申請してないでしょ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>フライトモードだ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>上司が家まで起こしにきてくれるに決まってる</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>じゃあしばらくしてチャイムが鳴りますね</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>むしろ同居</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>同居か、ありだな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>もうそんなにフラグが消化されていたなんてぇ!!</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>女とは言ってませんがね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>男だとぅ!?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>ちがうんだこれはGMの陰謀なんだ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>同棲したければ幸運をふれ!</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>CCB<=80</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D100<=80) → 68 → 成功</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>やってしまった</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>人生の勝ち組</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>じゃあ同棲してるならカギを開けて入ってきますね</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>なんだかすごい展開になってきた</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>※ここだけ昼ドラ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@上司</div>
                <div class='col-sm-10 serif'>「おい!貴様、連絡の一つも寄こさないとはどういう了見だ!!」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>魔女っこにあってきましたと正直に言おう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>まあ僕は窓から入ったんで玄関じゃないんですけどね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>どっちみち朝まで連絡なしで朝帰りなんで怒りますがね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>「ちょっと……女性といろいろあって……」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>確かに周り女性だらけだったね。♀もいた</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>「とても説明がむずかしいことなんだ」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@上司</div>
                <div class='col-sm-10 serif'>「ほう……貴様良い度胸だな!そこに直れ!説教してやる!!」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あの女の匂いがする……(ノーハイライト眼</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>上着のポケットからまりの名刺が!!</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>名前の最後に♡をいれておこう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>正座させて3時間くらいのコースですね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>仕事いけや</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@上司</div>
                <div class='col-sm-10 serif'>「おい、このまりってのはどういう関係だ!あん!?」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>口紅でキスマークがつけてある名刺</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>なぜ自ら死亡フラグを重ねるのか</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>「ちょっと一夜を共にしただけだよ!!」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>嘘は言っていない</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>オチをつける舞台は整ったのだ……</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>そろそろ武道キックをかましてもいいかな?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>いいよこいよ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>呼び出さないでね</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@上司</div>
                <div class='col-sm-10 serif'>ccb<=99</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@上司</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D100<=99) → 71 → 成功</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>正座しながらうとうとしてるから回避しない</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@上司</div>
                <div class='col-sm-10 serif'>1d6+1d6</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@上司</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D6+1D6) → 6[6]+5[5] → 11</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>あ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>HP-1。死にました</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>殺人だ!そりゃ縄で縛った後でけったらこうなるよ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ワロタ。いやぁ、やっぱラブコメ展開は最高だなぁ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>火サスだった?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>じゃあ綺麗に蹴りがはいって意識がなくなったところで終わりで……大丈夫警察だから応急手当持ってるし</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@上司</div>
                <div class='col-sm-10 serif'>ccb<=99</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@上司</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D100<=99) → 76 → 成功</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@上司</div>
                <div class='col-sm-10 serif'>1d3</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@上司</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D3) → 1</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>0ですねぇ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>死んだな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>愛の力で+補正ですよ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>ノリでPC殺す卓はここですか?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>まだ愛があるんだからやめられないよね。ククク……ばたり</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>どっちかというとPCの自殺では?</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>他殺だよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>まあ大丈夫です、次回には復活してます</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>シリアスじゃなくてよかったぁ^～</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@上司</div>
                <div class='col-sm-10 serif'>「次のトムはうまくやってくれるでしょう」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>同棲は夢だったんだって、良かったね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>世界線壊れる</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>この胸の痛みは?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ではこれにてシナリオ「奇妙なビブリオマニア」は終了ですね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おつかれちゃ～ん</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>おつかれ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>おつかれ!</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>おつ</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>終了処理</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ではみんなはクリア報酬として1d10の正気度を回復してくださいな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>1d10</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D10) → 8</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>めっちゃふえたわ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>1d10</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D10) → 1</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>全快した</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>1d10 SAN回復</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D10) → 2</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>43 -> 45</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>HPはそのままなん?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>HPは全快でいいよ。さらに館長からの信頼を経たので、信頼の技能を1d10増やせます</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>1d10</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D10) → 2</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>しょぼ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>信用は初期値だ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>1d10</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D10) → 9</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>84になった</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>1d10 信頼上昇</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@社</div>
                <div class='col-sm-10 serif'>Cthulhu : (1D10) → 5</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>感想戦</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>これがキャンペーン「魔女の図書館シリーズ」の導入となります。察しがつくでしょうが次回からは館長に無理難題を押し付けられてひいひい言うことになります</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>何部作なんですかねえ?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>一応今回のシナリオの質問あったら受け付けるよ、特に謎らしい謎はないと思うけど</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>今聞いちゃっていいのかしらね、のちの伏線に触れてしまいそうな予感もする</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>上司の名前は?</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>後輩は死にますか?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>上司の名前は次までに考えます、後輩は今のところ死にません</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>福耳おじさんのお家の変なところが知りたい。ミスってわかんなかったところ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>福耳おじさんの家は魔女の図書館を参考に作られているので、天井に着いてるドアとか、壁に向かってる階段とかを見つける事でした</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なるほど同じく欠陥住宅なわけか</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>ウィンチェスターハウスかな?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>シナリオにもウィンチェスターハウスが参考に書かれてたね。ちなみに天井のドアを開けると隠し部屋がある設定でした</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>あけるという行動が取れたのね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>うむ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>魔女の図書館の天井の扉?福耳おじさんのお家の天井の扉?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>おじさんの方</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>覚えてたら開けにいくか……</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@トム・ミラー</div>
                <div class='col-sm-10 serif'>魔女よりおじさんのほうがすごい人物かもしれない</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ちなみに天井部屋にはダグラスと連絡をとる魔法具が置かれてました</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@まり</div>
                <div class='col-sm-10 serif'>え……?</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ん～?福耳おじさんはエネミーサイドだった……?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>正確にはおじさんの祖父がね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>おじさんは隠し部屋の存在をしらないので</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あ、なるほどね……気になったところはそのくらいかなぁ?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>うむ、では後は自由解散で</div>
            </div>
        </section>
    </div>
{% endblock %}
