{% extends 'layout-1column.twig' %}
{% block stylesheet %}
    <style>
        .table {
            font-size: x-small;
        }
    </style>
{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="page-header">{{ site_title }}</h1>
        <div class="row">
            <div class="col-sm-12">
                <p>※無期限、仕様策定中</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li><a href="http://nakigao.webcrow.jp/gror/enemy-character-sheet/show/54afa03fa58e23636a30152b293a272098d46917">ランク3一般人(MOB)カッツェンツンゲン構成員</a></li>
                    <li><a href="http://nakigao.webcrow.jp/gror/enemy-character-sheet/show/7795995dd1946c231fa9d55f482f9e0e2ac3452a">ランク7融合兵アイスタイガー</a></li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}