{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/shnb-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>トレーラー</h2>
                    <p></p>
                </div>
            </div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ものの見事にずれてる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>揃った？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>ゆるさん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>こうしてやる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>すごい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>サンクス</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>アネコは来てないか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>リアル虫退治</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>先に舞台と設定の説明をしておこう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>大阪の人が考えたみたいなセンスの名前だなぁ！おい！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>シナリオタイトルは「シノビガミ育成計画」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>設定　舞台は普通の街だが、今とあるスマホゲームが流行っている。その名も「シノビガミ育成計画」。あなた達はそのゲームをプレイするプレイヤーだ。ゲーム内容はシノビを作り育てて、シノビの頂点シノビガミを目指すというもの。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>しかしある時プレイヤーは運営からの通知により本物のシノビの力を得る。そしてしばらくして再度運営からの通知により呼び出しを受ける。するとそこにはあなたを含め７人のシノビがいた。そして運営からの指令が下る……「戦え！」と。これは最後の一人まで生き延びることが出来たものがシノビガミの力を得る、「蟲毒の儀式」なのだった。</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いい設定だ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>とまあこんな感じです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>アマゾンの低評価の漫画にありそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>メモにも張りました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>よくあるバトルロイヤルものの設定をごった煮してます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>虫毒の儀式と書いて、ポイズンカエルとかルビ振ってある感じ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そんな感じ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>使命は全員共通です</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>素敵</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>使命貴方は偶然このシノビガミ育成計画に巻き込まれてしまった。あなたの使命は生き延びることだ！！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>毒ガエルかよお</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>もちろん秘密はバラバラですが</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>協力型？対立型？特殊型？秘密？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>基本的にはＮＰＣ含めた７人でバトルロワってもらいます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いらっしゃい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>虫と格闘したら疲れた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>共有メモに設定とか張ってるんで確認お願いします</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>了解</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>キャラクターメイク</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そしてここからがハウスルールの説明</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、そうかビガミってPvPだったっけか……</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>エンターキーに違和感あると思ったら虫がいた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>使命によってはそうでもないけどね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>特殊ルール　ＰＬはキャラクターを２体作成する。一人は忍者で一人は一般人で作成する。忍者のキャラクターを「アバター」、一般人を「本体」と呼称する。「アバター」のシートは公開情報だが「本体」のシートは非公開情報とする。</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>軽くホラーだよねそれ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>今回のゲームでは「居所」を廃止し、代わりに「正体」という情報を使用する。最初に情報判定で得ることが出来るのは「正体」のみです。「正体」を得たキャラクターはそのキャラクターの「本体」シートを閲覧できます（秘密は見れない）「正体」の情報を持つキャラクターはそのキャラクターの秘密を情報判定で得ることが出来る。</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なるほど……メタプレイする感じか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>初プレイなのに大丈夫か</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>大丈夫だ問題ない</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>初プレイのオリジナルルール、大丈夫？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まだまだあるぞ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>「正体」は「居所」と同じ効果も持つ、「正体」を得たキャラクターに戦闘を仕掛けることも出来る。「正体」を得た相手に戦闘を仕掛ける場合「アバター」と戦闘を行うか「本体」と戦闘を行うか選ぶことが出来る。「本体」は戦闘時に自分の手番で「アバター」に切り替えることが出来る。キャラクターは全員「アバターアカウント」というプライズを持っている、このプライズを持っていないキャラクターは「アバター」に変身できない。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>以上かな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>これもメモに張っておきます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>そのうち覚えます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>普通のシナリオにしといたほうが……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>普通のシナリオをまた考えるのもねえ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>居所とは？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>インセインと同じで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>居所を知ってる相手を殴りに行ける</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>居所を知っていると戦闘を仕掛けたりできる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>ふむふむ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>今回は居所＝正体みたいな扱いです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>渋いおじいちゃん高校生になろう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>ルール上居所をわちゃわちゃする忍法はどうなるの？全部死ぬの？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>さて、じゃあ設定はこんなところだが</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>者によるけどどんなの？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>居所を知ってる相手にダメージとか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>居所を正体に変えても問題なければそのまま使える</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>それは正体を知ってる相手にダメージでいいよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>ほーん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>しかしあれですな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>いきなり2種類のキャラを作れってことか！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>せやな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>能力同じじゃないの？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ちゃうよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>コマが違うだけで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>ニンジャと一般人は月とすっぽんくらいちがう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>一般人はシノビより弱いよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ルルブの140Ｐに一般人について乗ってますので</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ルールセクションを読まねばならぬようだな……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>この鬼畜GM!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>秘密はどうしようか、ＰＣ１～ＰＣ３があるけどどれがいい？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>一番良いのを頼む</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>元々明日はキャラ作りをしようと思ってたし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>どれがいいかは人によるしなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>どうやって決める？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ダイス？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>チョイスっちゃおう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ビガミって、PC1が主人公ポジになりやすいんだっけか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>それはＧＭによるなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあアネコから決めるか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>1d3で決めるぞ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いいか？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>わかんないしいいでしょ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んだんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>1d3    ShinobiGami : (1D3) → 2</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>次はエビでいいか？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ランダムなんだから文句もでまい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>1d3    ShinobiGami : (1D3) → 1</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ自動的にPC3はnakiさんね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>残り物のサンダー！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあとりあえず秘密を渡しますので</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>秘話機能でくれたら自分のチャパレにでも張ります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>秘話機能でnakiさんが出ない不具合</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>もらいました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>テステス</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>これならどう？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>とりあえずeviとanekoには秘密を渡しました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>だめならディスコにでもはっとくれ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ふーむなるほどねぇ……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>これで全員に秘密を渡せました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>個人的には中々面白い感じにわたったと思います</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>楽しみですなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>シノビガミってこの秘密を暴かれたら即死？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>いや</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>秘密はサクサク暴かれるのでぜんぜん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>むしろ秘密暴いてからが本番</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ただ立ち位置がバレるとめんどいことになるよね！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>最終的には使命を果たした人が勝ちってことでええんよな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>NPC含めて秘密を暴いて自分の使命を果たすのが目的</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>バトルロイヤル形式だけど、ヒミツの内容によっては協力も出来るしね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なるほどなるほど、そういうところが面白いところなんだな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>敵を味方を識別するところから始まるのよねえ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>一般人もつくった</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>味方なんていない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>感性</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>早いな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>一般陣のキャラは秘話機能で教えてくれ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>そのまえに</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>さっきの秘密ってニンジャにつくの？一般人につくの？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>秘密は一般人に着く</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>じゃあ実質ニンジャはなんももってないんだな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>忍者はあくまで仮の姿何で</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>せやなニンジャが持ってるのは正体だけだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>一般人シートとか見ても大した事わかんないけど……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>eviのデータは確認しました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>秘密があるだけで結構キャラクター固まるもんだなぁ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>秘密はだいじ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ハンドアウトって大事だなって思った</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあキャラクター作成は明日でもいいんで、今日はもう自由化遺産でどうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>だから全部自由のハンドアウトとかやめてね！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おつかれ、ユネスコしとくね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まあ自由ハンドアウトにも利点はあると思うよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>とある名言で「自由と不自由は同じだわ」ってのがあったな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>だわまで含むの？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そうそう、そういうこと</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>女性が言ったんじゃない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ベースがあるとRPしやすいけど、逆にそこに縛られちゃうからね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>だわまで含んでた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ぼくのニンジャはこれなんで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>とりあえず</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>http://character-sheets.appspot.com/shinobigami/edit.html?key=ahVzfmNoYXJhY3Rlci1zaGVldHMtbXByFgsSDUNoYXJhY3RlckRhdGEYieHuWAw</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>参考にしてください</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ういうい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>明日はルルブにだけ目を通しておけばOKなんだよな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どうせ暇だから事前作成でもいいけども</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>キャラは明日作ろう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>結構時間かかるで</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>らじゃあ、ならそうするか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>忍術おおいからな……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>僕はたぶんあした4時間ひまだな！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>パスファインダーとどっちが時間かかる？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ほぼほぼ初プレイだし雰囲気を楽しむだけでもいいかなぁと</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>したら新しく作ってもいいんじゃない？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>コンボとか考えだしたらシノビガミのほうがかかるかもしれない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ああ……そういえばそういう系のゲームだったよな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>パスは３～４時間かかったからなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>リプレイとかみるとえぐいコンボ多いしな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>なんかeviにしては普通の構成だな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>わたしは優しいですからね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>みんなで仲良くクリアしましょう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>シナリオ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>いや</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>勝つのは自分</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ころす</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>＾ｑ＾；</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>これでも公式シナリオを破壊したキャラクターなんですよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>デストロイヤーなのだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そんなものを持ち込むのはやめろぉ！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>まあ……あれは偶然と偶然が重なっただけだった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>流派選びがなかなか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>今回のシナリオでの電撃作戦は正直強いと思う</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>悩ましい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ん～、方針くらいは決めてきた方がよさそうね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>殴り合いなら鞍馬</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあキャラ作成で迷ったら、ベテランのevi先生が教えてくれるさ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>情報戦なら比良坂</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>トリッキーな攻撃型ならはすば</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>とあるリプレイでは比良坂の情報操作のせいでシナリオが崩壊してたな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>上級者向けなのはハグレモノ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>学園はバランス型かなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>はぐれ者って主人公っぽいけどね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>鬼は？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>鬼の血統はなんだろうな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>搦め手が得意って感じでもないし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>中二度が高い</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>変則的な技が多いね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ちなみに鬼の血統とはすば忍軍は</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ俺も明日までにNPCのデータを仕上げないとなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>特技欄がはしっこにあるので</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ちょっと不利</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ああそうだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>アネコくん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>7月からセッション参加できなくなったりしたときの連絡は</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>Discordに統一していくので</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>よろしくぅ！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>ヨット見ない間にまた大量の虫がわいて出た</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ちょっと見てもらえばどんな感じで使っていくかは分かると思う</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>くらましんりゅうはかっこいいな……刀はいいね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>鞍馬はとにかく攻撃力が高い</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>サンプルキャラが普通に優秀</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どのみちサンプルからいただくつもりだったから、ありかもなぁ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>痛打　後の先　陽炎で敵の回避を下げて物理で殴る</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では自分は退散しますね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>また明日</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ほい、おつかれ～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>はすばとハグレモノのサンプルはちょっと微妙</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>おやすみ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>おやすー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ギャップに囲まれてるのが一応得意分野って感じになるんかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>流派ごとに得意な分野があって</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>そこから3つ特技を選ばないといけない制約があるので</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>必然的にそこがかたまる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>あとは一般忍術とかで必要な特技をとったり</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>奥義命名表まである……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>弱点補強のために遠くのとったりするくらいだな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>奥義名は……なんでもいいからなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>かっこいいのは大事</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あー……そうか一般人もつくるんかぁｗ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>一般人は</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>そんなきめることないけどね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ペルソナを2つ決めるだけだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>特技選択が割とメンドクサイジャンこのシステム</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>一般人は特技すきなのを6個だから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>てきとうで</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あれ？特技選択ってダイス目に影響しなかったけか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>インセインだとそうだった気がするが……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>敵から攻撃を受けたときは</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>敵が使用した特技で回避しないといけないから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>その特技にもっとも近いやつで回避することになる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>だよなぁ……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>でもそういうののまえに</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>一般人は忍者に狙われたらほぼ即死だから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>あんまり……</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>またあしたー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>てか、このレギュレーションだと、本体攻撃って忍者がやるんかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>じゃないかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>一般人同士も戦闘になることはあるんでしょ、ステータスがある以上……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>いちおうね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>でも一般人は攻撃手段が……</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>扱いが難しいキャラなんだということはわかったわ、不安になってきた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>一般人使うシナリオはむずい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>奥義やぶりはワクワクするな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>うむ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>やーいやーいできる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>奥義情報がバレてない状態なら</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ルールは割とシンプルだな、このゲームの本懐はデータか……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ばすっといける</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>そうだね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>データ重のゲームは苦手だ（いつもの</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>まあ忍法だけだから……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>でも一から作ると時間かかるんだよねえ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>忍法だけで500もあるんだけど……</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>覚えてるやつおるかー？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ゴミもけっこうあるから</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>よくもまぁこんな漢字の名前を思い浮かんだものだと感心する</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>変換できなくてこまる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>伊賀者になりたい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>この辺の流派って取れないの？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>古流だっけ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>古流はGMが許可しないとなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>と書いてある</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そもそも現代レギュレーションだと使えない感じか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>強いんだろうなたぶん……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>つよい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>微妙なのもあるけど</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>にんにんって語尾付けたら死ぬ？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>忍者ってばれちゃダメなんだっけ、この世界観って</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>とくにそういうのはない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あれ、そうなんだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>まあ表の顔とかあるけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>フレーバーですな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ワールドパートは……ネタバレになるかな、よんでも大丈夫？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>だいじょうぶ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>明日読もう……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>でも読んでも意味はない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>食わず嫌いだったけど、結構引き込まれてるわ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>人はなぜニンジャという言葉に惹かれるのだろうか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>みんな忍者だからね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>気付いてないだけで</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>大和魂を見せてやれ！（忍者</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>というかキャラは全員出来てる感じ？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>anekoが作るって言ってた。僕のは一応できてる、サンプルキャラだけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>おｋ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>分からない所あったら何でも聞いてくれ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>kaeruの性別</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>後ボイスチャンネルも今日は使うぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>てすてす</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あいよ～</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>何時まで作成時間とるんじゃあ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>うーん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>30分めやすでどう？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>はいぇぇえ、アネコ間に合うんかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ワールドパートでも読んで待ってるわ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ間に合わなかったら延長しますよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>別に急いでないですし</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>ルルブ位置から読んでる場合じゃないな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>とどけこの思い</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>anekoへ　discordでよびかけています　チンして食べてね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>anekoは死んだか。。。</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>流派ってなに？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>種族みたいなもん</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>共有メモにお願いします</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おお、そうなのね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>らじゃらじゃ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>眠い時に考えちゃダメだよね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>すげぇ大変じゃん＾ｑ＾</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>やっつけNPCあるある</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>普通にヒロインの名前とか間違えるし、大丈夫大丈夫</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>7人ってなんか意味あるん？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>はい＾ｑ＾</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>多いわｗｗｗ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おもしろくなるはずだよなぁ！？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>ラーメンとすしを混ぜたらおいしいですか？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お菓子のアソートパックとかおいしいもの</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>割と評判いいって聞いたことある</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>猫の鳴き声が聞こえる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>メモによろしく</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>メモ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>作りながら説明きくと訳が分からなくなる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>ルルブ開いたの３０分前なのです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>今基本情報見てる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>ああ、功績は０点なのか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>evi君のキャラがあったから何でか探してた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>是非変えてほしい！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ライバル関係としてミラーバトルするでもいい気はする</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>今忍法みてる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>特技のところの赤く囲まれたチェック欄って何の意味があるの？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>evi君のキャラはくらっているってこと？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>忍法は合計何個取得できるの？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>忍法多いね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>種類も多い</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>忍法ハルマゲドン</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>今回は同じにするか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>サンプルと</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>ねこ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>流派は二天一流だ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>コンロつけっぱなしで警報鳴ってるかと思った</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>最近アニメチェックしてないから、紫の仮面ライダーくらいしか見覚えがないな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おかえり</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>warui yatu</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ナイス！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>サンプルキャラのステータスとかが載ってんのけ？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>普通にPCのキャラデータのってんじゃない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>シノビガミっぽいBGMなんかありませんか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なるへそ？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@オマツリニンジャー</div><div class='col-sm-10 serif'>わしにうってつけえええええ！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ハイ！ハイ！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>もっとかっこいいのにしてどうぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>改めて聞くとめっちゃかっこいいなぁ、この曲</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>いいよね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>ソーラン節聞いてる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>はやくしてね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>実にアナログ音声だけど聞こえる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>何も聞こえない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お、すげぇ忍者っぽい！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>それ流してる間喋れそうにない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>蕎麦屋に専用BGMだとぅ！？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まじかよ、すごいな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>う～ん不要</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そんなぁ；；</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>爆音テロはやめろ！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>本格的にやるにはミキサー買わんとな、やっぱ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>奥義って一覧があるの？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>38</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お～、日曜ないんかぁ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>夜食でも作ってこよう（脈絡なし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ピザポテト</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>レディボーデンがあった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>もうすぐ１０時半</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>データ重いからなぁ、ノンビリつくりなんし</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>これって、本体のコマはつくらないの？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>作っていいよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>今日使うかはわからんけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>出来た？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>できたー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おつかれー</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>絵は気が向いたら代えよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>オープニングくらいはできちゃいそうじゃん</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>絵を探す時間がもったいない</div></div>
        </section>
    </div>
{% endblock %}
