{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/shnb-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>PL達の控室</h2>
                    <p>※一言プリーズ(なくてもいいよ)</p>
                </div>
            </div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>わ～ぱちぱち～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>鼻水がでる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ある日スマートホンアプリ「シノビガミ育成計画」をプレイしていたあなた達に運営からの通知が来ました</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ホン</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>電話ではない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そして同時に強制的にインストールされた「アバターアカウント」というアプリを使う事でシノビの力を使うことが出来るようになったのだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>しゃべる書籍の可能性が・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>詫び石はよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>右上にいる腐った五人衆はなんぞ？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>侘び命</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>実際バトルロアイヤル</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ハットリ君</div><div class='col-sm-10 serif'>「ハロー！シノビたち！元気にしてるかい？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>してない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>病気がち（意味深</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>してるの？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ハットリ君</div><div class='col-sm-10 serif'>こいつは「シノビガミ育成計画」のマスコットキャラクターハットリ君です。チュートリアルの説明とかしてくれる奴</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>友達かな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ハットリ君</div><div class='col-sm-10 serif'>「突然で悪いけど、今からこの街の１番高いビルの屋上に集合してくれ！大事な発表があるよー」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>オッケ～</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>語尾に「ござる」が付いてないので、ハットリくんの名前は取り上げです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>しょうがないにゃあ～</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>あのハットリくんなの？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>本体が一堂に会してる感じ？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なるほどなるほど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>VR忍者</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>徒歩で来た</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@クルエル・コーブラ</div><div class='col-sm-10 serif'>「ふー」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@スチャースチエ・ラブ</div><div class='col-sm-10 serif'>「やっほー」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@プリエ・ブークリエ</div><div class='col-sm-10 serif'>「…」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>「多いんだか少ないんだか」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミラージュ・ゴート</div><div class='col-sm-10 serif'>「ふん」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いかにも・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>いかにも？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>忍者ってなに？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>ぼけごろし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ぼけが弱かった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>判定負け</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>やはりVCじゃないと分からないか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>「レディース＆ジェントルメン！お集まり頂きありがとうございますでござる」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>潰します</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>本体がでたぞおおおおお</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>まさかkaeruが本体とは思わなかった</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>ストローさしてプーしてあげる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>雰囲気出てきた</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ハットリ君</div><div class='col-sm-10 serif'>「今日集まって頂いたのは、皆さんが楽しんでいるシノビガミ育成計画の本当の姿を説明するためでござる」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@オマツリニンジャー</div><div class='col-sm-10 serif'>「？」とひょっとこ顔</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>何その顔、ふざけてるの</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>オニイサンユルシテ！</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ハットリ君</div><div class='col-sm-10 serif'>「みなさんは強力なシノビの力を得ましたが、それは始まりにすぎませんでござる」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>「そのお面、いいな」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ハットリ君</div><div class='col-sm-10 serif'>「これから皆さんには…殺し合いをしてもらうでござる」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@オマツリニンジャー</div><div class='col-sm-10 serif'>そのときオマツリニンジャーに電撃走る</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>コロシアイ屋上生活か・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>語尾の適当さよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ハットリ君</div><div class='col-sm-10 serif'>「まあ殺し合いというのは冗談でござるが」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>冗談だったの！？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>「殺し合い・・・？ふざけてるのか？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ショックだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>CERO-Bくらい</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ハットリ君</div><div class='col-sm-10 serif'>「これから皆さんで戦って頂き、アバターアカウントの奪い合いをしてもらいます」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>cero-x版は来春発表予定！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>初めて聞いた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>DMMR-18みたいな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ハットリ君</div><div class='col-sm-10 serif'>「そして最後まで残った最後のシノビには、最強の力シノビガミの力を得ることが出来るのです！！」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@オマツリニンジャー</div><div class='col-sm-10 serif'>ざわ・・・ざわ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ざわ・・・ざわ・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ハットリ君</div><div class='col-sm-10 serif'>「これこそシノビガミ育成計画の真の目的！！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ざわわ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>そう・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@クルエル・コーブラ</div><div class='col-sm-10 serif'>「なんだか知らねえが、要は皆殺しにすりゃあいいんだろ？」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>仮面系の本体は全部草加に違いない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>要するにイベント期間だな！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>草加ァ！！！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>モブは静かにしてください！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>うおおおおい、メインヒロインむしってどういうこったあああ、くさかああああ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ハットリ君</div><div class='col-sm-10 serif'>「まあ、今日の所は急な話で混乱してるでしょうから、解散とします」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>素直ですねきみ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>帰るかー</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ハットリ君</div><div class='col-sm-10 serif'>「しかし、皆様の今後の活躍には期待しておりますでござる」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>まさかハットリくんは忍者？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ニンジャなんているわけ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>ネタバレはだめ！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>SANチェックです</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミラージュ・ゴート</div><div class='col-sm-10 serif'>「ふん、しかし見るからに雑魚ばかり。俺の相手にはなりそうもないな」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>「ああ、そうだな」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@クルエル・コーブラ</div><div class='col-sm-10 serif'>「なんだあてめえ、今ここで殺してやろうか？」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>何で同調したのに怒られるの？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@スチャースチエ・ラブ</div><div class='col-sm-10 serif'>「まあまあ、そんなに熱くならないで、のんびりやりましょうよ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>あ、名前違ったわ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@プリエ・ブークリエ</div><div class='col-sm-10 serif'>「…」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>＾ｑ＾</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>この娘立ったまま死んでるの？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>死相でてるよね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>死んでんじゃない？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko＠素流都</div><div class='col-sm-10 serif'>うそ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、なんだ無口なだけかぁ！</div></div>
        </section>
    </div>
{% endblock %}
