{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/shnb-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>エンディング</h2>
                    <p></p>
                </div>
            </div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>わがはい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>天然は最後にしたいなぁ、勝者だからな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>よって先にやる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>アッハイ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>信二君と反省会しよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>夕暮れの海岸</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@武之心♂</div><div class='col-sm-10 serif'>三角すわりで座るタケノシン</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@武之心♂</div><div class='col-sm-10 serif'>「結局・・・元の一般人に戻ったんだ、僕・・・」と独り言ちよう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒夜信二</div><div class='col-sm-10 serif'>夕暮れの海岸で座るタケノシンの背後に影が差す</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@野口秀雄</div><div class='col-sm-10 serif'>(通りすがりのMOB)</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@武之心♂</div><div class='col-sm-10 serif'>じゃあ、振り返ろう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒夜信二</div><div class='col-sm-10 serif'>「心君…」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>およいどこ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@武之心♂</div><div class='col-sm-10 serif'>「信二君、ごめんね。あんなに頑張ってくれたのに」と申し訳なさそうに使用</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒夜信二</div><div class='col-sm-10 serif'>「ううん、いいよ君が生きているってことの方がずっと大事だから」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>自然と近づく二人の唇・・・（モノローグ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒夜信二</div><div class='col-sm-10 serif'>「それに…今回はダメだったけど、きっと次があるよ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@武之心♂</div><div class='col-sm-10 serif'>「う、うん・・・」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒夜信二</div><div class='col-sm-10 serif'>黒夜もそっと顔を近づける</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>じゃあ、夕日がいい感じにその二人をフラッシュアウトして、シーンエンド！</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒夜信二</div><div class='col-sm-10 serif'>「君ならあんなまがい物の力に頼らなくても…きっとなれるよ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>リア充ではないので特に背景は爆発しない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>リア充だるぉ！？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>二人は幸せなキスをして終了</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>ヒロ・・イン？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>たまげたなぁ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「結局なんだったんだろう、この戦い」とカフェでため息をつく琲珈</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ほんまそれな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>プライベートに干渉してくるのはNG</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>土曜日にそんなこと言うなんて・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>感じ取ってくれよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>「貴方の報告は読ませていただきました」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>目に穴が開いてますよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「どうでしたか？すばらしくて目玉飛び出そうでしょう？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>「はっきり言って失望しましたよ、黒幕を目の前にしながら逃げ出すとは」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>上司の顔こわい</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>「おまけに儀式も止められず、厄介なものが増えてしまった」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「なに言ってるんですか、倒しましたよ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>そんなことはない</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>「貴方が倒したわけではないでしょうに」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>お神輿で死んだね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>祭りは時に血を欲する（DONOU</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「いえ、私がいたからこそ死んだのです。自然の摂理なのです」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、そうだったのか！？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>え？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>ちゃんとかいてよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そういうこともある・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>「まあいいです、次回に期待しましょう」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「そうですね！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>「ただしあなたの夏のボーナスはカットしますので」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そんなぁ；；</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「やめます」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>まだ支給されてないのか・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>そういうと上司は伝票をおいて立ち去った</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>※ホットペッパーのCMが流れる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>伝票おいていくのか・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「今あったことは忘れるよとしようっと♪」　おわり</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>上司の尻拭いをするのも部下の役目</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>割と乙女な注文・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>スゴクタカイビル</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>きめていいの？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>DST    ShinobiGami : 出島シーン表(5) → スラム。かろうじて生き延びている人たちが肩を寄せ合い生きているようだ。ここなら辛うじて安心できるかも……。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>スラムだって</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんだこのコラは・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>かろうじてが二回使われている</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ほんとだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>え？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>探してないけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>しょうがないにゃあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>しかし探さざるを得ない！</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「まさか、君から会いに来るとはｚね」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>こわれてる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>セリフすらバグってる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>「とどめを刺しに来た」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>かなしみ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ショッギョムッジョ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>2D6>=5 （判定    用兵術）    ShinobiGami : (2D6>=5) → 7[1,6] → 7 → 成功</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「はは、やめてくれよ、不死身の能力でかろうじて命をつないでいる状態だ満足に動くことも出来ない」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>もう何も出来ないから必中やね！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まあまてまて、殺すのは話を聞いてからでも遅くなかろう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>天然の事ももだましてなかったけか</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「まて！早まるな！取引をしよう」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>「目的の力は手に入れた。鞍馬に目を着けられた以上、不安要素は尽く滅する。」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「今更私を殺したところで何の得もない、私の才能はきっと君の役に立つぞ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>画像のせいで話が入ってこない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ほんとぉ？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>CONTINUEして♡</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「その通りだ！君のシノビガミの力と私の才能があれば何でもできるさ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>「五体不満足でも口の減らん者は要らん」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>デュクシ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>バッサリ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@真黒土</div><div class='col-sm-10 serif'>「いやだー死にたくない！死にたく…」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>このキャラだけで画像どのくらい使ったんだろうか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>スラムってシーンがすごい雰囲気出てますね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>落ち延びた黒土くんを追い詰めて殺した感じになったね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>天然の体には今までにない力が満ちている！それは正に神の力に匹敵する</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんとなくダークヒーローっぽい立ち回りの天然君</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>とりあえず上司を消してほしい♡</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>「さて・・・シノビガミ育成計画の詫びチケを配る準備でもはじめるか・・・」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>そう呟いて去っていきます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>おわり</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>(シノビ)神運営となったわけか・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>呼符50枚でよろしく</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>Apple StoreもGoogle PlayもMicrosoft Storeも制圧した</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>次はどこだ？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>世界を席巻してそう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>VRニンジャ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>「時代はVRだ！」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>普通に売れそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>社員「社長、新作ゲームの企画書です」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>前VRスパイダーマンやってたな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>各流派ににらまれそうだな、それ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>「素晴らしい企画だ。3回に分割してDLCにしなさい。」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>社員「ハッ！畏まりました」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>後々完全版をだそう！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>それは2年後くらいに</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>世界のTENNENDO</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>座布団2枚！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おつかーれ！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>おつかれさまです</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>功績点</h2>
                    <p></p>
                </div>
            </div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>功績点をくれ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>マップの右下にあるよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>流儀点なんてあるんだ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ウム</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>オマツリニンジャーとそるとしか秘密もってないよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>こっちもめっちゃ探してた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>せやな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>琴線ってか全体的にぎゃぐっぽかったからなぁ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>オマツリが一番主人公してた気がする</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>それもこれもオマツリニンジャーとかいう名前のせい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ENDよかったし、天然君に1点</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>オマツリに1点</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>名前はゆるして！真面目に作ったんです！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>真面目に作ったんです！（サンプルキャラ）</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>オラァ！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>真面目に作ったんです！（設定</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>設定は・・・たしかに</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>シリアスを感じる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>でしょ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>オマツリです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>こっち功績点なくない？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>4個</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>律だから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>弱者を許せない的なやつ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>わーい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>何かを倒す！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>復活しちゃったああ；；；</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>シノビガミ絶対許さないマン</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ご先祖様許して！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>おにの血統はどっちかっていうと</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>俺がシノビガミになるんだーーー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>じゃなかったかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>やったぜ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>やったぜ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>1個ももってないよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ありがとなす！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>達成してたのか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いいとおもうます！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>倒したけど、買ってはない</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>勝っては</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>2人あずかり知らぬところで死んで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>わたしがPC含めて4個＋自分のもってるんで</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>クライマックス継続すればよかったなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>闇討ちされたNPC以外のプライズは天然くんのところにあるんじゃないかな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>メリットがないと思ってない離脱したからなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んむ、妥当なラインかなぁ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>次回に生かそう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>まあ残られても極地ダメージだけで削りきるつもりだった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>おつかれー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ほい、おつかれちゃん。おもしろかったわ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>オツカレサマドスエ</div></div>
        </section>
    </div>
{% endblock %}
