{% extends 'layout-replay-no-replay-user.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>公式ルールのピックアップ採用</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>001. 回復効果のある特性能力の使用についての制限</h3>
                    <p>
                        　「各キャラクターごとに１シナリオに１回使用可能」<br>
                        　<a href="http://www.fear.co.jp/gorder/sup/fgo170223.txt">質疑応答 2017/02/23</a>
                    </p>
                    <h3>002. 隠密状態の看破の簡略化</h3>
                    <p>
                        　Aが隠密状態、Bがそれを捜索で看破した場合、Aの隠密状態が解除される<br>
                        　<a href="http://www.fear.co.jp/gorder/sup/fgo170223.txt">質疑応答 2017/02/23</a>
                    </p>
                    <h3>003. プリプレイ時のアイテムの購入</h3>
                    <p>
                        　購入判定で入手していないアイテムを、経験点を消費して新たに購入することは可能<br>
                        　<a href="http://www.fear.co.jp/gorder/sup/fgo170223.txt">質疑応答 2017/02/23</a>
                    </p>
                    <h3>004. 不適切な射程での攻撃について</h3>
                    <p>
                        　「射程：近」「射程：遠」の武器や特性能力を使用して、至近距離の対象に連続攻撃は可能。ただし、成功率がは1/2となる<br>
                        　<a href="http://www.fear.co.jp/gorder/sup/fgo170223.txt">質疑応答 2017/02/23</a>
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>公式ルールとの相違</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>101. DOTによる負傷に関して</h3>
                    <p>
                        　質疑応答では「DOT解消判定 -> 失敗 -> DOTダメージ -> DOT継続」が正しいとされているが、処理の簡略化のため「DOTダメージ -> DOT解消判定 -> 失敗 -> DOT継続」とする<br>
                        　<a href="http://www.fear.co.jp/gorder/sup/fgo170223.txt">質疑応答 2017/02/23</a>
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>世界観特有</h2>
                    <p>つまるところ、異世界ファンタジーとのギャップを埋めるための言い訳</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>201. 「火器類」の無効化</h3>
                    <p>
                        　火薬を用いる武器は原則使用することができません。これは、地球の物理法則と、異世界の物理法則が異なるためです。<br>
                        　仮に異世界で銃を発砲した場合は、おしりの方から「ぷぅ～」というかわいらしい音が鳴ります。
                    </p>
                    <h3>202. 「オーダーの能力限界」について</h3>
                    <p>
                        　『威力最大化』、『効果範囲拡大』に該当しそうなものの場合はコストが増えます。<br>
                        　例えば、あなたが発火能力を持っていたとして、目の前のゴブリンを燃やしてダメージを与えることは可能ですが、巨大な城に対してそのすべてを燃やすように能力を作用させることはできません。<br>
                        　ただし、このルールは『それなりの代償』を払えば、『ありとあらゆる効果をもつ能力発現が可能』ということも同時に意味します。<br>
                        　『それなりの代償』が何なのかは、あなた自身の目で確かめてください。
                    </p>
                    <h3>203. 「飛行状態」の無効化</h3>
                    <p>
                        　異世界でのオーダーは、空を自由に飛ぶことができません。これは、地球の物理法則と、異世界の物理法則が異なるためです。<br>
                        　落とし穴にひっかかればそのまま落ちますし、空を飛んでゴブリンの集団を蹂躙することもできません。レッドドラゴンにおびえましょう。<br>
                        　ただし、これもまた『それなりの代償』を払えば、可能であるということを意味しています。
                    </p>
                    <h3>204. 「コミュニケーション」について</h3>
                    <p>
                        　冒頭で『とあるアイテム』を入手しますが、それを身に着けていない場合は、異世界のキャラクターとは複雑な意思疎通ができません。<br>
                        　ボディーランゲージ、絵を描く（地面に書く、インクと羊皮紙を使って）などで簡単な意思疎通はいつでも可能です。
                    </p>
                    <h3>205. 「物体の破壊」について</h3>
                    <p>
                        　イスやテーブルなど、一般的な物体は全て壊せます。<br>
                        　ですが、ファンタジー世界には『アダマンティン』や『ミスリル』のような魔法的な物質が多数存在しており、それらを破壊するためにはやはり『それなりの代償』が必要になります。
                    </p>
                    <h3>206. 「アーチェリー」「和弓」「クロスボウ」の武器種別について</h3>
                    <p>
                        　基本ルルブだと「近」の武器ですが、異世界では「遠」の武器として扱います。これは、全体的に交戦距離が短くなるためです。
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
