{% extends 'layout-replay-no-replay-user.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>キャンペーントレーラー</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        とある作戦中、まばゆい光に包まれたオーダー達。<br>
                        目が覚めた先は――<br>
                        (※素案、改稿予定)
                    </blockquote>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>プレイヤー向けハンドアウト</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>PC「召喚されたオーダー」</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <tr>
                            <th class="col-sm-2">ハンドアウト</th>
                            <td>任意</td>
                        </tr>
                        <tr>
                            <th>導入・動機</th>
                            <td>とある作戦中、謎の光に包まれ、異世界に転移してしまった</td>
                        </tr>
                        <tr>
                            <th>推奨ロール</th>
                            <td>特になし</td>
                        </tr>
                        <tr>
                            <th>PC間因縁</th>
                            <td>他のPCとは同僚である</td>
                        </tr>
                        <tr>
                            <th>NPC間因縁</th>
                            <td>あなたには命と同じくらい大切な人がいる（キャラメイク時に簡単に作成する）</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
