{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/shnb-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>※未編集</h2>
                    <p></p>
                </div>
            </div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>zumomomo</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>台風がすぎさった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ようこそ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>準備がされてないようにみえる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>気のせいじゃない?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>今準備中だから</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>フィナーレが簡単だった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>まだ高難易度やってないなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>礼装が・・・でないんよ・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おくれた!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>YA</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>はろろ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>はろう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>10分まで待ってて</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>花弁あつめてよう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>集めまくろう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>サモさんシステムを構築したよ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>みんなドロップ礼装付けてるから3ターンクリアはできない・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ゴールデン相撲つけて</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ノッブの宝具で</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ネロと神性はしぬ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ギルって神性だったっけ?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>もってるよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>たしか・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>Bもってた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>さて</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>御待たせ始めようか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ギルとオジマンで押し切ってる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>点呼開始!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>準備完了!(1/3)</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ファラオに不可能はない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>準備完了!(2/3)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>地上にあってファラオに不可能な</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>準備完了!(3/3)</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>全員準備完了しましたっ!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>あれは笑えた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>結局ふたつな～考えてないや・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ではシノビガミシーズン2 シナリオ名「迷いを断つ剣」(仮)を始めます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ぱちぱちぱち～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>考えてない人は後でこっちで勝手につけますので</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>断迷剣じゃないか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>シナリオ名に迷いが見えるんですけど・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ではまず使命を配ります</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>大丈夫考えてる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>でもカッコカリって</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>シナリオの流れ次第ではタイトルの伏線が回収できない恐れがあるので仮を浸けました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>その場合はシナリオ名変えます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まずPC1天然 痘の使命 私立御伽学園の生徒「剣崎 真宵」が行方不明になった。貴方の使命は「剣崎 真宵」の行方を捜索し、生きていれば連れ戻し、死んでいれば犯人の抹殺を行う事である。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>次はPC2籠雫 琲珈 使命 使命 上司から議員「黒井 幽冥」の護衛の依頼を受けた、貴方の使命はゲーム終了時まで彼を守り抜くことだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>最近名前に黒がつく人多いですね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>秘密が彼を殺すことだったら笑う</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>最後に PC3満 十眼衛 使命 国会議員の「黒井 幽冥」が影で違法な実験をしているという噂がある。貴方の使命はその噂の証拠を見つけ出し上司に渡すことである。</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>上司・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>これが今回の皆さんの表向きの使命です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では各自に秘密を渡します</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'> -> naki@PL 秘密 最近「霧ヶ峰 霧子」が行方不明になった、本来貴方には関係ないことだがこのまま放っておくことは出来ないと考えている、貴方のもう一つの使命は「霧ヶ峰 霧子」の救出である。(注:今回は2つの使命の達成を目指してもらいます)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ほい完了</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>あいつがあやしいな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>把握把握</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>全員自分の使命と秘密が理解出来たら導入を始めます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ちなみにシナリオの難易度と傾向は?むつかしい?PvP?協力?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>今回は平和そうだなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>難易度は前回よりは難しい…はず、傾向は一分協力かなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>てことは、9割PvPって認識でよろしいか?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>9割9分PvP</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ひえ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>平和そうデスね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そこはプレイヤー同士で相談してくださいよお…</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ導入から始めようか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>導入ついでに皆さんの設定を少し固めようと思います</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、ビガミってPvPするのもプレイヤーまかせなのか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ダネ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>みんな敵だ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>へ～、そうなんだ知らんかったわ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあね、使命にプレイヤーを殺せとかなければね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>プレイヤーを殺す・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>忍者スレイヤー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ天然 痘の導入からしようか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ちなみに君は生徒会所属だけど役職とかあるの?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>同志書記長だよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あと2つ名考えた?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>書記長か意外と上の立場なのかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>国家指導者なんだよなぁ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あくまで学生内のポジションだから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ちなみに2つ名なければこっちで付けます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>座右の銘は敵国の馬鹿を利用せよだよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>つけて</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>なにと戦っているんだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>反逆者</div></div>
        </section>
    </div>
{% endblock %}