{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/shnb-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>※未編集</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では導入シーン</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>君は放課後に生徒会室に呼び出されます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>あ、じゃあ二つ名ちょうだい>GM</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>導入で上げるよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>貰ってから使うか決める</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>やヴぉ～る</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>わかった</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「生徒会長」 早乙女剣</div><div class='col-sm-10 serif'>「やあ痘君よく来てくれた」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>「こんちわ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>乙女剣先輩!</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「生徒会長」 早乙女剣</div><div class='col-sm-10 serif'>「さっそくで悪いのだが君に頼みたいことがあってね」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>「はあ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「生徒会長」 早乙女剣</div><div class='col-sm-10 serif'>「実はうちの生徒会のメンバーの一人剣崎 真宵と1週間前から連絡が取れなくてね、君に捜索を頼みたいんだ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>「ずいぶんと腰が重いですね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「生徒会長」 早乙女剣</div><div class='col-sm-10 serif'>「彼女も腕の立つシノビだからね、最初は心配してなかったんだが…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「生徒会長」 早乙女剣</div><div class='col-sm-10 serif'>「生きているのなら助けてほしいし、もしも何者かに殺されてるとすれば仇を取ってほしい」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「生徒会長」 早乙女剣</div><div class='col-sm-10 serif'>「どちらにせよやられたままでは生徒会の沽券に関わる…」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>それにしても悪そうな顔してんなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>「おっけー👌^ー^👌」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「生徒会長」 早乙女剣</div><div class='col-sm-10 serif'>「頼んだよ 生徒会ゴミ処理係(ザ・スレイヤー)」(2つ名です)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ダサい・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>捨てます</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「生徒会長」 早乙女剣</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>判断早いですね君</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「生徒会長」 早乙女剣</div><div class='col-sm-10 serif'>とまあこんな感じで導入終わりです</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「生徒会長」 早乙女剣</div><div class='col-sm-10 serif'>次行きましょう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>PC2籠雫 琲珈</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>せめてクリーナーとかさあ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ほい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>貴方は今カフェにいます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>吸引力の変わらないただ一つの掃除機(二つ名</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>表の顔の仕事中ですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そこに斜歯忍軍 大槌群の研究員であり貴方の上司の大槌理个が現れます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「おまたせしました、クリームマシマシシナモンぶっ掛けカプチーノDXでーす」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「MM研主席研究員」 大槌理个</div><div class='col-sm-10 serif'>「ありがとう、少し時間を頂けるかしら?」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「はい、手短にお願いします」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「MM研主席研究員」 大槌理个</div><div class='col-sm-10 serif'>「OK、ビジネスは速さが大事だものね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「MM研主席研究員」 大槌理个</div><div class='col-sm-10 serif'>そういういと1枚の写真を渡します</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>写真</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「この方は?」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「MM研主席研究員」 大槌理个</div><div class='col-sm-10 serif'>「彼の名前は「黒井 幽冥」職業は国会議員、まあお偉いさんの一人ね。」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「どうしろと?」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「MM研主席研究員」 大槌理个</div><div class='col-sm-10 serif'>「最近彼の周りでシノビがうろついてるらしくてね、うちのスポンサーの一人だし護衛を頼まれちゃってね。そこであなたに護衛を頼みたいの」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「りょ!」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「MM研主席研究員」 大槌理个</div><div class='col-sm-10 serif'>「返事がいいわね、じゃあ頼むわ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「MM研主席研究員」 大槌理个</div><div class='col-sm-10 serif'>「</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「MM研主席研究員」 大槌理个</div><div class='col-sm-10 serif'>「あ、それと」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「?(どした、おばさん)」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「MM研主席研究員」 大槌理个</div><div class='col-sm-10 serif'>琲珈の耳のそっと口を近づけて「コソコソ(ひみつ)」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「・・・・」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「MM研主席研究員」 大槌理个</div><div class='col-sm-10 serif'>そしてコーヒーをグイッと飲むと立ち上がり出ていきます</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「MM研主席研究員」 大槌理个</div><div class='col-sm-10 serif'>「後はよろしくねえ、貴方ならできるはずよね」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「クリーム髭ついてる・・・」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「ま、いっか」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「MM研主席研究員」 大槌理个</div><div class='col-sm-10 serif'>では終了</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おちゃめさん</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「MM研主席研究員」 大槌理个</div><div class='col-sm-10 serif'>お茶目な上司が欲しい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>男でもいいの?</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「局長」 麻生雅人</div><div class='col-sm-10 serif'>うーん…女がいいです</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「局長」 麻生雅人</div><div class='col-sm-10 serif'>最後はPC3満 十眼衛</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>ばっちこい</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「局長」 麻生雅人</div><div class='col-sm-10 serif'>十眼衛は公安隠密局の局長に呼び出されました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>皆さん斜め立ちしてますね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「局長」 麻生雅人</div><div class='col-sm-10 serif'>「まあ座り給え」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>かしずいておこう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>すわっておこう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「局長」 麻生雅人</div><div class='col-sm-10 serif'>「任務の依頼だ、これは君にしか出来ない任務だココロしてかかってくれ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>課長</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「局長」 麻生雅人</div><div class='col-sm-10 serif'>「国会議員の黒井 幽冥は知っているな?」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「ええ、よく存じております」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>忍びの界隈では有名な変態なのかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>地元の釣り仲間で・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「局長」 麻生雅人</div><div class='col-sm-10 serif'>「あやつが裏で違法な実験を行っているとの情報が入った」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「局長」 麻生雅人</div><div class='col-sm-10 serif'>「今のとこと決定的な証拠はないがほぼ間違いがない」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「違法・・・それは我々サイドでの違法、という意味ですか?」ニンジャなのって質問</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「局長」 麻生雅人</div><div class='col-sm-10 serif'>「恐らくな、最近になって奴は忍者の護衛を雇っている、間違いはなかろう」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>護衛を持てるえらい忍者</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「局長」 麻生雅人</div><div class='col-sm-10 serif'>「護衛のせいでニンジャが近づくのは難しいが、君には表の議員という顔がある、問題なく近づけるだろう」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「なるほど・・・。となると暗殺案件、ですか」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「局長」 麻生雅人</div><div class='col-sm-10 serif'>「そして奴の違法な実験の証拠をつかんでほしい、それがあれば強行手段に出れる」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>バリスタでも問題なく近づけますかね?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>大のバリスタマニアに違いない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>あんたが護衛じゃ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「局長」 麻生雅人</div><div class='col-sm-10 serif'>「君にそこまでの戦闘力は期待していないよ、あくまで調査だ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>というか護衛だったね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@「局長」 麻生雅人</div><div class='col-sm-10 serif'>そうだよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「御意に」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では導入終わり</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>部屋にあった花瓶から顔を出していたけど、スッと姿を消しました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ん～、導入だけ聞くと。琲珈とは敵対してもよさそうだな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>やっちゃうのか?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あ、十眼衛の2つ名は「昼行燈(デイブレイク)」ってのを考えてました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>むしろ敵</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>お、いいね、じゃあそれいただき</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>理由はなんか前回のロールプレイがいいおっさんぽかったので</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あ、そういえば痘に剣崎の写真見せ忘れた</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@剣崎真宵</div><div class='col-sm-10 serif'>これが痘の探し人です</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>そうか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>忍べない系忍者に違いない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>霊体化してそう</div></div>
        </section>
    </div>
{% endblock %}