{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/shnb-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>※未編集</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあメインサイクルいこうか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>今回も3サイクル予定だよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>前回疑問に思ったんだけど、プライズ持ってるか持ってないかってどうやったらわかるのん?条件満たしたら自動でポップアップ?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>大抵秘密を暴けば分かるよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おっけおっけ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>NPCが持ってる場合もそう?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>てかこれは確認なんだけど、NPCが持ってる情報って居所とプライズ(=秘密)って認識でいい?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>秘密とプライズはべつですぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>勘だけど、今回も誰かの使命を果たす為には誰かが犠牲になりそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そんなわけないじゃないかあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>標準的なNPCは秘密と奥義情報と居所をもっている</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>NPCの扱いがさ、前回も情報調査の対象外にしてたから、ミスト君のプライズ逃しちゃったし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>秘密をみるとプライズ所持していることが発覚したりするし</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>というかシノビガミってそんなゲームなのかねえ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>使命に書いてあって最初からわかることもある</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>じゃあ、全くわからない状態だと、秘密と奥義と居所の3つがあるってことね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おっけ、わかった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>うーん、今回登場人物が多すぎる。どうすっかなぁ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>64情報項目?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>というか公式NPCさんたちは調査対象なのか?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あ導入の3人は本編に関係ないよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ですよね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>PC3人と使命に乗ってた剣崎ちゃんと黒井おじさんの5体</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>その他にあるなら教えてください</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なるほどなるほど・・・確認しておいてよかったわ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>?アイコンがある</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>前回のヒロイン霧ヶ峰霧子とキャラクターではない調査項目として「最近のニュース」と「謎の家」がある</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ヒロイン・・・?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>人物以外の扱いが謎・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ普通に秘密を調べる判定をしたら情報あげるものです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>誰かなかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>人物のみだと出せる情報に限りがあるし</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ああ、じゃあいちいちNPC「情報」謎の家に対して、奥義の調査判定します</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>みたいに宣言しなくていいってことね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ヒコと感情を結ぼう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>やっていいですか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>>ALL</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>定番ですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>どうぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>拒否できるの?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おっけ～、NPCに対しては基本1回でいいってことでいいかなあ、14項目か</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>拒否できるよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>拒否しよう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>嫌われてしまった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>おおっと</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>じゃあ・・・剣崎の秘密でも探るか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ST</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ShinobiGami : シーン表(7) → 清廉な気配が漂う森の中。鳥の囀りや、そよ風が樹々を通り過ぎる音が聞こえる。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>森だーーーー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あるーひ森の仲、ニンジャが</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>鳩のイチローが偵察してきてくれた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>2D6>=5 (判定:鳥獣術)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ShinobiGami : (2D6>=5) → 7[3,4] → 7 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>こっちで渡そうか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>はい?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>NPCの秘密ですよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>間違えた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>割と今回は別々に動いてく感じかなぁ・・・?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>十眼衛とは仲良くやれそうなんだけどな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>しかし裏でどうつながってるかわからず・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>しかも僕は一方的に共有を拒否できるっていうPvP向けの忍法まで・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>沈♂黙</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>やっと秘密が来た</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>わかりました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>何で拒否したのかこれが分からない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>なにもわからないけどわかりました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>外交シーンで情報閉鎖は敵対行為らしいと学んだ(ES2</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ剣崎の状況は謎の一つなんでねえ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>シーンおわり</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>廿日市市の気象警報が全て解除された</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>わーい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>次の方は</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どっちが動くかでもいいよう。一応黒井議員の情報をいただくつもり</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>マスターシーン入れるの忘れてた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ琲珈のシーンの前に入れるか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>というわけでマスターシーン行きます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ほい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>琲珈と黒井が出会うシーンです</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>「君が護衛のシノビかね?」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「はい、そうです」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>名刺わたそう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>「期待しているよ、最近はなにかと嗅ぎまわるやつが多くてねえ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>加齢臭がね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「任せといてください」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>ではここで感情票を振りましょう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>見た目年齢的には加齢臭の時代は終わりを告げているはず・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>ET</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>ShinobiGami : 感情表(1) → 共感(プラス)/不信(マイナス)</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>共感かあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>最近は男脂臭なんてコトバがある。。。</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>どうしようかなあ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>甘党同士気があるのかな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>そっちも振ってね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ET</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ShinobiGami : 感情表(5) → 憧憬(プラス)/劣等感(マイナス)</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>憧憬かな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>ふむ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>プロフが汚れるからプロフには書かない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>憧憬だとぅ!?</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>「ああ、そうだ実はもう一人護衛がいてね協力することもあるだろうから挨拶しておいてくれ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>そういうと一人の女が現れた</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>へー</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@???</div><div class='col-sm-10 serif'>「…」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>なんかオーラでてますよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>いったい何ペンドラゴンなんだ・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「彼女は無口だが腕は立つでなよろしく頼むよ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>はてな はてなはてな さん</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>ごめん間違えた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>問題ないよ、よくある話だ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>「彼女は無口だが腕はたつからよろしく頼むよ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>いろんなキャラ捜査してるとね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>チャパレをつかいなされ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>まあ特になければこのシーンは終わります</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そっかぁ、感情っていうのもあったなぁ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>感情振っていいの?</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>さっき振ったでしょ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「よろ・・・これ、うちが愛用してるシュガーです。お近づきのしるしにどうぞ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>いや、剣崎との感情</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>砂糖外交</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>それはじぶんの番にしてくれ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>イギリス的</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>じじさんとの感情はなんだったんだ?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>砂糖と奴隷と金貨の三角貿易だ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>「この年になると甘いものはねえ…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>こっちは共感だな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>いや、そういう意味じゃなくて・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>まあいいか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>anekoさんはこれがマスターシーンだということを失念しておられる</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>このシーンで結べるのはジジイだけです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>そういえばマスターシーンだったね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>続けて琲珈のシーンしていいよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>じゃあ黒井の秘密を暴こう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ほう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「甘いのが嫌いというのは、人間ではない・・・悪だよ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>判定ってなんでもいいんだっけ?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>シュガーの暗黒面</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>堕ちてますねクォレハ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>なんでもいいよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>情報が収集できそうなものならね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ちなみにぜんぜん触れてくれなかったけど、二つ名はハニーシュガーで</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>じゃあ掘削術か</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>2d6>=5 [経済力,掘削術,登術,封術,遁走術,絡繰術]</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ShinobiGami : (2D6>=5) → 8[4,4] → 8 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>甘いなあああ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いい二つ名だ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ちなみにどうやって掘削で調べたんだ!!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そりゃあ・・・掘削っていったら、そりゃあねえ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>そりゃあ、あれ・・だよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>乙女の口から言わせるなんてひどい奴だ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ハニーシュガーを名乗るんならもっとハニートラップを使ってほしいなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>自分で口ごもってるじゃねえか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>甘党(ハニーシュガー)ってルビ振りかもしれないだろぉ!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>これは辛党を名乗ったほうが政敵っぽくていいのか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>カノッサの屈辱みたいになってしまう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>心の奥底にある闇の部分を忍術で精神的に掘削する</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ今回はいいけど次回は掘削以外の術にしてくれ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>良く聞くけど、実はよくわかってないイベント名だ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>昔のテレビ番組だよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>素直に経済力でもいいけどつまらないからね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあヒミツを渡します</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ほほ～歴史的な事件かと思ってたわ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>歴史的な事件でもある</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>あ、じゃあついでに、ヒコにつづいて。NPC「あやしい議員」黒井幽冥に対して、忍法「内偵(P101)」で情報判定</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>こっちにもください</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>知ったところで護衛には支障は来たさない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>OK</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'> -> naki@PL 黒井の秘密 貴方は人間ではなく剣匠と呼ばれる渡来人である、彼らは人間を材料として魔剣を生み出す技術を持っている</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ふむ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあそんな感じですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあこれで1サイクル目は終わりかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>これ3サイクルで足りるかな…足りなかったら増やします</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あいあい。2サイクル目はヒロイン調査でもするかあ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>正直裏の使命の果たし方がぜんぜん分からない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>増えるとしたら何サイクル目まで増える予定?無限?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>情弱なぼく</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあまだ情報はほとんど出てないし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>2サイクル目は様子見をしよう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>いつも僕から動くのもなんだし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ふえても4サイクルかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>この辺の加減が難しいのよね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>たしかに・・・4サイクルかぁ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>状況によって変えればいいんじゃない?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ先に琲珈かな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあねえ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>やることないなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ねえのかよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ドラマシーンでしか活躍できないキャラ使ってるとこの辺の駆け引きが、ね。増えたり減ったりするとキャラが死ぬ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>そうですね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>NPC「謎の少女」霧ヶ峰霧子に対して、忍法「内偵(P101)」で情報判定。をしたいんだけど、興味ある人いたら感情結ぼう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>もっとクトゥルフの探索者ばりに好奇心を出しなよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>誰もいないなら、そのままGOする</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>え、霧子いるの?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>沈黙・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ん?最初に言ってた気がするけど・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>いや沈黙とか使わないでしょ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いるよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>だってぼくたち・・・仲間だもんげ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>さぁ・・・どうだろうなあ(にやり</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>じゃあ十眼衛と感情を結ぼう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>よいかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あいよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ST</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ShinobiGami : シーン表(7) → 清廉な気配が漂う森の中。鳥の囀りや、そよ風が樹々を通り過ぎる音が聞こえる。</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>こっちは孤独を突き進もう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>森だーーーーーイエーーーーーイ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>森に引き籠ってる可能性すらある</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>木のもの真似してるから通りかかって</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「さぁて、きょうはどの動物さんたちとお話ししよっかな～♪」上機嫌で木の横を通りかかります</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>「あんた、いつぞやの」と木が喋ります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>顔とセリフのギャップがやばい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>動物会話のスキル持ってそう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>この森は・・・私の庭!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>2D6>=5 (判定:地の利)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ShinobiGami : (2D6>=5) → 4[2,2] → 4 → 失敗</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>じゃなかった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「・・・」一瞬固まって、や、やあ、きみかと木に声をかけました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まさかの</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんだってぇ!?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>「あ、ごめん、人違いです・・・」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「も、もう、人騒がせな松の木さんなんだから。木がしゃべるわけない」とウィンクして森の奥に消えました</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>名シーンだった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>おわり</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>実に忍者らしいシーンだったね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>十眼衛って別にオカマじゃないよね?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>二面性と呼んでくれたまへ!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>続けて、NPC「謎の少女」霧ヶ峰霧子に対して、忍法「内偵(P101)」で情報判定</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あっはい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>了解</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ渡します</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>可能であれば、プライズもってるかないかもください</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>十眼衛さんの秘密はプライズが関係しているのだろうか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>けっこうオカマキャラを演じてるイメージがある</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'> -> naki@PL 霧ヶ峰 霧子 秘密 貴方は3日ほど前に何者かに誘拐された、犯人は白髪のおじいさんだった。連れ去られた先で変な薬を飲まされたせいで意識が朦朧としている。今はどこかの暗い部屋に閉じ込められている。(プライズは特になし)</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>芸幅が狭いとかいったら啼く</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ふむふむ・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ふむ・・・!?シーン終わり</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>霧ヶ峰ちゃんは十眼衛のペットだった記憶があるのだけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>どうだったかなあ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>なぞの家は探れるの?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>探れるよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>じゃあ行こう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「なんかいつもの散歩コースを変えてみたら変な家が見つかった。これは怪しい、不法侵入しなきゃ(独り言)」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>家なら掘削できそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ振ってね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>壁を掘削します</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>2d6>=5 [経済力,掘削術,登術,封術,遁走術,絡繰術]</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ShinobiGami : (2D6>=5) → 11[5,6] → 11 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>忍べ!!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>器物破損は基本</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>おらおらぁ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>どりどりどり</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「とりあえず人目につかない壁をどりるぅ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>無駄に出目いいなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>この出目なら壁一面に大きな穴ができるね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>やったあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあこんな感じですわ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>こんな見つけ方でよかったのかね、家は</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ忍者は感も大事だし</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>シーン制って便利よね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ならよし!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>サイクル終わり?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おわり～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>以後琲珈のみが調査できる項目???が解放されました</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>もうぼくは誰かが情報くれるまで待ってる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>うーむ4サイクルいるなこれは</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>休憩いる?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>だいじょ～びぃ!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>だいじょうぶかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>うむ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>了解</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>次はだれから?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>お先にどうぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>じゃあ行こう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>また家の秘密を調べればいいのかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>2d6>=5 [経済力,掘削術,登術,封術,遁走術,絡繰術]</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ShinobiGami : (2D6>=5) → 10[4,6] → 10 → 成功</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>遁走術で駆け巡ろう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「わーい、あきやあきやー」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>こいつ頭可笑しい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>自覚があったのか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お前んちおばけやーしきー!並みに名シーン</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>まあ忍者だからね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>以上でシーンは終わりかな?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>人に家に穴あけて侵入した挙句、家の中を走り回る。普通だな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ほかに何かできます?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>世紀末なら基本</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>特にはないよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>できないなら終わり</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ほい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>次はどっちだ?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>NPC「謎の少女」霧ヶ峰霧子の居場所って抜ける?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>殴りに行くのか・・・?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まあ、会いに行く的な使い方できないかなって・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>居場所か</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>判定は出来るよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>それができないなら感情を結ぶ感じかな?戦闘乱入できるようになるんだよね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>今思えば感情を結んどけばよかったなあと思いましたまる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>判定できるなら、内偵で。情報下さい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>今からでも遅くはない!けど、正直まだ誰が敵か味方かもよくわかんないんだよね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>十眼衛が霧子の居場所を探ろうとすると何かに弾かれた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>忍法でもわからないとなると・・・か。シーン終わり</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>エニグマ「隠れ家」の能力だ、隠れ家を解除しなければ居場所は分からない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ほほ～、そういうのがあるのか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>前回もあったよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>シナリオギミックですって言われても納得できる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>わしか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>割と便利だと思う</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>どうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>オーラ出てる人調べられるの?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>隠れ家ってどうやって解除できるんだ?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>千里眼だったかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まず隠れ家のエニグマを持ってるやつを探さないといけない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ああ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そっかもうわかったから千里眼でいいのか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>すんげぇ時間かかりそうだな。最低でも2サイクルかかっちゃう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>分かってるの自分だけですがね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いや解除判定は補助判定扱いだから2サイクルは掛からないよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>今ので十眼衛もわかったことにしよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>見つける1ターン、また居場所判定するで1ターンじゃないのけ?よくわからんけども</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>1ターンで解除に成功すれば居場所判定もすぐできる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なるほどなるほど・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>つぎ痘かな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>質問に答えてくれるとありがたいなって</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>おもって・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>まってて・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>忘れてた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>調べれるよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>じゃ秘密をさぐろう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ST</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ShinobiGami : シーン表(8) → 凄まじい人混み。喧噪。影の世界のことを知らない無邪気な人々の手柄話や無駄話が騒がしい。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>街にでた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>街にはカラスがいるな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>2D6>=5 (判定:鳥獣術)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ShinobiGami : (2D6>=5) → 9[3,6] → 9 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>やったぜ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>すごい真面目に判定してることに気づいた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>便利ですね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>やっときた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>受領しました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>天然痘って二つ名なんだっけ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ないよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>なんか拒否されたんで自分で考えるでしょう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>捨てたから</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>把握</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>あ、4サイクル目は、PC2「ハニーシュガー」籠雫琲珈に対して、忍法「内偵(P101)」で情報判定。秘密ください、可能であればプライズの有無も</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ生徒会書記(仮)で</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>インビジブルビーストでしょ?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>2つの候補が出たぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ソードワールドかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあヒミツ渡しますね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>乙女の秘密を探るとは・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>掘削が得意な乙女がいるらしい!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>公安でも有名な掘削女</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'> -> naki@PL貴方の本当の使命は「黒井 幽冥」が持つとされるプライズ「研究資料」を手に入れて上司に渡すことである。現在プライズを1つもっている</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あいつはすーぐ穴掘るからなぁ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>渡しました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ふむふむ、なるほど・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>シーン終わり</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>次の方</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>あれ、まだサイクル終わってないっけ?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>わたしが最後に動いて4サイクル目にはいって十眼衛が動いたかな?たぶん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ぼくもよくわかってないです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ということは自分か</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そんな感じだった気がする</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>せやな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>十眼衛をたおそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>どうやって?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>弱いものイジメはやめろぉ!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>掘削するのか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>家を探索します</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ほう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>く、掘削だけは、掘削だけはお許しをおおおおお</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>どうぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>地面を掘削し???を調べるぞ!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>2d6>=5 [経済力,掘削術,登術,封術,遁走術,絡繰術]</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ShinobiGami : (2D6>=5) → 6[3,3] → 6 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>???がいっぱいあってもう?????????状態だよぼくは</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ちょっとあぶない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>今???のHPいくつ?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>??くらい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>はて?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まだまだ元気だな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>こいつ結局最後まで掘削しかしてねえな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>遁走もしましたよね?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>イメージがない</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>固定観念は捨て去ったほうがいいですよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>掘削って実際おもしろいよなぁ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>けど今回は掘削でもいいんだよね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>といったら調べる場所が分かりそう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>トンネル工事中でしょ?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「あなた・・・!!」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>こういう引きでいいでしょうか?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>うむせやな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>丁度4サイクル目だしね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>この情報の少なさよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ぼくは・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ひこの奥義情報でも抜こ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ST</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ShinobiGami : シーン表(7) → 清廉な気配が漂う森の中。鳥の囀りや、そよ風が樹々を通り過ぎる音が聞こえる。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>森だーーー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>渡り鳥が教えてくれる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>2D6>=5 (判定:鳥獣術)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ShinobiGami : (2D6>=5) → 6[1,5] → 6 → 成功</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>何でこんな敵対されてるのでしょうか?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ひこさんの奥義教えてください</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>不死身だよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>わーい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>指定特技は?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>からくり</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>どうも</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>おわり</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ふむ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>残り時間的にどうするかな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>まあ前回と同じだから知られてると思い、公開しました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>戦闘に入る前までやるか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>敵は誰なんだ?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>4サイクル終わったので後はクライマックスだけなんだが</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>というか味方はいるのか?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そこなんだよね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>全部たおせばいい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>本来は4サイクルで舞台が整うと思ってたんだが</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>賢い選択だ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そこはマスターシーンで補強しよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>というわけでクライマックス前にマスターシーンを挟むぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>今のところ皆こっちの情報探ってるから皆敵</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>全員を戦場へと導くのだ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>戦闘って強制なの?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>森の動物さんたちと楽しくおしゃべりした帰り道であった・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>クライマックスに出番がないキャラがいるわけないだろう?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ痘君から</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>メリットがなくても戦闘しなきゃいけないの?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>わしか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そっちに気が無くても君に用がある人はいるしね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>もう森から出ない</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>待ち人は来ず</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ痘が森にいると</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>何処かで見覚えのある人が通り過ぎます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ないけど・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ないの!?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ないよ?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ちなみにこっちもない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>全部鳥に聞いたから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>見た目とか・・・知らんし・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@剣崎真宵</div><div class='col-sm-10 serif'>貴方は生徒会長から剣崎の写真を預かってますよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>そっちはみたことある</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>こっちは?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>なんと、同一人物だったのかー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>これには???さんもびっくり</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ない・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ニンジャだから気配でわかる、このロボットは・・・人じゃない!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ではあなたの鳥は目の前を通り過ぎた女と剣崎が似てることを教えます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>すげーな鳥</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>烏(優秀</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>鳥は後を追うべきだと主張してきます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>鶏君の主張</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>というか後を追いなさい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>鳥くんがいうなら仕方ない・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>鳥くんについていこう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では女は黒井の家に入っていきました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>こないでよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>領土問題が発生し始めているようですね・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>全員無理やりにでも集めるぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>国境ギリギリに軍隊を駐留させます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では次の人</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>十眼衛にしようか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>登場シーン考えてたんだけど、どんなシーンになる?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>どんなの考えてた?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>こう黒井君の悪事を暴くためにすたっと出てくる感じのやつ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>はー本業忙しいなー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>黒井の家で怪しい動きがあると上司から報告があったってシーンにしようかと思ってた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあその情報を受けて乗り込むところにしようか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なるほど?じゃあスッと音もなく大きな壁の穴から顔を出そう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>何で穴が開いてるのだろう・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>勝手口か</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「(見事に職人技の壁の穴だ・・・)」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では十眼衛が覗くと家の中では黒井と誰かがもめているようだった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>まさか・・・白井さん!?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ここで琲珈のシーンに行こう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>茶色井になりそう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>店にいます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>琲珈が謎の家にいると玄関が開く音がする</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>4シーン目のラストからつながるから無理です</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>すごい速度でくつろいでますね・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そして琲珈の方に近づいてくる足音</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>このシナリオに味方はいないの?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いるよ…きっと</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>「これはいったい…どういうことだ?」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>穴だらけの家をみて唖然とします</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「侵入者がいます。ほらあそこに・・・!」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>「琲珈君、説明してもらおうか」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>十眼衛を指差します</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>そうつなげるのか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「あ、はっ!?公安からきた男!マンジュウメッ!」テッテテーテテッ!テレッテレー!ワォ!※東映版のイントロ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>※これがやりたかっただけ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>ロボ召喚しそう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「ね、白々しいでしょ(あれ?どっかで見たことあるような)」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「この穴は彼を撃退するために開いた穴なので何ら問題ない、致し方ない。死んでください」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>「なるほどのう公安の犬か…しかし本当かどうかは監視カメラを見れば分かることだ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>もちろん掘削で壊れてるよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>そういうと黒井は監視カメラの映像を再生しだした</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>さすがニンジャ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>なんで黒井さんとヒコが険悪なんだ・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「く!どこまでも卑劣な!」(アレ、どこかで見たような女の子がいる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>抜かりないのはいい忍者</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>では琲珈の疑いは解こうか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ニンジャに監視カメラとか片腹いたいよね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>確かに何で疑われているのか分からない</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>護衛だよ?</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>「どっちみちここを知られたからには君には死んでもらうよ」と言って十眼衛を指さそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そこに玄関から謎の女も現れる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「先生、私も共闘します」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>「頼むよ琲珈君」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>瀬戸際での陣営攻防が繰り広げられている!</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>これでクライマックスバトルが始められるん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>あやしい家の外で忍者軍団に鬨の声を上げさせます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>「えいえいおー!」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>続きは次回だな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>「どっかで聴いた声が・・・」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ほい、おつかれちゃん。結局2on2って感じか、こりゃ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>あ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>せやろか</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@黒井幽冥</div><div class='col-sm-10 serif'>琲珈はちょっと内緒話があります</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>https://meity.jp/s/zs5180</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>毎回自分の秘密だけ暴かれてる感がある</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>そんなことはないか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>なんでしょう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>優先順位的になあ、4サイクルだし・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>5サイクルあったら、天然痘の秘密がほしかった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>大した秘密じゃないんで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>十眼衛さんとは紳士協定を申し入れたいですね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>こちらの目標的には味方はいてもらった方がいいけどって感じ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>こっちはそっちを妨害しないんで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>そっちもこっちを妨害しないでくれると</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>いいなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>危害は加えない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>けどたぶん勝たないとダメ(絶望</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>僕はプライズいらないんであげますよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>自分はいったい誰を狙えばいいんだろうか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いい話だな、同盟を組もう(友好的</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>GM?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>GM</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>それ過去のシナリオを仕組んだやつ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>またの名をGM</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>交渉は終わりましたんで自由解散で</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>新世界の王になることに決めたわ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>次回はハッピーエンドで終わると良いな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ここにきて第三勢力が・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>カエルさんがMeityいれてないんで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>いれてくれるといいなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>次は日曜日か</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>すまんいれたぞよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>43002</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>9月うううう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>いなくならないでくれええええ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>来週・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>来週日曜日でシノビガミがおわるとして</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>次回どうしますか?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>どうすっぺかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>anekoくんとかなんかある</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>おや反応が・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>meityのツイッター垢が分からなくなった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>nekodaihuku811です</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ありがと</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ロストロかなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>ビストロかぁ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>結構単調だよね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>せやなとしかいえない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あれはRPを楽しむゲームなのだ^^</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ファンタジー、忍者、ファンタジーって感じ?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>nakigaoが実はシナリオストックがあるかもしれない・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>最近の流れからは、チョイスのバランスはよさそう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ロストロも候補に入れよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>GOはないですね!やるなら今から突貫でミスコンシナリオができあがるかどうかってところ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>Aマホとのびのびならいつでもできるよ^^</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>^^;</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>まあkaeruさんが沢山ストックしてるからだいじょうぶか^^</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まあ、ストックがないならお休み回でもいいんじゃなぁい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>うむ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>とりま各自来週までにアイデアが湧いたらつくろう!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>ロストロも近いうちにやりますね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>らじゃり</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>じゃらり</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>シナリオ一つが大体2回で終わるとなると回転が速いね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>たすかに</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあシノビガミは仕方ないね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>やることほぼ決まってるし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>なにもできなかったんですが・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まだチャンスはあるから頑張って</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>戦闘系のキャラじゃない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>夢も希望も情報もないけど仲間ができた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>すばらしいことです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@琲珈</div><div class='col-sm-10 serif'>また今度ー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>はいおやすみ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@痘</div><div class='col-sm-10 serif'>デスコに・・・かえろう・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>おやすみい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ディスコぉ・・・</div></div>
        </section>
    </div>
{% endblock %}