{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/lostroyal-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>XXXXX</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>キングってまずそうだね。筋肉だらけだし</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>食えない男だからね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>命数と酒歌回復してね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 2</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>てすてす</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>てて</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>２かー</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 1</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>一回だけ振りなおしていいよ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>やっちまったぜ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>サンクス</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ベル</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 6</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 6</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 2</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ぱーぺき</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>不動の２</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ペンギンは空気読もう</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>キングだから空気は読まない</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>そして今回から</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>２のルルブの中のルールを一つだけ適用す</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>します</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>墓標システムです</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>集めるといいことがあるのか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>死んでいった仲間分だけ、酒歌があがります</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>つまり仲間を殺せと？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>具体的にはちょっと違うけどね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ルールを思い出さんといかんなぁ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>ルルブは１しかないなあ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>今回は初期値墓標数の１だけ持っています</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>アヴァロン王の墓の分です</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>まあ１だけ酒歌を増やしてください</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>これでルルブ２はおしまい</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>では始まり</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@キング</div>
                <div class='col-sm-10 serif'>いえー</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>名も知らぬ国王の墓標じゃ！セヴァン万歳！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>あかん、ブクマしてなかった</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>https://docs.google.com/spreadsheets/d/1jQuo5EmqjuRyyePkMDuNXhuvriQLLYIpoXGFnXawyng/edit#gid=1030180706</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>絆は消せばいいんですかね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>どうするんだっけ・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>絆はそのままでいいですよ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>足跡が毎回変わるんじゃなかったけか</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>足跡が変わることはおぼえてる</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@クヮイン</div>
                <div class='col-sm-10 serif'>正義もそのまんまか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>命題選択の時間ですが</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>anekoGM</div>
                <div class='col-sm-10 serif'>ちょっと後に設けます</div>
            </div>

        </section>
    </div>
{% endblock %}