{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/akgn-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-evi.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div class="container">
        <section>
            <div class="row warning">
                <div class="col-sm-12">
                    <p>WARNING: このリプレイは、公式シナリオ「ブラッドシアター」を使用しています。ネタバレが苦手、またはプレイ予定の方は閲覧をお控えください。</p>
                </div>
            </div>
        </section>
    </div>
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>準備中</h2>
                    <p></p>
                </div>
            </div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>kimashi</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>hello</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>こりゃまた準備がよすぎるな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>はろ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おはろ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>オスロ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>はろ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>ひとまず共有メモのはじめにをご覧ください</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>全国ツアー目指すかー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>ざくっと世界観とキャラクターシートのURLかいてます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>あとトレーラー</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>オリコン１位目指すか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>オリコンって今時価値があるのか・・・？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どーれどれ・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>今日はボイスは使わない感じ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>つかわないです</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>価値はないけどカネが入るし</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>AKG48つくるぞつくるぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>とりあえず見ました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>じゃあと４０人作って下さい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>キャラメイクの時点で挫折しそう・・・48</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>トレーラー読んだらお好きなハンドアウトをお選び下さい</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>３かな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>すーぐ闇属性</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>もちろん他のでもいいよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>戦場カメラマンになろう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>相方がニンジャだから選んだだけだし</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>特に異論はないんだけどね、すきなのやろう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ニンジャ・・・！？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>nakiさんはどれしたい？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>希望が被ったら無慈悲のダイスバトルだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>残り物でいいかな、電子レンジさんする</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>相方のAキラーも選べますけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>ハンドアウトのままでいいかな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ブラッドシアターのやろう・・・ぶっころしてやぁる！こうかな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>ガスマスクがファッションなのか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>はい＜相方</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>じゃあ残り物は出荷よー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>AK・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そんなぁ～</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>キョウはお姉ちゃんですからっていうセリフ大丈夫なのかな（一抹の不安</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>京香は年長組なのです</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>いいんでないかい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>これPに対して言う言葉でしょ？つまり・・・？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>とおもったら１３歳じゃん！</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>コードネームどうしようかなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>もう設定崩壊しそうなんだけどぉ！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>JOKER所属のPCたちは</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>一応コードネームを持ってます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>なので本名とべつにそれも考えて下さい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>なくてもいいです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>どっかに書いとく？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>キャラクターシートなんですが</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>コードネームで呼び合うか・・・雰囲気でるじゃん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>AKの方はパートナー名とプレイヤー名以外は埋まってます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>PCのほうは↑の３行とライフパスが未決定です</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>キャラ名をコードネームでいいの？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>たぶん、パートナーと会話するときは本名だから、2つはいるかも</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>人間の名前</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>画像とかも変えていいです　変えなくてもいいです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんかハッカーっぽいコードネームないかなぁ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>コードネームはその他にでも書いとく？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>まあ空いてるとこにでも適当に</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ライフパスライフパス～</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>振っていいけ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>EEYO</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>ちょっと他のことしてるので</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>anekoのライフパスの結果もだれか教えてあげて下さい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お任せあれぇ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>D66を4回振ればいい？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ディー１００でよろちく</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>1d100 + 1d100 + 1d100 + 1d100    AceKillerGene : (1D100) → 42</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>1d100+1d100+1d100+1d100    AceKillerGene : (1D100+1D100+1D100+1D100) → 65[65]+63[63]+52[52]+94[94] → 274</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>これですよ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>経歴、出自、経験、邂逅の順でお願いします</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>経歴　ストーキング　エースによく狙われている。その理由はGMと相談する　隠密+5</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>出自　軍事関係者　親は軍人だった。サバイバルのため軍事訓練を受けている　隠密+5</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>経験　医療技術者　医者として勤めていた。あるいは医療技術を学んでいた　※治療</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>邂逅　探究　エースあるいはエースキラー。その存在には謎が多い。パートナーと一緒なら踏み込んでいけるかもしれない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>はい、どうぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>ありがとうございます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>1d100+1d100+1d100+1d100    AceKillerGene : (1D100+1D100+1D100+1D100) → 28[28]+97[97]+67[67]+40[40] → 232</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>隠密が＋１０もされるや</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>強すぎか？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ランダムの割にはラッキーかも？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>元が低いから問題なかった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>治療は・・・残念ながら初期で持ってますね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>もったいないから、そこだけ振りなおす？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>せっかくなんでそのままで行きます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>経験が全部メリットとなる人生なんてないし</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>kaeru君生きてる？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>死んだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>酷暑で</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>アスファルトのうえに飛び出した・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>そのまま・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>うっ・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>かわいそう・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>せめてお湯をかけてやろう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>本当に反応がない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>ライフパス埋めてる・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>隠密作業か・・・？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>コードネームを考えてそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>スキルをPCのコマにぶちこんどいたんで</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>よろしく</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>さんくす</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ナイスデース</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>生きてるよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>1d100    AceKillerGene : (1D100) → 93</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>ステもまんまGOですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>うむ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>スキルの技能補正はもう適応されてる感じですか？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>特技のことかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>メディックのことかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>どっちも適用されてないよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>了解です</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>キャラシのを変えていい？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>いいよー</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>戦力判定とは？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>これ、携帯品の補正値って反映されてるんかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>ボス戦で使うので</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>今は気にしなくていい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>携帯品も適用されてないはず</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>たして・・・コンピュータが110にもなるんだが・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>ハッキングとかするとき1/2にされるから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>たくさんあっても困らない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>しかし・・・ハッキングの能力で修正が無効に？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんかすごい能力だなこれ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>なんにせよクリティカル率が高いのは良いことだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>たすかに</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>キョウカが持ってる武器はAK-47かな、これ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>47ではないな・・・近代ライフルだし</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まじ？ほかに似てる武器があるってことか・・・？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>AKシリーズは１００番台もあるよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>じゃあ47でいいや、描写で使えればいいし。そもそもベテランらしいから、古い武器にこだわるのかもしれない</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>とりあえず完成</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いいコードネームだな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>同じく完成！</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>ジョジョリスペクトで洋楽からとってみた</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>こっちも大丈夫です</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>コードネーム長いですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>長いですね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>呼ぶときは縮めて「ライ」か「のりＰ」でいいよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>コードネームとは</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>あとはねー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>猫村さんおるやん</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>そういう君は猫とでも呼べばいいのかねえ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>このゲーム自分のPCと自分のヒロインとでイチャイチャするという手酌プレイが辛い所なんで</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>PC１のAキラーのRPはPC2が担当、って感じにしたいんですが</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>いいですか？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>そういうの好きですよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>全然OK</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>相沢みさおね、ちょっと見とくか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>じゃあ相沢みさおのRPはnakigao、三上京香はkaeru、常磐巴はanekoで</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>ほい了解</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>OPフェイズはGMがぜんぶやります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>あとこんなんあります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>http://www.fear.co.jp/akg/dlc/ak_words.txt</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お、こういうのはありがたいな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>≫NEWが気になる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>女子力が試されるね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>R&Rでサンプルシナリオかなんかが公開されたときに追加されたっぽい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>じゃあ２２時１０分からはじめます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>ほい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>らっじゃ！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>闇の交渉人殿～ってよぼ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんてCOOLなんだ！うらやましい！！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>闇殿～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>✟闇✟殿～</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>§YAMI§殿～</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>やみどの～</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>その方が長くなってんじゃねえか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>改名しようかなあ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>できればアイコン名は愛称か本名がいいな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>これでいいか？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>あんまり長いとリプレイ壊れちゃ～う</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>8文字以内だとおさまりがいい。画面が小さいと4文字くらいがいい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>これ３日もかかるかなあ・・・かからないかも</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>一応初心者卓だからなぁ・・・？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>まあいいか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>俺の交渉で初手クリアしてやんよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>ゆっくりでもいいとおもう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>ではサンプルシナリオ　ブラッドシアター　始めていきます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>わー</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>ほいほい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>サンプルシナリオ    ブラッドシアター　トレーラー都内某所、資金難で差し押さえられた撮影スタジオがあった。ひとりの映画監督を目指した男の夢の残骸だ。この場所で、映画が撮影されていた。男の夢、タナトスによって紡がれるエロス、死と生の映像。それは血にまみれた殺人ビデオ。映画監督は、夢を失ったアーティスト、快楽に憑かれた殺人鬼、そして他者の死から力を得るエース。これらが同一化された結果、恐るべき血の宴が始まっていた。果たしてAキラーと担当Pは、この死に取り憑かれたエースを排除できるだろうか。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>シナリオハンドアウト概要PC1:パートナーから調査を依頼される。PC2:エースが撮影している殺人ビデオの噂を得る。PC3:詐欺師の捜索を依頼される。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>以上が今回のシナリオ概要です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>もうなんかいも読んだと思う</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>サンプルだったのね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ふんむふんむ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>ちなみにシナリオの舞台は都内某所のオフィスビルらしいです</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>なおいきなりオフィスビルの外から始まる模様</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>話が早い！？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>自己紹介とかはオープニングの中でおいおいやってもらいましょう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>おｋ</div></div>
        </section>
    </div>
{% endblock %}