{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/akgn-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-evi.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div class="container">
        <section>
            <div class="row warning">
                <div class="col-sm-12">
                    <p>WARNING: このリプレイは、公式シナリオ「ブラッドシアター」を使用しています。ネタバレが苦手、またはプレイ予定の方は閲覧をお控えください。</p>
                </div>
            </div>
        </section>
    </div>
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>準備中</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>オープニングフェイズ　シーン１    友達の噂　シーンプレイヤー    猫村</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>今思い出した、相沢じゃなくて花澤だ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>猫村はパートナーの相沢みさおとアイドルカフェ「ジョーカーズ」で午後ティーを堪能しています。</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>「僕は猫舌なんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>パートナーとシーンに登場したのでキズナポイントを1d10点獲得してください</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>1d10    AceKillerGene : (1D10) → 8</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>お、いいね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>8万点</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>いきなりレベル１クリアです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いいやん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>みさおは僕がやりゃええんか？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>イニシアチブ表のキズナLvを+1しておいてください</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>あ　OPはぼくがやります</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お、そうなのか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>猫舌アピールが聞いたらしいね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>効いた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>キズナレベルが2に到達したので</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>担当P ＜調査＞+10% 戦力+2の効果を得ます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>猫村の調査と戦力がアップした</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>さて前置きが長くなりましたが</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>みさおも猫舌なんかなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>パートナーである相沢みさおがぽつりと話しかけてきます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@相沢みさお</div><div class='col-sm-10 serif'>「花沢ゆめという友人が先日、亡くなりました。自殺だったって聞いていました。それで、お葬式に参列したんです。」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>「ふむ。」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、ノリP、自分の一人称なに？オレ？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>わたし</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@相沢みさお</div><div class='col-sm-10 serif'>「そこに島澄栄二郎という人が来ていました。その人を見たら、"エースだ"って感じました。」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>のりPじゃなかった</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>「なんだと・・・」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@相沢みさお</div><div class='col-sm-10 serif'>「だとしたら、きっと、ゆめはエースに殺されたんです。」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>俺は僕だよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>僕ね、ありがとう。かぶるとメンドクサイからさ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@相沢みさお</div><div class='col-sm-10 serif'>ちょっと申し訳なさそうに猫村のほうを見て</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@相沢みさお</div><div class='col-sm-10 serif'>「でも、私の力だけじゃ何も分からなくて。あなたの力が必要なんです。助けてください！！」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>「ああ、勿論だとも。あちっ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@相沢みさお</div><div class='col-sm-10 serif'>猫村をじっと見つめる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@相沢みさお</div><div class='col-sm-10 serif'>「本当ですか！？よろしくお願いします！私も頑張ります！」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>三枚目やなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>このシーンはPCの返答を聞くとシーンが終了するので</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>以上です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>これ以降の相沢みさおのRPはnakigaoにおまかせします</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>拝命しました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>オープニングフェイズ　シーン２    カリスマ詐欺師　シーンプレイヤー    口車</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>猫村さん的になんかこういうキャラっぽくしてって要望あったら言っといて</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>僕の番か</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>口車は常磐巴に呼び出されます。</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>地味な突っ込みがほしい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>場所は高級ホテルのカフェ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>また高度なことを・・・頑張ります！</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>「やっほー、ともぴー、待った？」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@常磐巴</div><div class='col-sm-10 serif'>「いえ、口車殿。ご足労感謝致しますわ」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>「もー硬いなあともぴーは、僕たちの仲じゃあないか」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@常磐巴</div><div class='col-sm-10 serif'>「実は、友人が深刻なトラブルに巻き込まれているのではないかと思いまして。解決にご協力頂きたく。・・・あ、来ましたね」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>「トラブルねえ、口で解決できることなら任せてよ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お、ネームドNPCだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>というわけで常磐巴と佐々木真紀の話を聞く所・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>交渉なら任せろー</div></div>
            <div class='row npc'><div class='col-sm-2 name'>evi@佐々木真紀</div><div class='col-sm-10 serif'>「こんにちは、常磐さん。えっと、そちらの方は？」と口車を見やる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>14歳とそこらってよく考えたら中学生・・・？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>「やっほー僕はは口車之男（くちぐるま　のりお）ともぴーのマブダチです」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>犯罪やな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>全体的に若いよねえ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@常磐巴</div><div class='col-sm-10 serif'>「少々、滑らかにお喋りされるきらいのある方ですが。私の友人ですわ。」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いたいけな少女を口車でだましそうなプロディーサーもおるらしい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>エースキラーは少年少女しかなれないので</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>「ずっともだよねえ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>evi@佐々木真紀</div><div class='col-sm-10 serif'>「そうですか、佐々木と言います。よろしくお願いします。」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>そんなわけで佐々木と話をしているんですが・・・巴に呼び出された理由に納得します。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>「うんうん、しくよろー」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>熱に浮かされたような口調や魂の抜けた力のない瞳は、典型的な、エースにオドを奪われた被害者の姿でした。</div></div>
            <div class='row npc'><div class='col-sm-2 name'>evi@佐々木真紀</div><div class='col-sm-10 serif'>「お世話になっている島澄栄二郎さんのことを悪く言う人たちがいて。かかわると殺されるって。」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>evi@佐々木真紀</div><div class='col-sm-10 serif'>「それを教えてくれた花沢ゆめちゃんが自殺しちゃって、私もビックリしちゃって。でも自殺だから島澄さん、カンケーないし、大丈夫かなって」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>やべー目をしてらっしゃる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ほっぺたひっぱたいてこ！正気に戻るかも！</div></div>
            <div class='row npc'><div class='col-sm-2 name'>evi@佐々木真紀</div><div class='col-sm-10 serif'>「島澄さん、すぐに私もデビューできるって宣材写真とかPVとかいろいろ撮ってもらったんですよ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>evi@佐々木真紀</div><div class='col-sm-10 serif'>「レッスン代とか撮影代とか大変でしたけど、でも大切なことですよね」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>死んだ魚を食べたような目をしている</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>とかなんとかべらべらまくし立てます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>「ほうほうなるほどねえ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>ちなみにオドについては共有メモの世界観のとこにちらっと書いてます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>「よろしくない！実によろしくないねえ。３流以下の詐欺師の仕事だ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@常磐巴</div><div class='col-sm-10 serif'>「どうでしょう、口車殿、尋常でないとおもいませんか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>evi@佐々木真紀</div><div class='col-sm-10 serif'>「なんですか、貴方も悪く言うんですか？」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>「いやいや、そんなことは無いさ、実に興味深い人物だね」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>「是非１度あってじっくりとＯＨＡＮＡＳＨＩしたいねえ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>evi@佐々木真紀</div><div class='col-sm-10 serif'>「島澄さん、男性には興味ないから紹介はできないですけど、あ、そうだ、名刺ならありますよ。是非口車さんも島澄さんの凄さを知ってほしいなあ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>というわけで島澄栄二郎の名刺を手に入れてシーン終了します</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>「どーもありがとーね、是非とも色々知りたいなあ」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>ひあ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>プライズゲットだぜ！？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>忘れてた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>キズナポイントを+1d10してください</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>さっそく連絡先にイタ電をしよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>以後着信拒否</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>1d10    AceKillerGene : (1D10) → 4</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>先は長い</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>オープニングフェイズ　シーン３    ブラッドシアター　シーンプレイヤー    ケイ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>猫舌じゃないから・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>この子普通に攻略難度高いよねえ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>これ以降常磐巴のRPはanekoにお願いします</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>さてケイのシーン</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ばっちこい、場所はどこだ～？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>最近うわさの殺人ビデオ「ブラッドシアター」を観てるところです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>映画館ってこと？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>場所は・・・自宅か近所のアイドルカフェ「ジョーカーズ」かな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>ちょっと個室的なところがいいです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ん～、個室なら自宅でいこう。リプレイもそうだった気がする</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>ふぁい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>「・・・へ～・・・」とボーっと画面を見ている</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>このシーン三上京香はでないんですけどキズナポイントを＋1d10してください</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ひどいですねきみ！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>1d10 キズナチャレンジ    AceKillerGene : (1D10) → 1</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>ワロタ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>先はなが～い</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@口車之男</div><div class='col-sm-10 serif'>まあ登場してないしねえ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>じゃあ携帯端末にいれてるJOKER専用の通話アプリが着信します</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>「おっと・・・じじ様か？」近親者のつてでAKを紹介してもらったらしい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>出ます？見ます？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>出るうえに見ます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>ハイテクゥ！</div></div>
            <div class='row npc'><div class='col-sm-2 name'>evi@チェアマン</div><div class='col-sm-10 serif'>「私だ、チェアマンだ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>とバリトン声が聞こえる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>イケボ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>「なんだユーか・・・今回はなんの厄介事？」とつまんなそうに言います</div></div>
            <div class='row npc'><div class='col-sm-2 name'>evi@チェアマン</div><div class='col-sm-10 serif'>「これを見てくれ。あるいは、君ならもう見ているか？」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>と動画データが送られてきます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>「すごく・・・」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>じゃあ、動画データを見て、今ちょうど見てたよって言いました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>動画の内容は美しく着飾った被害者の、スナッフビデオ。死体はバラの花に埋もれている。</div></div>
            <div class='row npc'><div class='col-sm-2 name'>evi@チェアマン</div><div class='col-sm-10 serif'>「映像解析の結果は本物だ。最悪なことだ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>「こりゃあ、結構なことだな・・・」と顔をしかめます</div></div>
            <div class='row npc'><div class='col-sm-2 name'>evi@チェアマン</div><div class='col-sm-10 serif'>「撮影者はエースだという情報も得られた。その真偽を調査し、エースであれば、排除してもらいたい。」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>「ふう、相変わらず簡単に言ってくれるねユーは・・・」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>evi@チェアマン</div><div class='col-sm-10 serif'>「ちょうどいいことに、猫村というJOKERが待機状態で近くにいるはずだ。協力してことにあたって欲しい。」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@猫村勝男</div><div class='col-sm-10 serif'>「はむしょ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ケイ</div><div class='col-sm-10 serif'>「そりゃどうも、報酬の方もよろしくぅ！」と指をピッとやってウィンクします。見えないけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>ではシーンを終了します</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>以上でオープニングは終了！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>三上ちゃんでなかったけどあとはkaeruにまかせた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@相沢みさお</div><div class='col-sm-10 serif'>「く、くしゃみですか・・・？風邪、ですか？」と心配そうに猫村を見ます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>チェアマンとの絆レベルが提示されてないんだけど、バグ？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@三上京香</div><div class='col-sm-10 serif'>「わかりました！がんばります」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@GM</div><div class='col-sm-10 serif'>チェアマンはボスなのでキズナとかないです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ひどぅい！</div></div>
        </section>
    </div>
{% endblock %}