{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/akgn-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-evi.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div class="container">
        <section>
            <div class="row warning">
                <div class="col-sm-12">
                    <p>WARNING: このリプレイは、公式シナリオ「ブラッドシアター」を使用しています。ネタバレが苦手、またはプレイ予定の方は閲覧をお控えください。</p>
                </div>
            </div>
        </section>
    </div>
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>シーン1「友達の噂」</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        [シーンプレイヤー]猫村<br>
                        [場所]アイドルカフェ「ジョーカーズ」<br>
                        <br>
                        キミはパートナーの相沢みさおとアイドルカフェ「ジョーカーズ」で午後ティーを堪能しています<br>
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>パートナーとシーンに登場したのでキズナポイントを1d10点獲得してください</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>1d10 AceKillerGene : (1D10) → 8</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>8万点</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>お、いいね。いきなりレベル１クリアです、イニシアチブ表のキズナLvを+1しておいてください。キズナレベルが2に到達したので、担当P ＜調査＞+10% 戦力+2の効果を得ます</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>「僕は猫舌なんだ」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>みさおも猫舌なんかなあ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>パートナーである相沢みさおがぽつりと話しかけてきます</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@相沢みさお</div>
                <div class='col-sm-10 serif'>「花沢ゆめという友人が先日、亡くなりました。自殺だったって聞いていました。それで、お葬式に参列したんです」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>「ふむ」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@相沢みさお</div>
                <div class='col-sm-10 serif'>「そこに島澄栄二郎という人が来ていました。その人を見たら『エースだ』って感じました」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>「なんだと……」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@相沢みさお</div>
                <div class='col-sm-10 serif'>「だとしたら、きっと、ゆめはエースに殺されたんです」ちょっと申し訳なさそうに猫村のほうを見て</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@相沢みさお</div>
                <div class='col-sm-10 serif'>「でも、私の力だけじゃ何も分からなくて。あなたの力が必要なんです。助けてください！！」猫村をじっと見つめる</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>「ああ、勿論だとも。あちっ」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@相沢みさお</div>
                <div class='col-sm-10 serif'>「本当ですか！？よろしくお願いします！私も頑張ります！」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>三枚目やなあ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>このシーンはPCの返答を聞くとシーンが終了するので、以上です</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>シーン2「カリスマ詐欺師」</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        [シーンプレイヤー]口車<br>
                        [場所]高級ホテルのカフェ<br>
                        <br>
                        キミはパートナーである常磐巴に呼び出されていた<br>
                    </blockquote>
                </div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>「やっほー、ともぴー、待った？」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@常磐巴</div>
                <div class='col-sm-10 serif'>「いえ、口車殿。ご足労感謝致しますわ」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>「もー硬いなあともぴーは、僕たちの仲じゃあないか」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@常磐巴</div>
                <div class='col-sm-10 serif'>「実は、友人が深刻なトラブルに巻き込まれているのではないかと思いまして。解決にご協力頂きたく。……あ、来ましたね」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>「トラブルねえ、口で解決できることなら任せてよ」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>というわけで常磐巴と佐々木真紀の話を聞く所……</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@佐々木真紀</div>
                <div class='col-sm-10 serif'>「こんにちは、常磐さん。えっと、そちらの方は？」と口車を見やる</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>「やっほー僕はは口車之男（くちぐるま　のりお）ともぴーのマブダチです」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>14歳とそこらってよく考えたら中学生……？</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>犯罪やな</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>全体的に若いよねえ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>いたいけな少女を口車でだましそうなプロディーサーもおるらしい</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>エースキラーは少年少女しかなれないので</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@常磐巴</div>
                <div class='col-sm-10 serif'>「少々、滑らかにお喋りされるきらいのある方ですが。私の友人ですわ」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>「ずっともだよねえ」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@佐々木真紀</div>
                <div class='col-sm-10 serif'>「そうですか、佐々木と言います。よろしくお願いします」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>「うんうん、しくよろー」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>そんなわけで佐々木と話をしているんですが……巴に呼び出された理由に納得します。熱に浮かされたような口調や魂の抜けた力のない瞳は、典型的な、エースにオドを奪われた被害者の姿でした。</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@佐々木真紀</div>
                <div class='col-sm-10 serif'>「お世話になっている島澄栄二郎さんのことを悪く言う人たちがいて。かかわると殺されるって」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@佐々木真紀</div>
                <div class='col-sm-10 serif'>「それを教えてくれた花沢ゆめちゃんが自殺しちゃって、私もビックリしちゃって。でも自殺だから島澄さん、カンケーないし、大丈夫かなって」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>やべー目をしてらっしゃる</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ほっぺたひっぱたいてこ！正気に戻るかも！</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>死んだ魚を食べたような目をしている</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@佐々木真紀</div>
                <div class='col-sm-10 serif'>「島澄さん、すぐに私もデビューできるって宣材写真とかPVとかいろいろ撮ってもらったんですよ。レッスン代とか撮影代とか大変でしたけど、でも大切なことですよね」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>とかなんとかべらべらまくし立てます。ちなみにオドについては共有メモの世界観のとこにちらっと書いてます</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>「ほうほうなるほどねえ」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@常磐巴</div>
                <div class='col-sm-10 serif'>「どうでしょう、口車殿、尋常でないとおもいませんか？」小声</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>「よろしくない！実によろしくないねえ。３流以下の詐欺師の仕事だ」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@佐々木真紀</div>
                <div class='col-sm-10 serif'>「なんですか、貴方も悪く言うんですか？」威圧</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>「いやいや、そんなことは無いさ、実に興味深い人物だね！是非１度あってじっくりとＯＨＡＮＡＳＨＩしたいねえ」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@佐々木真紀</div>
                <div class='col-sm-10 serif'>「島澄さん、男性には興味ないから紹介はできないですけど、あ、そうだ、名刺ならありますよ。是非口車さんも島澄さんの凄さを知ってほしいなあ」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>「どーもありがとーね、是非とも色々知りたいなあ」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>というわけで島澄栄二郎の名刺を手に入れてシーン終了します</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>プライズゲットだぜ！？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>さっそく連絡先にイタ電をしよう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>以後着信拒否</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>忘れてた、キズナポイントを+1d10してください</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>1d10 AceKillerGene : (1D10) → 4</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>先は長い</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>猫舌じゃないから……</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>この子普通に攻略難度高いよねえ</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>シーン3「ブラッドシアター」</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        [シーンプレイヤー]ケイ<br>
                        [場所]自室<br>
                        <br>
                        キミは最近うわさの殺人ビデオ「ブラッドシアター」を観ている<br>
                    </blockquote>
                </div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>「……へ～……」とボーっと画面を見ている</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>このシーン三上京香はでないんですけどキズナポイントを＋1d10してください</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>1d10 キズナチャレンジ AceKillerGene : (1D10) → 1</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>ワロタ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>先はなが～い</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>まあ登場してないしねえ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>じゃあ携帯端末にいれてるJOKER専用の通話アプリが着信します</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>「おっと……じじ様か？」近親者のつてでAKを紹介してもらったらしい。出ます？見ます？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>出るうえに見ます</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>ハイテクゥ！</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@チェアマン</div>
                <div class='col-sm-10 serif'>「私だ、チェアマンだ」とバリトン声が聞こえる、イケボ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>「なんだユーか……今回はなんの厄介事？」とつまんなそうに言います</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@チェアマン</div>
                <div class='col-sm-10 serif'>「これを見てくれ。あるいは、君ならもう見ているか？」と動画データが送られてきます</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>「すごく……」じゃあ、動画データを見て、今ちょうど見てたよって言いました</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>動画の内容は美しく着飾った被害者の、スナッフビデオ。死体はバラの花に埋もれている。</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@チェアマン</div>
                <div class='col-sm-10 serif'>「映像解析の結果は本物だ。最悪なことだ」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>「こりゃあ、結構なことだな……」と顔をしかめます</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@チェアマン</div>
                <div class='col-sm-10 serif'>「撮影者はエースだという情報も得られた。その真偽を調査し、エースであれば、排除してもらいたい」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>「ふう、相変わらず簡単に言ってくれるねユーは……」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@チェアマン</div>
                <div class='col-sm-10 serif'>「ちょうどいいことに、猫村というJOKERが待機状態で近くにいるはずだ。協力してことにあたって欲しい」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>「そりゃ至れり尽くせり……、報酬の方もよろしくぅ！」と指をピッとやってウィンクします。見えないけど</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>「はむしょ」※そのころ、某アイドルカフェでは</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@相沢みさお</div>
                <div class='col-sm-10 serif'>「な、なんですかその鳴き声……。く、くしゃみですか……？」と心配そうに猫村を見ます</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>てか、チェアマンとの絆レベルが提示されてないんだけど、バグ？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>チェアマンはボスなのでキズナとかないです</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ひどぅい！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>ではシーンを終了します。以上でオープニングは終了！</div>
            </div>
        </section>
    </div>
{% endblock %}