{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/akgn-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-evi.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div class="container">
        <section>
            <div class="row warning">
                <div class="col-sm-12">
                    <p>WARNING: このリプレイは、公式シナリオ「ブラッドシアター」を使用しています。ネタバレが苦手、またはプレイ予定の方は閲覧をお控えください。</p>
                </div>
            </div>
        </section>
    </div>
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>エンディング</h2>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>猫村勝男の場合</h3>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        パートナーは花沢ゆめの死を悼む。<br>
                        キミと一緒にゆめを弔って終了となる。
                    </blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>うおおん</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ゆめの遺言はガンジス河に流してほしいだったらしいよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>エースに洗脳されてるような状態だからありえるんだよなぁ（錯乱）</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>「ガンジス河にいくぞ！みさおくん！」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>遺体は持っていけないのでアクセサリーぐらいでいいですかねえ？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>まあスタジオのどっかにありそうですね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>もってこうぜ遺体</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>ゆめちゃんの死体は川に沈められたけどビデオは残る！</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>家族に届けなきゃ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@相沢みさお</div>
                <div class='col-sm-10 serif'>「そ、そうですね・・・ゆめもきっと喜びます」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>死体残してそうにないけど、＜捜索＞でもしてみて</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>AK30 AceKillerGene : D100<=30@6 → 83 → 失敗</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>じゃあガンジス川の底にあった</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>コンタクトレンズぐらい見つかったかな？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>遺品 コンタクトレンズ（使い捨て）を手に入れた</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>そのコンタクトレンズを見て悲しみに満ち溢れておこう・・・これだれのだろう？名前書いてあるかな？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@相沢みさお</div>
                <div class='col-sm-10 serif'>「と、ところで・・・。その・・・猫村さんと、私、その、ふたりっきりで、ですか？」と少し赤くなりつつ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>すでに心はインド旅行！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>あんまイチャイチャイベントなかったからなぁ、最後くらいね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>絆ポイントも増えてるしね</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>「ああ、もちろんさ。人数多いとお金かかるからね！」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>大人の照れ隠しは見苦しい！！</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>こんくらいとぼけた返しのほうがいいでしょ、たぶん</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@相沢みさお</div>
                <div class='col-sm-10 serif'>「な、なるほど～」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>乙女の心には《重症》。というわけでガンジス川捜索編はまた後日</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ガンジス編楽しみだなぁ！</div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>ケイの場合</h3>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        チェアマンに事の顛末を報告する。
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>最後までシーンの指定がおっさんなんだけど、ケイ君大丈夫かなあ？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>ん？チェアマンとの絆もMAXだけど・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>いつのまに・・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>京香から溢れた絆はチェアマンに向かっていた・・・？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>コワイ！ちなみに何のシーン？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>報告する。としか書いてないんで・・・どこでも。OPでは自宅でしたね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>自宅だとロマンスのかけらもないから、海に行きます。例のごとく夕暮れ時。通信だと味気ないから、出てきてチェアマン</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>チェアマンと二人</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>「よう、あんたが出てくるなんて、珍しいこともあるもんだな。ま、オペレーションは無事終了だ」と報告します</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>※ざざーん・・・穏やかな波の音が雰囲気を盛り上げます</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@チェアマン</div>
                <div class='col-sm-10 serif'>「うむ。やはり君に頼んで正解だったようだ。事後処理も概ね完璧だ。」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>「へへ、頼ってくれていいぜ・・・」と鼻をこすりながら</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@チェアマン</div>
                <div class='col-sm-10 serif'>「佐々木真紀のメンタルケアと・・・花沢ゆめほかの死、そして発表されたビデオは消せないがな。」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>「人の心に関しては・・・オレにはよくわからん。キョウカなんか、役に立つかもしれないぜ。ああ見えて、あいつは周りのことをよく見てる」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@チェアマン</div>
                <div class='col-sm-10 serif'>「先輩AKとして期待するところだな。猫村はどうだったね？最近頭角を現してきた期待の男だ♂。」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>そういう路線か・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>この間釣りバカ日誌みてたらなんか、そんなんだったから・・・</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@ケイ</div>
                <div class='col-sm-10 serif'>「猫さんか？ああ、一緒の部屋で作戦指揮してたが、なかなか・・・///」と少し赤くなります</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@チェアマン</div>
                <div class='col-sm-10 serif'>二人は幸福な無言のまま終了</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>はい・・・</div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>口車之男の場合</h3>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        佐々木真紀を無事に救出できていれば、アイドルを諦めていない真紀のバイタリティを演出する。
                    </blockquote>
                </div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>えぇ・・・夢見る乙女は強し</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>鋼メンタル</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>真紀と会うってことかな</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@佐々木真紀</div>
                <div class='col-sm-10 serif'>「あの、口車さんありがとう。巴ちゃんも・・・私、どうかしてたみたいです。」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>「いやいや、構わないよあの程度なら日常茶飯事だし」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>evi@佐々木真紀</div>
                <div class='col-sm-10 serif'>「スミエースタジオには騙されてたけど、今回二人に助けられて、私、夢を諦めないって決めたんです。応援してくれますか？」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>目に生気が戻った</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>ハイライト先輩は偉大やなあ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>えがったえがった</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>ちなみに佐々木真紀は死んでも死んでなくてもクリア報酬は変わりません</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>「ククク、いいだろう！ならば僕が君をプロデュースしてあげよう」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>口車くんに騙される未来が見える・・・</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>「大丈夫、悪いようにはしないよう」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>芸能界の闇</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>このへんで終わろう、お疲れ様でした</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>おつかれー</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おつかれさーん。なんだ唐突に終わるな</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>おつかれさま</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>クライマックスフェイズが終わったらもう終わりなんだよ・・・</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>エンディングまでやらないともったいないじゃあん</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>ああいやサンプルシナリオがエンディング超あっさりだから・・・</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>リザルト</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>リザルトなんですけど、えいじろーを殺したら１０点殺せなかったら５点らしいですよ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>分かりやすいな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>忘れっぽい人でも大丈夫</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>そのくらい？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>GOみたいに特性能力のランク上げとかないんで、そんくらい</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>感想戦</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>やっぱ一人二役はむずかしそうですね、ルールに慣れてないってのもあるけど</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>実質3キャラじゃなかった？データ管理は2キャラだけど</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>RP的には３キャラやなあ・・・おおすぎる、首！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>んむ・・・設定自体はおもしろいんだけどなぁ、戦闘のフラグ管理もなかなかいいし</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>AAOとその影響はいいんですけどね、ほかがね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>もういっそＡキラー捜査してプロデューサー首にすればいいんでない？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>AKとの交流も大事な要素だけん。それを扱いきれるPLがなかなかいないと思う</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>キャッキャウフフがなくなると劣化版GOになる。ラブコメが80%だから</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>やってて思ったけど、最近のソシャゲのマネしたみたいな感じはした。本来システムで管理するところ(AK)をPLがやるのはきつい</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>あーソシャゲ感あるね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>それを無理矢理落とし込んだ感はあるかなって</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>AKGはソシャゲ・・・ガチャを実装すればいいんだな！？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>補助システムが必要だ・・・</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@口車之男</div>
                <div class='col-sm-10 serif'>ガチャってことは1000分の1ダイスとかかな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>GMが全部やるとチャットパレット10個とか使い出す、やってられない</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>女子力高くないとAKのRPはきついものがある</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>わかる、いやそこは男子の理想の女子でいいんですけど、難しいですね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>つまり、プロデュースする対象が「男子」だった場合は・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>はっ！？</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>売り上げが半分以下になってそう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>企画段階でボツの可能性すらある</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>https://www.amazon.co.jp/dp/477531355X</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>これでよくない？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>お、神ゲーか？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>ニーズにピッタリ、ジャストフィット</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>いやぁ・・たまげたなぁ・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>SMAPのメンバーも言えない・・・我々では・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>これは女性層をねらっているのかな？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>https://www.amazon.co.jp/dp/4775315285</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>もっとダメそうなのがあった</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>な、なんだこれは！？！？（衝撃</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>DCIM40 AceKillerGene : 負傷表 衝撃[40] → 致命傷２／ＤＯＴ 重傷1 ｜ 内臓損傷 … 衝撃が身体の芯まで届き、内臓がいくつか傷ついたようだ。</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>サイコロ・フィクションシリーズ、ついに第13弾！プレイヤーはイケメンとなり、吸血鬼の主人に仕えます。過酷な任務とワガママな主人に耐えながら、車で全国を旅しましょう。きっと、そのうち、いつか。吸血鬼になれる日が来ます。</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なんだ、プレイヤーがイケメンなのかぁ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>プレイヤーはイケメンとなり・・・イケメンとなる！・・・我々はイケメンになれる・・・！</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@猫村勝男</div>
                <div class='col-sm-10 serif'>イケメンによるイケメンTRPGがはじまる</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>女子が喜びそう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>イケメンのRPをしないと・・・イケメンのRPができたらこんな遊びせんわい！</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>そんなぁ（血涙</div>
            </div>
        </section>
    </div>
{% endblock %}