{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-evi.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/pc-common.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>トレーラー</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>都内某所、君たちはそれぞれ自分たちの上司から命令を受けていた。なんでも通り魔事件が急増しているのだが目撃者が一切いない、という不可解な状況のようだ。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>「コードネーム　ダブル・エージェントの救援要請に従い、彼の指揮下で事件を解決せよ」</div></div>
      </section>
    </div>
{% endblock %}
