{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-evi.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/pc-common.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>オープニングフェイズ</h2>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>でははじめます</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>よろしくおねがいします!</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>よろしくおねがいします(スタンプほしい……)</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>よろしくおねがいします</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>よろしくお願いしますー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>choice[1,2,3,4] GardenOrder   (CHOICE[1,2,3,4]) → 3</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>PCsで左から3番目の子……リヒトくんからだ</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>あ、僕か</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>リヒト君はふつうにGARDEN所属キャラでいいのかな</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>ですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>では上司にスカイプで命令を下されます</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>「都内の某所で協力組織が人手を集めている。恐らくネフィリム絡み……ケースNだろう」という感じですね</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>「ケースN……なるほど。なぜネフェリムがらみだと?」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>「数名の死亡ないし行方不明が確認されているが、警察が事件を公表していない。奴らは専門家ではないから、事態を把握していないんだろう」</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>「われわれの出番……という訳ですね」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>「まだウチが正式に出動する状況にはなっていないが、現地組織から応援を求められた。可能な限り支援をしてこい」</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>「了解しました。」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>では指定された集合地点、「なんかそのへんの高架の下にあるちっちゃい倉庫みたいなところ」に移動します。リヒトが集合場所の入り口を開けると、3人のPCとガタイのいいおっちゃん(偉そう)がすでに集まっています……というところで顔合わせ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@W_エージェント</div><div class='col-sm-10 serif'>「4人目。ひょろっちいが……これで全員揃ったな。今回俺がツテを使いまくってかき集めたのがお前らだ。だから俺はお前らの経歴も何も知らん。最後に入ってきたお前、自己紹介してくれ」</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>「俺の名前はコウ、支子コウだ。 特性能力は光波干渉。 まぁよろしく頼む」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>「よろしくー」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「よろしく」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「支子さんですね。ネフィリムを倒すまでですが、よろしくおねがいします」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@W_エージェント</div><div class='col-sm-10 serif'>「なるほど。芯の強そうなやつじゃないか。次は……キュリオベンダーといったか、お前達も改めて自己紹介してくれ」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>「私は上紺屋ひとみ(かみこうや ひとみ)。コールサインはキュリオベンダー。能力を使うと、買い物をするのが楽になるよ」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>君たちはその名前を聞いて、驚きながら「お前があのキュリオベンダー……!?」と言ってもよい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>(キュリオベンダーさんだ……!)</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「買い物……?特性は感覚強化と伺っていたのですが……」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>彼女はその能力を活用して会社を作って、能力を活用しすぎて経済を崩壊させた前科がある。そのせいで麻薬カルテルから命を狙われたりしていたこともあったのだ……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>急にボロアパートに借金取りが押し寄せてくるイメージがついてしまった</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「あのキュリオベンダーか。君の名は我が支部でも聞いたことがあるな」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>特に経歴も隠してないので「えへへ」と照れ笑いしておこう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@W_エージェント</div><div class='col-sm-10 serif'>「頼りになるんだか恐ろしいんだか、わかんねぇなこれは!鉄砲繋がりで次はアムネシア、頼む」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「私のはライフルですけどね。神代優希（かみしろゆき）です。コールサインはアムネシア。特性は重力操作です。精々狙撃くらいしか脳が無いですが、どうぞよろしくおねがいします」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>君のそのちょっとした狙撃でヘリが墜落するんだが</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>なんならグラビティゼロで自分がヘリより高く飛んでもいい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>銃火器持ちながら飛ぶ。ストライクナンタラーズだ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>近づかれたら周りのものを操作して全力で投げつける(特性能力)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>陰口をいうときはポルターガイストって呼ぼう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@W_エージェント</div><div class='col-sm-10 serif'>「狙撃か。戦術レベルの支援があるのは心強い限りだ。最後、エフェメラルブルー、頼む」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「ふむ。私は蒼依夢人（あおいゆめと）。東北支部から来たものだ。精神投影を使う。コールサインはエフェメラルブルーだが、名前でも好きな方で呼んでくれ」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>大人の風格</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>人の夢は儚い</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@W_エージェント</div><div class='col-sm-10 serif'>「能力の詳細はしらんが、お前達の衛生兵になる。せいぜい機嫌を損ねんようにな」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「おべんちゃらなんて使ってもバレますしね」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>脳ジャックされる</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「嘘はすぐ見抜くからそのつもりでよろしく頼むよ」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>「たのもしい」</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>「それくらいのほうが信用できるしな」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「必要以上には詮索しないから気にしないでくれよ?」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@W_エージェント</div><div class='col-sm-10 serif'>「最後に俺だ。ダブル・エージェント……ようは二重スパイなんて呼ばれてるが、仕事の性質上仕方なくてな。ミッションの詳細を話そう。おっと、本来の所属はGARDENだからな。信用してくれないと困るぜ」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>「いまのところ困らせるつもりはないよ」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「ふむ。大丈夫なようだ、みんな安心したまえ」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「別にそのへんには興味ないですしね。ネフィリムさえ倒せるならば、それで」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@W_エージェント</div><div class='col-sm-10 serif'>「まず、ここら一帯……特に市街地、駅の周辺で行方不明者や死亡者が発生している。警察内部でもネフィリム対策が仕事の奴らもいるし、その線での捜査もしているようだが、何も分かっていないのが現状だ。雑に言うと"なにか事件が起きてる。なんとかして解決してくれ"ってのが依頼だ」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>マルナゲブラックRX</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「ものすごく雑ですね」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@W_エージェント</div><div class='col-sm-10 serif'>「それから、今回の事件発生地域周辺はどうにも反オーダーの意識が強くてな。情報が入って来ない理由の一つだ。こっちも雑に言うと"俺たちは嫌われてるから悪目立ちしないでくれ"ってのが、追加の依頼だな」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>「いきなり髪の毛や目の色を変えたりしないように気をつけよう」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「まあ、我々は一般人からしてみればバケモンみたいなものだからな。仕方あるまい」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>夢人さんに全員洗脳してもらおう</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>単体しか無理!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>疲労ゲージ的に5人やったらふらふらだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@W_エージェント</div><div class='col-sm-10 serif'>「基本的に俺はこれ以上の情報はもってないが……なにかあれば連絡してくれ。端末に連絡先を登録しておいてくれ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@W_エージェント</div><div class='col-sm-10 serif'>(意訳 もうこの子出番ないけど寂しかったらNPCとして呼んでいいよ)</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>「はーい」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>(もう洗脳しとけよ)</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>熱い洗脳推し</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>壁になるかなって</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@W_エージェント</div><div class='col-sm-10 serif'>「後の作戦行動はお前達に任せる。寄せ集め部隊だが、頼んだぞ」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「ああ。ありがとう。連絡先はすでに登録済みだ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>じゃあ……バディを決めて(二人組を作って)もらおうか……</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>ソロがいいー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>もうひとりソロが確定しましたね!</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>これお犬君（不参加PL）いたらトラウマが刺激されたやつやん(はーい二人組つくってー)</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>ソロで</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>GM側が大変だろ!!3組出来たら!!!(メタい)</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>なんならキャラ的にアムネシア嬢もソロっぽいよねw</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>内心ソロしたくてたまらないけど一応組織には従順なので孤立しない的なアレ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>コミュ障だけど頑張ってる人</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>独立志向がつよくて余り物が二人できてしまった、なんということだ</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>重力と光波は比較的バディ強そう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>能力名の組み合わせも闇っぽいのと光っぽいのが合わさって強そうだ</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>じゃあバディ組みますか</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>隠密72あるし光波干渉のバディエフェクト活用できまくるな</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>隠密かけまくり</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>忍者か</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「彼女ら二人はああ言ってるけど……基本的にバディで行動しろとガーデンから言われてるから。よろしくお願い出来ますか?リヒトさん」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>（光波干渉のバディエフェクトってなんだっけ…?げ!）相方をスネークにする能力……!</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>「二人で行動したほうがカバーもしやすいしな…… よろしく頼む」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>オープニングフェイズは以上です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>バディを共有メモにメモした。GM頭弱いから。</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>セッションシート常に書いてるから大丈夫やで</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>オフセ経験者は違うな(何も書いてない)</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>同じくなにも書いていない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>俺も困ったらエッフェーに聞こう</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>こうしてみるとGMって大変ね……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>システムによっては「シナリオ開始します」「お疲れ様でした」しか言わなくていいものもあるけどね!!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>対立型シノビガミとかGMいらんでしょ……いらんいらん……</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>ハンドアウトを配布するという重大な使命がある</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>たしかに。ハンドアウト配布の重責に耐えかねて何人のシノビが妖魔になったかわからない</div></div>
        </section>
    </div>
{% endblock %}
