{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-evi.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/pc-common.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>クライマックスフェイズ</h2>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ではクライマックスいくぞー</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>イクゾー</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>幾三</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'><b>ミナゴロシダー</b></div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>タマヲアテルゾー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>君たちが敵の頭目思しき大柄な影を追っていくと、やがて町外れの工場地帯にたどり着く</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>廃工場というわけではなさそうだが、ここにはバイオレンスな鉄のニオイが充満しているではないか!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>というわけでクライマックスシーン、登場PC全員(ボス駒を置く)</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>タフい敵が</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>超ワルだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>スーパーわる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「貴様らか、我らの餌場を荒らす蝿どもは」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>かっけー</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「そういうあなたは蝙蝠どもの親玉……で良いのでしょうか」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>「こんなに血の匂いをプンプンさせておいて、ハエが1匹も寄ってこないと、思ってたわけじゃないでしょ」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「むしろ蝿はきみではないかね。夜な夜なこそこそと人にむらがりおって」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>衣服などである程度偽装しているが、その男の肉体は明らかに歪であり、服の下で蠢く触手状の器官やぼこりと盛り上がったシルエットが見て取れる</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ネロカオスじゃん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「先程の戦闘拝見させていただいた。オーダーを煙たがるこの地域は住みやすかったが、どうやら上手いことやってくれたようだ」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「とても品行方正ですからね、私達」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>そうだったっけ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>アイアン●ンな不審者と強盗二人はいる</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>ペンライト屋さんや暗視装置屋さんに発言権がない町</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「どっちかっていうとこっち側くさいムーブをしていた気もするが、我々を見逃す気など無いだろう」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「見逃す?そもそも君のような輩が住む世界ではないよ。ご退場願おうかな」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「ご退場と言わず霧散して頂きましょう。こちとらネフィリムを狩る為だけにこんな所まで来たのですから」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「我が同胞たちは何百年とこの世界の闇に生きてきた……貴様らも、闇に還るまでよ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>なんだこいつ、セリフ打つと誤字脱字が絶対一個はいるんだけど (※訂正済み)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>戦闘配置しましょう。敵は雑魚吸血鬼が4人と超悪いやつ</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「終わったらご飯奢る約束もあるし、とっとと終わらせようか」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>《†プレコグニション》を使いたい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>（あっ）あっはい</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「(もしかして死亡フラグ立てちゃったかな……)」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>この能力は、1シナリオにつき1回</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>GMに質問して答えさせることができるのだ!</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>お!キターーー</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'><b>敵の位置おしえて</b></div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>草</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>つよい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>えっとまず</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>使用する先頭エリアはA,DE,GHの5か所</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>こちらの戦闘配置可能なエリアがA,E,H</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>そちらの戦闘配置可能なエリアがD,G</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>そのうち雑魚がAに1体Eに2体Hに1体超ワル(ボス)がE</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>完璧な情報だ</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>というわけで1点疲労</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>「センサーに映っている敵の位置はこうだ」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「伊達にアイア●マンしてませんね」</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>いちおうまだステルス状態ですよね?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>場所を教えただけだからね!!</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>じゃあエリアDに置こう</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>Aを誰がヤルかですな</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>捜索がしょきちなのでみつけられない(諦め</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>ちなみにボス倒せば終わり?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>うん。ボスを倒せば雑魚はちりぢりになるであろう!</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>……A放置でいいか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>それはそれでまずいという説もあるが管轄外だ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>僕紙なのでご配慮を</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>吸血鬼は近づいて噛むことしかできなさそうだから</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>ほっといてもこっちに寄ってきそう</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>定番の魅了の魔眼</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>私最前線いた方いいよね多分</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>衛生兵の仕事あるし</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>分散するよりは全員エリアDにいたほうがよさそう</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>僕とりあえずAに逃げたいAに逃げてDに来る敵撃ってりゃいいんでしょ</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>それもいいね</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ということで僕もD</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>配置確定したらあらためて宣言してちょ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ッターン(Enter(</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>私もD</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>でぃー</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>固まってたほうがいろいろ対処しやすいので私もDで</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>全員D。オッケー</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>ラウンド1</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ではセットアッププロセスからいこう</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>実はエリアDの地面にはC4が埋まってたとかがなければこれでいいはず</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>GMの気分で爆発させれるフラグを立ててはいけない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>特性能力 ホバリング(パッシブ) 常に飛行状態になる</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>≪バディエフェクト≫つかいたいです</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>go100 GardenOrder   D100<=100@20 → 35 → 成功</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>僕もセットアップでグラビティコントロールします</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>go100 へいすと GardenOrder   D100<=100@20 → 64 → 成功</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>そういえば隠密したまま捜索できるのん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ん～…芋砂だって芋掘りできる！さ！</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>誰が芋砂か</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>地味にあのワル早いぞ(行動値+14)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>はやいぞ～～～</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>セットアップ特にないです</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>セットアップに《†スローモー》を使用する</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>go100 すろーもー GardenOrder   D100<=100@20 → 9 → クリティカル</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>すごくゆっくりになった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>クリティカルしたので、なぜか不審者ポイントが減りました</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>ふしぎ!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ふしぎだなー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>じゃあイニシアチブロールしましょう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>1d10+14 GardenOrder   (1D10+14) → 8[8]+14 → 22</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>1D10+13 GardenOrder   (1D10+13) → 3[3]+13 → 16</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>よわい</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>1d10+10 GardenOrder   (1D10+10) → 1[1]+10 → 11</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>1d10+8 GardenOrder   (1D10+8) → 10[10]+8 → 18</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>1d10+2 いにしあちぶ GardenOrder   (1D10+2) → 5[5]+2 → 7</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>なんというスピード</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>キュリオベンダー本人もゆっくりになった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>超ワルから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>あ、こいつ移動値2なんで移動アクション2回してくるんで……</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>2歩移動が一番はやいとかいうヤバいゲーム</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>うーむ、(敵が早いと)放心状態の意味が薄い……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go90 特性能力 ブラッドスラッシュ 単/遠距離/[コスト 軽傷1]≪切断≫属性のダメージ GardenOrder   D100<=90@18 → 43 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>だーれーにーしーよーうーかーな</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>はいはいはーい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>choice[a,l,c,e] GardenOrder   (CHOICE[A,L,C,E]) → L</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>スカ!スカ!(一応僕今ステルス)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>リヒトだーーー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>1d10+15 ≪切断≫ GardenOrder   (1D10+15) → 4[4]+15 → 19</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>遠距離なのに半減しないとは狙撃もちだな?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>上位種はなんでもできるからな</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>つよい  回避判定します</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>どぞ</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>go50 GardenOrder   D100<=50@10 → 94 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>切断の19点である</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>そういえば暗闇だけど…どうせペンライト使うよね</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>あのままの流れだと普通暗視装置をオンにしているとおもう件についてだけど</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>どうおもいますか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>いいんじゃないですか</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ヤッター</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>じゃあオンー</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>軽減4かな</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>痛い</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>DCSL15 GardenOrder   負傷表 切断[15] → 軽傷4 | 胴部負傷 …… 胴部に大きな傷を受ける。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ズバァ</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>「グワーッ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>Evi@超ワル (軽傷 10->9) (9)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>(コストの分)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ではつぎリヒトの番</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「リヒトさん!(やけに棒読みだ……けど深い)」</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>捜索ってメインでしたっけ?</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>フリー</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>フリーか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>失敗したら「絶対いるんだよ!ちゃんと探したのか!フリーアクションで片手間にやったろ!」って怒られる</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ちなみにボスエビは今みえてるんですか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>みえてる。超ワルは正々堂々と戦うのだ</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>正々堂々と移動力2で逃げ回りながら遠距離攻撃する未来が垣間見えた</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>エリアAの捜索でお願いします</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>このバディ、とても献身的である</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>どぞ</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>go30 GardenOrder   D100<=30@6 → 34 → 失敗</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>うわーん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>うーんいませんね～～～</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>なら自分にステルスかけます……</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>go100 GardenOrder   D100<=100@20 → 49 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>お次～アムネシア</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>フリーでA探索しようかなとおもうんです。ちなみにロウオブグラビティとかってこういう時屁理屈こねて使ってもええんですか</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>回避と命中はダメだときいたけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>屁理屈による</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>前回も使ったエリアに力場を作り出して見えない敵を感じ取る的なソレ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'><b>よくわかんないからオッケー</b></div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ヤッター</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>じゃぁフリーでA探索、ロウオブグラビティ重ねます</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>go60 A GardenOrder   D100<=60@12 → 65 → 失敗</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>あああああああああああああああああああああああああああああああ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ふぇへへ。レーダーが探知しても目視で確認できない</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>そこを探してもないならないですね</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>え、しにたくないのでとりあえずメインで疲労スプレーを使って疲労回復してエンドします</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>そうそう</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>わたしにエンゲージしておくと</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>攻撃受けてもカバーリングしますよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>撃たないのか……</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>撃ったらステルス解けるじゃないですかー。捜索したから隠密しなおせないし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>いま撃てば当たってたのに</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ちょっと今は危険すぎますという判断 でも数多いから見えてる人たちが危なそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>エフェメラルブルーの番だ</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>問題なければ待機したい(イニシアチブ遅延)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>じゃあ吸血鬼軍団のばんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@わるいやつ</div><div class='col-sm-10 serif'>(敵が消えたから探そう)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@わるいやつ</div><div class='col-sm-10 serif'>choice[D,G] GardenOrder   (CHOICE[D,G]) → D</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@わるいやつ</div><div class='col-sm-10 serif'>choice[D,G] GardenOrder   (CHOICE[D,G]) → D</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@わるいやつ</div><div class='col-sm-10 serif'>choice[D,G] GardenOrder   (CHOICE[D,G]) → D</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@わるいやつ</div><div class='col-sm-10 serif'>go30 捜索 GardenOrder   D100<=30@6 → 57 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@わるいやつ</div><div class='col-sm-10 serif'>go30 捜索 GardenOrder   D100<=30@6 → 81 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@わるいやつ</div><div class='col-sm-10 serif'>go30 捜索 GardenOrder   D100<=30@6 → 84 → 失敗</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>草</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@わるいやつ</div><div class='col-sm-10 serif'>行動終了。つぎ、キュリオベンダーさん</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>どうしようかなー</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>リヒトに軽傷治癒スプレーを使用</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>軽傷2点なおすー。あとエリアA捜索</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>ありがたい</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>スーパーセンスも足しておこう</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>go100 そうさく GardenOrder   D100<=100@20 → 75 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>なんとAに敵がいるではないか</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>「見える見える」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>それは懸命な捜索のことごとくが失敗し捜索が打ち切られる寸前の三度目の正直であった</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>「(さすがあのキュリオベンダーさんだ……)」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>しかし1匹いれば3,4匹いるのではないか?ボブは訝しんだ。</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>1匹だけだよ!!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>千里眼……!</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>芋っててもしょうがないしエリアEに移動してみようかな</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>キタ!メイン盾キタ!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>やってくる……やつが……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>やたら物理につよい、やつが……</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>この場合全力移動?</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>「おじゃましまーす」</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'><b>軒並み歯を折ってほしい</b></div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>これでアクション使い切った気がするので</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>次の人の番かな</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>これエンゲージできないからすり抜けられる可能性もあるのね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>移動値1なので、全力移動した後の突入ができない。のでエンゲージ形成されてないため、敵もキュリオベンダーもフリーに移動できますね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>じゃ待機してた人のばん</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>はい、まず全力移動でエリアEへ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ひい</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>強気だ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@わるいやつ</div><div class='col-sm-10 serif'>「ウワ～確定で頭パーンしてくる奴だ～～」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>んー、キュリオにエンゲージしといたほうがいいかな?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>エンゲージするメリット カバーリングしてもらえる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>エンゲージするデメリット 敵が1匹入ってきたらまとめて足止めされる</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>怪我したくないならそうかな?近だからモブ一匹消し飛ばせるからそれでもいいし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>さておき、全力移動後なので成功率半減でメインアクションできますね</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>うむ、カバーしてもらえるようにしとこう。で、ここのモブは見えてたっけ……</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>モブはみえてなかったか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>一匹たりともみえていない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ここには雑魚はいないのではないか……?</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>まずフリー使って捜索しとく</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>(ルール確認。全力移動後のペナルティはメインアクションのみにかかる。)メインアクションじゃないので普通にふってどうぞ</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>サイオニックパワー入れていいですか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>屁理屈による</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>悪意を感じ取る的なあれ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>よくわからんのでよし!</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>ゆるい</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'><b>アレリーマンしかいない</b></div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>go60 GardenOrder   D100<=60@12 → 67 → 失敗</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>だめか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>みんな<b>目</b>が悪いですね(ダブルミーニング)</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>皆索敵弱すぎた</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>見えないものはしょうがない</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>メインでボスさん狙える?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>技能値半減でメインアクションできる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>頭パーンはいやだ頭パーンはいやだ頭パーンはいやだ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>防御無視、モブには死ぬほど強いけどボスは結局負傷表参照だからコスパが悪そう?</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>マインドブラストで</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>go50 GardenOrder   D100<=50@10 → 28 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>超避けるぜ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go35 GardenOrder   D100<=35@7 → 42 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>あたったぜ</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>よし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ダメージください</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>1d10+10 GardenOrder   (1D10+10) → 2[2]+10 → 12</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>放心つくけどクリンナップで回復するから気にしなくていいか</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>DCIM12 GardenOrder   負傷表 衝撃[12] → 軽傷2、疲労2 | 平衡感覚喪失 …… 衝撃で三半規管にダメージを受ける。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>Evi@超ワル (軽傷 9->7) (7)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>いたい</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>へいこうかんかくがなくなった</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「ふ、当たってるぞ、大丈夫かい?」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>煽りよる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「ゲロはきそう」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「おええ」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>威厳喪失</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>ヒロインが吐くTRPGは名作</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>クリンナッププロセスー超ワルの放心解除ーセットアッププロセスー</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>ラウンド2</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>第二ラウンドでげす</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>すろーもーつかう</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>go100 GardenOrder   D100<=100@20 → 83 → 成功</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ボスより先に動きたい僕はまたグラビティコントロールでヘイストをかける</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>go100 GardenOrder   D100<=100@20 → 96 → 成功</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>さっきからダイスやばくない?大丈夫?</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>ヒヤッとする数字</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>(もしかして……あのひと不審者……?)</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>まだファンブルしていない!!</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>フラグ立った</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ファンブルするやつはみんなそう言うんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ではイニシアチブロール</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>1d10+14 GardenOrder   (1D10+14) → 8[8]+14 → 22</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>運命変転ください</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>さっきからダイスつよすぎんよー</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>1d10+2 GardenOrder   (1D10+2) → 8[8]+2 → 10</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>1d10+8 GardenOrder   (1D10+8) → 1[1]+8 → 9</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>1d10+13 GardenOrder   (1D10+13) → 2[2]+13 → 15</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>1D10+10 GardenOrder   (1D10+10) → 3[3]+10 → 13</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>……</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>おっそい……</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>もっさりした動き</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>隠れてるから油断している</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>状況によるけどまた待機予定伝えときます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>超ワルの番。フリーアクションで特性能力使うね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go90 ステルス いかなる場所でも隠密状態になれる隠密に+30して判定。フリーアクションで特性能力と組み合わせて使用する《コスト 疲労2》 GardenOrder   D100<=90@18 → 11 → クリティカル</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go50 隠密 GardenOrder   D100<=50@10 → 90 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>だめでした</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>草</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>何したかったんだボスさん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「隠密しようとしたら野良猫のすみかがあって破壊するのがしのびなかった」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>隠密でなぜ壊れるのかというツッコミ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>さて…見るからに硬そうなやつはいやだな……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>エフェメラルブルーにエンゲージしてーっと</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>でもキュリオさんたちエンゲージしてるから巻き込まれますよね?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>あっ(忘れてた)ええい、ままよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>かぎ爪 当身/単/至近~近>エフェメラルブルー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go120/2 当身 GardenOrder   D100<=60@24 → 41 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go120/2 当身 GardenOrder   D100<=60@24 → 73 → 失敗</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>連続攻撃している</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>1個め成功なので避けてくだあさい</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>マインズ・アイ使用で回避+30</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>go100 GardenOrder   D100<=100@20 → 13 → クリティカル</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>なんだこの人クリティカルしかださねぇ……</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>僕が当たらないのこの人のせいだよ</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「よっ、と」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>華麗なステップに観客がおひねりを投げてくれました</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>常備化ポイント+100</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>そんなに</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>全部ハズレ馬券です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>次はアムネシア</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>あい。Aの人アンチマテリアルライフルでぶっ殺します</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@わるいやつ</div><div class='col-sm-10 serif'>やめてくれ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>go105 あんちまてりあるらいふる GardenOrder   D100<=105@21 → 43 → 成功</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>やっちゃえバーサーカー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>よよよよけてやや</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>go10 GardenOrder   D100<=10@2 → 23 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>(;_;)</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>1d5+28 あんちまてりあるらいふるだめーじ GardenOrder   (1D5+28) → 4[4]+28 → 32</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>HP10から-3に。死んだ……</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「こんなものですね。(やっとあたった……!)」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>おめでとう!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>コングラッチュレーション……!コングラッチュレーション……!</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「お、こりゃ飯は豪勢にしなきゃな」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ではAに全力移動してフリーで隠密します</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>あ、どうしようAいくのやめようか Eで戦ってるし</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>だねえ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>じゃーDのままで隠密します</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>go72 隠密 GardenOrder   D100<=72@14 → 57 → 成功</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>まさかボスを見捨てて隣のエリアにいくモブはおるまい</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>絶対来る。たーんえんど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>待機予定のエフェメラルブルー</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>モブ見えんならとりあえず待機かなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>では行動値11のモブモブタイムだ。全員スナイパーを捜索せよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>go30 GardenOrder   D100<=30@6 → 18 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>go30 GardenOrder   D100<=30@6 → 10 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>go30 GardenOrder   D100<=30@6 → 97 → ファンブル</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ボスぅ!なんかスナイパーともうひとりいましたぁ!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>オラッ出てこい</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>荒ぶるGMダイス……</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>これ対決ないの悲しい</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ファンブルしたので見失って</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>吸血鬼3の不審者ポイントがあがりました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>さて…頭を使って動こう。彼らには知性がある。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>4は全力移動(H→E)</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>そう、ボスが死んだら自分らも消えて無くなるということが分かっているのだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>2と3はエンゲージ(エフェメラルブルー&キュリオベンダー&ボス)突入</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>「いらっしゃいませ。ご注文は?」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>4の隠密継続判定</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>go20 GardenOrder   D100<=20@4 → 16 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>えらい!!!!!</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>出目がつよい</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>超偉い</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>血をください</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>えろい</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>でも殴ったら解除されるぞ!良いのか!!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>2と3はエフェメラルブルーに吸血</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>go60 GardenOrder   D100<=60@12 → 84 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>go60 GardenOrder   D100<=60@12 → 58 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>一発回避してください</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>隠密状態からの攻撃なので回避半減</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>マインズ・アイ行ける?殺意感じる的な</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>いいとも。というかパッシブだから使うか使わないかを選ぶだけでよいぞ</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>go50 GardenOrder   D100<=50@10 → 48 → 成功</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>おおう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>くっ。では次10のキュリオベンダーだ</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>わたしだ</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>ボスにホークアイ連続攻撃</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>痛いの怖い……</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>go85@22 GardenOrder   D100<=85@22 → 60 → 成功</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>go85@22 GardenOrder   D100<=85@22 → 12 → クリティカル</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>草</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>片方クリった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go35 GardenOrder   D100<=35@7 → 62 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go35 GardenOrder   D100<=35@7 → 35 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>えーん。ダメージください</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>でも銃弾に強いんでしょう</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>普通のほうだけあたった</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>1d10+18 GardenOrder   (1D10+18) → 6[6]+18 → 24</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>出目まけてるからクリも当たるのでは?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>いや、出目が12vs35だから両方あたってる</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>そうだったとは</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>じゃあクリってるほう、オーバーブーストでダメージ+15する</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>くるとおもったよ!!!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>致命傷1点をうけてください</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>いたい</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>致命1受けるって大したデメリットじゃないな</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>1d10+18+15 GardenOrder   (1D10+18+15) → 10[10]+18+15 → 43</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>DCBL5 GardenOrder   負傷表 銃弾[5] → 軽傷2 | 腕部損傷 …… 銃弾が腕をかすめた。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>DCBL43 GardenOrder   負傷表 銃弾[43] → 致命傷2/DOT 重傷1 | 必殺の一撃 …… 銃弾が心臓の近くを貫く。動脈にダメージを受けたようだ。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>めちゃいたいんだが</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>いたそう</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>強い……</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>DOTつよいな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>Evi@超ワル (軽傷 7->5) (5)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>Evi@超ワル (致命傷 3->1) (1)</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>じゃあ前者の負傷表を部位狙いで1こずらします</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>dcbl6 GardenOrder   負傷表 銃弾[6] → 軽傷3 | 腕部貫通 …… 銃弾が腕を貫く。痛みはあるが動作に支障はない。</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>こっちになった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>Evi@超ワル (軽傷 5->4) (4)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>おうちかえりたい……</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>「ご注文は以上でよろしいですか?」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「たんのうしました」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>フリーアクションで自分に疲労回復剤つかっておきます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>アドレナリンドバドバ</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>では次の方どうぞー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>次はリヒトだ</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>≪レーザーポインタ≫、≪レーザーショット≫を使いますー  超ワルに</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>皆ゴリ押す方向へシフトした</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>レーザーポインターの判定から</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>go100 GardenOrder   D100<=100@20 → 1 → クリティカル</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>w</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>w</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>すごいレーザーポインターだ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>絶対心臓狙ってる</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>どうしましょ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>このラウンドだけで不審者ポイントが3点もさがってんだけど</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>もうこの街の人オーダー大好きでしょ</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>連続攻撃いいですか?</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>遠距離攻撃はれんぞくこうげきできないらしい</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>あっじゃあそのままで</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>go100 GardenOrder   D100<=100@20 → 63 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go35 GardenOrder   D100<=35@7 → 41 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>1か……1はすごいよな……だって1/100だもんな……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>今回だけ部位狙いをつかってよいことにしよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>すごいレーザーポインターだからな</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>それはすごい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ダメージを～ください～</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>2d10+15+5 GardenOrder   (2D10+15+5) → 9[1,8]+15+5 → 29</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>灼熱防御をなめるなよ、5もあるんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>DCBR24 GardenOrder   負傷表 灼熱[24] → 重傷2/スタン | 熱波 …… 火傷と強力な熱により意識がもうろうとする。</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>一番低いんじゃ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>スタンした</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>部位狙いどうしよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>重くすると重症3/マヒになる</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>スタンか麻痺か</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>どっちがいいんだろう(ページ探すのがしんどい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>スタンは回避が半分になる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>マヒは移動力がへる</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>スタンだと次のボスのターンまで当てやすい</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>僕らの安全を考えると麻痺か。どちらでも</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>どっちもそんなに差はない感じ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>あの吸血鬼普通に抜けてこっち来るからな</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>飛行だしな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>空飛んでるからね</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>じゃあスタンのほうかなぁ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>アヒィ</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>「狙い撃つぜ……!」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>狙い撃ってるのに銃弾じゃないのずるい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>Evi@超ワル (重傷 5->4) (-1)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>Evi@超ワル (重傷 4->3) (-1)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>三半規管をやられたり熱で意識が朦朧としたりして大変なボス</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>おわりかな?</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>あい</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>隠密判定しときます</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>go70 GardenOrder   D100<=70@14 → 18 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>疲労まだあったのか……!</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>終了で</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>ボスぅ!敵はやっぱりあのスナイパー一人だけっすわぁ!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>最後に待機してたひと</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>変わらずボスさん狙うね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ボスの身体はもうボロボロ</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>やっちまってくだせえ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>僕以外はアウトオブ眼中</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>go100 GardenOrder   D100<=100@20 → 91 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>go14 めっちゃ避けるぜ GardenOrder   D100<=14@2 → 1 → クリティカル</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>わ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>草</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>スタンしてようが避ける</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>華麗な回避だー</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>つよい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ボスの不審者ポイントがまた減った</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「……お。やるじゃないか」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「正直自分でもどうやって避けたのかわからん」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「多分脳みその位置がちょっと人と違ったんだな」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>ニンジャ動体視力のあるキュリオベンダーには回避の瞬間が見えていた</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>精神攻撃の避け方分かってたまるか</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>多分スタンしてて何も考えられなかったんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>他の行動はあるかな</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ないー。あの4番くんそういえば何してたんだろう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>4番くんはエリア移動したけど至近しか攻撃手段がないのでなにもできなかった</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>あ、Hにいたやつか</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>今だれが隠れてるのかわかんない(</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>4だけステルスしてる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>でもHにいるかもしれない……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>移動時隠密維持判定したけど……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ほんとにEにいるのだろうか……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>Gという手も……!?</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>可能性はある</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>いるかもしれないし、いないかもしれない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>いたとしても敵ではないかもしれない</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>とりま4がまずいかな?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>こい!</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>go30 GardenOrder   D100<=30@6 → 24 → 成功</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ワーオ(ヨッシー)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>風にたなびくマフラーでバレてしまった</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>気になっちゃった</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>さっきボスゥ!って叫んでたしね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ではクリンナッププロセス。ボスが重傷1のDOTで</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>Evi@超ワル (重傷 3->2) (-1)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>抵抗力判定に成功すれば解除される……!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go40 GardenOrder   D100<=40@8 → 86 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>継続……</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>ムシノイキ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「心臓の近くの銃弾が痛い」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>埋まってるのね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>第3ラウンドのまえに30分まで休憩しようか</div></div>
            <hr>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>はーい</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>はいさー</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>そういえばオーバーブーストは任意のタイミングでつかえるのん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>いつでも使えるよ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>じゃぁ91さんがでたの見てから19さんに出来るのか</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>くりてぃかる率が10%あがった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>うれしい</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>数字入れ替え……メガテンTRPGであったような</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>地味過ぎていつも存在をわすれる効果なんだよね</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>結構大事よな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>なんとなく使い忘れてて最後の方でトドメを刺すときに使う</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>オーバーキルしそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>意外にいかないんだよね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ソロスタイルでクリティカルで防御貫通して……っていう理想的な状況でもキュリオベンダーの出す数値くらいだから</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>連続攻撃でヒャッハーするくらい?</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>どんなにダメージが走っても負傷表の一番下のやつが限界</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>MOBにすごいダメージ出したいときに使えばいいのね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>でもMOBは原則HP10だから……オリジナルデータだとわかんないけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>重傷DOTあたりをつけるのが一番効率よく倒せると思う</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>抵抗力判定に成功しなかったらほっとくだけで死ぬからな!!</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>じゃああと3ターンくらい放置しておくか</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>先制してデバフ祭りが楽しそうだなあ()</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>デバフとかかかるからこれ攻めたもん勝ちだなって思い始めた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>回復系以外は早ければ早いほど有利になる</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>先制値だいじ</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>ラウンド3</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>じゃあ第三ラウンドだ。セットアッププロセス。</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>加速(懲りない</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>go100 GardenOrder   D100<=100@20 → 44 → 成功</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>いつものスローモー</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>go100 GardenOrder   D100<=100@20 → 75 → 成功</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>バディエフェクトつかいますー</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>go100 GardenOrder   D100<=100@20 → 90 → 成功</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>なしです</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>また一人きえた……ではイニシアチブ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>1d10+14 GardenOrder   (1D10+14) → 10[10]+14 → 24</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>1d10+2 GardenOrder   (1D10+2) → 2[2]+2 → 4</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>1D10+10 GardenOrder   (1D10+10) → 6[6]+10 → 16</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>1d10+13 GardenOrder   (1D10+13) → 7[7]+13 → 20</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>1d10+8 GardenOrder   (1D10+8) → 9[9]+8 → 17</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>最速だぜ……</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>はやーい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>(なんだかんだで疲労がなくなってくるここらへんで決めないとじわじわしんどくなる)</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>実は疲労に余裕がある</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>僕さっきから疲労投げ捨ててるだけやんけ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>そういえば敵のザコどもはカバーリングとかしないんだろうか</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>モブはカバーリングつかえない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ん～～～～予定通りにDにいくか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go60 捜索 GardenOrder   D100<=60@12 → 35 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>choice[l,a] GardenOrder   (CHOICE[L,A]) → L</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>リヒトォ!</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>(やばい)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「君に鉤爪をしにきた」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go120/2 当身 GardenOrder   D100<=60@24 → 38 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go120/2 当身 GardenOrder   D100<=60@24 → 86 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>38のほうを……避けな……フッ……</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>「あたらなければry」</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>go50 GardenOrder   D100<=50@10 → 94 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>1d10+30 切断 GardenOrder   (1D10+30) → 6[6]+30 → 36</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>DCSL32 GardenOrder   負傷表 切断[32] → 致命傷1 | 胸部負傷 …… 胸から腰にかけて大きく切り裂かれる。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ぶしゃー</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>つよーい</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>腹やぶられたり胸切り裂かれたり散々では?</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>「ごはっ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>男しかダメージ表現がない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>こんなんじゃ売れないよ!</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>リョナエビ</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>パワードスーツ脱ぐ?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>脱ぐだけですごいラウンド数かかりそう</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>パージボタン押すだけだから簡単</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ユーザーフレンドリー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>次アムネシア</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ではグラビティフィスト 近くにあるコンクリート片をぶつけます</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>(超ワルに</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>うわあ本命の攻撃手段だ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>連続攻撃していいですか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「なんと陰湿な石投げ……」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>もちろん</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>go100/2 GardenOrder   D100<=50@20 → 50 → 成功</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>go100/2 GardenOrder   D100<=50@20 → 97 → ファンブル</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>草</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>あっ</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>おっとw</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>きた</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>あ、オーバーなんとか使って初段を05にします</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>じゃあ致命傷1点くらってください</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>それかリヒトに食らわせてください</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「こふっ(吐血)」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>リヒトしぬ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>go35 GardenOrder   D100<=35@7 → 14 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>5には勝てねぇ</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>防御貫通強い……</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>0扱い、か</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>クリティカルの前にはパワードスーツもカジュアルウェア以下となる</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>パワードスーツをカジュアルに着こなせ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>じゃぁさらにオーバーブーストでダメージ+10、部位狙いします</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>やったか!?</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>2d10+15+10 コンクリート片 GardenOrder   (2D10+15+10) → 15[5,10]+15+10 → 40</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>やったぜ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ただのイシツブテだろう!!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>DCIM40 GardenOrder   負傷表 衝撃[40] → 致命傷2/DOT 重傷1 | 内臓損傷 …… 衝撃が身体の芯まで届き、内臓がいくつか傷ついたようだ。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>致命傷が1減ってもう一個繰り上がって死亡が0になって</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>し…死んだ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「こふっ(致命傷その2)……これでっ!」</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>イシツブテじゃなくてハガネールだったか……</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>ボスーーーーーー</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>アンチマテリアルライフルなんてかざりです。偉い人にはそれがわからんのです</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@超ワル</div><div class='col-sm-10 serif'>「ナイス……ピッチング……b」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>「く、やつは吸血鬼四天王の中でも最弱」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>君たちは残りの吸血鬼を過激なロールプレイで殲滅してもよいし、見逃してもよい</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>見逃す理由もないなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>今見逃したら……抽選で温泉旅行が当たります……</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「私がネフィリムを逃がすと思いますか?」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「ボスがやられてよそ見してる時点で君たちはモブなんだ。じゃあな」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>「君は我々に内通してるんじゃないかってくらい見逃してくれたスナイパー!」</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>「お前らのボスにはさんざん世話になったからなぁ……」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>殲滅滅</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>go100 あんちまてりあるらいふるどーん GardenOrder   D100<=100@20 → 83 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>DCBL100 GardenOrder   負傷表 銃弾[100] → 致命傷2/DOT 重傷1 | 必殺の一撃 …… 銃弾が心臓の近くを貫く。動脈にダメージを受けたようだ。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>死んだ……</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「あれは暗くて不覚をとっただけです!!死になさい!」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>精神攻撃どーん</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>go100 GardenOrder   D100<=100@20 → 90 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>DCIM100 GardenOrder   負傷表 衝撃[100] → 致命傷2/DOT 重傷1 | 内臓損傷 …… 衝撃が身体の芯まで届き、内臓がいくつか傷ついたようだ。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>精神攻撃で内蔵がやられて死んだ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>負傷表がとても適当なの笑う</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>なんだろうこれは……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>「あなたはがんです」みたいなダメージだろうか</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>ショックだ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>余命1時間ですって言われてショック死</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>ステージ4、もうだめですね</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>go100  びーむどーん GardenOrder   D100<=100@20 → 46 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>DCBR100 GardenOrder   負傷表 灼熱[100] → 致命傷2/スタン | 致命的火傷 …… 身体の大部分に焼けどを負う。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>死んだ……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>属性によって描写がいろいろだけど、電撃が一番エグかったきがするんだよなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi@吸血鬼</div><div class='col-sm-10 serif'>DCEL100 GardenOrder   負傷表 電撃[100] → 致命傷2/スタン | 組織炭化 …… 全身が電流で焼かれ、あちこちの組織が炭化する。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>死んだ……GMの気まぐれで死んだ……</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「さて、これで全滅でしょうか」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>さよならけんぞく</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>あとは野良猫くらいしか生き残ってない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>君たちは容赦なく吸血鬼を殲滅して不審者ポイントもトータル-10くらいで人気がうなぎのぼり、CDデビューするわワイドショーに呼ばれるわで大変なことになるでしょう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>けんぞくぅごときではな</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>え、おかねもちですか?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>1.ギャラは上司に支払われて</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>2.適切な月給となって</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>3.支給 されていますね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>よかったね</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ブラックじゃん……</div></div>
        </section>
    </div>
{% endblock %}
