{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-evi.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/pc-common.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>エンディング 【雑でメタメタ】</h2>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ではこのままエンディングフェイズいきましょう</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>はーい</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>まあしましょうといっても、個別のエンディングとかないんですけど……</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>この娘の今週の食費はなくなりました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>合計で5000円撃ったし殲滅のときもバンバン撃ってたからね、もう弾代だけでたいへんだね</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>みんなに飯を奢ります、みんながよければ</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>おー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>そんな約束してたな!今日は全員うな重食っていいのか!?</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「うぅぅ……5000円……食費が……ガーデン、特別手当とか出してくれないかなぁ……」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「うな重でも焼き肉でもいいぞ。君たちと仕事出来たのは良い経験だった」</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>「じゃあお好み焼きがいい」</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>「タダ飯ならなんでもつきあうぞ」</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「本当ですか?私じょじょえんという所に一度行ってみたかったんです!」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>「はしごして食べたいもの食べようじゃないか。今後も良き仕事仲間としてよろしく頼む」</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>芸術家として稼いでいるから問題ないうちの子</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>おそるべし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>く、家業を継げる男は強い……</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>本人のセンスもあるけどね</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>1ヶ月1万円生活を地で行ってるうちの子とは大違いだ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>「やったー!……コホン。まぁトドメを刺したのは私ですからね、コレくらいはして貰わないと。また一緒になることがあれば宜しくお願いしますね」</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>アフタープレイ</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>じゃあ最後にアフタープレイをします。P194に経験値のアレがあるんですけど、場所の手配・連絡を行った以外全部あげるんで18点、あと不審者ポイントを下げるミッションがまさかの-2ケタいったんで+2点で、トータル20点もっていってください</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>巻末のレコシ見るとわかりやすいかな</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>僕不審者レベルずっと上げてた気がする</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>わーい</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>20点受領します</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>今後もお好きなところで活躍させてあげてください</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>おー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>あ、エフェメラルブルーだけ(キャラクターシートに)パスワード保護かかってないから……かけておいたほうがいいかも、一応</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>あっはい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>んではーセッション「不可視の闇」おわりでーす</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>EviさんGMやらなにやらありがとうございました!</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>おつかれさまー</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>パチパチー楽しかったですー、ありがとう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ご参加ありがとうございました～おつかれさまです</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>諸々ありがとうございましたー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>あとは感想戦なぞ</div></div>
            <div class='row pc9'><div class='col-sm-2 name'>リヒト</div><div class='col-sm-10 serif'>将棋かな?</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>完走した感想</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>激ウマ</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>エビさん、TRPGベテランsというかから見た各PCの感想、</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>くまさんとは長いんで……進行助けてもらって感謝! エフェメラ→るるぶの細かいとこまで読み込んでる偉い アムネシア→やりたいことがわかりやすくてシーン組み立てやすかった偉い リヒト→TRPG完全初心者だったけどるるぶ理解してたし主体的に動いてたし一番最初の無茶振りちゃんと反応できてて偉い</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>えらい</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>えらい</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>←ルルブをあまり読まないというか索引を使うのを忘れてペラペラページめくって見つけられない</div></div>
            <div class='row pc7'><div class='col-sm-2 name'>ノイン</div><div class='col-sm-10 serif'>みんなえらい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>個人的にはシーン制というかFEAR系のゲームは進行が苦手なんで、もうちょっとRP引き出せるようにやれたらよかったなあ、という今後の課題</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>僕らはシーン制(ここしていいの?振ってるのかな?していいのかな?)ってなる<b>(しょしんしゃゆえ)</b></div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>わかる</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>FEAR社のはロールしないとたんたんとなりがち</div></div>
            <div class='row pc7'><div class='col-sm-2 name'>ノイン</div><div class='col-sm-10 serif'>純粋な完全初心者もそう思います</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'><b>しょしんしゃ???<\b></div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>ソドワ卓(しかもぐだぐだ)を1度しかしたことない完全初心者</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>他の社のってクトゥルフとソドワどシノビガミくらいしかしらないや</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>もっと卓立てて、ほらはやく</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>僕は多分GMには向いていない倒したがってしまう</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>ルールブックはしっかり読まなくても、大体どのページになにが書いてあるかわかってれば、必要になった時読めばいいやってできて強い</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>端が黒くなってるあたりから220Pあたりまでを適当にパラパラすれば大体書いてあるでしょ的感覚</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>ペラペラペラーここ</div></div>
            <div class='row pc7'><div class='col-sm-2 name'>ノイン</div><div class='col-sm-10 serif'>とりあえずめぼしいところだけ読んどけば</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>僕は多分これくらいのラノベ感がちょうどいいんだろうなっておもった</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>どうしてもオフセの感覚抜けなかったのは今後の課題だなあ……</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>オフセとか絶対RPできませんね……</div></div>
            <div class='row pc5'><div class='col-sm-2 name'>キュリオベンダー</div><div class='col-sm-10 serif'>それじゃあ落ちます、またねー</div></div>
            <div class='row pc1'><div class='col-sm-2 name'>アムネシア</div><div class='col-sm-10 serif'>お疲れ様ですー</div></div>
            <div class='row pc7'><div class='col-sm-2 name'>ノイン</div><div class='col-sm-10 serif'>おつかれさまでしたー</div></div>
            <div class='row pc3'><div class='col-sm-2 name'>エフェメラルブルー</div><div class='col-sm-10 serif'>お、お疲れ様でしたー!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>evi</div><div class='col-sm-10 serif'>お疲れ様でしたーん</div></div>
        </section>
    </div>
{% endblock %}
