{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>オープニングフェイズの始まり</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">(シーンの状況説明のため)この学園の授業構成について少しだけ補足させてちょうだい</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">教授～、そういう資料は早めに下さいよ～</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">学園の授業構成</p>
                        午前中は、普通科とオーダー科はみんな同じ教室で勉強してます<br>
                        午後から、各科に別れて専属教室にいきます
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">よって、シーンの舞台は午後の13時くらいです</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">ふむふむ</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>シーン1</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        [シーンプレイヤー] 全員<br>
                        [場所]ゼロ特の教室<br>
                        [時間]午前中の共通課程が終わり、午後の専門課程が始まる前
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">なんかホームルーム的なものがあるのでしょう、みなさんは机に座ってます</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@担任の先生</div>
                <div class="col-sm-10 serif">「ん？なんか一人足りない気がするな」そういうと、担任の先生はきょろきょろする</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">誰だ？俺か？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">鶫はいてほしい！</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">じゃあ机に突っ伏して寝てます</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「お散歩かしら？」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@担任の先生</div>
                <div class="col-sm-10 serif">「栄先生、ちょっと出席確認してみてくれるか？」と、栄君は担任の先生から言われます</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">「任せてください。ええと、点呼取りましょうか。名簿の頭は・・・鶯さん？」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「はーい」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">てな感じで点呼していくぞ。サイコは省略。</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">省略された</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">「さ」は遠いから</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">(サイコって)誰かと思ったら鶫か</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ありがとん。では、栄君の出席確認で、1人だけいない人物がいることがわかります</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">これでいないのが阿部くんとかだったら笑える</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@担任の先生</div>
                <div class="col-sm-10 serif">「ん？なんだ？委員長がまだ来ていないのか・・？」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">学級委員長がいませんでした～</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@担任の先生</div>
                <div class="col-sm-10 serif">「あー、困ったな、こんなことはなかったんだが・・。誰か、ちょっと探してきてくれるか？」と担任の先生はめんどうくさそうに頭をかいている</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">まあ栄は知らない子だろうな</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">鶫も知らなそうだな</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">どんな名前の子だい</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">名前はないです「委員長」と呼ばれています</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">それはいじめでは？</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">あ、ヒロインだ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「よびました？」ヒロインと呼ばれた気がして・・</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">呼んでない。しかし、探しようがないな。職員室で「せんせー」って言うようなもんだぞ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">まぁ、オープニングだから、適当に挙手してほしい。任意でいいよ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">ちなみにこのHR的何かはどういう集会ですか</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">朝のホームルームの昼版みたいなもの、連絡事項とかする</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">ほうほう</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">1日2回HRしてんのか</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">じゃあこの時間はどのクラスも自分の教室にいるということか</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">そうだね、普通は自分たちのクラスで全員出席しているはず。しかし、なぜか委員長だけいない・・こまったなぁって図</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「大方屋上でヤニでも吸ってんじゃねえのか？」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「わたし、探してきましょうか？」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@担任の先生</div>
                <div class="col-sm-10 serif">「おー、なんだ、鶫と餡子がいってくれるのか？すまないなぁ、寄り道せずにすぐにもどれよ？」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">というわけで、鶫と餡子が選出されました。栄先生はどうする？ついていってもいいよ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">今回はやめておきましょう、なんせ苦手な鶫がいますからね</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「あん！？」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「鶫さん、さあ行きましょう！あんは後であげますから」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「チィ、仕方ねえなお嬢がそういうなら付き合ってやるよ」餡子にまで見放されたらガチのボッチになってしまうからね</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「ではいきましょう！まずは近くの喫茶店からですね！」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「そんなところにいるかねえ・・・どうせ屋上とか校舎裏とかでしけこんでるんじゃねえか？」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">門を閉じよーーーー</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">それでは、二人が委員長を探してたこ焼きの有名な喫茶店にいこうと校舎を出てしばらくすると・・・</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">たこ焼きが有名ね・・・クリーニングしなきゃ！</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">こんな声が聞こえてくる</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@???</div>
                <div class="col-sm-10 serif">「わー！わー！だめだめー！！」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif"><b>いやらしい</b></div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">君はその場に走って行ってもいいし、無視してもいい。声のする方は比較的簡単にわかるので、判定はいらないよ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">じゃあちらりと見てみようかな</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「何か声が聞こえました！いって見ましょう」風に乗ってスぃーといこう、能力つかわんけど</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ちぃ、お嬢はそうやってすぐ突っ走る！しゃあねえか」ついていこう</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">んでは、君たち二人の前には、大変な勢いで燃え上がる校舎の壁と、あわてふためく委員長の姿が見えます</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">お、(ターゲット)発見</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「えーっ！？ええーっ！？」わてわて</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「へえ、顔に似合わず大胆なことやってんなあ・・・委員長！何してんだ？校舎の破壊なら手伝うぜ！」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">そういって機関銃を構えましょう</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「わー！鶫ちゃん！ち、ちがうよ、これ、これ！なんとかしてよおお！」と今にも泣きだしそう</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">と言っても氷結系の能力でもないしなあ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「あら？キャンプファイヤーには早いんじゃない？」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">風は火には弱い</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">あ、これは栄にきてもらえばよかった・・＾ｑ＾</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif"><b>欠点 常識 って感じのチーム</b>だな。いつのまにか。</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「ええ！?餡子ちゃん、ちがうってば！」とマイムマイムのダンスを踊りながら慌てふためく</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">ダンスしながら「どうしたんです？委員長さん？」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「いや、あの、ダンスお上手ですね・・。じゃなくて！なんか壁が燃えてるから！」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">餡子ちゃんほんとに頭に餡子詰まってそうだなあ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">校舎を破壊して鎮火できないかねえGM</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">うん、そんな感じでいいぞう</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「チィ、しゃあねえな！」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">じゃあブローニングM2重機関銃で校舎を吹き飛ばします</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「ひー！」とマシンガンの音にびびりながら</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ヒャッハー！がれきの山にしてやんぜー！」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">では(発砲する)鶫を<b>殴ってとめます</b></div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">殴りおった。グーパンチですよグーパンチ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">ロールいる？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">いや、もう火を消そうかなと思ってたところ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">火のほうが諦めた</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">PCが悪かったね(反省)</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">じゃあ、餡子のグーパンにより鶫の銃撃は中断され、跡形もなく吹き飛ばされそうだった壁でしたが、いい感じに火だけが消えました！タツジン！</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ぐお！いってーな何しやがんだお嬢！」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「建物に向かって重火器を使ってはいけないっていつも言ってるでしょ！！」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「お嬢は世間知らずだから知らねえかもしれねえが、<b>燃えてる建物は破壊してもいい</b>んだよ。昔からそうして鎮火してんだ」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">江戸時代かな？</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">そして昔でとまっている・・・なるほど、知能が低いのですね</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「た、助かったよ、鶫ちゃん、餡子ちゃん、ありがとう・・」と目をぐるぐるさせながら、大きな深呼吸をする委員長</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「委員長ちゃん、何があったか説明してくださる？」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「そうだぞ、放火なら言ってくれりゃあ手伝ったのに」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「ええ、ああ、うん、実はね・・」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ちなみに委員長に近いのは、鶫と餡子のどっちかな？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">餡子じゃね、銃撃った時に離れてそうだし</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">俺のイメージでも餡子のほうが近いな。鶫はどつかれとる。</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">なら餡子で</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">(一番似合わなそうなキャラがきちゃった・・)そのとき、一陣の風があたりにふいた。</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「-----はっ」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">大きく息を吸い込む委員長。すると、委員長の額に赤い幾何学文様が浮かび上がる。そうオーダーの特性能力発現を示すスペックカラーだ。</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「くちゅんっ！！！」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">大きなくしゃみと共に、放出される炎の力。あたりは火の海に包まれた。<b>もちろん君も燃える</b>。</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">お、犯人かな？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">これは予想外</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「わー！わー！！ごめんなさーーーい！」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">委員長が涙目になりながら叫ぶ。燃えた君を何とかしたら、シーン終了です＾＾</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">これは凶悪犯ですな</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">問題児隔離教室に隔離された理由がこれか</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">あたり～</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「少し・・・熱いわね」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ちょ、お嬢燃えてんぞ」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">これは頭のなか餡子ですわ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">(委員長に)怒ってないよといいたかった</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif"><b>破壊すれば火は消える</b>んだぞ～</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">PvPかぁ・・こわれるなぁ・・。判定いらないから、慌てるなり、近くの水道なりにいけば消えるよ＞餡子</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif"><b>噴水にダイブ</b>します</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">噴水！</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">あるのかよ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">まぁ、噴水はあるな</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">あるんだ</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>学園の設定を書き綴った、ブラックヒストリーノ写本にもきちんと記述がありますよ、ほんとですよ？</blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「あつっ、あつっ、あー、あんなところに噴水がある～」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「わー！餡子ちゃーん！水泳の授業にはまだはやいよー！」と後を追う委員長</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">ばしゃーん</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「ご、ごめんなさーい！」で画面がフェードアウトします</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">以上、委員長合流シーンは終わり</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">こりゃあ委員長がラスボスかな</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">この後、<b>餡子がパンチパーマになる予定</b>なんだけど、だめ？正直、栄がくると思ってたんだよ、許してくれよ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">いいね</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">いいよ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">いいのかよ、ヒロインどこいった！？</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">ヒロインはそんなの気にしない。次の日からショートカットになります</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">あらぁ！？</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>ギャグ耐性のあるPL達でホントに良かったと思いました</blockquote>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>シーン2</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">無事に？委員長と授業を終えたオーダー達。ここに委員長査問委員会が開催されている</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif"><b>委員長が査問される委員会</b>とは・・・</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        [シーンプレイヤー] 全員<br>
                        [場所] ゼロ特の教室(PCと委員長だけがいる)<br>
                        [時間] 放課後
                    </blockquote>
                </div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif"><b>放火後</b>・・・と思ったのは僕だけじゃないはず</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">うまい！</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">委員長は、パンチパーマになった餡子の顔をもじもじと見ている</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「ご、ごめんなさい！」と床まで前屈する勢いで頭を下げた。</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「気にしなくていいのよ、ただお父様に気に入っていただけるかしら？」ごごご・・</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">コワイ！脅しだ。お父様にすり潰される</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">じゃあ鶫はパーマが足りないと思い、<b>餡子にさらにパーマをかけよう</b></div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「もっとよう、強めにかけた方がいかしてるぜ、お嬢」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「あら、鶫ちゃんもパーマになりたいの？(にこっ)」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「ひえぇ・・こここ、殺されたりしないかなぁ」とおびえる</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">ところで、先生的に委員長に名前がないのすげえ呼びにくいんだが！</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">んー、ほんとに考えてなかったんだよな・・・灯野(akarino)としよう</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif"><b>あ行</b>はやめろーーー</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">あれ？餡子とかぶるからか・・</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">いや、(さっきのシーンでの)<b>名簿のくだり</b>が・・・</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">出席番号的に</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">(なるほど、細かい)・・実は(記述してなかったけど)委員長の席は一番先頭の設定だったんだ・・</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif"><b>一撃で気づく</b>じゃねえかよお！</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">うっかりしてたんだろ</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>ゆるひてやぁ・・たとえめんどくさくてもヒロインの名前はきちんと決めておきましょう・・</blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">火野(hino)でどうだ、直球だけど</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">いいね</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">許す</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">やったぜ。じゃあかわりになんか気の利いたRPを栄先生頼むよ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">じゃあ火野君と豺虎君をお説教します</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ひどいとばっちりさんがいる気がする・・</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">叱られて当然</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">ほわい？</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif"><b>パンチパーマの犠牲</b>になるべきだった</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ちょまてよ、センコーなんで俺様まで説教受けてんだ！」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">(栄はコネクション的に鶫が)きらいだからね</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">「火野、むやみに能力を使ってはいけないぞ。しかも、仲間を巻き込むような使い方なんて言語道断だ。豺虎、お前の行動は正しいけど、やり方ってものをもう少し考えなさい。」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">あ、普通の人だ・・(安堵</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「先生、鶫ちゃんをあまり叱らないでください。制御できなかった私も悪いんです」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">(鶫は)機械かな？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「あん！？やり方なんて気にしてたらいざって時に動けねえだろ！お役所仕事じゃねえんだぞ！」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「・・はい、すみません・・、はい・・」とばつの悪そうな顔で怒られます・・が、なぜ自分が怒られているのかわかっていない様子です</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">ひょっとしなくても<b>委員長が一番頭のねじぶっ飛んでる</b>んじゃねえか</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">委員長も後でソニックパンチな</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">「豺虎。もしお前のおかげで建物が倒壊してたら、100人以上は怪我をしていたんだ。ちゃんと先を考えるんだ。」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ち、ハイハイ反省してマース」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「鶫ちゃん、ちゃんとハイは1回まで！」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ち、わあったよ、お嬢」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">二人が普通にバディRPしててすごいと思う</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>なんだかんだ仲のいい二人</blockquote>
                </div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">「火野は、なんで能力を使ったか、説明できるか？」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">先生っぽい発言だあ</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「はい・・で、でもね、先生！」と何かを訴えようとしています</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">んでは、委員長の証言</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">じゃあメモをとりながら聞こう</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「実はね、私・・・入学式が終わったあたりから、くしゃみが止まらなくなっちゃって・・・」と恥ずかしそうに言う</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif"><b>呼吸止めよう</b>か＾＾</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「しばらくは、花粉症かなぁって思ってたんだけど・・」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">「まぁ、春だもんなぁ」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「くしゃみした後に、目の前にあったものが燃えるようになっちゃって！あはは、変だよね私、オーダー認定ももらってないのに・・」としょんぼりしています。</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ようするに、<b>委員長は自分がオーダーであることには気が付いてません</b></div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">おう入学説明会はどうした！</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">何しにこの学校に来たの？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">この学級にいる時点でオーダーじゃねえの</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">(あ、そりゃ伝わってないよな)よし、少し説明させてもらっていいかしら、大事なところぬけてたみたいだ</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>ここで割愛していた学園の設定を放出する、開けブラックヒストリーノ写本！</blockquote>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">魔輝銀会私立学園機構</p>
                        魔輝銀会が管理運営する巨大学園機構。<br>
                        幼稚園、小学校、中学校、高等学校、大学、大学院を独自に運営している。<br>
                        <br>
                        <p class="header">魔輝銀会私立学園機構の授業風景</p>
                        一般学生とオーダー候補の学生が入り乱れて学園生活を行う。<br>
                        共通一般教育を行ったのち、それぞれ能力に伴った特別クラス専用のカリキュラムを受ける。科は2つ。<br>
                        - 普通科<br>
                        - オーダー科(対ネフィリム戦闘特化クラス、研究特化クラス、ゼロ特別クラス)<br>
                        例えば、オーダー候補は、午前中に普通科の学生と一緒に授業を行い、午後は特別クラスで授業を行う。<br>
                        <br>
                        <p class="header">オーダー認定制度</p>
                        学園に所属する生徒は全員オーダー認定制度によりランク付けが行われている。<br>
                        絶対的な階級制度というわけではなく、あくまで管理しやすくするためのもの。<br>
                        - ランク5(最高位。ガーデンに所属できるほどのオーダー能力保持者)<br>
                        - ランク4(ガーデン所属前の訓練期間中)<br>
                        - ランク3(能力発現をコントロールし、火力調整できるようになった段階)<br>
                        - ランク2(能力発現がコントロールできる段階)<br>
                        - ランク1(能力発現がコントロールできない段階)<br>
                        - ランク0(オーダーと一般人の境目。または問題ありすぎ能力保持者)<br>
                        - 無印(完全一般人)<br>
                        なお、オーダー認定された生徒には、認定ランクに従って襟元につける印章が渡される。
                    </blockquote>
                </div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">これを意図的に漏らすとは、GMやるな・・・</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ほんで、この学園は、オーダー候補生的なポジションの人が入学を許されるところで、一般人かもしれないし、オーダーかもしれないを、できるだけオーダーにするという学園です</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">そういうことか</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">まあ、オーダー的にゼロじゃなければ入学できるということだな・・・人間的にマイナスだとゼロ特に入れる、お得だな</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">だから、委員長も自分はオーダーじゃないけど、なんか目の前燃えるから、ゼロ特にいれられていると思ってるってこと。その辺踏まえて、委員長の処遇をPCには決めてほしい</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif"><b>臓器提供ぐらい</b>で許してあげる</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">腹黒やめてえええ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">死亡時にだから安心＾＾</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif"><b>自分の腹(の臓器を提供)じゃない</b>のかもしれない</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>ダークサイド、ナンデ！？</blockquote>
                </div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「委員長なのにバカなのか？お前の目の前が毎回燃えるなら、原因はてめえだろうに」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「ええっ！？そんなこと・・だって、スペックカラーわたしまだ見たことないよ？」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">前髪のせいか？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">額にうかびあがり、くしゃみするときなので目をつぶってます。よって、見えません・・</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">手前のスペックカラーは何色だぁ？(世紀末顔</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">「うちのルールなら、指を詰めてケジメをつける案件だな」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「ええっ！？うわーー、やだよーーー！餡子ちゃんたすけてー！」とパンチパーマにもふっとします</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">「それなら鶫ちゃんも詰めようね(にっこり)、だからこの話はおしまい」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">にしてよかったのだろうか</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">くしゃみの瞬間を撮影しないとダメだな</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">スペックカラーって常時見えるはずだよな。ないのか。前髪をまくりあげるぞ。</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">セクハラ！</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">これはセクハラですねえ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">ふふふ</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「きゃ、せ、せんせい・・・///」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">委員長のスペックカラーは、額に浮かんでいませんでした。彼女は発現をコントロールできないので、くしゃみするときにしか出ないです</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">まあでもそれは(ルルブ的な世界観での)常識ではないだろうから、栄たちには異常とうつるだろうな</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">さて、委員長はどうしましょうか？放置？それとも・・</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">とりあえずマスクさせとこう</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">とりあえず牢獄行きかな？</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">栄くんの立場としては、餡子の証言がうそくさいけど餡子の証言を無視すると説明がつかない・・・様子見かな。</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">くしゃみすることで能力発現だからマスクしても意味ないかと、むしろ<b>くしゃみを飲み込む練習</b>させなきゃ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif"><b>鼻からなんかでてきそう</b>・・・粘性の可燃物・・・ナパーム</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">なんだ・・特性能力≪鼻水≫か・・</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">けどかなりの危険人物だよね</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">というか逆にくしゃみをさせれば、委員長がオーダーだって証拠になるよな</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">まあDNA的にはそうね</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">認定試験でくしゃみさせるの？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif"><b>胡椒とか持たせておけば戦闘で使える</b>かも</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">誰狙うか分からない可能性が・・・</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">よしでは、「マスクさせて寮にある監獄とよばれる部屋に隔離しつつ、様子を見る」という回答でいいんかな？</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">いやいや牢獄はだめでしょう。「謹慎しなさいという」権限は僕らにはないですよ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">じゃあ、隔離はダメで・・「マスクさせて様子を見る」これならいいかな？</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">流石にぼや騒ぎの元凶だから、学園長にもこの話は行くんじゃない？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">(委員長に)なんかあったら連絡するように言っとこう</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">「火野さんは自覚していないだけで、オーダーとして覚醒している可能性があるね。でも、制御できてないんだと思う。」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「ま、まさかぁ・・？わたし、ゼロ特だよ？」と半信半疑</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">何時か人殺しそう</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">「人権とかそういう堅苦しい話もあるけど・・・一旦、上の先生たちに相談してみるよ。自分が発火元かもしれないという可能性は忘れないでね。なんとか解決してみるから」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name">naki@委員長</div>
                <div class="col-sm-10 serif">「はい・・と、とりあえず、このマスクつけてればいいんだね？」とハートマークのついたかわいらしいマスクを鶫からもらいました</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name">kaeru@鶫</div>
                <div class="col-sm-10 serif">そんなの持ってたんだ・・・なんかこう、漢字の刺繍が入った皮のマスクのイメージがあった</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name">aneko@餡子</div>
                <div class="col-sm-10 serif">ハート(かなりリアルな)マークかな？</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name">evi@栄</div>
                <div class="col-sm-10 serif">ナイフ刺さってそう、鎖も巻き付いてそう</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">デスメタルバンドみたいなのやめてぇ！他にRPなければ、オープニングフェイズをしめーるよ</div>
            </div>
        </section>
    </div>
{% endblock %}