{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>ミドルフェイズの始まり</h2>
                    <p>ゼロ特ってのは、一般常識からは劣等生と呼ばれてしまう生徒の集まるクラスって事です。燃えるよね？</p>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んでは、再開しまーす。さて、委員長がなんとなくボヤ騒ぎの原因かなぁっと思っているオーダー達ですが、どうしましょうか？ミドルフェイズの進め方なんですけど、いわゆる情報収集をしてもらう予定でいます</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">といってもなにを調べたらいいんだ？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">のちに出てくるであろう敵の情報とか、このシナリオの真実に近づくための情報、かな</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">能力制御の方法なら、教師か研究者かな</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">今は、委員長を何とかせねば！ってモチベーションをPCには持ってもらってるつもりなんだけど・・</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">ぼやがあった場所とか時間を調べるとか？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">そうだね、いいと思う。ここは学園だから、みんなが思う学園の施設で、なんかあやしいなぁってところにってもらえれば・・・適当にイベントを起こします</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">聞き込み調査するか、そうしたら奴さんもつぶしに来てくれるだろ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">何と戦ってるんだ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif"><b>社会</b></div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">餡子からいきましょうか。他に餡子の聞き込み調査に同行したい人、または同行させたい人います？</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">鶫よこい、我盾となれ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">なんかお嬢がゲスイぞ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">先生は日報書いて業務日報書いて提出用のレポート書いて教材作って忙しいのです</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">業務しちょる・・おそらく、舞台裏で調達判定をしたいのかと思われる</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">割といま非常事態だと思うんだが・・・</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">じゃあ、シーンPCは、餡子と鶫ね。どこに聞き込みにいってみる？誰って表現でもいいよ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">うわさ好きの女子、火事現場の聞き込み調査にいきます</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">校舎内ってことでいいかな？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「それで、どこに行くんだ？お嬢」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">まあ校舎内かな、あとは学校新聞とかでも調べれないかな</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">ふんふん、(噂好きの女子か新聞か)どっちか・・にしてもらえるとうれしい</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">2人だし手分けするか</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">それでいいかもね。いざとなればシーン登場ダイスふろう</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んでは、先に餡子でいきますぞー</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>シーン1 餡子の情報収集</h2>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3></h3>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">校舎内で、いろいろと聞き込み調査をしようと、うろうろしている餡子</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif"><b>餡子をくばってまわろう</b></div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">「ANKO!ANKO!ANKO!」と餡子親衛隊がよろこんでいます</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">なんだこの学園</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>ごもっとも・・</blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">とても平和だなあ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">そうやって餡子を配っていると、廊下で立ち話をしている生徒を見かけました</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO＠校内の噂好きの女子から<br>
                        <br>
                        「そういえば、最近くしゃみしてる人多くなーい？」<br>
                        「えー、そうかなー？花粉症の季節だもんねー」<br>
                        「そーだねー、やだねー」<br>
                        「あー、そういえばさー、演習林のさくらの木が咲いたんだってよー」<br>
                        「えー、あれ、もう何年も咲いてないって話じゃなーい？」<br>
                        「でも、咲いたんだっていってるよー？」<br>
                        「えー、見てみたーい！あ、そういえばねー・・・」<br>
                        <br>
                        話は続いているようだが、恋愛話に移行してしまった。
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">というイベントに遭遇しました。これ以上の情報を得るには、威圧、隠密、交渉のいずれかの判定で成功する必要があります</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「(桜の木か・・・花見もいいわね)」では交渉でふります</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">情報収集:交渉 -> DiceBot : (1D100<=48) → 19 → 成功</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">やるやん</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んでは、噂話をしている生徒からこんなことも聞き出せました</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO＠校内の噂好きの女子から(追加情報)<br>
                        <br>
                        花粉症の生徒は今年は異常なほど多い<br>
                        特にオーダーの素質が高い人物がひどい症状を見せることが多い
                    </blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">ふむ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">このイベントでの情報は以上でござる。</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">シーン移る？じゃあ舞台裏でマルチセンサーを買うぞ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">あと、鶫はも舞台裏PCになってるので、舞台裏処理ができる</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">ほうそんなこともできるのか</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">いやー交渉するかー失敗したらこわいなーひゅー</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">購入判定 -> DiceBot : (1D100<=153-20) → 5 → 成功(クリティカル)</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んでは、栄先生はどっかからかマルチセンサーを取得したよ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">予算申請のときについでに買った</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">ほう、じゃあ鶫は、防具の購入判定したい</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">そういえば、<b>すっぱだか</b>だもんね・・威圧か交渉で成功すれば買えたってことになります</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">メタいこというと耐熱ジャケットだろうな</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">確かに耐熱はよさそうだ・・・うーんやっぱレジスティブジャケットにしよう、威圧で</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">がんばれ盾子ちゃん</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">購入判定:威圧 -> DiceBot : (1D100<=57) → 88 → 失敗</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">ぐは</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">だめだぁ・・鶫は、学園内でレジスティブジャケットを探したが、見つからなかった</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ち、しけてんなあ」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">レジスティブジャケットは、学園の備品なのでちゃんと管理してます。<b>僕は備品からくすねます</b></div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">横領か</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">犯罪かな？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">っていうみたいなことを、舞台裏PCはすることができます</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>シーン2 鶫の情報収集</h2>
                    <p></p>
                </div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">じゃあ新聞部に行こう</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んでは、鶫は新聞部にきました、登場したいPCはいらっしゃいますかー</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「鶫ちゃん、ちゃんと情報収集出来てるかな・・・？」登場しよう、不安だから</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">登場判定 -> DiceBot : (1D100<=80) → 65 → 成功</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んでは、餡子も登場できます！</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「邪魔するぜー」ガラガラっとドアを開ける</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@新聞部員A</div>
                <div class="col-sm-10 serif">「あ、な、なんでしょうか？」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「お邪魔しま～す」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@新聞部員B</div>
                <div class="col-sm-10 serif">「ANKOさん！きたー！」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ちょいと調べものがあってよお。お前らそういうの得意だろ？」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「そういうことなの。最近話題のぼや騒ぎについてなんだけど・・・何か気になることとかあるかしら？」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">その、新聞に載せるほどではないけど、気になることとか言う意味で</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@新聞部員A</div>
                <div class="col-sm-10 serif">「あ、はい、もちろんですが・・一体何を？」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「どうせお前らも調べてたんだろ？知ってること全部教えな！ぼやのあった時間と場所、現場状況とかな！」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">じゃあ・・威圧、交渉で判定してもらおうかな。特性能力つかってもいいけど、攻撃タイプだったかな</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">交渉下手なんだよなあ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">威圧しか交渉系がないけど・・・重力を操って威圧感を増すってできないかな？GM</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">具体的にどういう風にするか演出してくれたら、ボーナス+20します＞kaeru</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">部室の机や椅子が重力の影響でメキメキと音を立ててきしみます</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「俺は気が短いからなあ、知ってることがあったらすぐに教えてほしんだが」ついには、部室全体が軋みを上げる</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@新聞部員A</div>
                <div class="col-sm-10 serif">「ひー！暴力はいけませんですよー！」とびびってる、ボーナス+20どうぞ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">情報収集:威圧 -> DiceBot : (1D100<=87) → 99 → <b>失敗(ファンブル)</b></div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">ぐああああああ、出目があらぶっておる</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">鶫の重力干渉により、今にも部屋が崩れ落ちそうになっている・・あれ力加減間違えたかな？</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@新聞部員A</div>
                <div class="col-sm-10 serif">「こここ、これなんかまずくないですかね？」ときしむ部屋を見ながら・・</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「な、この教室欠陥住宅じゃねえのか！？」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「鶫ちゃん、何してるの！！」<b>怒りのパンチ</b></div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ギャン！」じゃあ廊下に吹っ飛ばされる</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「皆さん、鶫ちゃんが失礼しました。後でお灸をすえておきますので・・・」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@新聞部員B</div>
                <div class="col-sm-10 serif">「(お、おれも殴られたいな・・ANKOさん)」と思う部員がいるとかいないとか</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>パ、パンチ系ヒロイン・・・？</blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">サイコパスに調査はだめだったか・・・。ファンブルのフォロー・・・、<b>脱ぐしかないか</b></div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">情報収集でいいです・・・。餡子がフォロー成功したら、情報は出せることにしよう。餡子さん、なんとかしてぇ、たのむよおお</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">場所と時間を教えてもらいたいです</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">らじゃー、では、交渉か威圧でどうぞ！</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">では交渉で。威圧ってキャラじゃないから</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">威圧なんかする悪い教え子に育てた覚えはない</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>せんせー、パンチは威圧に入りませんかー？＾ｑ＾</blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">情報判定:交渉 -> DiceBot : (1D100<=48) → 42 → 成功</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">あぶないぞ、初期値なんだよなあ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">この鶫の<b>前座感</b>よ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">では、重力干渉できしんでた部屋が元通りに戻りました</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">いや、<b>そこはきしませといて</b>ください。予算申請するんで</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「皆さん、わたしがまたパンチパーマにならない為にも力を貸してください！！」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@新聞部員A</div>
                <div class="col-sm-10 serif">「は・・はあ、たすかった・・。火事の情報でしたっけ？いちおう、わたし達でも調べてますけど・・」とペラッと走り書きを渡してくれた</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@新聞部員B</div>
                <div class="col-sm-10 serif">「(ANKOさんがパンチパーマ・・？許せるっ！)」</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO＠新聞部からの情報<br>
                        <br>
                        火事の時間は一定していません。<br>
                        朝でも昼でも夜でも、ボヤ騒ぎが起きているようです<br>
                        場所は、一般の生徒がうろうろしているところが多いようです。<br>
                        特に寮とゼロ特1年生教室周辺に集中している模様
                    </blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">ゼロ特をよく思ってない人がいそうだなあ、ヒロイン(※自分のこと)がいるのになあ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">というか、くしゃみが出てるだけだよなあ</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@新聞部員A</div>
                <div class="col-sm-10 serif">「正直言いにくいのですが・・ゼロ特一年生の中に誰か犯人がいるんじゃないかって、園内では噂になっているみたいですよ」と目を合わせないようにいう</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">園内・・・動物園・・</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">は・・学びが・・！</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">見世物だったのかぁ！鶫が行動するたびに先生の胃に穴が空いていってるね</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">新聞部での情報収集は以上です。舞台裏の栄先生、なんかする？</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">バリスティックシールドを仕入れよう</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">購入判定 -> DiceBot : (1D100<=145-20) → 33 → 成功</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">お、こんなところに盾が</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">いいなあ、早く服を買いたいなあ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">機動隊かな・・では、先生はバリスティックシールドを取得しました</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">さて、0時回ったので、M2が終わったところで一旦中断しますぞ！本日はお疲れ様でしたー</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">おつかれさまー</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">お疲れー</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">僕の出番はなかった、このまま購買部に転属するか</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">すまぬ、まわりきらんかった・・</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>中断セーブ</h2>
                    <p>探索フェイズって結構難しいってことに気が付いたGM。みんな、下手な進行に付き合ってくれてありがとう！</p>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">次で終わりになるかなぁってな感じの進捗です</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">まじで？</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">じゃあ半分はいった感じなの？</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">GMがシーンリミットおしえてくれなかったからどこまでもつづくはず、きっとそう</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">いや・・ごめん、1/3くらいかな・・。ちょっと、シーン制探索をなめてたわ。もう少しうまいこといくようにするから、許して</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">オフだとぱっぱと終わるイメージなんだけどね</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">FEARゲーの場合だと、GMが「このシーンは○○さんのキャラクターがこういう目的でアレコレするシーンです」ってやるもんだからね</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">なんかギャグキャラになりつつある気がするなあ自分、不良なのに</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">いい感じに不がなくなっていってるでしょ？</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">良も霞んできたね</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">良はもとから・・・</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">あれ・・・鶫ちゃんが薄く・・・消える・・・のか・・？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">餡子にキャラが食われてしまっている</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">餡子もね、元は真面目キャラだったんですよ、それこそ鶫に振り回される設定だった</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">栄くんもです</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">真面目の定義がわからなくなってきた、むしろ振り回されてますよ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">気がついたらフルスイングする側</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">不良よりも手が早いってどういう事よ！なんで説得の前にパンチなん？</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">そんなシーンあったっけ？(すっとぼけ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">今回だけで2回も殴られてるんですが</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">いたしかたなし</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">言葉だけでは重火器乱射をやめないでしょ・・・。そういえば栄先生との絡みがすくないなあ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">先生もっと出てこようぜ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">栄先生、能力が完全に裏方だからなぁ・・</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">あと1シーンあれば出てきた。でもGMが阻止した、なのでGMのせい</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">すまぬ・・すまぬ・・・！</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">しかし栄くん地味だな、もう栄(モブ)に改名していい？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">せめて1話だけでいいから、PCでいてくれよう！</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>再開</h2>
                    <p>のんびりいきますかぁ・・？</p>
                </div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">もう少しでのけ者になるとこだった</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">やだなぁ、のけ者になんてしませんよぉ＾ｑ＾</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">待ってるに決まってるじゃあないですか</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">ヒロインがいない物語なんてつまらないモンね！！</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">ヒロインなら既にいるがな</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">さ、栄先生かな・・？</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">栄先生か・・・<b>けさなきゃ</b></div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">闇が深いな、きっと<b>頭の中には餡子じゃなくて闇が詰まってる</b></div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">な！？餡子は闇の暗喩だったということか・・！</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">じゃじゃん</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">お、きたなヒロイン</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif"><b>けさなきゃ</b></div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">キャーヒロインだー！・・・ヒロインは消毒しなきゃ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んじゃあ、ぼちぼち始めてくね</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO＠前回のあらすじ<br>
                        <br>
                        ゼロ特クラスに所属することになった鶫、餡子、栄の3名は<br>
                        委員長のくしゃみで壁が燃えるところを目撃・・というか体験する。<br>
                        今年から頻発するようになった学園のボヤ騒ぎは、委員長の仕業・・？
                    </blockquote>
                </div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">放火は・・・死罪か</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">シーンプレイヤーは、今度こそ栄先生だ</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>シーン3 栄の情報収集</h2>
                    <p>前日の続きです。</p>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">なにするんだっけ？</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">わかんないけど情報共有したいか餡子ちゃんおいでよ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">ではシーン乱入ダイスふるか</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">登場判定 -> DiceBot : (1D100<=80) → 20 → 成功</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">じゃあおいてけぼりだった栄くんが情報を入手した！</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「先生、ぼや騒ぎの件ですが、あれこーれ、こしあーんこです。」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「きぬごしきぬごし」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">呪文が見える・・</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">先生はりかいできるのか！？</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">さてGMに確認しよう、ゼロ特って単純に異常者と無能者の集まりなんだっけ？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">一概にはいえないけどね、一応学内ではそういうことで通ってるよ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">餡子もいるしね</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif"><b>餡子も異常者枠だよね</b></div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">当方の見解と致しましては実はわりとマークされる立場かと愚考する次第ですが・・</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">ヒロインにストーカーはつき物</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>うんう・・・ (｡◔‸◔｡✿)ん？</blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">トラブルあったら真っ先に疑われるクラスってのは間違ってないね</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">じゃあ完全に掃きだめなんだな。了解したぞ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">ひどい扱いだなあ。(ゼロ特の存在は)教育の場ではあってはならないことだ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">では餡子から教えてもらった情報をもとに・・・2つ疑問がわいてきたなあ。1シーンにどれだけ行動していいんだい？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">ここから推理パートかな？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">原則、登場中PCアクションに規定されてる行動を1つ。情報収集なら、1個のソースからだけだし。その他は、適宜判断するから申請してくだちゃい</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">1個のソースから複数の情報は？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んー、こっちで用意できてるか、クリティカル出れば2つでるかも。てか、実際クリティカルで2つでる設定にしてある</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">今から何が始まるんです？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">第三次大戦だ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">んーでは高ランクの生徒たちも花粉症らしいから、そっちに行こう</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">ふむふむ？</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「最近なんかパワーアップしたりした？」ってことで、とくに鼻水じゅるじゅるしてそうな子に重点的に聞いて回るぞ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">裏技でもあるのかな＾ｑ＾</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">すごい質問だな</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">餡子の「今年の花粉症患者おおすぎ。能力の強い人ほど重篤」の裏摂りだ</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@生徒A</div>
                <div class="col-sm-10 serif">「ええ？うちの家系は花粉症なんですよねぇ・・パワーアップ？とくには・・」とよくわかっていない風な回答ばかりです</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">ランク5のクラスともなればけっこうの数がマスクしてそうだが・・・</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「でも、今年はすごく多いみたいだね。いままでかかってない子が花粉症にかかりだしたりとか、してない？」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@生徒B</div>
                <div class="col-sm-10 serif">「そうみたいですね、学内でも噂になってますが、1年生ですごい花粉症にかかってる人がいるって話ですね、かわいそうに・・」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">※とくに高学年だから、オーダーランクが高いから花粉症にかかっている・・ということはないようです</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">あ。学年別にランクごとのクラスがあるの？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">いや、全学年共通のオーダー認定だよ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">えっとじゃあ、5ランクのクラスでも3年生の5ランクと1年生の5ランクでは1年生のほうがひどいと？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">と、いうわけではなくて・・「素質が高い人物がかかってる」って情報は、まだ能力発現が十分にできないってニュアンスもあったんだわ。ようするに、制御ができない人で、素質が高めの人が花粉症にかかってる。5ランクの人はもう自分で制御できてるから、とくにはかかってなさそう　ってシーン描写をしたつもり。だから、君たち能力発現ができるオーダーは、花粉症にはかからない</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">ほうほう</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">ああ。発展途上かそうでないかってことね。完全に誤解していた</div>
            </div>
            <div class='row pc1'>
                <div class='row gm'>
                    <div class="col-sm-2 name text-right">naki@GM</div>
                    <div class="col-sm-10 serif">ごめん、そういうことだぁ</div>
                </div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">謎が解けていくなあ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">じゃあ5ランクにくる意味はなかったな、3ランクぐらいが適当だ。あ、もう一つ知りたいんだけど、火野ちゃんが発現したときのパウワーってレベルでいうとどんくらいだったんだ？自分の特性能力じゃないから、イグニッションな誰かに聞けばいいかなーとか思ってた</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">(とくに威力は設定してないけど)まともに制御できてれば、1から3くらいじゃないですかね</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">はあく</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">まぁ、せっかくだからもう少しイベントに付き合ってもらおう・・・君たちの後ろから、あまったるい声が聞こえてくるよ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">餡子を口に含んで話してるのかな？</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@???</div>
                <div class="col-sm-10 serif">「せ・ん・せ？」と栄の耳元でささやかれる</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「んな！敵か！？」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@???</div>
                <div class="col-sm-10 serif">「もう、敵ってなによ、栄君とあたしの仲じゃない！」と白衣を着た人物が怒っている</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">そんな知り合いいたかな(記憶喪失ロールプレイ)</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">マッドサイエンティストかな？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">これは修羅場ですよー</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@???</div>
                <div class="col-sm-10 serif">「あたしよ、あたし、保健の先生！美ヶ原(うつくしがはら)よ！」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">登場して<b>3角関係を演出したい</b>なあ</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@美ヶ原先生</div>
                <div class="col-sm-10 serif">「ちょーっと、秘密のお話があるから、保健室まできてもらっていいかしらぁ？」と栄に言う</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「急ぎの用事でなければ、ちょっと今立て込んでるので・・・」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">それを聞くと、小声になって栄に言う</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@美ヶ原先生</div>
                <div class="col-sm-10 serif">「ちょっと、君のクラスの生徒。なんていったかしら・・ひの？あの子のことで相談よ」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">そういうと、ちらっと餡子の方を見る</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@美ヶ原先生</div>
                <div class="col-sm-10 serif">「なぁに、せんせ？また新しい女？」きっとした顔で栄先生を見る</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「え、わたしですか？」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@美ヶ原先生</div>
                <div class="col-sm-10 serif">「その娘は・・まぁ・・・(品定めするような目)・・・一緒についてきてもいいわよ」そういうと、美ヶ原は踵を返して保健室の方に向かいました</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「む・・・先生も心配されてましたか。じゃあ、ついていきましょ」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「おもしろそうだし、ついていこっと」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">では、保健室にシーンが移ります</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">保健室の入り口に<b>只(対人地雷のクレイモア)を設置</b>しとこ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">誰に向けたトラップなの・・</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif"><b>サイコ</b></div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif"><b>何故だ！</b>恐ろしいトラップだ</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@美ヶ原先生</div>
                <div class="col-sm-10 serif">「さぁて・・本当はせんせと二人っきりがよかったのだけど・・火野さんね、あの子最近おかしいことになってなぁい？」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「（わたし、お邪魔だったかしら？）」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「1か月くらいですからねえ。最近かどうかまでは。」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@美ヶ原先生</div>
                <div class="col-sm-10 serif">「たしかにそうね・・・実は、先週、あの子保健室にきてね。最近鼻水が出て・・花粉症じゃないかって、ね？その時は、鼻水採取してそのまま帰ってもらったんだけど・・」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">それナパーム・・・</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">そういうと、保健の先生は急にマジメな顔になる</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@美ヶ原先生</div>
                <div class="col-sm-10 serif">「あれ・・・ネフィリムの仕業かもね」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「（ネフィリム？）」世界の常識を知らない餡子</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">鶫ー！餡子の常識袋になってくれーーー！</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「根拠はなんです？」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">以降の情報は、威圧、交渉で成功すると詳しい情報がわかります！</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">交渉で楽勝じゃないか、栄先生が・・・00なんてでないでしょ？（飛行船墜落）</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">では特性能力サイオニックパワーを使います</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>《†サイオニックパワー》（コスト 疲労１）　任意の技能で判定。その技能の成 功率に＋30％。《精神投影》の効果の範疇に限る。</blockquote>
                </div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">発現判定 -> DiceBot : (1D100<=100) → 80 → 成功</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">ではサイオニックパワーでマインドリーディングを強化。爪の先が緑色にピカるぞ</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>《†マインドリーディング》（コスト なし）　自身が行なう〈交渉〉〈追跡／逃走〉の成功率に常に＋30％。</blockquote>
                </div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">あとこれって情報収集判定ですかね</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">ですです</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">ならば　専攻 教育学　教育の要素を含む場合や、情報源が教員・生徒からの場合、情報収集判定に+30</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">情報収集判定 -> DiceBot : (1D100<=195) → 9 → 成功(クリティカル)</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">どやあ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">わお・・</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">やるじゃない</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">さすが</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">美ヶ原先生は、すぐに元の顔に戻ると、一枚の紙を渡してくる</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@美ヶ原先生</div>
                <div class="col-sm-10 serif">「あ、そうそう！これ、委員長の診断書ね。学園長には内緒よ？」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif"><b>スリーサイズでも載ってる</b>のかな？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">『委員長の診断書（はぁと』と書かれた書類には以下の情報が記載されていました。</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO＠委員長の診断書（はぁと<br>
                        <br>
                        - ただの花粉症じゃない<br>
                        - ネフィリムの胞子によるアレルギー症状の可能性あり<br>
                        - 鼻水に入ってたネフィリムの胞子の簡易分析結果(ランダムにネフィリム情報を1つ取得する)<br>
                        - スリーサイズ
                    </blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">のってたよ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">ついでにクリティカルしたので・・・</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">ランダムにスリーサイズ情報2つになりますか？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">ならないよ！ランダムにネフィリム情報を2つ取得する、がつきます。スリーサイズ情報は、残念ながら黒く塗りつぶされていた・・</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif"><b>光に透かせば問題ない</b></div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@美ヶ原先生</div>
                <div class="col-sm-10 serif">「もしも、原因が彼女自身にないとしたら・・。彼女なんか相当落ち込んでたし、教えてあげるといいかもねぇ」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">鼻水で検査できるとかインフルエンザのようだ</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO＠ネフィリム情報(断片<br>
                        <br>
                        1.行動パターン<br>
                        近づいたものを優先的に攻撃する<br>
                        <br>
                        3.能力値<br>
                        身体:12/感覚:8/知力:8/意思:8/魅力:12<br>
                        行動値:10/移動値:1<br>
                        <br>
                        4.負傷ゲージ<br>
                        疲:12/軽:8/重:5/致:4/死:1
                    </blockquote>
                </div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">花粉だし、植物系かな</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">火野ちゃん魅力12かあ・・・</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">胞子そのものかも</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">もう一つおまけで、その胞子の診断書には「憑依型ネフィリムの可能性あり」と小さく書いてありました。以上！</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">憑依型ってなんだ？</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">詳細は次の調査フェイズでどうぞ～</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">ああ、一般常識じゃないのな</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">ちなみに、データはオリジナルね</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@美ヶ原先生</div>
                <div class="col-sm-10 serif">「それじゃあ、あとはよろしく～。せんせ、またきてね（はぁと」とヒラヒラと手を振ります</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「うむ。」クレイモアの向きを変えて出て行こう</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">殺す気満々だな</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">勘がいいな、美ヶ原先生は<b>青髭がキュートな男性</b>なのだ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んでは、鶫お待たせ、調達判定していいよ！</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO＠調達判定<br>
                        <br>
                        鶫 -> レジスティブジャケット -> 威圧 -> 達成値30 -> 成功
                    </blockquote>
                </div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">よっしゃああああ！ついに服ゲット</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">じゃあ、どっかの誰かからレジスティブジャケットをぶん捕りました</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「オラア、早く脱げよお！」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@生徒D</div>
                <div class="col-sm-10 serif">「ああ、それは・・！いやぁー！」はぎはぎ</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>シーン3.5 PL会議</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">そろそろなんか方針的なものが見えてきたかしら、次も調査フェイズが続くんだけど、どなたか動きたい方います？特になければ、第二次委員長査問委員会が開催されますが・・</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">性犯罪者がいるようなので捕縛しにいきます</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">まぁた鶫が説教かぁ・・</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">窃盗と暴行！許せない！</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">あーばよーせんせーい(ルパン3世顔</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">餡子は優等生だなあ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">優等生なだけじゃあヒロイン競争には生き残れないぜ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">じゃあ殴るか</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>ひ、ひろいん？</blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">よし、では・・いくつか選択肢がポップアップします</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO＠次の行動の選択肢<br>
                        <br>
                        1. 委員長にもう一度話を聞きに行く<br>
                        2. 図書館で憑依型ネフィリムについて調査する<br>
                        3. 先生方にこのことを報告しに行く
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">どれか選んでください</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">じゃあ4．演習林を調査する　で</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">おっと・・栄先生いいとこついてくるねぇ（にやり</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">そんな場所あるのか</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">少しPCで話し合ってちょうだい</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>しばし、相談・・</blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">では、次の行動まとめ・・・</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO＠次行動<br>
                        <br>
                        1． 委員長にもう一度話を聞きに行く ... 鶫<br>
                        2． 図書館で憑依型ネフィリムについて調査する ... 餡子<br>
                        4. 演習林を調査する ... 栄
                    </blockquote>
                </div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">演習林は虎穴っぽいが虎は留守してそうだしな</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">鶫からやるます</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>シーン4 鶫と委員長</h2>
                    <p></p>
                </div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">頼むから殺すなよ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「よー、委員長邪魔するぜえ」ドアをバーンと開けて登場</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「あ、鶫ちゃん！マスクすごい調子いいよ！」とにこにこしてます</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">登場判定する</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">登場判定 -> DiceBot : (1D100<=80) → 28 → 成功</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">(見張ってるからな)</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">栄先生は窓から登場しました・・</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">すたっ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">何故に味方に監視されているのか</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ちょ、せんせーどっから湧いて出てんだよ」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">委員長もぎょっとしますが、うれしそうではあります</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「影あるところに光あり、ということだ。目付だ。」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「まあいいか」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「わあ、先生も？今日は二人で様子見にきてくれたの？」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ああ、まあな。お前の花粉症の原因が分かったんでな、教えとこうと思ってな」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「あー、やっぱり花粉症だったんだぁ・・」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">花粉症の原因がわかった・・・すばらしくどうでもいい情報に聞こえる・・・</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ぶっちゃけ、ネフィリムによる毒攻撃だ。なんか心当たりとかねえか？」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「ええ！？ね、ネフィリム！？」と驚いた様子・・・少し気を取り戻して、うーんと考える委員長</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「そういえば・・・」委員長はゆっくり語りだした</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「くしゃみが出始める少し前に、演習林にキノコ狩りにいったんだったよ。見たこともないキノコだったから、写真とったんだけどね」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">そういうと委員長は携帯の画面を見せる</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">ツキヨタケだー？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">恐怖！キノコ人間だー？</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>※人間の顔のついた真っ青なキノコのアイコンが提示される</blockquote>
                </div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">わりと合ってた</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">うちの庭に生えてるキノコにそっくり・・・と餡子がいたら言ってた</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「てめえ、こんな怪しいものさっさと教えやがれ！」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「魅力・・・12くらいかな」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">キノコ界ではイケメンなんでしょ・・・</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「どう見てもこいつが原因だろうが！」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「え、ええ？で、でも、<b>焼いたらおいしかった</b>よ！」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「食ったんかい！」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「ええっ！？なんで鶫ちゃん怒ってるのー、せんせー！！」と先生の後ろに隠れる</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「毒キノコっておいしいんだよ。だから毒キノコだね。」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「とりあえずてめえは、保健室に行って診察してもらえ！」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「うー、わかったよ・・」としぶしぶ保健室にいくことにしました</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「たく、これだから頭お花畑なパンピーの相手は疲れるぜ・・・聞いたか？せんせー、敵の場所はそこだ」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">鶫がちょっと口が悪い真面目キャラになってるなあ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">不良が実はいいやつなのも王道だしな</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「写真の写真を撮らせてくれ。パシャ」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「とっとと行って片づけようぜ」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「サイコも撮っとけ」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「おう」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「じゃあ、火野。また様子を見に来るよ」サラダバー・・・窓からシーンを離脱します</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「うん、ありがとう、せんせい！」シャバダー</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「歯あ磨いてさっさと寝ろよ！」そう言って部屋からでます</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「うん、鶫ちゃんもありがとう！」ネバネバー</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">何の擬音だ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">コイツ粘菌類になってたか</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">あ、今のシーンの裏の餡子は、なにかするかな？</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">じゃあ軽症治療スプレー買いたい</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO＠購入判定<br>
                        <br>
                        餡子 -> 軽症治療スプレー(48) -> 達成値38 -> 成功
                    </blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">今のところ失敗なし</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">では、ANKO親衛隊が、治療スプレーを献上しました</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">何時のまにかでかい勢力になってんなあ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「みんな、ありがとね～」笑顔で手を振り、星をばら撒きます</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">さっきとったキノコの写真を餡子の携帯に送付しとこう</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「あら？<b>迷惑メール</b>かしら？」画像でウイルス感染を疑うのが普通ですが、普通に開きます</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「件名：これなーんだ」※添付：キノコの画像</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「あら、なかなかプリティーなキノコね。さぞかし<b>美味しい</b>んでしょう」</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>シーン5 餡子と図書館</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んでは、図書館です。学園の図書館は、市内でも有名な巨大図書館です。魔導書もあるで！</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">ネクロノミコンかな</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">ウス=イ=ホンとかでしょ</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>お約束</blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">えーと、調査判定すればいい？</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">調査判定 -> DiceBot : (1D100<=75) → 57 → 成功</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">何気に成功率たかくなぁい？</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">やるやん</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">君は古いネフィリム調査資料の中に、以下の情報を見つける</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO＠図書館での調査資料<br>
                        <br>
                        「・・・(省略)・・・植物および動物に憑依するネフィリム事例報告・・・(省略)・・・」<br>
                        「・・・(省略)・・・普段は擬態しているため本物との判別がつかないが、オーダー特性の高い人物が近寄ると過剰に反応し、取り込もうとする動きを見せることがわかった・・・(省略)・・・」
                    </blockquote>
                </div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">取り込むだと</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「あら、びっくりぽんな事例ね」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んでは、もう一回。ネフィリム知識乗せて調査判定してください＞餡子</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">調査判定 -> DiceBot : (1D100<=105) → 89 → 成功</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">あぶないぞ</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO＠ネフィリム情報(断片)<br>
                        <br>
                        8. 攻撃手段(近接)「蔦のムチ(当身)」<br>
                        対象:単体/射程:近接<br>
                        (C)属性:切断/ダメージ:1d10+15
                    </blockquote>
                </div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">切断だったかー</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「ふむふむ、ムチを使った攻撃が得意と・・・捕食が大変そうね」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">ピシュンピシュン</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">憑依型ということを忘れていくスタイル</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">あとはメタいけど、2. 弱体化条件, 5. 技能, 6. 防御力, 7. 攻撃手段(至近)情報が出てません</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">弱体化は知りたいなあ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">弱体化の手段ねえ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">じゃあ、栄と鶫は舞台裏処理よろしくぅ～</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">餡子のほしがってたレーザーブレードを・・・</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">ふむこのまま夜になるとあれだから、ペンライトを買おう</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO＠舞台裏処理<br>
                        <br>
                        栄 -> 購入判定 -> レーザーブレード(95) -> 12 -> 成功(クリティカル)<br>
                        鶫 -> 購入判定 -> ペンライト(67) -> 48 -> 成功
                    </blockquote>
                </div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">拾った</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">じゃあ、二宮金次郎像の背中に刺さってたレーザーブレードを見つけました</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">異性にレーザーブレードもらったら惚れますわー</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">一方、鶫は売店でペンライトを買ったよー</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">買ったのか？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「おばちゃん、これ<b>もらうね！</b>」ペンライトを持って走りだそう</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@売店のおばちゃん</div>
                <div class="col-sm-10 serif">「お、おーーい、おかんじょーーー！」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「つけといてー」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">じゃあ次は、栄の番！</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>シーン6 栄と演習林</h2>
                    <p></p>
                </div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">演習林にいきますよ。出たい人いますか</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">いきます！</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">登場判定 -> DiceBot : (1D100<=80) → 52 → 成功</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「じゃあ桜の木で待ち合わせよう。君に渡したいものがあるんだ」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「まあ素敵なメール、どなたかしら？」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">fromくらい見なさい</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">アドレス登録してるとお思いかな？</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">sakae.todo@order.co.jpだからわかるよ</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">株式会社になってるんですが・・それは・・・</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">これは分かりますわ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">acだったな</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「森林ログイン！」</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">出よう</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">登場判定 -> DiceBot : (1D100<=90) → 17 → 成功</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ここかあ、敵のアジトは」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んでは、全員参加できます</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>色々察してくれる、PLの鑑達</blockquote>
                </div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">演習林のなかに咲かない桜があるんでしたな</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">よく見てたね！そうだね、君たちの目の前には、咲き乱れる桜の老木がある。桜の老木に近づく人はいますか＾＾</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「咲いてる分には普通だけど、咲いてないのが普通なんだろうなあ」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">鶫さんいってよ</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「とりあえず撃っていいかな？」</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「鶫ちゃんやめて！」殴ぐりとばします</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ガハッ。お嬢はとりあえず殴るのをやめてくれ！」</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「あ、そうだ。これ」といって・・・ええと、握りこぶし二つぶんくらいの金属の棒を餡子にあげる</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">「まあ、これは素敵なビームサーベル」ポッ</div>
            </div>
            <div class='row aneko'>
                <div class="col-sm-2 name text-right">aneko@餡子</div>
                <div class="col-sm-10 serif">餡子は忙しいなあ</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>この人間模様の中心・・まさかこれが・・！？</blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んでは・・鶫さんが桜の木に近寄ると、その桜の木の花びらは、人の血のような色になるよ</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">「おーキレイだなあ」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">そして・・君たちの聞き覚えのある声がする。</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「・・っと見つけた！このキノコ、また食べたかったんだよねー、ふふふー」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">と、マスクをした委員長が、桜の木の裏側でキノコを採取してました。</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">向こう側か</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「ザッケンナーコラー！」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">委員長は、突如伸縮してきたネフィリムの蔦にやすやすとからめとられ、そのまま上空へと高く持ち上げられてしまう。</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">あらあら</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「オ、オタスケー！」</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">このままでは委員長がムシャムシャされてしまうことは間違いないだろう。</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">「てめえ何やってんだ！この馬鹿！」</div>
            </div>
            <div class='row npc'>
                <div class="col-sm-2 name text-right">naki@委員長</div>
                <div class="col-sm-10 serif">「ええ！？鶫ちゃんに餡子ちゃんにせんせい！？うわー！スカートの中みないでー！」と上空から声が</div>
            </div>
            <div class='row evi'>
                <div class="col-sm-2 name text-right">evi@栄</div>
                <div class="col-sm-10 serif">戦闘かな？</div>
            </div>
            <div class='row kaeru'>
                <div class="col-sm-2 name text-right">kaeru@鶫</div>
                <div class="col-sm-10 serif">やってやんよ！</div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">はい、戦闘です！ついでにクライマックスフェイズに突入します</div>
            </div>
        </section>
    </div>
{% endblock %}