RewriteEngine on
RewriteBase /
RewriteRule 20160130.html http://nakigao.webcrow.jp/replay/gror/1/1/1/ [R=301,L]
RewriteRule 20160131.html http://nakigao.webcrow.jp/replay/gror/1/1/1/ [R=301,L]
RewriteRule 20160220.html http://nakigao.webcrow.jp/replay/gror/2/1/1/ [R=301,L]
RewriteRule 20160221.html http://nakigao.webcrow.jp/replay/gror/2/1/1/ [R=301,L]
RewriteRule 20160226.html http://nakigao.webcrow.jp/replay/gror/2/1/1/ [R=301,L]
RewriteRule 20161016.html http://nakigao.webcrow.jp/replay/gror/2/2/1/ [R=301,L]