{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/lostroyal-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-evi.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>儀式</h2>
                    <p>ではエピローグ</p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>もう覚えてないかもしれないが、春夏秋冬の風に王子の血を混ぜた聖杯を掲げて、龍を復活させるのが目的なので……春の気配近づくとある丘に来ています</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>城落ちて、娼館通いをし、敵を撃ち滅ぼした……おお、そうだったそうだった！</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@シュヴェー</div>
                <div class='col-sm-10 serif'>ここで王子を血祭りにあげるのかな？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>シュヴェーは反逆罪で死刑ね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@シュヴェー</div>
                <div class='col-sm-10 serif'>殺すとは言ってないぞ</div>
            </div>
            <div class='row jem'>
                <div class='col-sm-2 name'>jem@ティセ</div>
                <div class='col-sm-10 serif'>死刑になることに定評のある</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>ここで風力決定表というものを各自に振ってもらって、それが儀式点となり、今回の勝利点になります。というわけで全員WPCをどうぞ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@シュヴェー</div>
                <div class='col-sm-10 serif'>wpc LostRoyal : 1D6[5] やや強い風（儀式点プラス１） [合計儀式点 +1 ]</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>WPC LostRoyal : 1D6[4] ゆるやかな風 [合計儀式点 +0 ]</div>
            </div>
            <div class='row jem'>
                <div class='col-sm-2 name'>jem@ティセ</div>
                <div class='col-sm-10 serif'>wpc LostRoyal : 1D6[3] ゆるやかな風 [合計 儀式点 +0 ]</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>はああああああん</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@シュヴェー</div>
                <div class='col-sm-10 serif'>あああああ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>そよ風がふいた……2回ふるのでもう一回どうぞ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@シュヴェー</div>
                <div class='col-sm-10 serif'>wpc LostRoyal : 1D6[6] 強い風（龍を幻視、儀式点プラス２） [合計 儀式点 +2 ]</div>
            </div>
            <div class='row jem'>
                <div class='col-sm-2 name'>jem@ティセ</div>
                <div class='col-sm-10 serif'>wpc LostRoyal : 1D6[5] やや強い風（儀式点プラス１） [合計 儀式点 +1 ]</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>wpc LostRoyal : 1D6[5] やや強い風（儀式点プラス１） [合計 儀式点 +1 ]</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@モエ</div>
                <div class='col-sm-10 serif'>「きゃっ……」とミニスカートを抑えます</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@シュヴェー</div>
                <div class='col-sm-10 serif'>これ７ってどうやるんだ？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>1と2のときは振りたしなので、1か2が出た後に6か5をだす</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>合計5点ですね。シュヴェーだけはなんか龍が見えてます、他の人はとくに……</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>はい……</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@シュヴェー</div>
                <div class='col-sm-10 serif'>「皆！！見ろ！！ドラゴンがいるぞおおお」虚空に向かって叫びながら飛び跳ねよう</div>
            </div>
            <div class='row jem'>
                <div class='col-sm-2 name'>jem@ティセ</div>
                <div class='col-sm-10 serif'>「(何を)……？」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@モエ</div>
                <div class='col-sm-10 serif'>「(あのサメとうとう気が振れたかしら)……み、みちゃいけません、王子！」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>次は夏の風に聖杯を捧げたりそれまで逃亡生活したりしていくんじゃないでしょうかね！というわけでシナリオクリアです</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>おつかれー！ルルブ買おうかなぁ、結構おもしろいね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@シュヴェー</div>
                <div class='col-sm-10 serif'>おつかれー</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>勲章式</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>最後に一人MVPを決めて下さい</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>また変なものを決めるんだなぁ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>(秘匿通話で投票が行われ……)MVPはモエ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>やったああああああ！？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@シュヴェー</div>
                <div class='col-sm-10 serif'>大活躍だったしね</div>
            </div>
            <div class='row jem'>
                <div class='col-sm-2 name'>jem@ティセ</div>
                <div class='col-sm-10 serif'>今回は正義溜めて渡して血路キープだけだった。正直血路キープが一番大事な気もする</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>まさに血路だよね。あ、MVPは王子のアクション表を1つだけ書き換えられます</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>5を「スカートの中身が気になって仕方がなくなる」にしよう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>12歳だししかたないね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>致し方なし</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>今回の戦いを経て<b>王子はときどきスカートに夢中になる</b>ことでしょう</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@シュヴェー</div>
                <div class='col-sm-10 serif'>王子いいいいい</div>
            </div>
            <div class='row jem'>
                <div class='col-sm-2 name'>jem@ティセ</div>
                <div class='col-sm-10 serif'>変態王子への道</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>思い返してみれば……スラム街では娼館に通い詰めるシュヴェーを見て、最終戦闘ではスカートをひらひらさせて華麗に戦うモエをみてきたので、フェチズムに目覚めることもあるかもしれない</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@シュヴェー</div>
                <div class='col-sm-10 serif'>やはり情操教育上、オカマはまずかったか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>evi@GM</div>
                <div class='col-sm-10 serif'>影響点的にはシュヴェーの影響を多く受けています</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>すべてサメの仕業</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@シュヴェー</div>
                <div class='col-sm-10 serif'>濡れ衣だ！サメだけに</div>
            </div>
            <div class='row jem'>
                <div class='col-sm-2 name'>jem@ティセ</div>
                <div class='col-sm-10 serif'>残念だ……円卓がダメだった</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>春夏秋冬過ごした後にはとても素敵な王子になりそうだ</div>
            </div>
        </section>
    </div>
{% endblock %}