{% set requestUri = global.getRequest.getRequestUri() %}
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 style="margin-top: 18px; margin-left: 38px;"><a href="/"><img class="site-symbol" src="{{ base_url }}/assets/img/site-symbol.png" alt="">NAKIGAO TRPG ARCHIVES</a></h1>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if requestUri == '/replay/' %}class="active"{% endif %}><a href="{{ base_url }}/replay/" data-toggle="tooltip" data-placement="bottom" data-original-title="セッションのリプレイ集">REPLAYS</a></li>
                <li {% if requestUri == '/gm-support-tool/' %}class="active"{% endif %}><a href="{{ base_url }}/gm-support-tool/" data-toggle="tooltip" data-placement="bottom" data-original-title="TRPG GM SUPPORT TOOLS FOR DodontoF API">GM-TOOL</a></li>
                <li {% if requestUri == '/character-sheet/meikyudays/' %}class="active"{% endif %}><a href="{{ base_url }}/character-sheet/meikyudays/" data-toggle="tooltip" data-placement="bottom" data-original-title="迷宮デイズキャラクター保管庫(β)">M-DAYS</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
