{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>事件の真相</h2>
                    <p>シリーズの設定集です。ネタバレどころの話じゃないので、本編リプレイ見てからにしてもらえると嬉しいな</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        <p class="header">1. アペイロンプロジェクトとは</p>
                        過去の大戦時、日本帝国には非倫理的な実験を行うことを許された実験部隊、日本帝国軍極東支部『第十一実験部隊』が存在していた。<br>
                        部隊が本来持っていた目的は、出現当初のネフィリムと超能力(オーダーと認識される前のモノ)に関する研究であったが、戦局が苦しくなる中、いつしか目的が『無限の兵力を生み出すための研究』に変わり、遺伝子研究、人造兵器開発などの方向へとシフトチェンジした。<br>
                        この頃に計画されたプロジェクトの一つに『無限力計画』というものがあった。これが後の『アペイロンプロジェクト』の前身になっているプロジェクトの名前である。
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        <p class="header">2. 『第十一実験部隊』の解体と『セクションイレブン』の結成</p>
                        第十一実験部隊の研究方法は、今で言うと非人道的であるとされるもの多く、大戦終結後、世間で明るみにされる前に政府により解体された。<br>
                        前身の部隊が解体後、ほとんどの人員をORDERが再雇用し、『セクションイレブン』として再編成された。<br>
                        それと同じタイミングで『無限力計画』は、『アペイロンプロジェクト』と名前を変え、継続して研究されることになる。
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        <p class="header">3. 第八実験体</p>
                        ORDERが組織として認知され、オーダー能力者とネフィリムの対立構造がはっきりしてきた頃、『第八実験体』と名付けられた人工生命体が誕生した。<br>
                        第八実験体が持っていた特性能力は、他のオーダー能力者の能力をコピーし増幅する能力だった。<br>
                        これは長きにわたるアペイロンプロジェクトの最終目標の一つであるとされ、組織内では『ゼロから無限の力を生み出す奇跡の生命体』と呼ばれることになる。<br>
                        そしてこの第八実験体を製造した主任研究員が、現在、学園の保健室に勤務している美ヶ原だった。
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        <p class="header">4. 第八実験体の暴走とアペイロンプロジェクトの凍結</p>
                        『奇跡の力』ともてはやされた第八実験体であったが、成長するに従い自我を持ち始める。<br>
                        このことは部門の誰もが予想していなかったことだった。<br>
                        <br>
                        ある日、実験のため第八実験体の部屋を訪れたとある研究員が、乱暴に腕をつかむと、第八実験体は突然怒りをあらわにした。<br>
                        次の瞬間、膨大なオーダーの力のエネルギーが発現、暴発し、研究施設は跡形もなく吹き飛ばされてしまう。<br>
                        そのとき、美ヶ原は研究所にはいなかったが、主要な研究員30名あまりの命は失われ、貴重な研究成果のほとんども永久に損なわれてしまったのだった。<br>
                        <br>
                        極秘書類に『グラウンドエイト』と記載されたこの事件を機に、セクションイレブンは解体され、それと同時にアペイロンプロジェクト自体も無期限凍結となった。
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        <p class="header">5. 美ヶ原研究員のその後</p>
                        アペイロンプロジェクトの主任研究員だった美ヶ原は、プロジェクト凍結後、魔輝銀会私立学園高等部の保健教諭として赴任する。<br>
                        しかし、美ヶ原はアペイロンプロジェクトに関して諦めることはできず、独りで研究を続けることを決意する。<br>
                        それをどこかで聞きつけた組織の協力などもあって、プロジェクトは無事に継続されることとなった。
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        <p class="header">6. ゼロ特別クラス</p>
                        学園内では異端児専門クラスとして認識されているが、その実態は、美ヶ原が手をまわして選別した生徒を集めたクラスである。<br>
                        オーダー能力が異常に高い生徒を多く抱えており、実験体にそのオーダー能力を付与するための『生贄』のような候補でもある。
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        <p class="header">7. アペイロン</p>
                        第九実験体の名前で呼ばれていた人工生命体。<br>
                        八番目の実験体の失敗を元に自我を持たないように徹底的に隔離して育てられた。<br>
                        その容姿や言動は、まるで魂の抜けた人形のようである。<br>
                        <br>
                        美ヶ原によって無限を示す者『アペイロン』と名付けられた第九実験体は、第八実験体と同じ特性能力、つまり他のオーダー能力者の能力をコピーし増幅する能力を持っている。
                    </blockquote>
                </div>
            </div>
        </section>
    </div>
{% endblock %}