{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>成長処理</h2>
                    <p></p>
                </div>
            </div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>ＥＰ５タイトルは「オールドグリモワール」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>今回は既存の本ではなくオリジナルです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>またの名を魔女撲滅の日</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>いままでが既存だったのがおどろき</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>驕れる者は久しからず</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>源氏の者かな？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>まあいいや</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>とりま魔女を僕にしてやろう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>あなた達は前回河童の村から生還しつかの間の日常を謳歌しています</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>何気に図書館の内装変わってるじゃん？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>まあいつも同じだと味気ないし</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>模様替えは大事</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>その金を報酬にまわせ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>というわけで幕間の成長を３回してもよろしい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>労働組合作ったからね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>今日も謎の石……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>まいにち石だけを支給される</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>別に石だけじゃなくて他のマジックアイテムも前回渡したような</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>給料の変わりに現物支給は許されないんですよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>俺のログにはなにもないな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>魔法のカツラとか手に入れなかったけっか？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>金が欲しいならそう言えばいいのだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、そんなん手に入れてたな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>今回は何の技能使いそう？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>太公望みたいに金を手に入れる才能をくれ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>打神鞭ください</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>今回はまあ、隠れる、追跡、制作絵画、後は展開によっては戦闘系かな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>かえるくん隠れる系好きだからなぁ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>じゃあ三回隠れるに振ろう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>隠れるがなければ戦闘でごり押ししてもいいのよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>1d100>10 [成長]    Cthulhu : (1D100>10) → 77 → 成功</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>1d10    Cthulhu : (1D10) → 9</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>やりますねえ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>1d100>19 [成長]    Cthulhu : (1D100>19) → 32 → 成功</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>1d10    Cthulhu : (1D10) → 2</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>1d100>21 [成長]    Cthulhu : (1D100>21) → 29 → 成功</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>1d10    Cthulhu : (1D10) → 7</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>どうすっかなあ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>けっこう上がったな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ミラー君追跡持ってるし、強化する？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>ジャーナリストには必須技能だからね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>制作絵画取りたい気もしてる(キャラ付け</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>そんなシリアスなキャラクターじゃなかったきがする</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>多分３か月ほどかくれんぼしまくってたのかな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>無能後輩から逃げる為に隠れ続けた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>作家が隠れるならわかるけど、編集者が隠れるとはこれいかに</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@後輩</div><div class='col-sm-10 serif'>よんだっすか？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>狼に食われろ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@後輩</div><div class='col-sm-10 serif'>嫌われっぷりが半端ないな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@後輩</div><div class='col-sm-10 serif'>そのうち名誉挽回の為に登場させようかな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>マリにとっては全ての元凶だからね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>じゃあ、絵画3回分取っちゃうね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>というかゴミみたいな追跡技能でわろた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>1d100<5 成長、制作絵画    Cthulhu : (1D100<5) → 1 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>ｗ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>そうだ　ききみみ　あげよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>yameyoukana...</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>1d100>5 成長、制作絵画    Cthulhu : (1D100>5) → 61 → 成功</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>1d10    Cthulhu : (1D10) → 6</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>1d100<=25    Cthulhu : (1D100<=25) → 81 → 失敗</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>1d10    Cthulhu : (1D10) → 9</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>1d100<=34    Cthulhu : (1D100<=34) → 21 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>1d100<=34    Cthulhu : (1D100<=34) → 74 → 失敗</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>1d10    Cthulhu : (1D10) → 5</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>39になった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>矢印逆？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>わいは、最初の間違えたっぽい＾ｑ＾；</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>失敗したら上げるんや</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@後輩</div><div class='col-sm-10 serif'>じゃあそれぞれ休日にイラスト書いたり盗聴したりして鍛えたんでしょうな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おお、なるほどその手があるか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>1d100>11 成長、制作絵画    Cthulhu : (1D100>11) → 81 → 成功</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>1d10    Cthulhu : (1D10) → 8</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>19……まあ、あるだけましか？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@後輩</div><div class='col-sm-10 serif'>まあ失敗してもリカバリはあるから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>レアガチャかな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>魔法石ほしい</div></div>
        </section>
    </div>
{% endblock %}
