{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>オープニング</h2>
                    <p></p>
                </div>
            </div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@後輩</div><div class='col-sm-10 serif'>ではそれぞれが日常を過ごしていると、例によって頭の中にベルの音が響きます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>脳をオフにします</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「（また・・・か）」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>1d100<=80 拳銃    Cthulhu : (1D100<=80) → 68 → 成功</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@後輩</div><div class='col-sm-10 serif'>いつもよりも３割増しくらいで五月蠅い気がしますね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@後輩</div><div class='col-sm-10 serif'>何のロールだよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>スーサイドロール</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「（まあ意地悪おばばに構ってあげるのも若者の役割ですわ）」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@後輩</div><div class='col-sm-10 serif'>ダメージ判定させるぞこの野郎</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「あーん、いいところだったのに～っす」って言ってゲートに入ろう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@後輩</div><div class='col-sm-10 serif'>素直でよろしい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>誰に言ってるのだ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@後輩</div><div class='col-sm-10 serif'>トム</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>平然と図書館に来たよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@後輩</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@後輩</div><div class='col-sm-10 serif'>では</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>チャリできた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>扉をくぐるとソコは、いつもの大図書館である。そして目の前のソファーには魔女が座っている</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>しかし魔女の様子はいつもと違うようだった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>やった！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>正体あらわしたね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「ああ、やっと来たのね、遅いわよ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>さっきの拳銃は伏線</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>残りの弾丸一発減らしといてね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>自分で頭打ち抜くと能力発現するタイプだから……</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>普段は無表情で落ち着いている魔女が妙にイライラしている。何かを恐れているように焦っている</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>白黒になってるな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>色素を奪うばけもの</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>そこはスルーしてくれ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>ここで聞き耳をどうぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>CCB<=42 [聞き耳]    Cthulhu : (1D100<=42) → 83 → 失敗</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>魔女のげっぷが聞こえた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>CCB<=85 [聞き耳]    Cthulhu : (1D100<=85) → 2 → 決定的成功/スペシャル</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>CCB<=39    Cthulhu : (1D100<=39) → 14 → 成功</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>たまげたなぁ＾＾</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>きこえたわ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>優秀な探索者だ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>それほどでも</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>探索者はみな優秀なのだ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>では２人はブツブツという魔女の独り言の内容が聞こえました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>しわが増えたのかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>独りラジオのDJやってる？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「早くあれを取り戻さないとまずい、あれが外に持ち出されたら私はおしまいよ、今はこいつらの手でもなんでも使って早く解決しないと…」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>聞かなかったことにしよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いやまて、やつは自らの弱点を語ったのだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>「くやしくおしえてください」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ねぇねえ、どんなきもち～？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「あなた達早速で悪いけど、緊急事態なの今から言うことを良く聞きなさい」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>＾＾</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>人に頼む態度って知ってる？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そんな態度でいいとおもってんのかぁ、おらぁん！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>毎回態度を指摘されるおばさん</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>この魔女コミュニケーション能力0だからね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>自己分析できるのはいいこと</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「この図書館に泥棒が侵入したの、そして奴は私の大切な本を盗み出した」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「この（へんてこな）図書館に泥棒っすか！？」と目を丸くする</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「さいわい、直ぐに気が付いたから図書館内に結界を張れた、つまり犯人はまだ図書館内のどこかに隠れてるの」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「物好きがいるものですね～」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>ゴキブリ退治・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>夏だなあ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「言っておくけどこの図書館内の本は貴重品だらけよ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「元々泥棒対策は色々してたけど、あいつはそれら全部を突破しやがったわ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>それってヤバなのでは？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「人間が太刀打ちできる相手なんでしょうか？」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>うんうん、きになってた、とうなずく</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「別にあなた達にそいつを倒せとか言ってるわけではないわ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「今私の部下たちを全員使って捜索をさせてるけど、手が足りてないの、つまりあなた達は探すのを手伝えばいいの」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「What？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>頭がおかしいぞお</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「見つければ、後の事は私と部下たちで片づけるわ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>手下増やせば・・・あっ、人望が・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>そこまで話したところで、誰かが近づいてきます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「ところでどんな見た目してるのでしょうか？犯人を犯人を知る手段がありません」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>犯人を犯人と</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>トムは近づくものを自動的に迎撃するシステム積んでるはず</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「魔女の図書館に侵入できるものなんて限られるわ、今回のやつは私と同じ魔女ね…多分見ればすぐに分かるわ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「（いつものことながら、無茶苦茶言うっすね）」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>そうだそうだ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>「ご主人様少しよろしいでしょうか」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>そこに以前みたメイドが現れる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>間違えて魔女を攻撃しても許してね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>その手があったか！</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「どうだった？見つかった？」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>私と同じ魔女、捉え方によったら・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>「申し訳ございません、いまだ影も形も見つからない状態です」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>そこでメイドは探索者達の方をちらりと見る</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>「彼らが増援ですか？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>まさか我々の後ろに増援が？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>後ろを振り返ります</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いつのまにぃ！？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「そうよ、言いたいことは分かるけど今は猫の手でも何でも借りなきゃいけない状況なの」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>「ご主人様がそうおっしゃるなら」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>言いたい放題言ってくれるなあ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「…そうねとりあえず、現状確認の為にも全員一旦呼び戻しなさい」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>魔女がメイドに告げると、メイドはお辞儀をして姿を消しました</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>暫くするといくつかの人影がバラバラの方向から現れました</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>忍者？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>アイエェ？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>魔女より使えそう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>犯人は……この中にいます！</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@銀髪のメイド</div><div class='col-sm-10 serif'>一人は銀色の髪にメイド服を着た少女</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤毛の犬</div><div class='col-sm-10 serif'>一匹は赤毛の犬</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>そして最後は赤髪のメイドでした</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>メガネかけたあの犬顔の人、は……？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>あの人は部下じゃなくて友人だから</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>3人か</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>まず部下増やしたら？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>レギュラー落ち……；；</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>「ご主人様申し訳ありません、お嬢様方と連絡が取れませんでした」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「…あー、あの２人はいいわ、どうせ真面目に捜索なんてしてくれないんだろうし」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>そして魔女は集まってきた部下たちに告げる</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「とりあえずここにいる人間達が協力者だから、手分けして何としても泥棒を見つけ出しなさい、見つけられなかった場合はお仕置きだから覚悟しなさいよ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>「かしこまりました、必ずやその使命を果たしましょう」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>見せてもらおうか、不思議図書館のお仕置きというやつを……！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>がんばれー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>お仕置きみたいから手抜きしよう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>そしてメイドは探索者達に向き直ります</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>「皆さま、そう言う事ですのでよろしくお願い致します…とりあえず自己紹介をいたしましょうか」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>「私は以前もお会いしたので、特に紹介は必要ないでしょうがこちらの２匹を紹介しておきましょう」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>そう言うと銀髪の少女が前に出る</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>赤髪さん名前なんだっけか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>赤さんでいいかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>コブラ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>ヒュー</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@銀髪のメイド</div><div class='col-sm-10 serif'>「初めまして、ご主人様に仕えるメイドをしています。識別番号は16号です、よろしくお願い致します」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>こ～ぶら～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>ハッカドールかな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@１６号</div><div class='col-sm-10 serif'>コブラなんか出したら事件が解決しちゃうでしょ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>いいじゃん</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@１６号</div><div class='col-sm-10 serif'>そして次に赤毛の犬を指さします</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>解決したくないのか！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>もしかしてGMが犯人・・・？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>!!</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>「そしてそこの犬が、一応この図書館の番犬です、名前はミスズ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>正体あらわしたね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>まあＧＭが犯人なのはどのゲームでもそうだろう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>納得できます</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスズ</div><div class='col-sm-10 serif'>「わん」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>ああ、犬アレルギーが</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスズ</div><div class='col-sm-10 serif'>ミスズはどこか眠そうな様子で、ぼんやりしてます</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>「まあ今回は泥棒の侵入を許したので、しばらく餌は抜きでしょうが」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「大丈夫かしら・・・いや大丈夫じゃないからこんな状況になっているのか・・・」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスズ</div><div class='col-sm-10 serif'>「クーン」ミスズは悲しそうな眼をしている</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ガララッ！　動物愛護団体のものですが</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>ご主人の失態を代わりに肩代わりするペットの鑑</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>「ともあれ見てのとおり人手が足りないのでご協力お願い致します」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>強く生きるのだミミズ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>確かに……悪いのは図書館のオーナーでは</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「話はまとまったようね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「それじゃあ早速手分けして捜索に当たってもらうわ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>「お待ちくださいご主人様」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@赤髪のメイド</div><div class='col-sm-10 serif'>「その…人間の方だけでこの図書館を探索させるのはいささか危険だと思うのですが」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんかすごい魔法のアイテムくれてもいいのよ（チラチラ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>そうだよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「まあ確かに普通の人間なら、妙なのに出会ったら死ぬかもしれないわね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「でも大丈夫よ、こいつらは既に何度か私の依頼を受けて生還してるし、そこらの一般人とは違うわ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>メイドはわかってるなぁ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「いや、運がよかっただけで、普通の一般人ですよ・・・」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「何？自信がないのかしら？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>ないにゃあ！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>し、しにたくない！　しにたくないーっ！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「微塵にも無いですよ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「そうっす</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「…はあ、しょうがないわね、じゃあ部下の誰かについていってサポートをしなさい、そうすれば見落としも減るでしょうし」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>というわけでルート選択です</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ひ、人見知りだからぁ……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>３人の部下の誰かについていくか、もしくわ探索者だけで行動するかの４つのルートを用意しました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いたれりつくせり？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>お好きな選択を選んでくださいな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>PL三人バラバラでもいいってニュアンス？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>犬を連れてくか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>魔女よりは役に立ちそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>バラバラは処理がめんどいので避けてほしいです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おっけおっけ。パーティのサポートキャラ選ぶ感じか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>せやね今どきのゲームはヒロインも選択式だし選べるようにしてみました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>当然ステータスや技能も全員違いますので</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>マスター、おすすめをふたつ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>悩ましいってか、判断基準が立ち絵しかない感じ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあキャラクターとして会話とかしてから決めてもいいよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>面接するか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ドア開けるところから始まってるからね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まああれだよね原作のクトルゥフだと犬は活躍したりするし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>赤メイドは前のエピソードで見せたけど、人外なのでそこそこ強いです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>けどこの犬、番犬ミスってるし……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>16号は見た目は人間だけど実は人間じゃないので色々秘密兵器があります</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>16号と犬でいいよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>２人は選べんぞ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>１人だけだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>わんこは、オス？メス？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>じゃあ最終兵器彼女の16号に一票</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>犬はメス</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>メスかぁ、うーん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>メスだと何か問題があったのだろうか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>オスより役に立つ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんかこう、真面目に選ぶとなると消去法になるじゃん？　欠点とか見つけないと落とせないからさ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>メイドと16号はオスなの？メスなの？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>アネコはなんで16号選んだの？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>全員女だよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>言葉が通じて有能そうだから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>つうか少女って書いてただろうが</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>それは犬にも適応される文ですか・・？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なるほど、確かに</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>色々聞いたら答えるよ、趣味とか年齢とか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>じゃあ秘密兵器教えて</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>秘密兵器は秘密じゃないと意味がないので</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ご趣味が探索技能である人は……</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>たしかに</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あなたにとっての正義を教えてください</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>学生時代に打ち込んだことは</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>趣味　赤メイド　紅茶の味比べ。　ミスズ　昼寝。　１６号　家事全般</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>正義　赤メイド　ご主人様。　ミスズ　睡眠。　16号　ご主人様</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>学生時代　赤メイド　なし。ミスズ　なし。　１６号　なし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>こんな所かな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>この三行の価値が分からない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>聞かれたから…</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>しー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>これはもしかしてGMがどこまで設定作ってるか見るチャンスなのでは……</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>じゃあスリーサイズ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>3サイズ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>はっ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>真面目な話、有益そうな能力1個ずつでいいから教えて</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>一番高いスキルでもいいよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>技能　赤メイド　隠れる90％　ミスズ　臭いで追跡　80％。　１６号　運転50％　…かな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>きさまにおれたちがすくえるか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>他にもいろいろあるけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>３サイズはノーコメントで</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あんがと。うーん、推奨技能的には赤メイド、ミスズのどっちかって感じか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>メイドが隠れてどうするのだろうか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>隠すにして♡</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>先行偵察とかしてくれんじゃない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>なんか隠れてご主人さまの大事な瞬間や殺人現場を目撃したりするよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>ミミズにしよう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>名前かわいいし</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>だなぁ、犬かなぁ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>たしかにミミミにしよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ここに来て探索者の心が一つに</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ミスズ決定でよろしいかな？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いいよ～</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>一番忠実に動いてくれそう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「ミスズちゃん、餌あげるから一緒に散歩しようね」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おらあ、キリキリはたらけぇ！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>「よろしくなスズキ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスズ</div><div class='col-sm-10 serif'>「ハッハッハッ」よだれを垂らしてしっぽを振ってる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>あれ？バカっぽいぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>魔女の数少ない僕がまた一人減った瞬間であった</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「どうやら決まった見たいね…じゃああなた達はミスズと一緒に泥棒を探しなさい。ミスズ次失敗したら皮を剥いで剥製にするからね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスズ</div><div class='col-sm-10 serif'>「キャンキャン」（あんまりっすよー）</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>くく、こうして戦力を削いでいくのだ……</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>意思疎通できるらしいね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>お仕置内容で選べばよかった</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>魔女も次に失態起こしたら魔女裁判の対象ね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスズ</div><div class='col-sm-10 serif'>まあ現実の犬もある程度言葉を理解するらしいし、この犬は特別な種類だし</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスズ</div><div class='col-sm-10 serif'>ではそんなこんなで探索スタートです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>さっそく匂い探索機能を使おう。犬だしそのくらいできるしょ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスズ</div><div class='col-sm-10 serif'>成程</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>異常な匂いを察知してね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>魔女の加齢臭とかは察知しなくてもいいよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスズ</div><div class='col-sm-10 serif'>とはいえ追うべき臭いを知ってないとその技能は使えないのだよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んでは、その盗難に遭ったという本はどこにあったんだい</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスズ</div><div class='col-sm-10 serif'>おおいいね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスズ</div><div class='col-sm-10 serif'>魔女に聞けば教えてくれるかもね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>けどなぁ、これ見つけると館長がおしまいにならないしなぁ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスズ</div><div class='col-sm-10 serif'>ほうほう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>魔女の失墜こそ我らの悲願</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「その盗難に遭ったという本はどこにあったんすか？」と館長に</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「あれは特に大切なものだから、金庫に封印してたのよね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>そう言って館長は金庫の場所に案内してくれますね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>魔女の没落を見届けてもいいかも</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>そして着いた場所には頑丈そうな金庫が置いてあります</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>分厚い金属の扉は60センチくらいはありそうですね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>カギも３つくらいついてます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>聞けば聞くほど魔女の失態の大きさが露わになっていく</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>責任追及もやむなし</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「全く４重の結界にミスリル制の金庫を突破するなんて、忌々しい」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>魔女はブツブツと言ってます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「ちなみに館長さん。その犯人とはお知り合いなんすか？」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「何で無くなった事に気づいたのですか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「…まあね、この手口には見覚えがあるわ…逆に私の知ってる中でこれが出来るのはあいつくらいのものよ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>まさかあいつか・・・！</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「一応この金庫には異常があった場合に警報を鳴らす魔術をかけてあったからね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>そう言いながら魔女は探索者達を金庫の側面に連れていきます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「なるほど！　お知り合いなら、その人の匂いがついてそうな物もってないっすか？　ハンカチとかそういうの」と犬の鼻先を指さします</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「あいつの物なんか持ってないけど、ここに来た以上ここから臭いをたどることは出来るはずよ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おお、そいつは行幸</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>さて探索者が金庫の側面に回ると、金庫の横に大穴が開いているのが見えます</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>その穴は金属を高温で溶かして無理やり開けたような穴でした</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>C4もちチェインズ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>テルミット爆弾の魔法か・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「全く手ひどくやってくれたものね、この金庫高かったのに」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どおりでドリルがジャムる音が聞こえなかったわけだ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>魔法より科学の方が優秀だね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>高度な科学はうんぬん</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>ともあれここからなら臭いによる追跡が可能でしょう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「しかし、なんでこんなところから、その本盗んだんすかね、犯人」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「よっぽど高価な本、だったとか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「まあそれに関しては大体わかるわよ…人が大事に隠してる本があったらどうする？私だったらどんな手を使っても中身を読みたくなるわ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「分からないわ・・・」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>所謂犯罪思考って奴か</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>類友</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「まあ高価ではないわね…私にとって大切な本というだけで…」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>黒歴史ノートかな？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「ふぅん、私にとってっすか」といって館長の方をチラチラ見ます</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「そうそう一応言っておくわね、犯人を見つけたらミスズに吠えさせなさい。そうすれば私は気が付く」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「じゃあ、数歩ずつ吠えさせたら、いつでも館長さんと一緒っすね！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「そしてもしも犯人から本を奪い返せたとしても、絶対に中身を見てはダメよ！！」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「・・・・・・・・・・・はい」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>てかもう、ついてくればいいんじゃないこれ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「見たらあなた達の命の保証は出来ないわ、気を付けてね」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「・・・・・・・・・・・・・・・・・・・・・・・・はい」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>引きこもりんって言っても、図書館の中は歩けるんでしょ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「一応今も私は結界の維持に集中してるのよ、これが解けたらあいつも図書館から逃げ出すでしょうし」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「だからなるべく動きたくないの、任せたわよあなた達」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そんなぁ；；</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>無理だぷぅ；；</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「…ああそれからもう一つ忘れてた」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「ミスズにつけてる首輪だけどね…絶対に外さないでね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「…面倒な事になるから」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、首輪とリードついてたの？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>言わなかったら外さなかったのになあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>まったくでござるよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そういうと冒険者たちは首輪を外しにかかる</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>首輪はついてますね、リードはないけど</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ちなみにどうやったら外れるの、この首輪</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>目の前で外そうとするなら魔術ぶっ放して止めますよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>外れない魔法とかかけちゃってよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>まあ普通の首輪に見えるので、ベルトを外す感じで外せますね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>簡単に外れるのか・・・ああ、首輪に首輪に</div></div>
        </section>
    </div>
{% endblock %}
