{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>奪還</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ読書タイムは終了したので次の行動をどうぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>結局何か得たものはあったのかね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあそれに気が付くかどうかですね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>パパとママの結末が気になる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>たしかに</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>結局親権はどちらに？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>一応メモに内容張っとこうか？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>子供はどちらも選ばなかった、そして今に至る</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>遺産相続めんどくさそう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>果たして子どもにとっては天国か地獄か……</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>法的には繋がりあるから大丈夫だよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>やったぜ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>大事そうだからメモ貼っといてちょうだいよ＞GM</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>魔法は取得できたの？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>できないよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>いたずらにSAN値が減っただけだったか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>みんなかわいそう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>おれのSANを見習って</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>減ったの自分だけだと思う</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>かなしいなあ……</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>さて、次の一手はどうしよう。本燃やす？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>普通に返す？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>しかも本来は減らなかったはずと言うミスの減少</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>さてどうする？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>犬見てるし、返しましょ返しましょ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>来た道戻るん？＞GM</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>取りあえずほんの写真撮っときます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>内容</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>これでSAN値減ったのも気にならない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>たしかに</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ帰るならすんなり魔女の下に帰れますね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>記者会見レベルでパシャパシャとるよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>まあほんの撮影なんて失敗しないでしょ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>写真撮ったのはマリとトムだけ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>判定は必要ないよ写真</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>まりとトムが写真にとって</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>社が食べることによって</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>完璧に記憶される</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そうだよ（便乗</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>写真データはクラウド上にアップしておこう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>そして消す</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>マジで食べるのかい？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>ツイッターにアップして世界を阿鼻叫喚の嵐にしてやるぜ！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>食べないけど！？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあまあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>魔女の所に着きました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>トム君どこにいったんだろう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「あなた達、どうしたの？アイツは見つけた？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>トムって誰台</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「なんかこの本渡してどっかいきましたよ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>クリーチャートム</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>じゃあ本を見せたとたんすごい勢いで飛んできてひったくるよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>くっくっく、その本には毒がしみこませてあるのさ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>死んだな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「ようやく我が手に戻ってきた！！くそ、２度と誰の目にも触れないように封印しないと…ゴホッゴホ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>相変わらずこの魔女は礼儀がなってないな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>必死なんですよ魔女も</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「よほど大事なんですね。内容が気になるなー」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>必ず死ぬ魔女？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「…中身、見たの？」凄い顔で睨みます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>どういうことだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「カブトムシと夏休みがパパママで大変だったっす！」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「嫌ですね、見てないですよ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「まあいいわ、世の中には知らない方がいいことがあるの…死にたくなかったら身をわきまえる事ね」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「ところで報酬は？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「ええそうね、今回は助かったから望みのものがあったら言いなさい、可能な限り融通するわ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>魔女の死かな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「私としては自由の身になることしか望みが無いかしら」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>エンディングをください</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>ゲーム的にはいつもの報酬の中からダイス振らなくても決めていいことにする</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>さよならを教えて</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「自由ね…まあいいわ考えといて上げる」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>心配しなくても次のシナリオでエンディング予定だよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>「口約束なんて猿でも出来ますよ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>「生意気言うわね…私の心証をあまり悪くしない方がいいわよ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>さるぅ！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>猿！鉄砲もてい！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>懐でえ！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>わらじも温めておきました！</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>報酬</h2>
                    <p></p>
                </div>
            </div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>まあ報酬決めは次回のシナリオでもいいですよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>魔女を殺す魔法を教えて欲しい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>ぶっちゃけいつもの報酬っていわれても覚えてないからね・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>メモに張ってるから見るがいいよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>魔女が魔女を殺す魔法教えるわけがないんだよなあ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>というわけで何かやりたいことがないなら帰れますがどうします？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>聖晶石だよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>ガチャ資金をください</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>３つでメディア呼べるからルールブレイカーしてもらって殴って倒そう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>とくにはないかなぁ？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>マジックアイテムを役に立てる場面が無いからねえ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>マリとトムは魔石でおｋ？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>なんだよ、MP2使って髪の色を変えるって</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>髪型もか</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>髪型も帰られるぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>ついでに顔も変えてよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>才能とマンション一つ買えるお金ください</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>石でいいよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>じゃあマリは魔石を手に入れた</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>トムは才能どれを選ぶの？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>実際自分がもらう立場だったらそのまま石をぶん投げて帰るわ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>いままで何選んでたっけな～～～</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>マリって石何個持ってるんだっけ？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>30個たまったから10連できるぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>６でももらうか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>二個は持ってる</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>了解</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>では才能の６は</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>（マニアックな才能）ＩＮＴ×５の日常生活では役に立たないマニアックな才能を得る。例（制作    プラモデル、芸術    格闘ゲーム、制作    一発芸　等）</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>内容はＧＭが許可すれば何でもいいよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、じゃあ才能の1もオープンしちゃってよ＞GM</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>マリはガチャが１回引けるよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>めんどくさいのえらんじゃったな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>一番いいのを頼む</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>才能１（ポジティブシンキング）嫌な事を忘れる才能。ＳＡＮ値回復時に回復量が+1される。</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>1d3    Cthulhu : (1D3) → 3</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>操縦    パチンコでもいい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>さんきゅう！　じゃあ、それ取っちゃうね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>いいよね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>やったーーーーー</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>魔女殺しの銃をゲットだぜ！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>っていうかすでに２１あるんだけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>どうすんのこのパチンコ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>既にあるのか、ＩＮＴ５倍を足せばいいんじゃね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>ではマリは</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>刀　「妖刀・霧雨切」魔女の呪いが込められた刀基本ダメージは１ｄ10+ＤＢ。装備者の日本刀技能を+40する。攻撃時にＭＰを１ｄ6消費する事で装備者の減少しているＨＰの２倍のダメージが+される。抜刀時にＳＡＮチェックが発生する1/1ｄ6。魔法の武器として扱う。攻撃する相手が図書館の本を盗んでいた場合ダメージに+3ｄ10。を手に入れた</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>いらないですね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>割と強いと思うんだけどね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>操縦    パチンコが81になったぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>図書館の本を借りるのと盗むのは同じ扱いにして</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>そこはイコールにならんでしょ普通</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>さて他になければ無事帰還で終了ですだよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>銃刀法違反で捕まる未来しか見えない。トムの手によって</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>ふむ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>じゃあ普段は体の中に隠せるようにしてもいいよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>真庭忍軍ですか自分は？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>なんか手とかからにょきにょきと生えてくる感じで使う時</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>妖刀だし有りかなと</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>人間を捨てた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>なんだっけ真庭忍軍って</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>ドマイナーなアニメだから気にしないで</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>刀語て小説だな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>元は</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>ほんとにしらなかっっっっっっっっっっっっっっっっっっっっっっっっっｔ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>あと無事に帰還して、本も返却できたので</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>ＳＡＮ値を2ｄ6回復しても良いよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>2d6    Cthulhu : (2D6) → 12[6,6] → 12</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>ふー</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>すげい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>2d6    Cthulhu : (2D6) → 8[5,3] → 8</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>aneko@マリのSANを+12した（SAN    48->60）</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>99</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>MAXになった</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>トムはもういらないんじゃない？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>2d6    Cthulhu : (2D6) → 7[3,4] → 7</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>46->53</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>トムが正気じゃなくなったらシナリオがバッドエンドを迎えるのが確定する</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>ＳＡＮ値99ってクトゥルフであり得るのか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>だってさ・・・KPがクトゥルフ神話技能配布してないですよね？（名推理）</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>前も同じこといってたよね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>まあねオリジナルシナリオだとついね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>神話生物みてSAN値減少が条件だったっけ？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>一時的発狂と</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>或いは魔導書とかで増えるね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>そうなんだよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>初発狂で5%</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>あとはシナリオのノリで配布だから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>意外ともらうチャンスはない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>トムとかもう発狂する気しねぇし…(SAN99 アイデア60)</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>発狂してればもらえたのか</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>次回のシナリオは初手でぶっ放すから安心して</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>ではこれにてシナリオ「オールドグリモワール」を終了します</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>おつつっつつつつつつつっっつつつつつうつ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>おつかれー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おつかれ～</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>おつつ</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>感想戦</h2>
                    <p></p>
                </div>
            </div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>なんか質問あったら答えるよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>シナリオについて</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>ついに悪魔女の真の姿をお披露目か</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>チェリーは、強行突破してなかったらどうなってたん？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>まああそこはこっちの想定だとトムと戦うかチェリーと戦うかの２択だったんだよね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>トムもまあ隠れてやり過ごすって手もあったけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>どのトムの話してます？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@魔女</div><div class='col-sm-10 serif'>腐ってる方かな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@マリ</div><div class='col-sm-10 serif'>腐男子か</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ういっす、ありがと～う</div></div>
        </section>
    </div>
{% endblock %}
