{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/dlhr-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>オープニングフェイズ</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        皆さんはとある町でヒーローをやっています。<br>
                        しかし皆さんの活躍にもかかわらず社会は乱れ、悪がのさばり、町は徐々に荒廃していく一方です。<br>
                        そんなある日、それは突如に起こりました。
                    </blockquote>
                </div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>今月の空き缶ポイ捨て件数は前年比200%という非常に悪い数値です。現場にはレッドブルの缶ばかりということで単独犯の可能性が強いとみられており……</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ニュースかな</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@アデル</div>
                <div class='col-sm-10 serif'>犯人は……愉快犯やな!</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@市民</div>
                <div class='col-sm-10 serif'>「あ、あれは何だ!?」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@アデル</div>
                <div class='col-sm-10 serif'>デビルマンじゃない?</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@市民</div>
                <div class='col-sm-10 serif'>街の中心でもある市街で一人の市民がそれに気が付きます。そしてその場の全員が次第に気が付くでしょう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>目星かアイディアですか?</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@市民</div>
                <div class='col-sm-10 serif'>いえ大丈夫です</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>魔物知識判定ならまかせろ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@市民</div>
                <div class='col-sm-10 serif'>ゲームが違うわ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>ここはゲームの世界だった……</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>まさ、か……?</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@市民</div>
                <div class='col-sm-10 serif'>今までニュースを流していた街頭のテレビが突如乱れ、そこに一人の人間が写ります</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@アデル</div>
                <div class='col-sm-10 serif'>皆テレビ見てる感じ?</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@マッドファイヤーワークス</div>
                <div class='col-sm-10 serif'>ですねテレビ見てますね</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@マッドファイヤーワークス</div>
                <div class='col-sm-10 serif'>「えー、テステス、聞こえますかー愚かな市民の皆さん。さて皆さん初めまして、僕はマッドファイヤーワークスってえしがない花火師だよー、今日は皆さんに楽しいイベントの告知をしちゃうよー」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@アデル</div>
                <div class='col-sm-10 serif'>何だ花火師か</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@市民A</div>
                <div class='col-sm-10 serif'>「わーい、市民A花火だいすきー」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@マッドファイヤーワークス</div>
                <div class='col-sm-10 serif'>「僕はこの街が好きだったんだけどね、正直もう見てられないんだよねえ、もうどんどん悪くなる一方でさお先真っ暗じゃん?なので僕は考えました!どうせ滅ぶなら派手にひと花咲かせた方が皆楽しいってね!!」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>もしかしてまともなこと言ってる……?</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>カエル君のキャラとしてはかなりまともな意見のような気がする</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@マッドファイヤーワークス</div>
                <div class='col-sm-10 serif'>「簡単に言うと、この街ごと吹っ飛ばせるすごーい花火を作りました!そしてそれを今夜12時に爆発させちゃうから、皆楽しんでねってことだよー」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@アデル</div>
                <div class='col-sm-10 serif'>地球という花火を爆発か</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@マッドファイヤーワークス</div>
                <div class='col-sm-10 serif'>「そうそう、いたずらだと思われたくないからさ、デモンストレーションはやっておくね!みんなテレビにちゅうもーく」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@市民A</div>
                <div class='col-sm-10 serif'>「わ、わーい?」とテレビに注目</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@市民</div>
                <div class='col-sm-10 serif'>そして次の瞬間多くの人が見ている前で街頭テレビのついているビルが大爆発を起こします</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@市民A</div>
                <div class='col-sm-10 serif'>「コノヨノオワリダー!」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@市民</div>
                <div class='col-sm-10 serif'>「う、うわあああああああ」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>「うわあああああああああああ」つられてパニックになろう</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@市民</div>
                <div class='col-sm-10 serif'>さて、あなた達ヒーローも偶然この場に居合わせました。そして目の前で倒壊するビル、飛び散る瓦礫、逃げ惑う人々。徒然放っておくことなんてできませんね。各自自由な判定でいいので、この場を救ってみてください。全員成功したらボーナスを上げよう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>救えそうな技能をもってない!?</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@市民</div>
                <div class='col-sm-10 serif'>べたな方法なら運動で人を助けるとか</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>射撃で助けるかぁ……</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@市民</div>
                <div class='col-sm-10 serif'>うん瓦礫を撃ち落とすとそれっぽい</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>DeadlineHeroes : 行為判定(成功率:35%) → 1D100[7,1]=71 → 71 → 失敗</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>だめでしたね。パニックを止めようとしたが私がパニックでした</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@アデル</div>
                <div class='col-sm-10 serif'>科学使おう。ビルを先に倒壊させてやろう</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@アデル</div>
                <div class='col-sm-10 serif'>DeadlineHeroes : 行為判定(成功率:57%) → 1D100[7,4]=74 → 74 → 失敗</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@アデル</div>
                <div class='col-sm-10 serif'>倒壊できなかったよ……</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@アデル</div>
                <div class='col-sm-10 serif'>「くそー、ドローンの電池がー」</div>
            </div>
            <div class='row yuto'>
                <div class='col-sm-2 name'>yuto@PL</div>
                <div class='col-sm-10 serif'>僕も科学で</div>
            </div>
            <div class='row yuto'>
                <div class='col-sm-2 name'>yuto@PL</div>
                <div class='col-sm-10 serif'>DeadlineHeroes : 行為判定(成功率:57%) → 1D100[0,3]=03 → 03 → 成功</div>
            </div>
            <div class='row yuto'>
                <div class='col-sm-2 name'>yuto@PL</div>
                <div class='col-sm-10 serif'>不思議物質を使ってがれきにつぶされそうな人にバリヤーはるよ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@アデル</div>
                <div class='col-sm-10 serif'>やるじゃない</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@アデル</div>
                <div class='col-sm-10 serif'>なんかヒーローっぽい</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>さすがマイティなんとかだ</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>鬼の腕を使っちゃいましょう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@花音</div>
                <div class='col-sm-10 serif'>DeadlineHeroes : 行為判定(成功率:66%) → 1D100[4,0]=40 → 40 → 成功</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@花音</div>
                <div class='col-sm-10 serif'>じゃあ、むきっとして瓦礫の下敷きになってる人々を助けました</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>オウ……ジャパニーズデーモン……</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@市民</div>
                <div class='col-sm-10 serif'>ぬーべーーーー</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>SANチェックです</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>そんなぁ><</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@アデル</div>
                <div class='col-sm-10 serif'>ひー</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>kaeru@市民</div>
                <div class='col-sm-10 serif'>じゃあ助けられた市民は「ありがとうございます、おかげで助かりました」と感謝しますね</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@花音</div>
                <div class='col-sm-10 serif'>「お、おやすいごようですぅ><」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>ヒーローの活躍により一部の人間を救うことはできた、しかし被害はゼロではなくいくつかの死傷者は出ているだろう</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>スクエナカッタ……</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>ソンナヒモアルサ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>kaeru@GM</div>
                <div class='col-sm-10 serif'>あなた達はこの非道な行いに怒りを覚えるかもしれない、そしてヴィランの邪悪な計画を止めようと動き出すだろう。そんなわけでここから全員合流してヴィランのマッドちゃんを追いかけることになります</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@アデル</div>
                <div class='col-sm-10 serif'>ドローンがいくぞ!</div>
            </div>
            <div class='row yuto'>
                <div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div>
                <div class='col-sm-10 serif'>ゆるさんどーー!</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>花火をしけらせるため、雨ごいします</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@光回線使い</div>
                <div class='col-sm-10 serif'>雨雲レーダーを観測します</div>
            </div>
        </section>
    </div>
{% endblock %}