{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/dlhr-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>※未編集</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>こうしてマッドファイヤーワークスの爆弾事件は幕を閉じる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そんな爆発現場から去るあなた達に近づく影があります</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@女性A</div><div class='col-sm-10 serif'>「クロエ!」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@少女C</div><div class='col-sm-10 serif'>「あ!お母さん」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ヒーローたちの見ている前で少女と女性は抱き合いますね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>誰?</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@女性A</div><div class='col-sm-10 serif'>チャレンジシーンで助けて人</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>すまないがモブがでてくるのはNG</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@女性A</div><div class='col-sm-10 serif'>割と重要な約束をしたモブですよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@花音</div><div class='col-sm-10 serif'>「もう大丈夫。大丈夫ですよ、おかあさん」と少し悲しそうな目で言います</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@女性A</div><div class='col-sm-10 serif'>「本当に娘を助けて頂いてありがとうございます!なんとお礼を言えばいいか」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@女性A</div><div class='col-sm-10 serif'>「あの、こんなものでは足りないと思いますが、せめてもの気持ちです」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>こう微妙に難しいシーンだなぁ、うーん引き出しが少なくてつらい</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@女性A</div><div class='col-sm-10 serif'>女性はヒーローにグリッドを1本渡しますね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>210円じゃん</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>娘の命をそのぐらいと思ってるんでしょ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>9本でいいとギャグ路線にいくか、シリアス路線を貫くか悩ましい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>こんなんギャグにしかならんでしょ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@花音</div><div class='col-sm-10 serif'>「これは……ありがとうございます、大事に使いますね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@女性A</div><div class='col-sm-10 serif'>「今の世の中、私たちにはもはや未来はないと思っていましたが、それは誤解だったみたいですね。あなた達のようなヒーローがいれば、きっとこの世界も救われる日が来ると信じられます」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>一人死んでるけどね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@少女C</div><div class='col-sm-10 serif'>「おねえちゃん達ありがとう!」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@少女C</div><div class='col-sm-10 serif'>でも一般人が助かったからいいじゃない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いやあ、難しいよ。失ったものは大きい……</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>11歳の尊い命がなくなったんだよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@少女C</div><div class='col-sm-10 serif'>こっちは9歳だから</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>死んじゃったよアデル</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>一人だけライフマイナスじゃないか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ええんやで。状況説明すると、ボスは逃げたっぽいけど倒せました。アデルが爆弾で死にました。今は、ミドルで出てきた母と少女がお礼言ってるシーン</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>まあ悪いのはGM</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>どっちかというとダイス運の気がする</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>了解です!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@花音</div><div class='col-sm-10 serif'>「うん、おねえちゃんたち、平和が戻るよう、頑張るよ。応援しててね」と精一杯の笑顔で少女Cに答えました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>実際1足りないだったからなぁ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>今回も皇国の大勝利である</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@少女C</div><div class='col-sm-10 serif'>「うん、がんばえーって応援するね」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>ある意味一番おいしい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ということで</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>後はエンディングだが</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>個別エンディングは考えてなかったんだけど、だれかやりたい事ある?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>アデル埋葬シーンやる?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>死んでいる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>やってもいいよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>キャラロストってシーン演出したことないから見てみたいのはある。アネコが辛いならいいや</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>大丈夫だよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>サンプルキャラだから</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>何気にロストって初めてだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ヒーローの死亡って、公式的にはどういう演出をされるんだ?映画みたいに、葬儀の列と、柩に星条旗の旗かけてる感じ?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ヒーローの知名度によると思う</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>アデルの遺言に従おう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>厳かにして</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>般若心経ROCK流せばいいんだっけ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>アデルって肉親いる設定?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>リンダリンダでいいよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>厳かだなぁ^q^</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>じゃあ、自宅で厳かにって感じだな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>誕生日にもらったドローンだし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>どぶねーずみみたいにー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんか泣けてきた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>某月某日、アデルの自宅にて</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>さぞ親は嘆いたでしょう。あげたドローンがきっかけでヒーローになり、初出勤で殉職したので</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ダークサイド堕ちるわ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>弟が後を引き継ぎそう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@花音</div><div class='col-sm-10 serif'>「アデル君は、とても勇敢に戦っていました、誰よりも」と両親にでも伝えておこう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>八面六臂の大活躍だったな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>1ラウンド目で前線に立ち、爆弾を受け、気絶し、そして……</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@少女</div><div class='col-sm-10 serif'>助けた人たちも参列するよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ああ、いいね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル父</div><div class='col-sm-10 serif'>「そう……ですか……うっ……うっ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>発作かな?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル父</div><div class='col-sm-10 serif'>うっうー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@花音</div><div class='col-sm-10 serif'>「その、わたしたちの力が足りないばかりに……」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ああ、割とシーンになるなあ、勉強になるわ</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>「もっとしっかりと彼を見ておくべきでした……」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル父</div><div class='col-sm-10 serif'>「私がドローンをあげたばかりに……なんでだ……なんでこんなことになったんだ……」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル父</div><div class='col-sm-10 serif'>ただただ泣き崩れていました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@花音</div><div class='col-sm-10 serif'>「……」慰める言葉もなくなって、うつむきました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>今、このエンディングの締め方思い浮かんだけど、やってもいい?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>というか本当になんでアデルはヒーローやってたんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>んじゃあ、そのとき、ヒーローたちの端末に緊急入電が入ります</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>にーっこにこ動画</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@SYSTEM</div><div class='col-sm-10 serif'>「某所、ヴィランの一団が出現、至急急行されたし」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>それじゃあ時報なんだよなぁ……</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@花音</div><div class='col-sm-10 serif'>「マイティ、光回線、いきましょう」とすっと立ち上がります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ほうほう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>フレッツマンに変身!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル父</div><div class='col-sm-10 serif'>「皆さん……息子の分まで……活躍してください」</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>「たとえ仲間を失っても僕らは悲しみにくれている時間はない」</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>花音の続き立ち上がる</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>花音に</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>お前らが止まらない限り……、俺はその先を進み続けるからよお……</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@花音</div><div class='col-sm-10 serif'>「はい、アデルの死は、決して無駄ではありません。アデルの意志は私たちの中に生き続けます。この子たちの笑顔のために」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>って感じ?これが言いたかった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いいねえええ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>止まるんじゃあ……ねぇぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>キボーノハナー</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>アデルはドローンも大破した感じですか?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>爆発四散という文字は見た</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>なんか後追い自殺した</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>自爆</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>じゃあいいや</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>欠片ぐらいは残ってるかも</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ああ、いいね、そういう展開すこ</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>あ、なんかはへんないですかね?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>ハンドスピナーにしていいよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>アデルは爆弾直撃したらしいから木っ端微塵になった</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>もしあるなら「これいただいてもいいですか?」って聞く</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>もちろん現場から回収してあるし!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル父</div><div class='col-sm-10 serif'>「そういえば、息子が大事にしてたドローンの破片がありました。これをどうか一緒に連れて行ってください」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル父</div><div class='col-sm-10 serif'>ライフ+10ぐらいの加護はあるでしょう</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>父から渡される展開も熱い</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>固定値は正義</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>アツゥイ!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル父</div><div class='col-sm-10 serif'>「息子は……立派なヒーローでした。それはこれからも揺るがない真実です。皆さん、出動頑張ってください」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル父</div><div class='col-sm-10 serif'>外道GMならこの瞬間家が爆発する</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>かえるくんならやりかねない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@花音</div><div class='col-sm-10 serif'>「いってまいります……!」ビシッとそれっぽいポーズ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>リクエストかな?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>リクエストボンバヒア</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ダメダ!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>思えば死亡フラグ乱立してたんだなって</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>のるしかないこのビッグウェーブに</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>だめだ、この卓にはシリアスなんて無理なんだったんだ……</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>シーンエンド?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>もう良ければラストs-ン行くぞ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>シーン</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いいよ!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では連絡を受けたヒーローが町の郊外にいくと</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>こい!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>改造されたアデルが</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>街の外から町に向かってくる集団が見えるね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>マッドマックスめいてるなぁ……</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>その集団は地獄兵団と呼ばれる、6大ヴィラン組織にも数えられる軍団です</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>6大は多いから1大にしよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>全部倒すまでに100巻超えるでこれは</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>彼らは異世界から現れ、町を襲い人々を殺しては物資を奪い生きていく略奪者です</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>えぇ……異世界あるのかこの世界観</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>交渉も降伏も無意味、生き残るには撃退しかありません</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>「よろしいならば戦争だ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>割とあるよ、こいつら以外にもいるし異世界人</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>これ、コンセントどっからとってるの</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>エアエレキギターだから</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>繋がってない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>結構ハチャメチャな設定なんだなぁ、ふーむ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>ロックですね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>イカスぜ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>サーカス集団かな?</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>そんな軍勢を前に、歩みを進めるヒーロー達で締めたいと思うんだけど</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>良ければ一言でもセリフをどうぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>もう必殺仕事人のOPにしか浮かんでこない</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>「ヒャッハーーー!!」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>死んでいる</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>幽霊でもいいのよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>ヴィランの中には幽霊やゾンビもいる世界だし</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>アデルはドローンのセリフでも</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>武器をかまえながら「さぁて、楽しいお仕事の始まりだ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@花音</div><div class='col-sm-10 serif'>「私たちがいる限り、この世界の平和は渡さないッ!」鬼の腕をムキムキさせながら</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデルドローンの欠片</div><div class='col-sm-10 serif'>「辞世の句ぐらいしっかり聞いてやるにゃん」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>光回線はなにかないかな?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんか割といい設定に落ち着いたパーティになった感あるw</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>HSAT</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>KillDeathBusiness : ヘルスタイリスト罵倒表(14,56)    「まさに『 低予算の映画のモンスター代わりにされた 毛虫』じゃないの!」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデルドローンの欠片</div><div class='col-sm-10 serif'>わろた</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>そこでキルビジはやめろう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>伝わんねぇよ!?</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>なんで急にお姉口調なんだよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>今日は厄日だわ!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>え、オネエでしょ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>まあこんな感じで</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>男とは言ってないんだよなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>当たり前だよなぁ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>性別はきめてないからなあ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>第一部完</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>わーぱちぱちぱちー、おつかれさまー</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>おつかれー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>くぅ～疲れましたw</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>後は感想戦かしらん?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>いい試合だった</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>死んだけど</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>せやね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@地獄兵団</div><div class='col-sm-10 serif'>なにか質問とかある?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>あたしってホント馬鹿</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>なんでアデル殺したの?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>初セッションだったら止めるレベル</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ヴィランだから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>正直死ぬとは思ってなかった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>でも殺す気だったでしょう!!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>これでもルルブの推奨レベルよりも下げてるんだけどなあ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>DCL12</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>DeadlineHeroes : デスチャート(肉体)[マイナス値:12 + 1D10(->4) = 16] → 16      記録的一撃!! キミは〈生存〉-20%の判定を行なう。失敗した場合、[死亡]する。</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>大体死にそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>本来ならボスと雑魚以外にも幹部キャラも出すらしいし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>サンプルシナリオなの?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>でも今回のでガードナーは大量に置いてはいけないと分かりました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まじかぁ、死んで上等くらいのあれなのかなぁ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いやシナリオはオリジナル</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>でも出す敵の目安とかは書いてあったから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>基本的にプレイヤーの倍の雑魚とボスと幹部らしい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そう考えると戦闘は時間かかる前提かしらね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>3から4ラウンドが目安って書いてた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まあ、普通のやつだと1行動1ラウンドって考えると、6～8ラウンド分って感じなのかなって思った</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>戦闘は面白そう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>妥当っちゃ妥当か。そもダメージも上がるし、グダグダはしなさそうだね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあこんな感じのゲームですわ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あと経験値だけど</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>楽しかったよ、うん、RPもわかりやすかったし、やることはっきりしてたし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>このゲームはシナリオ中に手に入れたグリッドの数が経験値になります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>今回は10だね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>死は経験に入りますか……?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>次は死ににくいキャラを作ると良いよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>無茶言わないでよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>アンデルセンじゃなくてホームズにすればよかった</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>むしろアンデルセン神父なら死ななかった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>公式のヴィランでモリアーティ教授ならいるんだよなあ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>キャラ選択間違えてたか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>アンデルセン神父はヒーローといえばヒーローか?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>でもあの人クリスチャン以外に厳しいからなあ</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>あの世界の人間は総じて化物だからなぁ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あの世界ってヒーロー居るのか?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ヴィランしかいねえぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>ダークヒーローという分野があるから問題なし</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ダークヒーローいいよなぁ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>アンチヒーローってのもあるぞ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お?なんか違うの?</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>旦那とかHPけづれる気がしないんですが</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>アンチアンチヒーローもいそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>正直違いはあいまいだけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>個人的にはダークヒーローは悪の要素を持ったヒーローで、アンチヒーローはヒーローっぽくないヒーローって認識</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>変わり種って感じかしら</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>TRPGだと扱いにくそうなキャラだなとは思うわ。ラノベとかだと輝いてくれそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>例えば正義の心は無いけど、任務でヒーローしてるとか。言葉遣いも態度も悪いけど悪党を倒すヒーローとかかなあ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>kaeruくん得意そう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>好きそうな属性だね、確かに</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあヒーローは全部好きですよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>おなかすいた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ルルブ買うかなぁ、誰かメインのシステムにする気ある?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>よくできてるけど、オンセ△っぽい感じはした</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>回す気はしないな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>戦闘長引くのがネックだよね……</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>エヴィちゃんはヒーローモノ苦手そうだもんな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>せやな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>全然ワクワクしないからね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>ヒーローっていわれるよりゴブリンって言われたほうが興奮するし</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>様式美の世界だからな、こういうのは。苦手な人は苦手ってのはわかる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあゴブリンヒーローやればいいじゃない</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>敵役になりそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあファンタジーも好きなんでどっちでも行けますよ僕は</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>チンクルみたいになりそう</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>システムがかっちりしてる分自由度というより、やりさすさって感じはある</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>確かに、やりやすいゲームだよね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、ゆーとくんの歓迎セッションでもあったんだけど、楽しめた?楽しめてたらいいなと思う</div></div>
            <div class='row yuto'><div class='col-sm-2 name'>yuto@マイティナイヴスタスク</div><div class='col-sm-10 serif'>すごい楽しかったです!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@アデル</div><div class='col-sm-10 serif'>それはよかった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そいつは良かった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>えがったー!かえるくんさすがやでぇ!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@光回線使い</div><div class='col-sm-10 serif'>うむ</div></div>
        </section>
    </div>
{% endblock %}