.white {
    background-color: #FFFFFF
}

.black {
    background-color: #000000
}

.deep-purple {
    background-color: #673AB7
}

.purple {
    background-color: #9C27B0
}

.pink {
    background-color: #E91E63
}

.red {
    background-color: #F44336
}

.teal {
    background-color: #009688
}

.cyan {
    background-color: #00BCD4
}

.light-blue {
    background-color: #03A9F4
}

.blue {
    background-color: #2196F3
}

.indigo {
    background-color: #3F51B5
}

.amber {
    background-color: #FFC107
}

.yellow {
    background-color: #FFEB3B
}

.lime {
    background-color: #CDDC39
}

.light-green {
    background-color: #8BC34A
}

.green {
    background-color: #4CAF50
}

.blue-gray {
    background-color: #607D8B
}

.gray {
    background-color: #9E9E9E
}

.brown {
    background-color: #795548
}

.deep-orange {
    background-color: #FF5722
}

.orange {
    background-color: #FF9800
}

/* for gm colors */

.gray-dark-primary {
    background-color: #616161
}

.gray-primary {
    background-color: #9E9E9E
}

.gray-light-primary {
    background-color: #F5F5F5
}

.gray-text {
    background-color: #212121
}

/*  */

@media screen and (max-width: 767px) {
    .palette-color-picker-button {
        width: 34px;
        height: 34px;
    }
}

@media screen and (min-width: 768px) {
    .palette-color-picker-button {
        width: 34px;
        height: 34px;
    }
}

@media screen and (min-width: 992px) {
    .palette-color-picker-button {
        width: 64px;
        height: 34px;
    }
}