.white {
    background-color: #ffffff
}

.black {
    background-color: #000000
}

.deep-purple {
    background-color: #673ab7
}

.purple {
    background-color: #9c27b0
}

.pink {
    background-color: #e91e63
}

.red {
    background-color: #f44336
}

.teal {
    background-color: #009688
}

.cyan {
    background-color: #00bcd4
}

.light-blue {
    background-color: #03a9f4
}

.blue {
    background-color: #2196f3
}

.indigo {
    background-color: #3f51b5
}

.amber {
    background-color: #ffc107
}

.yellow {
    background-color: #ffeb3b
}

.lime {
    background-color: #cddc39
}

.light-green {
    background-color: #8bc34a
}

.green {
    background-color: #4caf50
}

.blue-gray {
    background-color: #607d8b
}

.gray {
    background-color: #9e9e9e
}

.brown {
    background-color: #795548
}

.deep-orange {
    background-color: #ff5722
}

.orange {
    background-color: #ff9800
}

/* for gm colors */

.gray-dark-primary {
    background-color: #616161
}

.gray-primary {
    background-color: #9e9e9e
}

.gray-light-primary {
    background-color: #f5f5f5
}

.gray-text {
    background-color: #212121
}