.aneko {
    color: #2196f3;
}

.evi {
    color: #ff9800;
}

.kaeru {
    color: #4caf50;
}

.naki {
    color: #FF4081;
}

.npc1 {
    color: #212121;
}

.npc2 {
    color: #212121;
}

.npc3 {
    color: #212121;
}

.enemy1 {
    color: #212121;
}

.enemy2 {
    color: #212121;
}

.enemy3 {
    color: #212121;
}

.gm {
    color: #ff9800;
}

.system {
    color: #555555;
}

.other {
    color: #212121;
}
