body {
    background: repeat top left url("../img/grancrest-background-seamlesspaper.png");
}

.container {
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #c6c6c6, -5px 5px 5px #c6c6c6;
}

h1 {

}

h2 {

}

h3 {
    font-size: 18px;
    font-weight: bolder;
}

hr.divider {
    display: block;
    border: 0;
    height: 5px;
    margin: 3em 0;
    background: repeat-x top left url("../img/grancrest-divider-31x5.png");
}

span.section-icon {
    width: 18px;
    height: 25px;
    margin: 0 7px 0 0;
    display: inline-block;
    background: no-repeat url("../img/grancrest-icon-200x259.png");
    background-size: 18px 25px;
}