@charset "UTF-8";

/* clear bootstrap border radius */

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/* sticky footer */

html {
    position: relative;
    min-height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    color: #151515;
    background-color: #FFFFFF;
    font-family: "Noto Sans Japanese", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    margin-bottom: 12px;
    /*background-color: #f5f5f5;*/
    text-align: right;
}

/**
 * scrollbar customize for webkit
 */
::-webkit-scrollbar-button {
    display: none;
    height: 13px;
    border-radius: 0;
    background-color: #AAAAAA;
}

::-webkit-scrollbar-button:hover {
    background-color: #AAAAAA;
}

::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #CCCCCC;
}

::-webkit-scrollbar-track {
    background-color: #EFEFEF;
}

::-webkit-scrollbar-track:hover {
    background-color: #CCCCCC;
}

::-webkit-scrollbar {
    width: 3px;
}

a {
    color: #6ABFC6;
    text-decoration: none;
}

a:hover {
    color: #42A5C7;
    text-decoration: none;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar {
    color: #151515;
    background-color: #FFFFFF;
    border: none;
}

.navbar h1 {
    margin-right: 15px;
    margin-top: 16px;
    margin-bottom: 0;
    font-size: large;
}

.navbar p {
    font-size: xx-small;
    margin-bottom: 0;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-fixed-top {
    /*background-color: rgba(63, 81, 181, 0.8);*/
    background-image: url("../img/background-navbar-fixed-top.png");
    opacity: 0.9;
}

.navbar-fixed-top ul li {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.navbar-fixed-top ul li.active {
    border-bottom: 3px double #FFFFFF;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

.sidebar ul li {
    line-height: 24px;
    /*border-top: 1px solid #37414B;*/
    /*border-bottom: 1px solid #1F262D;*/
    /*border-bottom: 1px solid #EEEEEE;*/
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 56px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        /*padding: 20px;*/
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        /*background-color: #F5F5F5;*/
        border-right: 1px solid #EEEEEE;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    /*margin-bottom: 20px;*/
    margin-left: -20px;
    margin-top: 12px;
}

.nav-sidebar > li.header {
    padding: 10px 32px 10px 20px;
    text-align: right;
    color: #151515;
    background: #FFFFFF;
    font-weight: bold;
}

.nav-sidebar > li > a {
    padding-right: 32px;
    padding-left: 20px;
    text-align: right;
    color: #151515;
    background: #FFFFFF;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    background: #151515;
    color: #FFFFFF;
    /*background-color: #428BCA;*/
}

/* Sidebar navigation(secondary) */
.nav-sidebar-secondary {
    /* nothing to do */
}

.nav-sidebar-secondary > li > a {
    padding-left: 20px;
    color: #151515;
    background: #FFFFFF;
}

.nav-sidebar-secondary > .active > a,
.nav-sidebar-secondary > .active > a:hover,
.nav-sidebar-secondary > .active > a:focus {
    color: #151515;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 30px;
        padding-left: 30px;
    }
}

.main .page-header {
    margin-top: 0;
}

h1.page-header {
    -webkit-border-image: url("../img/background-navbar-fixed-top.png") 30 stretch;
    -o-border-image: url("../img/background-navbar-fixed-top.png") 30 stretch;
    border-image: url("../img/background-navbar-fixed-top.png") 30 stretch;
}

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ここからカスタム */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

/* Bootstrap Custom style */

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: transparent;
    font-weight: bold;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #B1DDE1;
}

.btn {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.form-control option {
    padding: 0.75em;
}

.input-group-addon {
    border-radius: 0;
}

.label {
    border-radius: 0;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

/* customize for bootstrap tooltip */

div.tooltip-inner {
    max-width: 350px;
}

img.site-symbol {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 10px;
    top: 13px;
    padding: 0;
    margin: 0;
}

/* Bootstrap Toggle custom style */

.toggle.android {
    border-radius: 0;
}

.toggle.android .toggle-handle {
    border-radius: 0;
}