body {
    background: repeat top left url("../img/background-ps-neutral.png");
}

h1 {

}

h2 {

}

h3 {
    font-size: 18px;
    font-weight: bolder;
}

span.section-icon {
    width: 23px;
    height: 20px;
    margin: 0 7px 0 0;
    display: inline-block;
    background: no-repeat url("../img/section-icon-default.png");
    background-size: 23px 20px;
}