.gm {
    color: #ff9800;
}

.aneko-pc {
    color: #2196f3;
}

.aneko-pc .name {
    background-image: url("../img/icon/aneko_200x200.png");
}

.naki-pc {
    color: #FF4081;
}

.naki-pc .name {
    background-image: url("../img/icon/naki_200x200.png");
}
