.pc1 {
    color: #F44336;
}
.pc2 {
    color: #E91E63;
}
.pc3 {
    color: #9C27B0;
}
.pc4 {
    color: #673AB7;
}
.pc5 {
    color: #3F51B5;
}
.pc6 {
    color: #2196F3;
}
.pc7 {
    color: #03A9F4;
}
.pc8 {
    color: #00BCD4;
}
.pc9 {
    color: #009688;
}
.pc10 {
    color: #4CAF50;
}
.pc11 {
    color: #8BC34A;
}
.pc12 {
    color: #CDDC39;
}
.pc13 {
    color: #FFEB3B;
}
.pc14 {
    color: #FFC107;
}
.pc15 {
    color: #FF9800;
}
.pc16 {
    color: #FF5722;
}
.pc17 {
    color: #795548;
}
.pc18 {
    color: #9E9E9E;
}
.pc19 {
    color: #607D8B;
}