.pc1 {
    color: #ff9800;
}

.pc2 {
    color: #4caf50;
}

.pc3 {
    color: #FF4081;
}

.npc1 {
    color: #212121;
}

.npc2 {
    color: #212121;
}

.npc3 {
    color: #212121;
}

.enemy1 {
    color: #212121;
}

.enemy2 {
    color: #212121;
}

.enemy3 {
    color: #212121;
}

.gm {
    color: #673ab7;
}

.system {
    color: #555555;
}

.other {
    color: #212121;
}