{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>XXXXXX</h2>
                    <p></p>
                </div>
            </div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@グリフォン</div><div class='col-sm-10 serif'>まあ後は元の場所まで普通に戻れますね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>こっちのルートならグリフォンが最後の関門なので</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>では館長の所に無事戻れました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>出たな婆</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>撃ちます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どういうことなの</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>「依頼は完遂できたのかしら?」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>全ての元凶、人類悪</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「館長さん、つれてきたっすー!」とアリスを天高く掲げます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>放り投げる?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>優勝した時の胴上げは基本</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@???</div><div class='col-sm-10 serif'>「え!きゃあああ持ち上げないでええええ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>胴上げをして万歳の状態で手をとめます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>やめなされやめなされ……</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>「ほう、やるではないか」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>「ではさっそく」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>後はアリスを本の中にぶち込んで終わりかな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>kaeru@館長は本を掲げながらアリスに向かいます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>ヘンゼルとグレーテルの魔女の大釜にはいるように調整して……</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>「さまよえる少女よ、汝のあるべき姿に戻れ!」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>ただ見守ろう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ステンバーイステンバーイ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>厨二かな?</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>アリスのからだが光に変わり、本の中に吸い込まれます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>言葉が平易なあたり厨二感つよいですね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>まあ魔女だから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>光が収まると、本の中にはイラストのアリスが戻っていました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「おお～、本当に本の中のアリスだったんすね」とカメモドキの返り血を浴びたイラストを見ながら</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>こんなに再開したくないキャラもめずらしい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>「取りあえず一件落着かな」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>「さてと、ありがとうあなた達。とりあえず主役が戻ったことだし、後はこっちで何とかするわ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>「金と名誉をください」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>「まともな依頼をだしてほしいものですわ」ボソッ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@社</div><div class='col-sm-10 serif'>「まあまあ、お二人とも……。出口はどこっす?」と館長に</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>「ええそうね、出口はそこよ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>指さした方にはいつの間にか扉があります</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>えんたーざだんじょーん!</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>本来は報酬を渡すんですが、時間があれなので次回の冒頭にしましょう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あいよ～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>kaeruさんには次の日曜日にマスカレかなんかをやってほしい</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>では探索者達は扉をくぐり不思議の国から無事に帰還できました</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>あいよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>マスカレとデッドラインヒーローだとどっちがいいの?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>今回はゴミじゃなくて良いのを頂戴ね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>るるぶ的な意味でマスカレ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>デッドラできるなら、デッドラがいいなあ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>あ、以上でシナリオ「Alice's Adventures in Wonderland」を終わります。お疲れ様でした</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>お疲れ様!アリスちゃんと読まなきゃだめだな、いい世界観だったと思う</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>正直読んでると疲れるよ、登場人物の会話でリアルSAn値が削れる</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>ああそう言えばシナリオの質問とかある?</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>ぶっちゃけアリスのパクリというかオマージュというかだけど</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>育児放棄シーンはなんだったの</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>女王ルートだとどうなるかも気になる……</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>侯爵夫人の家は原作の描写ですね、あそこで侯爵夫人とコネを作ると後で助けてもらえます</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>女王ルートだと、なんやかんやでアリスが裁判にかけられるので、探索者が弁護しないといけません</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>狂人とのコネクト、いらないね!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>魔女裁判が始まってたのか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ああ、なんかそんなシーンがあったような気がするな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>失敗すると首を刎ねられます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>誰の首が?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>全然関係ない所でウミガメモドキの首が飛ぶ?</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>アリスと探索者</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いかなくてよかったぁあん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>つまりこのシナリオの登場人物全員飛ぶんだな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>ついでに館長の首もとばそう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>せやな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>館長は首が飛んでも死にませんし</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>ええやん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なにか弱点を探るシナリオを1本やろう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>ああ、そういうのもいいかもね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@トム</div><div class='col-sm-10 serif'>最後はこいつ倒さないとだしね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>そんなストーリーを作ろう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>殺伐としてんなぁ!?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@まり</div><div class='col-sm-10 serif'>おつかれ!</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@館長</div><div class='col-sm-10 serif'>おつかれー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>うい、まーた日曜日!</div></div>
        </section>
    </div>
{% endblock %}
