{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/xxxxx-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-xxxxx.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>タイトル</h2>
                    <p></p>
                </div>
            </div>
            {# ここに色々追加 #}
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>タイトル</h2>
                    <p></p>
                </div>
            </div>
            {# システムメッセージ的なやつ #}
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">XXXXXXXXXX</p>
                        XXXXXXXXXXXXXXXXXXXX<br>
                        XXXXXXXXXXXXXXXXXXXX<br>
                        XXXXXXXXXXXXXXXXXXXX<br>
                        XXXXXXXXXXXXXXXXXXXX<br>
                        XXXXXXXXXXXXXXXXXXXX
                    </blockquote>
                </div>
            </div>
            {# GMコメンタリー #}
            <div class="row comment">
                <div class="col-sm-2 name"></div>
                <div class="col-sm-10 serif">
                    <blockquote>
                        XXXXXXXXXX
                    </blockquote>
                </div>
            </div>
            {# セクションタイトル #}
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>※セクション内タイトルサンプル</h3>
                </div>
            </div>
            {# 透明文字 #}
            <div class='row spacer'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>*XXXXXXXXXX*</div></div>
        </section>
    </div>
{% endblock %}