{% verbatim %}
<script id="page-navigate-anchor" type="x-tmpl-mustache">
<a data-prev-id="{{previd}}" data-next-id="{{nextid}}" data-id="{{id}}" class="btn btn-default" style="margin-right: 4px;" role="button" data-role="jump-to-anchor" data-toggle="tooltip" data-placement="bottom" data-original-title="{{text}}">{{pageindex}}</a>
</script>
{% endverbatim %}