{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/lostroyal-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>※未編集</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>ともあれ、</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>最初に仲間とのいちゃいちゃタイムがあります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>絆増やしシーンです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>対話シーンだっけ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>特殊なルールのシーンじゃないよね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>主君は幸運を持つ騎士に気持ちを少し寄せるので、</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>クヮインに気持ち近づいている</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>引き離さねば</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>意味は特にないらしいです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>いつもの</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ちなみに、今の舞台はどこにいる感じなの</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>P.194の地図でいえばちょうど真ん中にいます。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>ちなみに城は左上の出っ張っているところに立っている建物です</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>とおすぎぃ!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>あきらめよう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>そのほうがいいよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>俺速度10だけど間に合わないの?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そうだな(テノヒラクルー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>遠いように見えるだけさ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>ベルから絆イベントやりますか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、その前にまって</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>今回は番外シーンは何回できる?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>echo</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>2回です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>絆イベントですが</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>2回かぁ。まあ、先に対話シーンでいいや。命題でいこうかなぁ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>絆をあげたい騎士を選び、舞台表を振って、軽いRP(任意)をしてください</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>あ、絆イベントと</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>番外シーンは別です</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>このセッションには、キズナイベント、対話シーン、番外シーンがあるってハウスルールでいいのかな?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>それは別に通常ルールではないですかね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>はい、言葉足らずですみません</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>セッション開始時に絆を獲得する</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>あれって個人的に</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>Ep。0だけで発生するイベントだと思ってます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>誰と絆を結ぶかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まあ、どっちでもいいんだけどね。通常ルールじゃないと思うわ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そうそう、セッションってキャンペ1回目か、単発の時の事だと思う</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>PL的にお互いよく分からないから自己紹介するよ、(本来ある)絆も増やすよ、見たいな感覚</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>前回からもってる絆は初期かしなくていい?(姫とペンギンにもってる)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>ついていけないから静観してよう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>しなくていいなら、クワィンと絆イベントする……と思ったけど、ついてけないなら誰としようかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ボレミアとエンザーがいるけど……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>絆が初期化するのはおかしいと思うので、もってます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>じゃなくて継続しています</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ういうい>絆は継続</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ボレミアはいないから、エンザーしかいないんだよね。エンザーくんって騎士団についてきてるん?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>ルールに関しては、読解力が低いから違う捕らえ方してしまうことが多々ありますが</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>おかしいと思ったら、遠慮なく言ってください</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>りょうか～い</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>エンザーはいます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>じゃあ、エンザー君と</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>問題ないっす</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>誰だっけ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>あ、エンザーコマ消しちゃってる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>前回のボスだった気がする……(うろ覚え</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>1d6 scene</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>LostRoyal : (1D6) → 3</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>キレイな湖……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>ですね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>ではエンザーは湖でたそがれています</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どうみても黄昏そうにない顔なんだよなぁ……</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「(連続ログイン途絶えちゃった……)」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>「よう、どうしたエンザー。腹でも減ったのか?そんなに湖を見つめてからに」と隣に座ります</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>世界観大丈夫なの……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>世界を救う、世界観は壊す</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「いや、姫様の優しさがいつか裏目にでるときが来るのではと思ってな……」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>「やさしさ、か……」と空を見上げて</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「きれいな湖でも誰かが、意図的に汚すこともあるのだ。ただ気に入らない、そんな理由でな」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「ふっ、忘れてくれ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>「難しく考えすぎだよ、お前は」と苦笑い</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>乙女かな?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>「姫様がやさしいままでいられるようにする。そのためにおれ達がいるんだろ?」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>微妙にかみ合ってないな、まあいいや</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「ふ……ふははは」去っていきました</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>こいつギャグキャラなんですよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>感情表はECか……</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ほんとぉ?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>EC</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>LostRoyal : 1D6 => [4] 興味/侮蔑</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>興味興味、興味があります(意味深</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>終わり</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>絆高いと難易度下がりそう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>絆もなんかあったよなぁ、ルールが</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>ではクヮイン</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>メモ欄の戦闘時ルールにあります</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>絆って結局数字なんですっけ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>俺はトリか鳥だけに</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>そうですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>数字</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>♡うっうー♡でてこい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>(今カエル君のゲキウマギャグが華麗にスルーされたような気がした)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>あるかないかで示すのそっけないしね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>ちょっともっかい言ってみて</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>「その冗談、www」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>nekoE3</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>LostRoyal :アネコロイヤルEP3(6[6]) → 歩く不愉快</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>お前じゃん</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>「わたしです」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おあつらえ向きぃ!</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>「かわいいね、商品化しよ♡」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>でたな不人気マスコット</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>「うっうーはどうして姫様に着いてくるの?」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>「美しい姫には、美しいペットがいるんだよなあ……」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>「そこで私ですよ。はい」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>「なるほど」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>EC</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>LostRoyal : 1D6 => [2] 友情/負目</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>友情を感じる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>納得早くない?</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>そういえば見えてはないから</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>「美しさは肌で感じて♡」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>ちょっとえろい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>これが道化師というやつだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そ、そういうポジションなの!?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>性格は変わるもの、ではキング</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>ネウマかなんかだと思う</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>待たせたな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>とりだけにね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>(一同爆笑)</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>クワインと絆を結んで仲間になるぞ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>大丈夫?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>大丈夫だ問題ない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>舞台表どうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>鳥こっちくんの?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>nekoE3</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>LostRoyal :アネコロイヤルEP3(6[6]) → 歩く不愉快</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>お前じゃん</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>「たしかに」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>辛辣過ぎない?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>もう、出たがりなんだからぁ……!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>うっうーと笑う</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>さっきのシーンの続きかな?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>じゃあさっきの所に登場するぞ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>絆、増えます?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>「離れろクワイン!そいつは危険だ!!」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>増やすよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>見えないから……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>そんなこと言われたら……</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>「ひどいですー」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>だっこしてるうっうーを抱きしめてしまう……</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>「最高ですわあ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>「何事ですか!?」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>「そいつは姫様に取り入るスパイに違いない!」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>「唐突の自己紹介に草」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>群像劇めいてきた、いいぞいいぞ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>では感情表どうぞ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>この熱意でいつも冷めてるクワインと絆を紡ぎます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>EC</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>LostRoyal : 1D6 => [6] 守護/欲情</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>「お前はわたしが守護る」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>うっうーに欲情してなさい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どういう熱意なのかな?ん?ん?</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>「むさくるしい鳥に守られたくないですわーw」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>「禿同www」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>こいつら……</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>2ちゃんねらーが増えた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ああ、世界観があああ!?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>とりあえず守護撮りますね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@うっうー</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>欲情取るタイミングってあるんかな、しかし……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>うっうーかわいいなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、いや、どっかのセッションで取ってたな、うん……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>では皆さん、良い時を過ごしたところで対話シーンに移ります</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>真面目なプレイをする我々には無関係ですな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>絆は深まりましたか?(不安)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>ダチ公ができたよ</div></div>
        </section>
    </div>
{% endblock %}