{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>オープニングフェイズの始まり</h2>
                    <p>休憩はさんで、オープニングフェイズ！</p>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">あ、そうだ、設定で決めてほしいことがあって・・・</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">君たちのセーフハウスは地下にあるんだけど、その上にある店舗の種類を決めてほしいんだ</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">まがりなりにもあやしげな依頼をいっぱい受けてるから、偽装として普段は善良な店舗を経営してるんだね、さすがだね</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">クリーニング屋しか思いつかない</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">特になければ「地元でも評判なたこ焼き屋さん」になる</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">喫茶店とか</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">タイ焼きか</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">(見事にバラッバラだなぁ・・)じゃあ、「クリーニングもやってるタイ焼きも出す喫茶店」で決定しました</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">すげえ怪しくなったぞ</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">普通だな</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">普通だ</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">違和感ないわー（棒</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>シーン1</h2>
                    <p></p>
                </div>
            </div>

            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">それでは、改めて・・・シーンの場所は、君たちの組織が隠れ蓑にしている喫茶店の地下にあるセーフハウスです</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">みんな一緒にいるでいいかな？</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">たい焼き食べてます</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">クリーニングしてます</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">たこ焼き食べてます</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>ノリがよくて結構ですわね！</blockquote>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">シーンプレイヤーは全員です</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">一人だけまじめに仕事してるぞ</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">マスク被ってないからね</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">じゃあ、表でクリーニングしているダラス君にRPしてもらおう</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">すると、秘密の電話番号が当てられてる固定電話が鳴り響くよ</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">リリリ、リリリ、リリリ・・・</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">ガチャ</div>
            </div>
            <div class="row npc">
                <div class="col-sm-2 name">???_1@GM</div>
                <div class="col-sm-10 serif">「さっそくだが、依頼だ・・・」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">受話器越しの声は、あまり抑揚のない、まるで機械がしゃべっているかのような声だった。</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">「お電話ありがとうございます！ふんわりキレイダラス支店です！はい！はい！」とか言ってる</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">イケメンが台無しやぁ・・</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">店名に自分の名前を入れてるぞ</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">支店なのか、店長はあいつだな</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">いやここは日本という名のテキサスなので、ダラスなのだ</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>どういう地理なの・・？</blockquote>
                </div>
            </div>
            <div class="row npc">
                <div class="col-sm-2 name">???@GM</div>
                <div class="col-sm-10 serif">「相変わらずだが・・元気なようでなによりだ（デレ」</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">「その件は承っておりません」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ダラスは気が付きますが、その電話の主は君たちの依頼人「ベイン」です。</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">ダラス、思い出すんだ！</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">たこ焼にポン酢うめー</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">仲間達にアイコンタクトしようとしたらたい焼きとかたこ焼きとか食ってるんだよな</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">ここは支店長として査定に考慮しとかないと、メモメモ</div>
            </div>
            <div class="row npc">
                <div class="col-sm-2 name">ベイン@GM</div>
                <div class="col-sm-10 serif">「合言葉はいい・・それよりも次の依頼の話だ、そのままアイロンをかけながら聞け」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ベインは以下の内容の依頼を君たちに提案してくるよ。</div>
            </div>

            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO： 「ベインからの依頼」<br>
                        <br>
                        依頼主は、某マフィアの某お偉方だ。<br>
                        なんでも、最近そのマフィアの「シマ」を荒らしているやつらがいるらしい。<br>
                        お前たちにはそのシマを荒らしまわっているやつらを見つけ出して<br>
                        「少しだけ痛い目」に合わせてほしい。<br>
                        <br>
                        具体的な報酬は、後で通達する。<br>
                        では、よろしくたのむ。
                    </blockquote>
                </div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif"><b>靴の中に画びょう</b>いれるか</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">まさにチンピラ！</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">小学生かな？</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">結構痛そう</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">すげえ三下っぽい仕事だなあ</div>
            </div>
            <div class="row npc">
                <div class="col-sm-2 name">ベイン@GM</div>
                <div class="col-sm-10 serif">「・・・いつもの通り、ワタシがサポートする。質問は・・ないな？」</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">「承りましたーでは18時に担当の回収車が向かいますのでー」</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">ガチャ切り</div>
            </div>
            <div class="row npc">
                <div class="col-sm-2 name">ベイン@GM</div>
                <div class="col-sm-10 serif">「・・・もう、ダラスちゃんたらつれないんだから・・」</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">ぞわ</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「ダラス、誰からの電話だったんだ？」</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">チラリとダラスを見る</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">「仕事か？」</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>自然にストーリーに絡んで来てくれるPLの鑑</blockquote>
                </div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">「君たちの上司であるところの私の上司だね」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">まっことまどろっこしい言い方・・</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「そうか・・・なんて？」</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">「休憩時間は終わりだ」</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「のこりはおやつに取っておくか」ラップしよう</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">スチャ(※例の星条旗マスクを装着した音)</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">俺もたい焼きをワイルドに食いちぎりながら立ち上がる</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">オオカミにあんこって大丈夫なんかねえ</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「ウルフ、散歩の時間だ」</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">人間だから！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">ただ見た目と行動がワイルドなだけの普通の人間です</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">「久々の仕事だ！血が騒ぐな」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ワイルドすぎませんかねぇ・・(ウルフのアイコンを見ながら)</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">「じゃあ閉店時間まではチェインズ君、店番頼むよ」</div>
            </div>
            <div class="row npc">
                <div class="col-sm-2 name">naki@チェインズ</div>
                <div class="col-sm-10 serif">「まーた、わたしがお留守番なの！？んもーーーー！」と猛烈にスチームをかける</div>
            </div>
            <div class="row npc">
                <div class="col-sm-2 name">naki@チェインズ</div>
                <div class="col-sm-10 serif">「みんな気をつけていってきてね！心配なんてしてないんだから！」</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">おかま率おおくない？</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">チェインズは女のコだから！！</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif"><b>心は女の子</b>か・・・</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>女のコなの！(ムギャオー</blockquote>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ちなみにベインは性別不明ね・・</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">うし、RP終わったら、次のフェイズにいくぞーう</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">やり残したことある人！</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">食べ残ししかない</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">食べ残しもなし</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">弾薬の持ち忘れもなし</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">おっけーい</div>
            </div>
        </section>
    </div>
{% endblock %}