{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>クライマックスフェイズの始まり</h2>
                    <p>前編やった次の日に、また2時間ほど時間をもらって、シリーズ初せーんとう！</p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        前回のおさらい<br>
                        <br>
                        ベインからの依頼を受けたオーダー達はHHHが裏で糸を引いていると思われる銀行を突き止め、襲撃を決行する。<br>
                        特性能力を駆使して金庫を攻略し、意気揚々と金庫を出るオーダー達。<br>
                        しかし、彼らの目の前に巨大な影が立ちふさがるのだった。<br>
                    </blockquote>
                </div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「誰だお前は！！」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">???@GM</div>
                <div class="col-sm-10 serif">「ギギ・・ガガ・・・シンニュウシャ・・・」</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">ドゥーム(SWのロボっぽい敵)かな？</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">（描写って考えてなかったもな・・）きみたちの前には、背の高いロボっぽいものが現れたよ！</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">なんか、すごいでっかい管から火とか吹き上げながら近づいてきました</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">ロボだー</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">このゲームって(ソードワールドの)魔物知識判定に相当するようなものはあるのかい</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">一応、ミドルフェイズにネフィリムの情報を集めることになってる</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">今回はすっとばしたので、誰かが、そうだな、ダラスが調査した情報ってことで出そう</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">ネフィリム知識に+30あるよ！！</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">おや・・？</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">てか、インフォをどこまで出せばいいのか・・よし、HPくらいはその+30で出しますね</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>※ルールをほとんど把握できてなくてテンパるGM</blockquote>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO: ボスデータ<br>
                        <br>
                        名前: HHH製ガードロボ<br>
                        タイプ: キメラ級<br>
                        負傷ゲージ: 疲12/軽傷8/重傷5/致命傷4/死1<br>
                        特性能力: ≪小型ミサイル≫ ... 触れると爆発する炎のミサイルを発射する<br>
                        攻撃: ≪どすこいタックル≫ ... 猛烈な勢いで体当たりしてくる<br>
                    </blockquote>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">基本情報でこんだけもらえたとします、他に知りたいことある？</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">・・・判定はどれ？</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">観察、機械修理、交渉、コンピューター、調査　あたりでいこう</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        情報収集の特殊ルール<br>
                        <br>
                        観察、機械修理、交渉、コンピューター、調査　のいずれかの技能で判定を行います。技能に成功するごとに、以下の情報が得られます。<br>
                        1人1回チャレンジ可能。<br>
                        - 行動値<br>
                        - 防御力<br>
                        - 小型ミサイルの詳細<br>
                        - どすこいタックルの詳細<br>
                    </blockquote>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ダイス振るときに、どの情報をどの特技と技能を使って知識を得るのか宣言ちょーだい！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">ネフィリムってロボなのか</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">(基本的には)ロボじゃないけど・・まぁ、うん、今回はロボになっちゃってます</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">じゃあ(クロスファイアの)特性能力使うか</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">ギュイイイイン</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">いいね、本当はスペックカラーとかで演出してもらいたかったんだけど・・まぁ、今回はよしよし</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>スペックカラー = 異能力出すときとかになんか光ったり色が変わったりするアレ</blockquote>
                </div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">じゃあ・・・(メンバーの戦闘種別)近接戦多いし小型ミサイルを</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">とりま、特性能力≪スーパーセンス≫</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">疲労を１個いれて特性能力判定かな</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">特性能力(発現)判定 → DiceBot : (1D100<=90) → 96 → 失敗(ファンブル)</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">そして失敗した</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">なんかよく失敗しますね＾ｑ＾</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">だから振らないんだよ！！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">こういう日もあるよね</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ダラスは特性能力の発動に失敗したけど、頭をしぼることはまだできます</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">えっと、質問</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">《†グレイセルズ》（コストなし）　自身が行なう〈観察〉〈捜索〉の成功率に常に＋30％。</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">これって常時発動なのかな？それとも特性能力判定だけはいる？</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">常時発動ってかいてあるし、常に+30でいいよ。特性(発現)判定もいらんです</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「常に」があるかないかで判断すればいいのか</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">じゃあ、ネフィリム知識や精密射撃はオートスキルと考えていいです？</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">YES！</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">なるほどナス</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">じゃあ調査と交渉が70以上あるから+30されてしまうな！</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>見苦しくてカットしてありますけど、この辺で間違った説明をして大変混乱させてしまいました。すまないevi@PL、ゆるひて・・</blockquote>
                </div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">調査だワン！</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">小型ミサイルの詳細調査判定 → DiceBot : (1D100<=102) → 45 → 成功</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ダラスOK！</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">「こ・・・こいつは！」</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">では、どすこいタックルについて調べます</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">どすこいタックルの詳細調査判定 → DiceBot : (1D100<=96) → 37 → 成功</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ホクストンOK！</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">YATTA！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">じゃあ俺も</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">防御力について調査判定 → DiceBot : (1D100<=100) → 2 → 成功(クリティカル)</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">すげえや！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">くリッター</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">霜降り肉を上げよう</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">１００円玉をあげよう</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">太っ腹！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">しょぼい！</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">(またクリティカルかぁ・・壊れるなぁ・・)みんな成功したし、情報全部出しますね・・・</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        ボスデータ: HHH製ガードロボ<br>
                        タイプ: キメラ級<br>
                        負傷ゲージ: 疲12/軽傷8/重傷5/致命傷4/死1<br>
                        行動値: 14<br>
                        防御力: 切8/衝5/銃5/灼9/冷5/電気7<br>
                        <br>
                        特性能力: ≪小型ミサイル≫<br>
                        触れると爆発する炎のミサイルを発射する<br>
                        攻撃力: 灼熱 1d10+22<br>
                        対象: 複<br>
                        射程: 遠距離<br>
                        <br>
                        攻撃: ≪どすこいタックル≫<br>
                        猛烈な勢いで体当たりしてくる<br>
                        攻撃力: 切断 1d10+27<br>
                        対象: 単<br>
                        対象: 至近
                    </blockquote>
                </div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">衝撃じゃなくて切断なタックルこわい！</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ついでに君たちがミドルフェイズで頑張って調べた結果、以下の情報がわかりました</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        金庫のセキュリティにはHHH作成の違法ガードロボが利用されていることがわかった。<br>
                        ガードロボは、ネフィリムの一部が埋め込まれており、ネフィリム同様の特性能力を有すると思われる。<br>
                        心してかかるのじゃ！　by光博士
                    </blockquote>
                </div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">ふむふむ、完全に違法改造じゃねえか</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif"><b>違法と分からなければ合法</b></div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">HHHはすごい悪い組織なので問題ありません！</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">これ1発で死ぬ可能性もあるんかねえ</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">正直いまいちHPの概念がわからんな</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">では、戦闘開始前にガーデンオーダーのイイと思うところ！負傷ゲージと負傷表の概念について整理しておきましょう！</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        ダメージは、負傷表を参照して最終的に決定される<br>
                        <br>
                        例: <br>
                        ＜切断＞属性のどすこいタックルをダラスが受ける<br>
                        ガードロボはダイスで30出しました<br>
                        ダラスの＜切断＞の防御力は4<br>
                        ダメージ算出で30-4=26のダメージが出ます<br>
                        その26のダメージを＜切断＞負傷表で参照して「裂傷　治りにくい傷を受ける　重傷3」<br>
                        ダラスは重傷ゲージを3マス塗りつぶして、次のターン　ということになる<br>
                    </blockquote>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ついでにプレイヤーの死亡に関しても・・・</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        致命傷の枠が0になった時点でそのキャラクターは死亡します<br>
                        下位のゲージのマスが埋まってたら、上位のゲージのマスに繰り上がります<br>
                        <br>
                        例:
                        軽傷のゲージのマスが全て埋まった状態で、軽傷ダメージ1点受ける<br>
                        このとき、軽傷のゲージはもう埋めることはできないので、上位の重傷のマスが1個埋まります
                    </blockquote>
                </div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">(ホクストンの)致命傷(ゲージが)1はこわいなあ</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">んでは、さっそく戦闘開始するぞー！わー！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">いえーーー！ヤッテヤルゼィ</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">waーーーーー</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">ふーーーーー！命だいじに！</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>ラウンド1</h2>
                    <p></p>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">先にイニシアティブ決定します、自キャラの1d10+自キャラの行動値　でダイス振ってください</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO: 1ラウンド目イニシアティブ<br>
                        <br>
                        18: ホクストン、ウルフ<br>
                        16: HHH製ガードロボ<br>
                        11: ダラス
                    </blockquote>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">その値が、今回のラウンドの行動順になりもす</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">みんなはやいなー</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ほんで、メインに入る前に使用したい特性能力があったら先にBUFFしていいですよ</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ウルフとホクストンは相談して、どっちが先に動くか決めていいぞう</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">どうする？とりあえず切り込もうか？</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">初手パーマフロストして封鎖したいなあ</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">バウンサーが至近だから特攻しないとな！ワクワク！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">「ここは任せな！」</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「ウルフ、初撃任したぞ！」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">おっけ、ウルフ行動をどうぞ！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">さっそくスキル≪ソニックブーム≫を使おう</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">ガイルかな？</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>彼はホント罪深い存在ですよね・・</blockquote>
                </div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">別に倒してしまってもかまわんよ</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">コストで軽傷1をおって、ソニックブームで攻撃</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">特性能力(命中)判定 → DiceBot : (1D100<=90) → 6 → 成功(クリティカル)</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">クリティカルかな？</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">クリティカルだとどうなんの？</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">クリティカルなので、ロボが回避でクリティカルして出目がさらに低くない限りは命中です</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>(後でルルブを見て)ホントは「防御力無視」がつくんですううう、ごめんなさああああい</blockquote>
                </div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">回避判定 → DiceBot : (1D100<=30) → 76 → 失敗</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">これは遅いな</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">失敗なので、命中です！ダメージどうぞ～</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">ソニックブームダメージ → DiceBot : (2D10+10) → 10[2,8]+10 → 20</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">たかめ</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">いいぞー</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">20-5で15のダメージで,負傷表参照します</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ボディブロー　腹部に直撃、痛みが継続し、体力を奪う　軽傷3 DOT:疲労3</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">しょぼおい</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">DOTってのは、継続ダメージのこーとです。ラウンドの終わりにもらいます</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">「食らえ！音速拳（ソニックブーム）」</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">ウルフの渾身の攻撃は音を置き去りにした！すさまじい衝撃破が発生しウルフの体にもわずかな傷が出来る。まさに捨て身の技であった</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">「へえ、頑丈だな。少しは楽しめそうだ」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">演出がクライマックス級なんですが、それは・・</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif"><b>捨て身の技出すの早すぎ</b>るよー</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">ウルフは<b>友人セリヌンティウス</b>のために必死だった</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">「ポンポンイタイ・・」</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">「悪いな獅子はザコを倒すのにも全力を出すのさ」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">次、ホクストンさんの行動どんぞ</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">アイスブランド使うかな</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">アイスブランド発現判定 → DiceBot : (1D100<=90) → 71 → 成功</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">おっけー、君の手の中にはつめたーい氷の刃があられるよ、演出してもいいよ！形は自由でいいです</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「敵を凍らせし氷結の刃よ、出でよ」<b>ポンポコ</b></div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">ブランドは戦闘前(クリンナッププロセス)にするべきだったのか</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">メインで使った場合は、移動しながらアイスブランド出して、切りつける　みたいな演出で解決していいと思う</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">ということは攻撃も出来るのね</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">(ちょっとわかんないから)今回はそれでいいよ</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>※見た目カッコイイ重点</blockquote>
                </div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">じゃあ攻撃します</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ホクストンは氷の上をすべるように疾走し(移動の演出)、ガードロボのエンゲージ内に「突入」します！</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">近接武器命中判定 → DiceBot : (1D100<=100) → 94 → 成功</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">だめだこりゃ</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">回避判定 → DiceBot : (1D100<=30) → 24 → 成功</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">んー、すまぬ、ホクストンのアイスブランドは空を切った！</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「くらえっ！！ってあれ？」</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">「（目の前のホクストンをにらみにつけているような顔）」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">次は、ガードロボの攻撃だっす！</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">そのまま、ホクストンに≪どすこいタックル≫</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">「気を付けろ！くるぞ！」</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">やめてー</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">どすこいタックル命中判定 → DiceBot : (1D100<=140) → 64 → 成功</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">近接武器で回避判定 → DiceBot : (1D100<=100) → 50 → 成功</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「あたるかよ！！（あぶねっ！）」</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">「グググ・・・」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">んでは、最後にダラース</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">ではPDWで連続攻撃だ</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">銃器が100なので50/50に分割できるけど、せっかくなので特性能力≪スローモー≫を使う</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">スローモー発現判定 → DiceBot : (1D100<=90) → 3 → 成功(クリティカル)</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">やるう</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">クリリンだけどなんか効果あるのか？</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">なんもない・・・(かな？)</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">なんもねえのか！</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>補正値にx2倍とでも裁定すればよかったな・・</blockquote>
                </div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">スローモーで「連続攻撃で分割した各攻撃の命中を+20」なので、70/70で銃器判定</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">PDW命中判定(1回目) → DiceBot : (1D100<=70) → 67 → 成功</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">PDW命中判定(2回目) → DiceBot : (1D100<=70) → 42 → 成功</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">うむ、よけてみたまえ</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">回避判定(1回目) → DiceBot : (1D100<=30) → 86 → 失敗</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">回避判定(2回目) → DiceBot : (1D100<=30) → 39 → 失敗</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">どっちもあーたーりー！</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">PDWダメージ(1回目) → DiceBot : (1D10+13) → 6[6]+13 → 19</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">PDWダメージ(2回目) → DiceBot : (1D10+13) → 2[2]+13 → 15</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">銃撃属性な</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">5退いて・・14と10ね</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">肩損傷と腕部貫通しました！重傷1、軽傷3もらいます</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">ムッハハハ</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">「流石だなダラス！」</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">でもスローモーで何故かダラスが軽傷を負います</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">「アツアツの<b>空薬きょうが目にはいった</b>！！」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">では、クリンナップロセス</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ウルフのDOTをうけます。解除判定します</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">DOT抵抗力判定 → DiceBot : (1D100<=40) → 25 → 成功</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ウルフの腹パンチ効果はこのラウンドで消滅しました！</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>ラウンド2</h2>
                    <p></p>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">セットアッププロセスです、エフェクトおよび特性能力でBUFFどうぞ！</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">《†バディエフェクト》（コスト疲労２）　〈特性能力〉で判定。バディが行なうあらゆる判定の成功率に＋20％。</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">バディエフェクト発現判定 → DiceBot : (1D100<=90) → 97 → 失敗(ファンブル)</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">はい、なんでもないです</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">おうふｗ</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif"><b>気持ちだけもらっておこう</b></div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">疲労2もらってくーださい＾＾</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">バディとの信頼関係がまだまだだな</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「やはり人間と犬では価値観が・・・」</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">１ラウンド持つちょうつよいバフなのにな...ポチとはわかりあえてないようだ</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>人間PCがペットポジションとはいったい・・</blockquote>
                </div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">じゃあ≪ハイスピード≫を発動</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">ハイスピード発現判定 → DiceBot : (1D100<=90) → 94 → 失敗</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">うあああああ、なんの呪いなんだ</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>今回のセッションは、ダイス目が極端よね・・</blockquote>
                </div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">こっちもソロエフェクト使う</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">ソロエフェクト発現判定 → DiceBot : (1D100<=90) → 12 → 成功(クリティカル)</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ホクストンのアイスブランドは輝きを増したよ！</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「これは痛いぞ！（あたればな！）」</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        INFO: 2ラウンド目イニシアティブ<br>
                        <br>
                        22: HHH製ガードロボ<br>
                        20: ホクストン<br>
                        19: ダラス<br>
                        18: ウルフ
                    </blockquote>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">へへーん</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「あのロボ、すばやいぞ！！」</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">やあねえ</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">「ギギ・・センリャクテキテッタイ」</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">全力移動で別のエンゲージに移動します</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">そのままつづけて、ミサイル飛ばします。全力移動してるので、達成値は半分になります</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif"><b>これって逃げたんなら脱出できる</b>んじゃね？</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">(それはダメェエエ)一応、封鎖空間なので、逃げないでほしい(懇願</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「逃げたぞ！おえー」</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">封鎖されているのさ</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">「逃がすかよ！」</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">君たちのいるエリアに≪小型ミサイル≫が飛んできます</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">小型ミサイル発現判定 → DiceBot : (1D100<=40) → 87 → 失敗</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">はい・・「カチンッ」といってミサイルは出ませんでした！</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">店内を破壊していくガードロボ</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif"><b>ポンコツ</b>だなあ</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">次、ホクストーン</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">こっちも全力移動します</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif"><b>ＷＡＳＳＹＯＩ！</b></div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ニンジャアア</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">そしてアイスブランドで攻撃</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">近接攻撃命中判定 → DiceBot : (1D100<=70) → 36 → 成功</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">回避判定 → DiceBot : (1D100<=30) → 18 → 成功</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">こらー</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">ヒラリと身をかわします</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「こいつで、どうっだあ！！あれっー」</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">「遊んでるんじゃないぞホクストン！」</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「すまないポチ、追撃頼んだ！」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">次、ダラース！</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">(フリーアクションで武器の持ち替えができるのか・・・)じゃあスナイパーライフルに持ち変えるか</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">ホクストン狙うのはやめてね＾＾</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">誤射はないです・・してもいいですよ！ぜひ！</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">《†ホークアイ》（コスト疲労１）　自身が行なう遠隔攻撃のダメージに＋［ランク］。また、別のエリアにいる対象へ攻撃する時の成功率へのペナルティを受けない。</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">ホークアイ発現判定 → DiceBot : (1D100<=90) → 35 → 成功</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">にやり</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">スナイパーライフル命中判定 → DiceBot : (1D100<=100) → 83 → 成功</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">回避判定 → DiceBot : (1D100<=30) → 85 → 失敗</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">わーーーー！</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">ではルルブに載ってるデータで・・・固定値の威力を見よ！</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「ダラス、君が頼りだ！！」</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">スナイパーライフルwithホークアイダメージ → DiceBot : (1D5+24+5) → 2[2]+24+5 → 31</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">銃撃属性(26) 盲管銃創　体に銃弾が深々と突き刺さる　重傷3+スロウーLv5</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">バチューン</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ちょっとぉ・・</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">すごい数字が見えた</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">強すぎぃ</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">戦闘職ではないという発言はなんだったのか</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">というか通常兵器では勝てない設定とは何だったのか！？</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>せ、世界観お許しください！</blockquote>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">最後にウルーフ！</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">あと重傷6点与えれば殺せるぞ</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「ウルフー<b>噛み付けー！！</b>」</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">≪ストレングスエンハンス≫(コストは疲労1で近接攻撃の威力が+5)使用</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">ストレングエンハンス発現判定 → DiceBot : (1D100<=90) → 57 → 成功</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">ウルフはなんかムッキムキになるよ！！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">その時ウルフの中の獣が目覚めた！</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">全力移動して、エリアBに移動してくーださい</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">命中のときの達成値が1/2になります</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">移動して当身！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">当身命中判定 → DiceBot : (1D100<=50) → 64 → 失敗</div>
            </div>
            <div class="row enemy">
                <div class="col-sm-2 name">HHH製ガードロボ@GM</div>
                <div class="col-sm-10 serif">ヒラリとかわした！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">「グラアアアアアア（避けるな！）」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">2ラウンド目クリーンアップ</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">スロウ効果で先制値が-5、スロウ解除</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>ラウンド3</h2>
                    <p>盛り上がってきたところで、時は既に日が変わる頃だった・・</p>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">3ラウンド目・・といったところでマスターシーンがはいります</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        ガードロボの胸に書いてあった文字が数字変わる・・。その数字は10から次第にカウントダウンしていくようだ<br>
                        <br>
                        10...(ピッ<br>
                        9...(ピッ<br>
                        8...(ピッ
                    </blockquote>
                </div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「あいつ、俺の感では爆発するぞ！！」</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name">evi@ダラス</div>
                <div class="col-sm-10 serif">さようなら、ホクストン、ポチ・・・(※ダラスだけ別エリアにいる</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name">aneko@ホクストン</div>
                <div class="col-sm-10 serif">壁の隅でまるくなろう</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">「ガウ（チィ！）」</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        2...(ピッ<br>
                        1...(ピッ<br>
                        0<br>
                        ------- 同時にガードロボは爆発四散した！！<br>
                    </blockquote>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">エリアBが屋根もろとも吹き飛びましたとさ＾＾</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name">naki@GM</div>
                <div class="col-sm-10 serif">戦闘終了！クライマックスフェイズ完了です</div>
            </div>
        </section>
    </div>
{% endblock %}