{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>エンディングフェイズ</h2>
                    <p>リアルタイムアップエンドという尻切れ感、ゆるひて・・</p>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んでは、最後にしめまーす</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name text-right">aneko@ホクストン</div>
                <div class="col-sm-10 serif">ホクストン、死亡</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">おう、しぬな！いきろ！</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">ホクストンの通信端末に、ベインからの通信が入っているようです</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">リリリ・・リリリ・・・リリリ・・・</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name text-right">evi@ダラス</div>
                <div class="col-sm-10 serif">黒電話かよ</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name text-right">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「がちゃ」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">端末とはいったい・・</div>
            </div>
            <div class="row npc">
                <div class="col-sm-2 name text-right">ベイン@GM</div>
                <div class="col-sm-10 serif">「お、生きてるか？こちらからも爆発を確認した、派手にやったな」</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name text-right">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「だろ？俺らにかかればこんなもんさ！」</div>
            </div>
            <div class="row npc">
                <div class="col-sm-2 name text-right">ベイン@GM</div>
                <div class="col-sm-10 serif">「はは、信じていたさ。やつらも少しは痛い目にあったろう・・」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">そのとき、君たちの頭上（爆発でふっとんだ屋根の上）からヘリコプターの爆音と梯子がおりてきます</div>
            </div>
            <div class="row npc">
                <div class="col-sm-2 name text-right">ベイン@GM</div>
                <div class="col-sm-10 serif">「時間ぴったりだ、いい仕事をした、そのまま帰還してくれ」</div>
            </div>
            <div class="row npc">
                <div class="col-sm-2 name text-right">ベイン@GM</div>
                <div class="col-sm-10 serif">そういうと、ベインの通信は途切れました</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name text-right">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「みんな、ベインのお迎えだぜ！さっさとずらかろう」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">そのまま帰ってもいいし、適当に演出してどうぞー</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name text-right">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">じゃあ壁をよじ登って月に向かって吠えた後、夜の闇に消えます</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name text-right">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「ウルフは・・・野生に戻ったか」</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name text-right">evi@ダラス</div>
                <div class="col-sm-10 serif">ウルフの首輪をはずしてやろう</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name text-right">evi@ダラス</div>
                <div class="col-sm-10 serif">「君は自由だ」</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name text-right">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">お前ら仲間を何だと思ってるんだ！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name text-right">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">「ガウガウアガウ（俺が必要になったらまた呼びな！じゃあな相棒！）」</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">こりゃあネフィリム化待ったなし＾ｑ＾</div>
            </div>
            <div class="row comment">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 serif">
                    <blockquote>「ネフィリムってなるものなのか」とkaeru@PLが聞いてきましたが、その辺の設定もよくわからずです。世界観に多分に妄想が入れられていいよね</blockquote>
                </div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name text-right">aneko@ホクストン</div>
                <div class="col-sm-10 serif">梯子にのりたいな、お札をポケットに何枚か忍ばせて</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name text-right">aneko@ホクストン</div>
                <div class="col-sm-10 serif">「今日は盗んだお金でパっーといこうぜ！！」</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name text-right">aneko@ホクストン</div>
                <div class="col-sm-10 serif">夜の街に消えてくホクストン</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name text-right">evi@ダラス</div>
                <div class="col-sm-10 serif"><b>音楽性の違い</b>で別れた</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">バラバラになりすぎですねぇ・・</div>
            </div>
            <div class="row npc">
                <div class="col-sm-2 name text-right">naki@チェインズ</div>
                <div class="col-sm-10 serif">「んもーーー！はやく乗ってよ！オーダーのヘリ部隊がきちゃうでしょ！！」とヘリの中から叫んでます</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name text-right">evi@ダラス</div>
                <div class="col-sm-10 serif">みんないなくなったので金庫の中身を独り占めしてクリーニング屋に帰ります</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">さすが支店長はちがうぜ！</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">んでは、みなそれぞれ無事に帰還しましたとさ！</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name text-right">aneko@ホクストン</div>
                <div class="col-sm-10 serif">ホクストンの<b>誘いには誰も乗ってくれなかった</b>のであった</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>エピローグ</h2>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        <br>
                        ――― 数日後<br>
                        <br>
                        ここは学園都市内でも知る人ぞ知る喫茶店の名店。<br>
                        <br>
                        そこには例の4人が集まっていた。<br>
                        <br>
                        キスマークをたくさんつけられて、ベェロンベロェンで帰ってきたホクストン。<br>
                        <br>
                        電柱に貼ってあった迷子犬の張り紙を片手に、前にもましてワイルドな風貌で帰ってきたウルフ。<br>
                        <br>
                        2人をA5用紙サイズの骨付き肉で出迎えたダラス。<br>
                        <br>
                        「うぷっ・・、ここ喫茶店だろぉ？肉よりも水くれよー・・・」<br>
                        <br>
                        「だから迷子犬の張り紙でオレを探すなっていってんだろ！」<br>
                        <br>
                        「(査定に反映せねばな・・)メモメモ」<br>
                        <br>
                        それを見ながら誰かと電話するチェインズ。<br>
                        <br>
                        「ああ、そうだ、報酬だったな。お前達が盗んできたその目の前のブツが、今回の報酬だそうだ。」<br>
                        <br>
                        それを聞くとチェインズは受話器を下ろす。<br>
                        <br>
                        まだギャーギャーやってる3人に目をやり、そっと微笑むのであった。<br>
                        <br>
                        けだるい午後の昼下がり、今日も平和な時間が過ぎていく・・・。<br>
                        <br>
                        <br>
                        <br>
                        <div class="text-center">
                            ガーデンオーダーTRPG 単発<br>
                            「給料日」<br>
                            FIN.<br>
                        </div>
                        <br>
                        <br>
                        <br>
                    </blockquote>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><span class="section-icon"></span>感想戦</h2>
                    <p>なんだかんだで2日がかりになりました・・ふー、つきあってくれたevi, aneko, kaeruサンキュ～！</p>
                </div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">以上、今回のセッションは GOOOOOD END!みんなお疲れ様でしたー！</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name text-right">evi@ダラス</div>
                <div class="col-sm-10 serif">おつかれ</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name text-right">aneko@ホクストン</div>
                <div class="col-sm-10 serif">お疲れ様です！</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name text-right">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">おつかれ</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name text-right">aneko@ホクストン</div>
                <div class="col-sm-10 serif">ルール知らなくても意外と楽しめたなあ</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name text-right">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">とりあえずルルブはぽちった、次は自作キャラでいけるかな</div>
            </div>
            <div class="row aneko">
                <div class="col-sm-2 name text-right">aneko@ホクストン</div>
                <div class="col-sm-10 serif">2冊分かうれしいな</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">すごい・・！</div>
            </div>
            <div class="row evi">
                <div class="col-sm-2 name text-right">evi@ダラス</div>
                <div class="col-sm-10 serif">流石だ</div>
            </div>
            <div class="row kaeru">
                <div class="col-sm-2 name text-right">kaeru@ウルフ</div>
                <div class="col-sm-10 serif">おい！</div>
            </div>
            <div class="row gm">
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">お金と時間に余裕があったら、またみんなでやれたらいいな</div>
            </div>
        </section>
    </div>
{% endblock %}