{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/lostroyal-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>※未編集</h2>
                    <p></p>
                </div>
            </div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>おk</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>ではEP.3 「非常なる現実」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>はじまり</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>コピペ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>魔人クリストファーを退け、ボレミアの救出に成功したと思われた一行。しかしそこにはボレミアの姿は見つからなかった。何か腑に落ちないまま岐路に帰っていくさなか、例の行商人が現れた。彼女は会うが否やこう言った。「あなたが探すボレミアなら、あなたが元住んでいた城にいるわ。会いたいのなら向かってみるといいわ」そういうと彼女は去っていった。彼女がそんな事を教えてくれる真意も分からず、仮に彼女の言うことが本当なら、なぜボレミアはそんなところにいるのだろうか。サラ姫の周りが緩やかとおかしくなってきている。そして何か嫌な予感がする。一行はどう動くべきなのか……</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>シリアスになってきた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>魔王城</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>まだボレミア諦めてなかったのか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>姫様唯一の心の在り処ですよ!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>さてここで皆さんに決めていただくことは</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>「ボレミアのいると思われる城にいく」 or 「アヴァロン再興に力を注ぐ」のどちらかになります</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>ほうほう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>詳しくはシート見てね!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>後者で</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ヨリドコロさんのところかなぁ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>命題選択 -> A</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>B</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>Bかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>決まりましたね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>ボレミアがいなくなったら俺がヨリドコロになれそうだしな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>ということなので、とりあえず一行は拠点としている街に戻ることにしました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>結果的に騎士団がヨリドコロになる流れが美しそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>今回はその町に戻るまでのシーンとなります</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>エッサホイサ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>宣誓値っていくつになるんでしたっけ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>前回3とかかいてたけどなんで3なのかわかんない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>一応書き込みました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>宣誓点 0 -> 3(戦友)</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>正義 1 -> 4</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>ありがと</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>1+対立する命題を支持する人数</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>です</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>都合、ベルが3、クヮインとキングが2ってことでいいかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>最初に絆を深めるシーンがあります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>これ以上あげてどうすると思う人はスルーしてもかまいません</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>エンザーと仲良くなるか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>絆はダメージに直結だからなぁ。上げない選択肢がないんだよな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>まあそうなんですよね＞ダメージ直結</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>クヮインがよければ、クヮインとの絆を上げたい。どう?>evi</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>エンザーって誰だっけか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>背景右上にいるひと</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>Ep1のボス</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>イニシ順でいこうかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>じゃあそれでよろしく～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>私のベルへの感情「目玉がある」だけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>ちょっとしたRPしていいですよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>加算方式になったし、まあ増える分には問題なかろうもん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>エンザーにはストロベリーでいいや</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>まあ本来一回しかないイベントだからね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>それ感情じゃなくて感想じゃない?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>感想でもなくない!?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>シーン表ってこれでOK?せっかくだからシーン表振る予定なんだけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>感情でも感想でもなく印象ですねもはや</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>なんか真面目そうな人ですねとか言われるよりきつい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>いや、むしろツッコミ入れれるからそっちの方がいいか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ま、いっか。さらっと</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>choice[遠くまで一望できる丘,ねこだまり,きれいな湖,かつて人が住んでいたであろう小屋,道の駅,寂れた墓標]</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>LostRoyal : (CHOICE[遠くまで一望できる丘,ねこだまり,きれいな湖,かつて人が住んでいたであろう小屋,道の駅,寂れた墓標]) → 遠くまで一望できる丘</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>※丘にて</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>丘ァー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>姫との絆あげる人はなんとアクション表がふれます(今更)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>お得じゃん?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>「ここにいたのかクヮイン」と丘で風に当たってるクヮインに声をかけます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>クヮインは自分だけ龍が幻視できなくて悲しみに暮れています</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>嘘です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>見えるさ、きっと</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>まだ1回しか見てないきがする</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>いいシーンっぽくなった</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>クワインって悲しむ心があったのか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんかセリフある?なければ、ECしちゃう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>失礼な鳥だ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>「ベル卿、私達の決断は姫様のためになっているでしょうか……」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>セリフは……ないね!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>あと今晩の献立はきまりました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>食べるとこなさそう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>姫様にできたての羽毛布団をプレゼント</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>「さぁてなぁ……少なくとも姫が笑っていられれば、オレは満足だ」と困ったような風でごまかしました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なければEC</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>EC</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>LostRoyal : 1D6 => [2] 友情/負目</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>いいね。姫を思う友として、友情を得よう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>ぼくもふりなおそう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>EC</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>LostRoyal : 1D6 => [3] 崇拝/嫌悪</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>なんじゃこりゃ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>崇拝しとくか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あがめよ、さすればすくわれよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>崇拝って感情なのかなあ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>こっちは最初から崇拝なんだよなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>崇拝と嫌悪って表裏なのかってのも疑問はある……</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>次の方どうぞ～(ぱす</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>クヮインはエンザーだっけ?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>そうですね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「(オート戦闘ってすばらしい)」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>舞台表どうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>「(1-3をクリアすれば解放されます)」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>nekoE3</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>LostRoyal :アネコロイヤルEP3(5[5]) → 道の駅</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「部下にお土産買わなきゃ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「墜陽城にいってきましたクッキーでいいかな?」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>「新商品の魔王まんじゅうなんてどうでしょう」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>「朝のニュースで特集やってましたよ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「!!!(びっくりして心臓が止まった)」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>エンザーーーーーーーーーーーーーイヤーーーーー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>墓標が増えるね!</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「そ、そうか。。。イチゴ味?いいね!Thank you!」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>感情表どうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>EC</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>LostRoyal : 1D6 => [6] 守護/欲情</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>私はストロベリーだった</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>悩むね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>たまげたなぁ……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>守護してくれてもいいし欲情してくれてもいい</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>なんか守りたくなった</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>このパーティーの人間関係複雑すぎない?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>今度からエンザー卿にも優しくしてあげよう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「……」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>では次</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>キングくん</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>ふむ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>そういえばボレミアと絆結んで中田tな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>過去回想的な感じで結べる?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>現実に目を向けよう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>じゃあエンザーでいいや</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>ひどい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あら、結べないのか</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「あのペンギン……きもいな」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>nekoE3</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>LostRoyal :アネコロイヤルEP3(2[2]) → ねこだまり</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>結ぶ前から扱いひどくない?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>第一印象がひどい</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「ねこちゅわぁぁぁん!(訛声)」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>「うわ!キモ!!」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>エンザーにつっこみを入れよう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「なっ、貴様いたのか!(赤面)」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>さっきのことは忘れた</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>「ふふふまさか貴様が猫好きとはな」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>感情がコロコロ変わるのはヒロインの特権</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>「だが猫よりも鳥の方がいいぞ」ポージング</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>「か……考えておこう(鳥……?)」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>EC</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>LostRoyal : 1D6 => [3] 崇拝/嫌悪</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>崇めよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>嫌悪しとこう元敵だし</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>ひどし</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>で俺がエンザーをイジメてるところにクワインが止めに来るんだろなあ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>さて、そんなこんなで帰りの旅は続きます。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>ほい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ペンギン君、いじめっ子だったのか</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@エンザー</div><div class='col-sm-10 serif'>行商人のドラゴンは帰っちゃったので徒歩なんです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>連れてってくれよなぁ!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>ペンギンは魔力で殴る</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>ペンギンは裏切り者に厳しい種族なので</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>浮気とかすると群れ全体でリンチにします</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どっかにキングが群生してると思うとSAN値削れる</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>キングは神話の住人だからね</div></div>


        </section>
    </div>
{% endblock %}