RewriteEngine on
RewriteBase /
RewriteRule 20160709.html http://nakigao.webcrow.jp/replay/cloc/5/1/1/ [R=301,L]
RewriteRule 20160710.html http://nakigao.webcrow.jp/replay/cloc/5/1/1/ [R=301,L]
RewriteRule 20160715.html http://nakigao.webcrow.jp/replay/cloc/5/1/1/ [R=301,L]
RewriteRule 20160716.html http://nakigao.webcrow.jp/replay/cloc/5/1/1/ [R=301,L]
RewriteRule 20160723.html http://nakigao.webcrow.jp/replay/cloc/5/1/1/ [R=301,L]
RewriteRule 20160730.html http://nakigao.webcrow.jp/replay/cloc/5/1/1/ [R=301,L]
RewriteRule 20160731.html http://nakigao.webcrow.jp/replay/cloc/5/1/1/ [R=301,L]
RewriteRule 20161216.html http://nakigao.webcrow.jp/replay/cloc/5/2/1/ [R=301,L]
RewriteRule 20161217.html http://nakigao.webcrow.jp/replay/cloc/5/2/1/ [R=301,L]
RewriteRule 20161219.html http://nakigao.webcrow.jp/replay/cloc/5/2/1/ [R=301,L]
RewriteRule 20170107.html http://nakigao.webcrow.jp/replay/cloc/5/2/1/ [R=301,L]
RewriteRule 20170108.html http://nakigao.webcrow.jp/replay/cloc/5/2/1/ [R=301,L]
RewriteRule 20170109.html http://nakigao.webcrow.jp/replay/cloc/5/3/1/ [R=301,L]
