{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>PL達の控室</h2>
                    <p></p>
                </div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>GO久しぶりだね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>何ヶ月ぶりや</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>ほんまやなぁ……ルール自体は簡単だと思うからまぁ、初心者のつもりでやろう</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>とても聡明で可憐なお嬢様キャラを使っていた記憶はある</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>むしろバーサーカーみたいなキャラだった気がする</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>メイン盾です</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>男性だから女性をまもらなきゃ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>たらしじゃないんで</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>先生でしょ？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>そういえば前回栄は、なぜか一人だけボロボロだった気がするな</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>振ってきた委員長をキャッチした記憶はある＜栄</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>リプレイは読み直したが、ルールは朧気だなあ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>どのみちそんなに厳しく裁定するつもりもない(できない)から、まぁルールはスピード感失わない程度でOK！んにゃぴ、始めるよ！</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>おーいえ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>ウィピピー</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>おっし</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>前回の収支報告とレベルアップ</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>ということで、18点渡してあるので、それ使ってレベル上げを行います。ルルブIのP197見ながら申請してください</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>はい</div>
            </div>
            <div class="row system">
                <div class='col-sm-2 name'>system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        =====藤堂　栄　成長報告=====<br>
                        - 10点 治療を習得。応急手当判定に+20%、回復アイテムの効果2倍、回復系特性能力の回復量アップ。<br>
                        - 5点 バリスティックシールド常備化<br>
                        --------------------<br>
                        残り経験点 3点<br>
                        <br>
                        バリスティックシールドの獲得に手番を浪費するのもなんなので、常備化した。<br>
                        あと、ホモじゃないですけど、保健の美ヶ原先生にイロイロ教えてもらって【治療】の特技を獲得した。<br>
                        《†サイオニックヒーリング》が[ランク+2]=7ポイントまで回復できるので、かなり倒れにくくなったぞ。
                    </blockquote>
                </div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>早いな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>かなり昔にレベルアップ処理してたから、値の確認だけだった</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>栄君おっけ～</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>18だと意外とできること少ないね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>そうなんだよなぁ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>まぁ、取っておくってのもありだよね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>30点あれば……</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>自分はまず服を常備化します</div>
            </div>
            <div class="row system">
                <div class='col-sm-2 name'>system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        =====豺虎　鶫　成長報告=====<br>
                        - 10点 特技「狙撃」取得。応急手当判定に+20%、回復アイテムの効果2倍、回復系特性能力の回復量アップ。<br>
                        - 3点 レジスティブジャケット常備化<br>
                        - 5点 銃器を5%増加<br>
                        --------------------<br>
                        残り経験点 0点
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>使い切ったなぁ＾ｑ＾；　つぐみおっけ～</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>いきなり難易度上がらないよね……？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>うん、たぶんランク5向けのシナリオになってる</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>アンコさんは一応近接キャラなんですね</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>買ってもらったものって常備化しないといけないんでしたっけ？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>常備化しない場合は持ち物から無くす</div>
            </div>
            <div class="row system">
                <div class='col-sm-2 name'>system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        =====鶯　餡子　成長報告=====<br>
                        - 15点 レーザーブレード常備化<br>
                        --------------------<br>
                        残り経験点 3点
                    </blockquote>
                </div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>(レーザーブレード)高い！！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>二宮金次郎像に刺さってたからな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>まぁ、実は上級ルルブによると別に持ってなくても常備化できるらしいけどね(小声)</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>我々基本に忠実なんで</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>以上です</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>トレーラー</h2>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        新入部員歓迎会も落ち着いて、ほんのり夏の香りが近づいてきた今日この頃……<br>
                        <br>
                        スピーカーをもった初老の男性がグラウンドの中央にある体操台に上る<br>
                        <br>
                        「あー、今日は待ちに待ったマラソン大会の日です。皆さん元気に最後までゴールしてください。そもそもこのマラソン大会は……」<br>
                        <br>
                        ……男性の説明は、いつものように長くなりそうだった<br>
                        <br>
                        すみわたる空、涼し気な空気、今日は本当にいい天気だ<br>
                        <br>
                        そう、今日は私立魔輝銀会学園高等部の恒例マラソン大会の日なのだ<br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="text-center">
                            ガーデンオーダーTRPG シリーズ「ゼロ特学園生活！」<br>
                            第2話「栄光のマラソン大会」<br>
                            その絆、ゼロをも凌駕し、平和をつかめ！
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>と、いうわけで、マラソン大会をしてもらいます！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>私の活躍がすくなそうなイベントだ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>先生はペースメーカーでしょ？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>最後尾こわい</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>飛んでもいいのかな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>ふふふ、飛んでもいいですよ、ええ、飛んでもね</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>飛んだら叩き落すわ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>餡子が過激すぎる</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>ちなみに、ここの学園設定とかなんとなく覚えてる？</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>変態異端児が集まったクラス……その中にただ一人のまじめな聖女餡子</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>蛆虫以下の生徒が隔離されてる</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>危険な生徒の豚箱</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>大丈夫そうだね、じゃあオープニングシーンにいこうか～</div>
            </div>
        </section>
    </div>
{% endblock %}