{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-sukamomo.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div class="container">
        <section>
            <div class="row warning">
                <div class="col-sm-12">
                    <p>WARNING: このリプレイは、同人シナリオ「<a href="http://seesaawiki.jp/nokosaretashuki/d/%a5%cf%a5%ed%a1%bc%a1%a2%a5%f4%a5%a3%a1%bc%a5%bf">ハロー、ヴィータ</a>」を使用しています。ネタバレが苦手、またはプレイ予定の方は閲覧をお控えください。</p>
                </div>
            </div>
        </section>
    </div>
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>PL達の控室</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>sukamomo@KP</div>
                <div class='col-sm-10 serif'>こんばんはー</div>
            </div>
            <div class='row xino'>
                <div class='col-sm-2 name'>xino@静谷藤汰</div>
                <div class='col-sm-10 serif'>こんばんは</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@きりこ</div>
                <div class='col-sm-10 serif'>こんばんはー</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>sukamomo@KP</div>
                <div class='col-sm-10 serif'>メイティにも書きましたが、きりちゃんと藤汰くんの関係性を考えてから始めたいと思います。その設定が固まって質問や疑問がなければ導入に入りますね～</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>sukamomo@KP</div>
                <div class='col-sm-10 serif'>藤汰くん久しぶりだ～。今回は横浜に観光旅行に来ている設定なので、みけちゃんは実家かどこかへ預けてくださいね</div>
            </div>
            <div class="row system">
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">静谷藤汰(しずたに とうた)</p>
                        ぶっきらぼうな口調の26歳、低身長男子。<br/>
                        飼い猫のミケを溺愛している。<br/>
                        知性派。<br/>
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>sukamomo@KP</div>
                <div class='col-sm-10 serif'>さて、関係性はどうしましょう？</div>
            </div>
            <div class='row xino'>
                <div class='col-sm-2 name'>xino@静谷藤汰</div>
                <div class='col-sm-10 serif'>幼馴染み？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>sukamomo@KP</div>
                <div class='col-sm-10 serif'>Eviさんはそんなイメージみたいですけど、xinoさんはそれで大丈夫？</div>
            </div>
            <div class='row xino'>
                <div class='col-sm-2 name'>xino@静谷藤汰</div>
                <div class='col-sm-10 serif'>いいですよ。親同士が仲良かったとか、そんな感じかな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>sukamomo@KP</div>
                <div class='col-sm-10 serif'>OK！</div>
            </div>
            <div class='row xino'>
                <div class='col-sm-2 name'>xino@静谷藤汰</div>
                <div class='col-sm-10 serif'>圧倒的身長差</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>sukamomo@KP</div>
                <div class='col-sm-10 serif'>2人で横浜へ旅行するくらい仲が良いなんて・・・ちょっとこっちがドキドキしちゃいます</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@きりこ</div>
                <div class='col-sm-10 serif'>横浜くらいなら普通！</div>
            </div>
            <div class="row system">
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">鏡 切子(かがみ きりこ)</p>
                        脳筋の26歳女子。なおINTは高め。<br/>
                        筋力も敏捷も低いがSIZ18によりダメボが舞い降りたのでパルクールランナーになった。<br/>
                        名前も技能もミラーズエッジ的なアレで塗り固められている。<br/>
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>sukamomo@KP</div>
                <div class='col-sm-10 serif'>関係性も固まったので、質問や疑問などがなければさっそく始めたいと思うんですが、何かありますか？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@きりこ</div>
                <div class='col-sm-10 serif'>ないです</div>
            </div>
            <div class='row xino'>
                <div class='col-sm-2 name'>xino@静谷藤汰</div>
                <div class='col-sm-10 serif'>大丈夫です</div>
            </div>
        </section>
    </div>
{% endblock %}
