{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-sukamomo.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div class="container">
        <section>
            <div class="row warning">
                <div class="col-sm-12">
                    <p>WARNING: このリプレイは、同人シナリオ「<a href="http://seesaawiki.jp/nokosaretashuki/d/%a5%cf%a5%ed%a1%bc%a1%a2%a5%f4%a5%a3%a1%bc%a5%bf">ハロー、ヴィータ</a>」を使用しています。ネタバレが苦手、またはプレイ予定の方は閲覧をお控えください。</p>
                </div>
            </div>
        </section>
    </div>
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>PL達の控室</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>こんばんはー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>お疲れ様です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>メイティにも書きましたが、きちちゃんと藤汰くんの関係性を考えてから始めたいと思います</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>Eviさんは幼馴染のようなイメージだそうですが、xinoさんはどうですか？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>その設定が固まって質問や疑問がなければ導入に入りますね～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>こんばんはー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>お疲れ様です</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>こんばんは</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>こんばんはー</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>先日はすみませんでした！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>【トゥーリと星の民】</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>いえー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>その分今日を楽しみに出来たので……ポジティブに考えよう！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>とりあえずコマの設定と関係性の提示かな</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>てすてす</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>藤汰くん久しぶりだ～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>今回は横浜に観光旅行に来ている設定なので、みけちゃんは実家かどこかへ預けてくださいね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗｗ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>大丈夫かな…</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ありゃ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>回線の調子悪いとかですかねー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>メモ！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗｗｗ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>大丈夫？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>最初からクライマックスになってる</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>あーあー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>藤汰くん久しぶりだから緊張してるんかな</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>入り直したらチャットウィンドウが消えてて「？？？」ってなってた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗｗ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>表示からいつでも出せるから大丈夫よ！</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>てすてす</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>1d100&lt;=85 アイデア    Cthulhu : (1D100&lt;=85) → 86 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>幸先悪い…</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>準備OK</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>関係性はどうしましょう</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>ごめんなさい、待たせた！</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>幼馴染み？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>Eviさんはそんなイメージみたいですけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>xinoさんはそれで大丈夫？</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>いいですよ。親同士が仲良かったとか、そんな感じかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>OK！</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>圧倒的身長差</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>2人で横浜へ旅行するくらい仲が良いなんて…</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ちょっとこっちがドキドキしちゃいます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>関係性も固まったので、質問や疑問などがなければさっそく始めたいと思うんですが</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>何かありますか？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>横浜くらいなら普通！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ないです</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>大丈夫です</div></div>
        </section>
    </div>
{% endblock %}