{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-sukamomo.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div class="container">
        <section>
            <div class="row warning">
                <div class="col-sm-12">
                    <p>WARNING: このリプレイは、同人シナリオ「<a href="http://seesaawiki.jp/nokosaretashuki/d/%a5%cf%a5%ed%a1%bc%a1%a2%a5%f4%a5%a3%a1%bc%a5%bf">ハロー、ヴィータ</a>」を使用しています。ネタバレが苦手、またはプレイ予定の方は閲覧をお控えください。</p>
                </div>
            </div>
        </section>
    </div>
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>探索Aパート</h2>
                    <p>アイキャッチなどをはさみつつ・・・</p>
                </div>
            </div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「…私、いろんなところへ行ってみたい…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「お二人はこれから、どうするんですか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「そもそも、観光でこちらへ来られたんですか？それとも、近くにお住まいなんですか？」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「さあ？　特に予定はないけど」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「ふむ、藤汰くんが華麗にエスコートしてくれるであろう！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「藤汰さんのエスコート、ですか！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>きらきらした瞳で見つめてきます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「乙女だからねー、我々！乙女だから！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>本当に探索者の自由行動です！</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「はぁ!?　おまえ勝手に……くっ、わかったよ。桐子について行って迷うよりマシだ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>藤汰のターン！</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「わぁ～、すっごく楽しみです！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>乙女発言は完全に無視。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>本当に自由なんで…</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「ここからだと中華街が近いね～。お昼食べたっけ？」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>動物園と水族館、どっちがいい？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>水はこわい・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>PLで話し合います？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>陸がいい・・・</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「まだだな。先になにか食っていくか」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>時間いる？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>あ、大丈夫ですね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「関羽像に登るから写真撮ってね！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「お昼は、中華街でとるのですか？」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「登るな」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「ああ。……人工知能って何食べるんだ？　電気か？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「中華街で美味しいと言われているお店を検索中………」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「ふふふ、私は見ているだけで満足なのです」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>ナビだ……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「鶴見とかもいいんだけどねぇ～。あれは夜かな！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「何件かありました！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>食べ物の画像入れたら、食べたりできないのかなと思ったけど、さすがに情報だけじゃ無理か。</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「へぇ、そんなこともできるのか」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ヘイSiri</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>中華街　店</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>オッケーグーグル！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>みたいな</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「この店がいいんじゃないか？　そんなに遠くねーし、値段もほどほどだ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「はい！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>じゃみなとみらい線で２０分の旅～</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>とかもっともらしいこと言いつつ、家族連れの多い店を選ぶ。＝子どもでも食べられる程度の辛さのものがある</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「このお店は、焼売が美味しいと噂になっていますね！ご案内します！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>♪）横浜の車窓から</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「やっぱり都会は公共交通機関が安いな。本数も多いし」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>いや～・・・ケバいな！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「５分待てば次が来るからねぇ～」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「蒸された焼売から漂う香が食欲をそそり、割れば肉汁が溢れだす、やみつきだ！との評価がありますね」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>真冬の田布施駅で４０分待った苦痛は忘れない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ヴィータは飯テロしてきます</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>こ、これから食べられるからいいんだよ！＜テロ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「小籠包派なんだけどなぁ～」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「どっちも頼めばいいだろ。行くぞ」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>藤汰ははらぺこなのだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ヴィータの為になるかな～とおもって録画モードであっちこっち撮りながら着いていこう</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>PLへの飯テロはよせ！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗｗ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「中華街、ってこんなところなんですね～！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「私、初めて来たのでドキドキします！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「匂いってわかるの？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「色や湯気、その他の情報からどのような匂いがするかは想像することが出来ます」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「実際に、私が嗅ぐことはできませんが…」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「同情したいところだけど・・・中華街に至っては羨ましい限りだ！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>パソコンにデータとして保存できる情報だけだな。光と音と、文字数字くらいか。</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「でも、なんだか良い香りが漂っている感じがします！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「ここへいらっしゃっているみなさん、なんだか幸せそうですもの」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>美味しいものは正義だ。</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「私も早くやみつきになる焼売を見てみたいです！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「わかｋったから、案内頼むぜ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「はい！お任せください！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>テクテク</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>入り組んでいましたが、ヴィータの案内でなんとか着きました！やったね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「今か今かと待ちきれない気持ちが、今なら私にも分かる気がします！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「まったくな。席、空いてるといいが」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>幸運で振ってみる？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「たのもぉ～」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>半々くらいだからやめとく</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@料理人</div><div class='col-sm-10 serif'>「アイヤー！いらっしゃいませアルね！」（適当）</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「2人」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@料理人</div><div class='col-sm-10 serif'>「適当に、座ってヨロシ！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>PLが「3人」と言いかけた（</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗｗｗｗｗ</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>座った。</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>メニュー開くぞ。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>なに頼みます？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>お好きなのどうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>そのメニュー表は冒涜的な装丁をされていなかった</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「…ヴィータも入れたら、3人です…」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「中華のメニューは漢字ばっかりでよくわからねーな」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「翻訳しますか？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「おかゆはやめてくれさい」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「お」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「ヴィータ、説明頼む」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「はい」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>無事に辛くない料理がたのめた。</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>シューマイと小龍包、チャーハン、ごま団子</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>デザートは杏仁豆腐だ！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「あとこの麻婆豆腐の8辛を」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「藤汰さんは、辛いものがお嫌いですか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@料理人</div><div class='col-sm-10 serif'>「アイヤー！お嬢ちゃん、泣くんじゃないアルよ！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「味覚が繊細なんだよ。どっかの桐子とは違って」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「これが、焼売…小龍包…チャーハン…ごま団子…杏仁豆腐……」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「認識しました！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「中華料理って大皿ででてくるのをみんなで突くんだよ♡」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「つやつやしていて、とっても美味しそうです」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗｗ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>藤汰くんの運命やいかに</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「人の好きなものを取るほど無粋じゃない。一人で食っていいぞ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「きりこさんは、辛いのが好きなんですか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「麻婆豆腐がとっても赤いですね…！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「藤汰ちゃんに男らしさが足りないだけなのだよ、ヴィータ。」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>うめ　うめ</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「おい、桐子。おまえのせいでヴィータが麻婆豆腐についてとんでもない誤認をしてるぞ。どうするんだ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「コレは大人用だから勘違いしないでねヴィータ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「この麻婆豆腐には…キャロライナ・リーパーやブート・ジョロキアなどの香辛料が入っていますね…」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>おもっくそ辛いの持ってきた</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「麻婆豆腐を検索すると、きりこさんが頼んだもの以外に茶色のものもありますね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「こちらには香辛料があまり入っていないみたいですね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「赤すぎる麻婆豆腐は普通ではない……認識しました！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「茶色？　ちゃんとひき肉の入が見えるやつだな。それが家庭的な麻婆だ」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>素直な子だよぉ。</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「そうなのですね！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>くそー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>負けました</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「きりこさんは辛いのが平気なのですね…逆に、藤汰さんは好きではない…甘いものが好き…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「凸凹していて、とっても面白いですよね！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>身長のことならしばくところだった＜凹凸</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「そのファジーな表現、ナイスだね！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「とっても辛い麻婆豆腐も、特定の方には美味しいと感じている……認識しました！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ヴィータにいいね！します</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>あくまで性格とか味覚のことをだね…</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>と、こんな感じで楽しくおしゃべりをいたしました～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>他にRPしたいことがなければ、次の目的地行きたいな～ってヴィータが言います</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>いこういこう</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>お支払いは藤汰がしておこう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>昼食食べ終わって、14時くらいなのかな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「…お二人でお食事したのに、藤汰さんが払われるんですか？」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「俺はちゃんと社会人だからな」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「男女　食事　男性が払う………検索中……」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「…まぁ！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「いやん」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「藤汰さんは、ジェントルマンに分類される男性との結果です」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「女性から好意を寄せられる可能性が高くなる傾向、とあります」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「ま、外面良く売っておいて損はないよな」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「今滑り落ちたね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「ふふふ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「今のは、照れ隠し、でしょうか？……状況を分析中……」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「いやー素かもしれない」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>これは「皮肉」というものだよ。、ヴィータちゃん</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「なるほど、いろいろあるのですね…！勉強になります」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>さて、お次はどうしましょう</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「さて、次はどこに行く?」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ヴィータちゃんがどんどん天使に・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「次はどこへ行かれるんですか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「どこに行っても、楽しみです！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>鼻歌歌いながらきりちゃんと藤汰くんのお話に混じる感じですかね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「デートといえば・・・横須賀？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「やはり、これは”デート”なのですか…？」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「なら、デートじゃないから横須賀以外だな」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「こ、混乱してきちゃいました…」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「それだとカップヌードルミュージアムとかになっちゃうよ」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「カップ麺なんて見慣れてるだろ！　それより、動物園行こうぜ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「あ、でも赤レンガ倉庫もすぐそばにあるよ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「動物園もいいねぇ～」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「動物園、ですか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「先程の猫もいるのでしょうか…」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「むしろ猫の上位互換が・・・」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「いや、猫はいないだろうけど……」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「そうなのですか」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「動物園…」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>検索してはなるほどなるほどって頷いてるかな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「赤レンガ倉庫…動物園……」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「ヴィータはイキモノがみたいのかなー、建物がみたいのかなー」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「赤レンガって、近く？　に観覧車があるとこだろ。暗くなってからのほうがいいんじゃねーか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「両方、見てみたいです！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>kore</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>両方男性シナリオだとけっこうアレな絵面でしたね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>女性でよかった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>観覧車近いです！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「んー、じゃあ動物園いこ！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「動物園…！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「とっても、楽しみです！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>おや、ミッキーマウスマーチが聞こえてきたぞ・・・？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「この近辺にある動物園を検索中………」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「ありました！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「公共交通機関を使用して、20分のところにあるそうです」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「よし、行くぞ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「こちらの動物園へ、向かいますか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「はい！ご案内いたします！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>1d4000 suica残高</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>1d4000</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>く</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>なんでもないです</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>ｗｗｗｗ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>どれくらいまで大丈夫だったかなー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>上限がたしか…</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>上限は２万ですねえ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>あ、どどんとふのダイスです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>あー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>10d400    Cthulhu : (10D400) → 1812[248,48,178,220,151,315,371,46,189,46] → 1812</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>１０００が区切りっぽいな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>なるほど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>残り１８１２円！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗｗ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>セブンでおにぎりとお茶買ったら１５００円。。。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>お昼ご飯食べたのに…</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>いくつ食べる気だ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>肉まんは・・・この時期はない・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>かなしい・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「わぁ…！乗る場所が違えば、人もこんなに違うんですね…！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「たくさんいます！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「横浜は外国人も多いからねぇ～」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「あつい……」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「公共交通機関にもいろいろな種類があるのですね…！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>良く考えたら、屋外を選ぶなんて自殺行為では</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「バス、電車、地下鉄、船……」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「タクシィーなんてのもありますねぇ、藤汰の兄貴！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「いろんな方が、いろいろな顔をして、…言葉では言い合わらせない位、不思議な感覚がします！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「"公共交通機関"って言ってるだろ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「タクシィー、ですか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「検索中………初乗りは、800円と高めです」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「高いな！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>我が知ってるのはせいぜい600円じゃよ……</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「ヴィータの案内では、乗継をしても２０分程度しかかからないので、交通公共機関で行くのが良いと判断します」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>領収書のでないタクシーなんて始めていく場所に使う以外ないんじゃよ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>みたいな茶番を言いつつ、動物園へ向かいます！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>これはどちらかというとサファリパーク</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>放牧みたいな動物園</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗｗｗｗｗｗｗ</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>好き</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>動物園なんです（）</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「あとは、この道をまっすぐ進めば目的地です」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「わかった」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>さて、入場券を買わねば。</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「2枚」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>好き</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「動物園の定番を検索すると…ライオン、トラ、猿…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「今から楽しみです！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「…また、藤汰さんが支払うのですか？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「それは猫と猫と人だよ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「検索中………」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「え？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「きりこさんの藤汰さんへの好感度が、高くなっている傾向にあります！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「猫と猫と人なのですか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ニコニコ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>きりちゃんの言葉に疑問符浮かべて悩んでる感じかな</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「そんなもん、あとで調べればすぐわかる。早く行くぞ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「純粋な疑問には検索かけないんだねぇ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「よいぞよいぞ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「分かりました！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>どちらから回ろうか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>最初にコウモリの檻</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>前座はシマウマと決まっておる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗ</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>それどこのzoo</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>喋る蝙蝠ですかね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>休憩室のzoo</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「あの、白黒模様の馬がシマウマですね！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「あれでも馬だから、走ると早いらしいな」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「すぐパニック起こすから乗れないけどね～」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「シマウマは草食動物で…、縞は捕食動物から身を隠すため…、なるほど…！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「あれ何に擬態してるつもりなんだろうね？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「馬よりロバに近い、と書かれていますね…」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>ライオンはちょっと奥にいるだろうから、サルのほうが先かな？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「これが猿ですか！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>リスザルとかだったら檻のなか入れるイメージ</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>たぶん、一番暑い時間だなぁ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「先程言われていた猿が人って言うのは、」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「人類の先祖は猿、と言われるからでしょうか」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「みなさん、ちょっとだるっとしていますね…」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「うむー」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「気温が30℃近いからでしょうか…」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「うんち投げてくるから気をつけるのだぞ。投げられるんも避けるんもあたしだけど！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「威嚇行動、ですか！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「きりこさん！ぜひ近づいてみてください！見たいです！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>きらきらー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「ほほう、では猿とあたしの真剣勝負だ！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>猿の投擲ですか？ｗｗｗ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>こい！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>猿　1D100＜＝50　投擲</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>ヴィータは藤汰が預かっておこう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>間違えた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>1D100&lt;=50 投擲    Cthulhu : (1D100&lt;=50) → 17 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>1d100&lt;=89    Cthulhu : (1D100&lt;=89) → 61 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>避けました！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ひゅっ！</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「しっかり取っておいてやるからな」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>猿は悔しがってます</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「あ、避けやがった」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「きりこさん！すごいです～！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「なるほど…あのようにして威嚇するのですね…！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「あのように野蛮なのだ。男には気をつけたまえ！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「人間の男性も投げるのですか？」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「言ってることが支離滅裂だな」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「？」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>藤汰くんのことじっと見てるよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「投げるぞ—。藤汰とかすごいからな。」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗｗｗ</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「あるわけないだろ。ヴィータ、聞いたこと全て真に受けてたら大変だぞ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「わ、分かりました…！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「検索だけでは得られない情報があるのかと思ってました…」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「今のはあれ、最初に言ったジョークってやつね。人間の機微は複雑。」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「な、なるほど」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「検索結果にも注意だ。メディアリテラシーというものがある。……まあ、人工知能に関していえば、間違った情報を与える側が100%悪い」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「ジョーク…、私にはまだ難しいかもしれません…」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>きりちゃんをじとっと見ておく。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>猿ちゃんをじっと見ておく</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>おろおろ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「わ、わたし！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「冗談も、きっと理解してみせます！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「それはそれで寂しいな～」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>頑張るポーズ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「え！そうなのですか！？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「人の気持ちも、なかなか難しいです…」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>さてお次はどうしましょう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ラスボスはライオン・・・！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ライオン！</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>ま、暑いとへばってるだろうけどねｗ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「…これがライオン、ですか！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「見よ！猫であろう！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「あれだけ立派なファーを巻いてりゃあ暑いわな」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「百獣の王、と言われているだけあって貫禄がありますが…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「日陰に横たわって寝そべっている姿は、なんとも言えませんね…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「ネコ科、だからですかね」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「ああしてると、うちのミケとなんら変わりねーな」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「でも、藤汰さんのミケさんとは違うのですね…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「そうなのですか？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「子猫ならぬ子ライオンのうちはかわいいらしいよ～」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「そりゃあ、ミケのほうが百倍かわいい」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「ミケさんも、お家で寝そべっているのでしょうか…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「ふふふ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「検索しなくても分かります」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「これは、親ばかというものですね！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「あとでライオンの狩りの動画でも見せてやれよ、桐子」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「そんな野蛮なのはないです！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「狩り、ですか！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「誰が親バカだ！　ったく、余計なことは知ってるんだな……」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「食物連鎖の頂点に君臨する姿が、見られるのでしょうか…！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「野蛮？　自然の摂理、食物連鎖だろうが」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「私も、藤汰さんやきりこさんとお話をして成長しているのです！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「ヴィータちゃんの情操教育によろしくないでしょうが！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「情操教育、ですか」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「これは…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「お二人を見ていると、どう子育てをするか意見が分かれる夫婦のようだ、と感じました」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「完全無菌の情操なんて、張りぼてもいいところだぜ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「正反対なのに、こうやって仲が良いのはとっても面白いことですね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「見ててぽかぽかしますね」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「ふうッ……!?　うえぇ、冗談でもやめろ！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「藤汰さん、鳥肌立ってます…」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「ったく、何で俺の周りには頭がぽわぽわしたやつしかいねーんだ……」ぶつぶつ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ニヨニヨしてます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>面白く談笑して、動物園堪能して、徐々に夜になっていくのです…</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>動物園で他にしたいことやRPありますか？なければ、夜の行動へ移りたいかなって思います～</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>ふれあいコーナーで思う存分もふもふしてやったぜ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>どうぞ～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「藤汰、こんなに歩き回って大丈夫？」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ふれあいコーナーはいいなーって要望の眼差しかな、ヴィータは…</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>そういえばぶっ続けでやってますけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>大丈夫ですか？時間とか</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>展示会は何時までなんだろう</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>0時までなら大丈夫</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>キリがいいなら、ここで切ってもいい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ひっそりとトイレとかいっていた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>続けても切っても大丈夫ですよ　逆にKPが大丈夫か気になるｗ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>展示会は16時くらいまでかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>私は全然大丈夫です～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>私、時間の管理とかへたっぴなので、考える時間欲しいとか休憩時間欲しいとかおっしゃってくださったほうが助かります～</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>うぃ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>このシナリオはRPメインなので、夜行動もRPたくさんしたら時間かかるし、そんななかったら時間かからないよとしか言えませぬ～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>でも3人でRPしたら楽しいから時間かかっちゃうかな？</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「さすがに閉館には間に合わないか。明日の朝、開館してすぐに戻るしかねーな」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>動物園もさりげなく３０分かかってるからギリギリかな？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「…明日の朝にはお別れしちゃうんですか？」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>うーん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>次する行動は赤レンガで決まりなんですよね？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>でも道中RPとか入ったらやっぱり長いと思うんで</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>今日は動物園で終了したいと思います</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>はーい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>次回、赤レンガに行くよ～ってところから再開ですね～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ttp://www.yokohama-akarenga.jp/event/index#plaza473</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>たのしそう・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>赤レンガ行くよになるまでのRPもうちょっとだけさせてね！ちょっとここはごめんね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「わたし…」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ほい</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「一晩空けるだけでもけっこうリスクなんだぜ？　見回りだってあるだろうし」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「明日の朝は、まだ帰りたくないです！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「閑古鳥鳴いてるところの警備員さんなんか、真面目に仕事してないの知ってます…」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「お父さん心配しちゃうよ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「人工知能についても理解されてないので、パソコンさえあればとりあえずは問題ありません」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「い、いやです！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>真面目に取り組まないから、余計に閑古鳥なのでは？ｗ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>反抗期の娘みたいにきりちゃんの携帯電話に引っ込むかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>画面には出てきてないけど、「満足するまでは帰りたくないのです…」って言ってる</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「ったく、子どもかよ……仕方ねぇな」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>藤汰くんの言葉に、チラーって出て来るかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「拗ねちゃった～」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「す、拗ねてないです…！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「明日の夕方には…、明日の夕方には、帰りますから…！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「お、お願いします…」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>うるうるうる～って画面端から覗いてくる</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「はぁー。わかった。約束だぞ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「…！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「はい！約束、です」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>そういって、画面に向かって指切りしてる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「戻ってくれないと私達が博士に怒られちゃうかもだしね～」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>じゃあカウンター指切りを仕掛ける</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「わ、私がお二人を怒らないように博士に言います！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「！？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>しかし　こゆびを　がめんに　ぶつけてしまった！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>いたい・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「わぁ～！？」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>笑ってやろう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「きりこさん、大丈夫ですか！？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「うむ！そうやってわちゃわちゃしながら明日も過ごそうね！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ひとしきり笑って、約束して嬉しくて…って感じで、次回、夜行動となります～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>はーい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>赤レンガ行く道中から始める感じですかね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ついてからでも良いですけど</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>着いたところからでもいいんじゃないすかね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>はいー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>じゃあ赤レンガついたぞーから始めたいと思います</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>今日はお疲れ様でした～</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>うぃ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>木曜日ちょっと予定があるので明日は少し早めに終わってもらえるとありがたいです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>２３時くらい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>分かりました～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>木曜日（１３日）自体は大丈夫なので</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>それではまた明日の21時にこの部屋でお願いします～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>分かりました！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>よろしくお願いします</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>はい～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>お疲れ様でした～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>おつかれさまでした～</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>お疲れさまでした</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ではまたー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>おやすみなさいー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ログとりわすれたなぁ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>こんばんはー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>メモ取り忘れた情報はおっしゃってくだされば出すのでお気になさらず（？）</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>赤レンガ倉庫についた所から再開です！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>特になにもなければそこから始まります～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>こんばんはー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>【トゥーリと星の民】</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>ちょっと遅くなります　もうしわけない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>こんばんは</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>こんばんはー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>特に質問や疑問や言いたいことなかったら開始したいと思うんですけど大丈夫ですかね</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>おｋ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>はいー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>Eviさんは反応遅いだけで、いらっしゃいますよね？多分？？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>とりあえず</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>『ハロー、ヴィータ』2日目　開始です！今夜もよろしくお願いします～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>【仲間たち】</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>とりあえずあらすじから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>人工知能展を見に来たきりちゃんと藤汰くん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>そこでとっても魅力的なヴィータと出会い、彼女にお願いされて一緒に外の世界へ探検に行くのだった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>昨日の続き、赤レンガ倉庫に観光に来たところから開始です！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>周りはすっかり闇に包まれて、ちょっぴり肌寒くなった感じですかね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ここ見終わったら、ホテルに戻らなきゃな～って感じに思うかな！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>観光だから多分ホテルだよね？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>とりあえず、自由行動どうぞ！って感じです。</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>ホテルだろうなー</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「わぁ～！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「本当に、夜って周りが暗くなるんですね…！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「夜に来て正解だったな」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「建物がライトアップされていて、…とっても素敵です…！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「そうだな。涼しいし」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「…あ！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「あ？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「そういえば、お二人は夕食を召し上がっていないようですが…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「ここでは、食事も出来るそうですよ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「後でお店を回って、また料理を見せてください！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「そうだな」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「いきましょー」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>そうやってわちゃわちゃ話して、3名は楽しみます…</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>RPすることしかないんですけど、お店でわちゃわちゃしたいとかまだRPしたりないとかあります？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>セルフ飯テロは昨日のダメージがあるから・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>本当にRPメインなんで、イベント起こるまで観光するしかないんですよね！（）</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>あ～</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>自衛の精神が足りん。我はさっきロールケーキとチーズケーキ食べたぞ。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ｗｗｗｗｗｗｗｗｗ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>写真は載せないので夕食のところを軽くRPしますか～</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「…ライトアップ、とっても綺麗でしたね…！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「近くに海も見えて…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「まるで宝石がきらきら輝いてるみたいでした！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「…ところで、藤汰さんときりこさん。お夕食のリクエストはありますか？」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「和食」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「よろしければ、私が美味しいところをピックアップいたします！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「ゲテモノ系・・・？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「和食…和かふぇ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「和カフェならあるようです」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「げ、げてもの…？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「検索結果、ゲテモノ料理店は0ですね…」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「カフェか。それなりに腹が膨れるものはあるか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「和カフェでよろしければ、案内いたします」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「丼とかあるんじゃないかな～」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「はい！好評のようですね」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「いいな」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「それでは、ご案内いたします！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>お店はそれほど混んでいないので、スムーズに入れます</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@店員</div><div class='col-sm-10 serif'>「いらっしゃいませ！お決まりでしょうか？」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>五穀米とかあるわー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「一番人気のやつをくださーい」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「茶わん蒸し」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@店員</div><div class='col-sm-10 serif'>「…ご注文は以上でよろしいでしょうか？」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>一番人気のやつは定食ですね!定食！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>茶わん蒸し1個の藤汰くん…？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>わりとガッツリだった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>夕食ですから</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>米とみそ汁も食べるよ！　あと魚かな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>じゃあ定食ですね定食！そーゆー感じで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>一汁三菜で定食である</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>藤汰くん→白米、味噌汁、鱚とキャベツのおろし煮、茶わん蒸し</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>きりちゃん→五穀米、豚汁、出し巻き卵明太子、チキンカツ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>が運ばれてきました</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>余は満足じゃ</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>日本人の心であるな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>世界を見たいとはしゃぐヴィータに合わせて歩き続けたため、ご飯を見て思わずお腹から音が鳴るかね～</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「わぁ～！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「お昼は中華、夕食は和食…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「こっちもとっても美味しそうですね！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「ん。うまい」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「…なんだか、私までお腹が空いてきちゃう感覚がしますよ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>チキンカツは和食なのかな・・・？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>お店のメニューそのまま書いたんで、和食で間違いないです（？）</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>口に運ぶたびに旨みが広がり、思わず微笑むような美味！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>探索者たちはお夕飯を堪能しました…</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「きりこさん、まるでほっぺたが落ちている！って感じですね」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「ほっほっほ、分かるかね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「お昼の時も思いましたが、きりこさんは食べるのが好きなのですね！」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>茶わん蒸しうまままま</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>もくもく</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ハムスターかな…</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>観光し、夕食も食べたので夜闇も深くなります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>そろそろホテルに戻らなきゃいかんな～って感じですね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「…さっきより、周りが暗くなってる…？」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「そりゃあ、夜だからな」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>「さすがに疲れたね～」</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「いい時間だな。そろそろホテルに向かうか」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「私も、ちょっとはしゃぎすぎちゃいました…」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「それなら、本日最後のご案内をしますね！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ってにこにこ笑って、探索者は無事にホテルに着きましたとさ…</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>観光1日目が終了するんですけど、お風呂や就寝以外でなにかしたいことありますか？</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>予約は抜かりなく取ってあるぜ！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>もちろん！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>ここで幸運振らして野宿とかちょっと嫌すぎですよ…</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>特別なんかあるかな～</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>何もなければお風呂入って普通に就寝になります</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@きりこ</div><div class='col-sm-10 serif'>思いつかないから寝よう！</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>寝るー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>はいー</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「藤汰さん、きりこさん。本日はありがとうございました！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「それでは、おやすみなさいませ…」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>この少女と出会い、探索者は1日かけて歩き続けた。</div></div>
            <div class='row xino'><div class='col-sm-2 name'>xino@静谷藤汰</div><div class='col-sm-10 serif'>「おう。明日は8時に朝食だ。ヴィータ、しっかり桐子のこと起こしてくれよ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>sukamomo@ヴィータ</div><div class='col-sm-10 serif'>「分かりました！スヌーズもかけますね！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>sukamomo@KP</div><div class='col-sm-10 serif'>それなりに疲労が溜まっていた探索者は、夜更かしすることなく眠りにつくだろう…</div></div>
        </section>
    </div>
{% endblock %}