{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/coc-new-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr class="divider">
                    <h2><span class="section-icon"></span>PL達の控室</h2>
                    <p>※一言プリーズ(なくてもいいよ)</p>
                </div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>わたくしです！</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>おいっすう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>金五郎だ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>ボスだ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>konntya</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>ばんわ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@亜沙</div>
                <div class='col-sm-10 serif'>点呼開始！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>準備完了！（1/3）</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>準備完了！（2/3）</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>準備完了！（3/3） 全員準備完了しましたっ！</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <hr class="divider">
                    <h2><span class="section-icon"></span>※セクションタイトルプリーズ</h2>
                    <p>※一言プリーズ(なくてもいいよ)</p>
                </div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@亜沙</div>
                <div class='col-sm-10 serif'>さて、EDです</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>てけりり～てけりり～（エンディングBGM</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>バッドエンドかな？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>逮捕ENDやろ？</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@亜沙</div>
                <div class='col-sm-10 serif'>「神様との契約を破棄したあの日を境に、籠目市は大きく変わりました」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>語り始めるヒロイン</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>ヒロインだったのか？</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@亜沙</div>
                <div class='col-sm-10 serif'>「大きく変わったところといえば、籠目市含む島根県が広島県に吸収されたこと」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>広島国が諸悪の根源だった……？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>すごいやっちまった感だ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@亜沙</div>
                <div class='col-sm-10 serif'>「また、籠目市の名前自体がなくなったこと」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>終盤にぽっと出したヒロインは人気が出ない……</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@亜沙</div>
                <div class='col-sm-10 serif'>「そして目覚めることがない叔父」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>な、なんだってーーー！？</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@亜沙</div>
                <div class='col-sm-10 serif'>「本当にあの日兄がとった行動は正しかったのか？それは誰にも分かりません」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@亜沙</div>
                <div class='col-sm-10 serif'>「ただ1つ、確信を持っていえることは、あの日、私があの場所から出なければこんなことにならなかった。それだけです」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>今度は妹が兄を止める展開かな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>革命に犠牲はつきものなのだ……かなしいなぁ……</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>あの日あの時あの場所で</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@亜沙</div>
                <div class='col-sm-10 serif'>「けど、誰も悪くはありません。叔父さんだって、一生懸命苦節していた中で甘い汁を知ってしまっただけです」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@亜沙</div>
                <div class='col-sm-10 serif'>「この話はもうおしまい。叔父がいつ目覚めるか分からないけど、もし目覚めたら家族3人でひっそりと暮らしたい。それだけが私の願いです」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>やっぱりバッドじゃないですかー</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>世界を救った</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>どっちかというとクトゥルフっぽいエンドだと思うな</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>トゥルーエンドがハッピーエンドとは言ってませんよ？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>さすがクトゥルーエンド</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>うまい！</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>「叔父さんは尊敬に値する人物だった。だが、人に頼るというのをやめてしまった結果がこれだ」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>語り始めたメインNPC</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>「どんな人だって自分ひとりで大業を成すことはできない。私はそう思う」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>「叔父が頼ったものは寄りもよって、化け物みたいな神様だった」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>「明らかにおかしいことだ。なぜ叔父がそんな間違いを犯してしまったのだろうか」</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>狂ってしまった歯車……</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>なんでだろう(テツandトモ感)</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>「さあな……市長が目覚めたら聞いてみると良いさ。そして次はあんたが道を踏み外さないように支えてやりな」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>「何よりも悲しかったのは、頼ったものが身内の人ではなかったこと。私じゃ力不足とは分かっていたが、頼ってほしかった」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>回想に割り込んできたぞ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>回想だったのか</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>熊五郎はいつでもそばにいるのさ、そう、すべての人間のそばに、な……</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>「逆に言えばそこまで追い詰められていたのかもしれない。そこにいち早く気付いてあげるべきだった」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>じゃあ大人しくしとこう</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>「今回の一連の出来事は、始まりが悪かったから終わりの悪くなる。薄々そう感じていた」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>そろそろ、「何時までうじうじしてんだ！」とか言って殴ろうと思ってたのに残念だ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>「叔父には悪いが後悔はしていない。生きていればまた次があるということをあの叔父に教えてあげなくてはな」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>「だから早く目覚めてくれ、叔父さん。そしてまた二人で美味しいワインを作ろうよ」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>Fin.</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>シリアスだった（今更</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>マルチエンド改め、マルチバッドエンドシナリオでもありました。</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>クトゥルフだからね、コメディーになるはずがない</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>全部バッドかよ！！</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>強いて言えば亜沙一人の人生を犠牲にするエンドがまし……かな</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>犬小屋を燃やすべきだったというのか！</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>さて、後日談を書きたいという方はおりますか？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>叔父を殴ったら起きない？</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>CoCでハッピーエンドなんて認めない</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>気絶なら腕の１，２本折れば目覚めると思うんだが</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>まあ、せめて熊五郎は幸せになりたいので、牛をください</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>常識の範囲内の望みの報酬を受けたことにしても構いません</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>やったあ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>熊は逮捕ね</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>「ほーら花子、お前の婿を連れてきたぞー」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>エリザはなにかある？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>100グラム230円</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>なんか個別エンドか、悲し気なのがいいな</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>花子「モーーー」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>なぜじゃーーーーー</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>わしはとくにないです</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>おわり</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>100Ｇ２３０円はなかろう、１00ｇ2300円で</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>オーストラリア牛のくせにやかましいよ！</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>不純物ましまし！といううたい文句で売り出そう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>島根の原子力発電所近くで育てた大型牛！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>エンドか……</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>でかい！ゴジラ牛というブランドで出そう</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>影で[]</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>「あの元島根産の牛の血が流れてる牛かあ……」とか言われてそう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>「この人が育てました」の顔写真シールもはってあるよ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>私が育てました！！</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>その顔写真を亜沙にしたらぼろ儲けだな</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>チェーンソーで牛を解体してる写真とか乗せよう</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>亜砂ってＡＰＰ高かったの？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@エリザ</div>
                <div class='col-sm-10 serif'>おわりかな</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>ＮＰＣのステータス一切知らないんだけど</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>見たら15だった</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>すれ違ったら二度見されるぐらいの美少女かな？知らんけど</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>Eviくんは感想ないのかな？</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@熊五郎</div>
                <div class='col-sm-10 serif'>15かあクラスで２位ぐらいかな</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>ソラは？</div>
            </div>
            <div class='row naki'>
                <div class='col-sm-2 name'>naki@PL</div>
                <div class='col-sm-10 serif'>
                    後日談@ソラ<br>
                    <br>
                    かつて籠目市だった場所を眺めながら、私はとある夜のことを思い出す。<br>
                    あれは夢だったのか、現実だったのかいまだにわからない。<br>
                    あの市長は目を覚ましてはいないらしい、原因不明の、現在の医学では治すことができないと担当医から聞いた。<br>
                    <br>
                    しいて言えることは、この手に持った書籍はここで処分してしまうべきだ、ということだけだ。<br>
                    しかし、どうしたことだ、私はこの書籍を捨てることができない。<br>
                    <br>
                    ―― 今、わたしの目の前に「ヤツ」が存在しているからだ<br>
                    <br>
                    ※暗転
                </div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>aneko@歴利</div>
                <div class='col-sm-10 serif'>はい。</div>
            </div>
        </section>
    </div>
{% endblock %}
