{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/lostroyal-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>オープニング</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>よし、オープニングいこうかー</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>はーい</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>はい</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>騎士は全員登場。背景が終わった後なので、宿の一室にしましょう</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'><b>主君の寝床の警護</b>は任されました</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>頼もしい・・・いやなにか危険な香りもする・・・</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「はあ・・・とはいったものの、まさかアキバラの街が魔群がいる方角にあるなんて・・・。一体どうしたものか・・・うーん」と逆立ちして考えています</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>「もともと魔族だらけの街でしたからなぁ」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>スカートが落ちないように足に抱きついてます</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>おちるようなスカートなのか・・・</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>不思議な光景でしかない</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「うーん・・うーん・・・」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>「民衆からの年貢は民衆のために使わねば！ローマの市民はローマによって導かれるのです！」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「これ(マックスから受け取ったお金)を年貢っていうのかしらねぇ・・・そもそもローマってなんなの？ミルカ知ってる？」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「ローマですか？いい国ですよあそこは・・・だから今度一緒に行きましょう。」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>このワールド内に実在してるの！？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>大陸の大国ですぞ！</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「あ、はいはい、また今度ね・・・」とため息交じりにあしらいます</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「（アポはとれたわね）」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>そんな感じで会話しながら、宿の夜はふけていきました・・・</div>
            </div>
        </section>
    </div>
{% endblock %}