{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/lostroyal-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    
                    <h2><span class="section-icon"></span>分岐フェイズ</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>んで、さくっと分岐フェイズにいきましょう！P172。対話シーン、番外シーン　かな？時間は今回は騎士分の2用意してあるので、適当に使ってください。対話シーンは1周りだけなので、2人の行動が終わったら戦闘になります</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>対話シーン：ミルカ「日常」</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>おっけー。では最初の対話シーンは、ミルカからになります</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>舞台表はどれだろう・・・町のたい焼き屋にしよう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>あんこ推し</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>(アクション表は・・・)落ち込んでいる</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>1(抱き着いてくる)だったらよかった</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「はぁ・・・」スカーレットさんはとても落ち込んでいるようです。くんくん、近くの屋台からいい匂いがしますが・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「姫様、たい焼きやがありますよ！とりあえず食欲を満たしましょう！」10個ほど買ってきます</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「・・・こ、こんなに誰が食べるの・・・」とあきれ気味ですが1つ取って食べ始めます</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>ところで、演出は、命題、日常、教導　どれとるんだい？</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>日常で。単発だし王道に行こう</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「（もぐもぐ）・・・あまいね」と少し元気になってきてる感はあります</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「姫様、従者として心労お察ししております。復興のためにどうしていいかわからないとも思います」といった後にたい焼きを口で受け取ろう</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「そこで私にひとつの案があります」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「・・・？急にどうしたの？」ときょとんとします</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「これから私（とその他）と多くの国々を回りましょう」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>これは軽くあしらうべきなのか、普段とは違う感じなのか・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「感受性豊かな姫様のことならば、多くの体験を通して復興のヒントを得ることができると思います。」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>マジメなキャラだった！？</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「<b>まあぶっちゃけると姫様と旅行したい</b>」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「・・・少し感心しそうになってたけど、やめといて正解だったわ」とあきれた顔でたい焼きをほおばります</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「それから、急がば回れというNIPPONの諺があります」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「急ぐなら急いだほうがいいと思うんだけどなあ、わたし。ミルカは色んな国について知ってるんだね」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「それは行動だけでなく、気持ちにおいてでも言えることです。姫様、答えはすぐに出す必要はありません。私がいます。私に頼ってください。」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>結構まともなキャラだな、ふむふむ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「・・・でも」と少し考えた後</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「ま、まあ、たい焼き食べて！まだあまってるから！」と照れてうんと言えない感じなお年頃なので・・・って感じでどう</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「・・・ありがとう」と聞こえないくらいの小声でつぶやきました</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「ええ、食べましょう。姫様ももっと食べないと色々大きくなりませんよ」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「ああ、はいはい、食べます食べます」ともぐもぐして、フェードアウトかなぁ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>日常かどうかあやしい</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>教導めいたなにか。けどいいシーンだった気がする、ミルカのキャラも立ってたし、ぶらぼーぶらぼー</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>『いいね！』しました</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>じゃあ、最後に姫に影響を与えたかどうか判定どうぞ！難易度は5ね</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>LR[1,0,2,3,1,2] LostRoyal : 3D6 => [4,4,2] => (3+3+0) => 6</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>おっけい、じゃあ成功です！</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>練習で厄落としてきてよかった。<b>無事にハネムーンか</b></div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>そういう特典はありませんが、記憶点として6点ゲットしました</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>了解です</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>番外シーン1：マリウス「討伐」</h2>
                    <p></p>
                </div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>番外やるか、討伐にいこう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>おお、討伐。場所表は、路地裏。番外シーンって君主って出てくるんかなぁ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>でてもでなくてもいいんだよね。わたしが出したいかどうかなのだけど、今回はいいや</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>路地裏に二人はあやしい</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>では、行為判定どうぞ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>路地裏の曲者を討伐じゃ！・・・(ころころ)・・・<b>スペシャル</b></div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>ほげぇ！？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>ローマ！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>難易度3なので余裕でクリアです。そしてスペシャルが出たので、『酒と歌』+1です</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>密造酒の売人を倒して治安と酒を手に入れたぞ</div>
            </div>
            <div class='row enemy'>
                <div class='col-sm-2 name'>naki@まもの</div>
                <div class='col-sm-10 serif'>「ひゃっはー！そのモヒカンなんなのお！？」と挑発</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>判定成功したから、1d6して討伐数をどうぞ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>1d LostRoyal : (1D6) → 6</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>えぇ・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>がはは</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>ばけもの</div>
            </div>
            <div class='row enemy'>
                <div class='col-sm-2 name'>naki@まもの</div>
                <div class='col-sm-10 serif'>「ぴぎぃ！」と粉微塵になりました・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>魔族の死体にローマの旗を立てておこう</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>こっちが君主といちゃいちゃしてる間に己を鍛えるマリウス。この差は</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>大陸のスパイかなにかなんですかねぇ・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>我が王の威光もより眩くなるというもの！・・・たぶん</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>あぁ＾～ローマになる＾～</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>王の名は</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>カエサ・・・スカーレット様！</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>番外シーン2：マリウス「因縁」</h2>
                    <p></p>
                </div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>続けて、ミルカに因縁をつけにいく</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>描写は2人にまかせるよ～＾ｑ＾</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>主君！なんかアクションして！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>主君もおるんか！？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>1d6 舞台表 LostRoyal : (1D6) → 4 -> 民衆</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>1d6 LostRoyal : (1D6) → 1 -> <b>抱き着いてきた</b></div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>aaaaaaaaaaaaaaa</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>これはひどい</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「マァリウース！マァリウース！」だきっ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>「どうなされた、人の群れが恐ろしゅうございますか！」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>最後に勝つのはミルカだから大丈夫</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「ん？そうじゃなくて、なんか遠くにマリウスが見えたからうれしくなって！」とニコニコしている</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>やっぱりマリウスとは相容れるわけにはいかない！マリウスと決闘する日も近い</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「あ、マリウスもたい焼き食べる？あっちでミルカが持ってるよ」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>因縁の舞台は整ったのだ・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>「む、市井のものを口にしておるのですか！毒見はきちんとなされておりますな？」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「え？毒見？」ときょとんとしています</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>「ぬぅ・・・ミルカ殿、私も常にスカーレット様の御傍におれるわけではないのだ・・・しっかりしてもらわねば！」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「なんでー？あまくておいしーよー＾ｑ＾」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>ということで判定してみよう・・・(ころころ)・・・<b>ファンブル</b></div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>わろうた</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>一応判定は成功だから・・・。ミルカに感情表・・・(ころころ)・・・<b>嫌悪</b>で！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>えぇ・・・パーティ内で内紛が起こる・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>崇拝と嫌悪って極端すぎない！？</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>エグイ内容だ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>FC LostRoyal : 1D6 => [1] 何かの問題で言い争い、主君に無礼を働いてしまう。あなたは主君の名誉点を１点失うか、【時間】を１点消費して和解の話し合いを持つか選べる。</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>内紛が起きた！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>早くもパーティは解散ですね！！ぷんぷん！</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>決闘やな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>ミルカ派とマリウス派でローマは対立を深めるのであった・・・</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>番外シーン1：ミルカ「娯楽」</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>おっし、じゃあ続けてミルカの番外シーンどうぞ。舞台表は・・・質素な民家</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>民家ですることといえば・・・<b>ダンシング</b>やな、もちろん君主と一緒に</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>えぇ・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>アクション表は、顔を赤らめる</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>てれてれ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「ちょ！ちょっとー！まずいよ、これえ！」と玄関のところではずかしそうにしています</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「さあ姫さま！おどりましょう、そいやそいや～」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>マジメキャラとはいったい・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>酒がほしい。(行為判定)・・・成功！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>やるじゃん、酒と歌を2点どうぞ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「・・・そ、そいや・・・そいやー・・・」しぶしぶ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「庶民の娯楽を知るのもいいことですよ君主！」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「と、とはいえこんな格好・・・///」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>どういうやつだ！</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'><b>猫のきぐるみ</b></div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>ここで突然ですがマスターシーンが入ります</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@聞き覚えのある声</div>
                <div class='col-sm-10 serif'>「・・・な？兄ちゃん、ちゃんと強そうな旅人の人に頼んできたから！だから、がんばれ！絶対に手に入れてやるから！」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>声は今にも泣きそうな声にも聞こえました。マスターシーン終わり。どうするかは任せる</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>マックスか。その声が聞こえる元にいこう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>おお、じゃあ、ミルカがその声のする方を覗いてみると・・・。お金を渡された人物マックスが、ベッドで苦しそうにしている小さな男の子にむかって必死に何かを伝えているところでした。マックスはあなた方には気が付いていません</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「貴方は先ほどの！」と声を漏らします。気配遮断E</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「ミ、ミルカ！？ちょ、ちょっとー！」とスカーレットは慌てふためきます</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@マックス</div>
                <div class='col-sm-10 serif'>「・・・！何やつ！？」と振り向きました。もちろん気が付かれます</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「えーと、すみません・・・聞いちゃいました」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@マックス</div>
                <div class='col-sm-10 serif'>「ああ！？あの時の旅人の！？もう手に入れてくれたのか？どこだ？みこちゃんフィギュアは！？」と必死の形相でミルカにしがみつきます</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「ちょっと落ち着いてください」<b>と、いいながら蹴ります</b></div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@マックス</div>
                <div class='col-sm-10 serif'>ぎゃふん。</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@マックスの弟</div>
                <div class='col-sm-10 serif'>「・・・？お兄ちゃん、だれかい、いるの？」その声は今にも消えそうなくらい弱弱しいです</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@マックス</div>
                <div class='col-sm-10 serif'>「だ、大丈夫だミニマム！この人たちはな・・・」とマックスはミニマムと呼ばれた男の子にキミたちの事を説明しました</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「ふぃぎゅあ・・・？はまだこれから手に入れるところです。はい。ところでその子は」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@マックス</div>
                <div class='col-sm-10 serif'>「おお、こいつは俺の弟のミニマムだ。今は・・・今はちょっと調子が悪いが、みこちゃんフィギュアがあればきっと元気になるんだ！」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>食べるのかな？</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>実は薬草って設定もありか・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>例のブツだったのか</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@ミニマム</div>
                <div class='col-sm-10 serif'>「・・・お兄ちゃん、みこちゃんフィギュアほしいよぅ・・・」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>なぜか笑える</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@マックス</div>
                <div class='col-sm-10 serif'>「だ、だいじょぶだ、ミニマム！お前は、なぁにも心配しないで安静にしてろ？な？」と寝かしつけます。ミニマムはそのまま寝息を立てて眠りました</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「ミニマム君、そのフィギュアちゃんみこは私たちが買ってきますよ。だから待っててください！」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@ミニマム</div>
                <div class='col-sm-10 serif'>「う、うん・・・おねえちゃんたち、お願いだよ・・・」むにゃむにゃ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「（は・・・今私なんて言った・・？）」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>っというイベントが発生するトリガーでした</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>シリアルなシーンだった</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>やられたクマー</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>ゲーム的なステータスは変更しないけど、円卓判定の判断時に活用してね</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>対話シーン：マリウス「教導」</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>マリウスの対話シーンどうぞ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>ではスカーレット様を教導しよう。舞台表は『路地裏』。アクション表は『おちこんでいる』</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>(何回落ち込んでるが出るの・・・)暗い性格なのか＾ｑ＾；</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「・・・はあ・・・」と深いため息をついています。てか、ローマ的な王に近づくための教導ってなんだ？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>「ご覧めされ、スカーレット様。これこそ治安の乱れ、治世の乱れが生んだ悪疫ですぞ」さっき討伐した死体（非ローマ市民）を前に</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「わ、わぁ！？」とあまりみたことない死体を前にびびりまくりです</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>グロゆえ、主君にアイマスクして進ぜよう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>「スカーレット様にはブリタニア属州の総督・・・もといアヴァロンの王として、もっと帝王学を学ばねばなりません」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>いかん、こいつスパルタ教育や</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>うまい</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>「蛮族を武力と外交で治め、ローマ市民を守るのです！フォー、ローマ！」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「ま、ままま、ま、まりうす！？よ、よくわからないけど、フォーローマ？！」としがみつきます</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>はい決闘</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>LR[0,1,2,1,1,3] LostRoyal : 3D6 => [5,6,4] => (1+3+1) => 5 | 3 chain! (4,5,6) => 8 [<b>スペシャル</b>]</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>えぇ・・・</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'><b>治安維持活動をすると酒と歌が転がってるんだけど！</b></div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>数十分後、瞳から光の消えたスカーレットが「フォーローマ！」と力強く声を張り上げる姿が目撃されたという</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>バッドエンドや</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>「それでこそ善きローマ市民、もとい、王の姿ですぞ！」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>魔人化しちゃうー</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「ソウダネ、わたしは正当な皇帝になるよ、マリウス・・・・フォーローマ！」力強い</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>力強い！教導したからローマ的な影響うけといてね！</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>番外シーン2：ミルカ「討伐」</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>んー、じゃあ分岐フェイズの最後にミルカの番外シーンをどうぞ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>はい。舞台表は『ガラクタを売る店』。主君のアクション表は『頬を赤らめる』</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>また恥ずかしがってる・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>ミルカのこと好きすぎかな</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「今度はどんなところにつれてくの！？ミルカぁ！？」と恥ずかしそうにしています</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>落ち込むか、顔を赤らめるしかしないってどうなの</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>前回とちがって娼館もないのに・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>ガラクタ屋の主人は妖魔だから討伐しよう</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「あのガラクタ屋があやしいです。」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「え？いたって普通のガラクタ屋さんだけど・・・もしかしてまたあのカッコでダンシングするの・・・？」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「もし、そこのお兄さん！・・・その首くださいな♡」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「えぇ・・・」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>貴公の首は柱に吊るされるのがお似合いだ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>実に自然な流れ。討伐します</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@ガラクタ屋主人</div>
                <div class='col-sm-10 serif'>「なんでばれた！？ピシャアアアア！」と襲い掛かってきました</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>LR[1,0,2,3,1,2] LostRoyal : 3D6 => [6,3,6] => (2+2+2) => 6</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>おっけー、成功です</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>討伐数は・・・(ころころ)・・・4です</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>殺意高いパーティですね・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「姫様、こういうこともあるので私から離れちゃだめですよ。ちゃんと手をつなぎましょう」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「・・・う、うん？なんか、うん？」とよくわからないみたいですが手を繋いで帰りました</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>これで合わせて血路は10点減る感じかな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>だいぶ倒したなあ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>さすがやね</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>よし、では対話シーンおしまいです！</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>円卓シーン</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">ここまでのあらすじ</p>
                        「『アキバラの街』で限定販売している『みこちゃんフィギュア』を買ってきてほしい！」<br>
                        小さな町の青年マックスから願いを託されたはいいけれど・・・<br>
                        心優しいキミたちの主君スカーレットは、自分の身を危険にさらすか、約束を破って先を急ぐか真剣に悩んでいます<br>
                        今日は騎士団の最終決断を行う円卓会議の日です
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>というわけで、円卓会議をします。場所は・・・街の屋台になりました</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'><b>国政の見える化</b></div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'><b>井戸端会議</b>かな？</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>井戸にふたをすれば円卓っぽくなる</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>騎士団は、円卓会議を行うため町にあるたい焼き屋のテーブルに集まっている</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「うーんうーん・・・ここのたい焼きはおいしいのはわかったけど、わたしたちはどうしたらいいのかな・・・？」と逆立ちをして、皆さんに意見を聞きます</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「最初はばかばかしい依頼と思っていましたが、気が変わりました。みこちゃんフィギュアたるものを捕りに行くべきだと思います。一市民の願いをかなえるのも必要なことです」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>寝返りが発生した！</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「それはわたしが命を落とすことになっても・・・ということ？ミルカ？」と不安そうにいいます</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「いえ、決してそのような考えは思ってはいません。貴方は命を落とすことはありません。そう、われらがいる限り」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「・・・そう、ミルカならそう言ってくれると思ったわ、ありがとう」と少し笑います</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「それじゃあ、マリウスはどう思う？」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>「正直なところ、取るに足らぬ些事。本来であれば無視すべきでしょうが、あなたは市民の嘆願をとっさとはいえ聞き入れてしまった。であれば其れを果たすのが王たるものの使命でありましょう」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「そう、意見は変わっていないのね。ということは・・・」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>命題A採用かなぁ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>あのイベントがなかったらBのままだったんだけどね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>ミニマム？知らんな・・・？ぶっちゃけどっちの命題になっても運命展1点もらっておわりだからね</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「よし、アキバラの街に行こう！2人とも！」とたい焼きをくわえながら立ち上がります</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>「撤退ばかりでないところを見せてやりましょうぞ！」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>たい焼きは大事</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>まぁ、命題Aに決まったことは間違いないけど、達成値が必要だから、判定ください二人とも</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>LR[1,0,2,3,1,2] LostRoyal : 3D6 => [3,3,2] => (2+2+0) => 4 | 2 chain! (2,3) => 6 [ファンブル]</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>LR[0,1,2,1,1,3] LostRoyal : 3D6 => [5,3,3] => (1+2+2) => 5</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>ああ＾ｑ＾</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>ひどい</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>ファンブルがでている</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>FC LostRoyal : 1D6 => [3] あなたが惹かれたのは好意に付け込む人だった。あなたはその場を去って恋慕の名誉点を１点失うか【正義】を１点減らして礼を尽くすかを選べる。</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>何があった。恋慕を減らすか</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>なに<b>プチ恋愛</b>してんねん</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>詳細は聞かないことにしよう・・・</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「あのエンペラーペンギンさんがあんな人だったなんて・・・」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>これで・・・ミルカの影響点が6、マリウスが教導の2+5って感じね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>ローマ優勢</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>皇女への愛一択でがんばろう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>んーで、君主は運命点を1点もらうっと</div>
            </div>
        </section>
    </div>
{% endblock %}