{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/lostroyal-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>エンディング</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>無事逃げたけど、フィギュアは手に入れたことにする？しない？どっちでもいいよ。RPだけして終了ね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>もちろんすべての戦果はローマのために</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「これでみこちゃんフィギュアですか……なにこれ……。と……とりあえずこれをミニマム君に私にいきましょう、姫様！」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「うん、そうしよう！」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>「私は凱旋式の準備をしましょう」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>お忍びだからね！お忍び！</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>ほら義勇兵も集めないと……</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>ファンクラブから兵を募ろう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>キミたちはマックス君のお家にきました。スラム街にある質素な民家</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@マックス</div>
                <div class='col-sm-10 serif'>「……！あ、あんたちは！？旅の人！？フィギュアは！？ミコちゃんフィギュアは！？」とミルカにしがみつきます</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>マックスを蹴り飛ばして「ここにありますよ」と言ってミニマムにやさしく微笑みながら渡します</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@ミニマム</div>
                <div class='col-sm-10 serif'>「……みこちゃんフィギュア……やったよぅ」と弱弱しくも笑顔でフィギュアを受け取ります</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@ミニマム</div>
                <div class='col-sm-10 serif'>「おねえちゃんたち、ありがとう……」</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>周りから見るとよくわからないシーンだ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「（目に涙を浮かべながら笑顔でミルカを見ます）」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@マックス</div>
                <div class='col-sm-10 serif'>「ありがとう！なんてお礼をいったらいいか！これでミニマムの病気も治る気がする！」ととても感謝されましたとさ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「（なおる……のか）」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>悪化しそう</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「感謝するなら、私に命を下した姫様に感謝してください」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「ええ！？いいのいいの、これでいいの！……さあ、わたしたちは早く退散しよ？」と背中を押されます</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>お姫様抱っこして退散しよう</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「……ねぇミルカ」と、しばらく歩いた後に伏し目がちにスカーレットは切り出します</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>「？」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@スカーレット</div>
                <div class='col-sm-10 serif'>「わ、わたしも……みこちゃんフィギュアほしいよぅ……」とつぶやかれたとかいないとか</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>あかん</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>勲章式</h2>
                    <p>※単発なので「儀式」「希望」は省略しました</p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>勲章式だけど、とりあま勲章点を1点ずつどうぞ</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>おいしい！</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>MVPは……(ランダムダイス結果で)ミルカです。正直2人ともMVPにしたいくらいだわ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>役得</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>勲章点数を追加で+1どうぞ。ついでに、主君のアクション表を1つだけ変更できます</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>『落ち込んでいる』を変えるとして、何にしようかな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>わくわく</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>わくわく</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>『たったまま寝ている』にしよう！とてもプリティー</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>立派な姫になるのは遠そうだ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>すごい奇抜な姫になってきた気がする……</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>たったまま寝ることは王族必須スキル</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>感想戦</h2>
                    <p></p>
                </div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>お疲れ様でした</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>おつおつ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>おっかれさあああん</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@マリウス</div>
                <div class='col-sm-10 serif'>ぶじにおわってよかった</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>んむ、感謝感謝</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@ミルカ</div>
                <div class='col-sm-10 serif'>チャットパレットが一行で終わると思わなかった</div>
            </div>
        </section>
    </div>
{% endblock %}