RewriteEngine on
RewriteBase /
RewriteRule 20170109.html http://nakigao.webcrow.jp/replay/lsry/3/1/1/ [R=301,L]
RewriteRule 20170224.html http://nakigao.webcrow.jp/replay/lsry/3/1/2/ [R=301,L]
RewriteRule 20170402.html http://nakigao.webcrow.jp/replay/lsry/4/1/1/ [R=301,L]