{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>トレーラー</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        　甲四号作戦遂行中、突如目の前が光に包まれ、私は意識を手放した。<br>
                        <br>
                        　目が覚めて最初に目に飛び込んできたのは、青紫色に発光する葦のような物体と、曲線と文字で構成された円形のシンボル。私は冷たい石造りの祭壇のようなものの上に寝ているようだった。<br>
                        　体を起こし周囲を見渡すと、異様に耳のとんがった人物が何やら聞いたことのない言葉をわめいている。<br>
                        　いつの間にか持っていたクリスタルを握りしめると、その人物のしゃべっている言葉の内容が理解できるようになった。<br>
                        <br>
                        「失敗じゃ、また失敗じゃー!」<br>
                        <br>
                        　失敗? なにが失敗したというのだろう。<br>
                        　それよりも、ここはどこ?<br>
                        <br>
                        　それに、何か『とても大切なこと』を忘れているような――――<br>
                        <br>
                        <br>
                        <br>
                        ガーデンオーダーTRPG<br>
                        シリーズ「GOとぅあなざーわーるど!」<br>
                        第一話「白のエルフ姫」
                    </blockquote>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>キャラメイク</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>じゃあ、さっそくだけど、創ってもらおうかな。オープニングとか全然できてないから、<a href="http://nakigao.webcrow.jp/replay/gror/12/1/1/">レギュレーション</a>だけ渡します</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>はい、どうぞ。予告通り、異世界転移してもらいます。転生じゃないので、一般オーダー君を創ってくれればいいです。推奨、非推奨と。2ページ目のハウスルールはしっかり読んどいてください。質問もどうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>あいかわらず準備がいいねぇ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>めちゃくちゃ準備がいい憧れる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>やったーバリスティックシールドがつかえるぞーーーー……つかわねえよ!!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>シールドバックラーとか、やっちゃいます?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>飛行状態無効はそれなりに死にスキルがでそうだけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>そうだね、一応使えないわけじゃないんだけど、制限付きって感じ。基本的には飛べないと思ってちょうだい。ずっと前にいったけど「浮遊」くらいはしてもいいくらい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>要は毒の沼をふわーっと移動するのはオッケーってことね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>時間がたつと、だんだん沼には沈むけどね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>引力つよいですねぇ!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>どっちかっていうと、かたい地面がない場合は下に落ちる。たぶん、沼を凍らした方が早い</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>じゃあ橋のない川を渡るのはむりか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>その辺はアイディア次第でいいんじゃないかな。飛んで渡るはできないと思ってもらえるとうれしい。あ、今のうちにそういうあやしそうなところどんどん言ってね。ルール追加するから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>前回は……精神投影と風候操作と重力操作でしたっけ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>だったね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>みなさんなんかやりたい役職ありますか?たぶん普通のRPGみたいな感じなんで</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>うーん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>前衛タンク職かアタッカーかサポーターのどれかになるとおもいますけど</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>遠距離攻撃は特性能力か投擲か弓ぐらいになるかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>YES。そのくらいしか想定してますぇん。アルスノトリアが間に合ってくれたら、魔法職みたいなの出せたんだけどなって</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>栄先生の役割を思いかえしてるけどタンクでヒーラーのサポータとかいうわけのわからん生き物だったな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>見事な盾クレリックだったわ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>前回のキャラはアタッカーだった気がする。しかも攻撃も当たらない肉盾アタッカー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>役割シャッフルでもいいかもね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>機械修理が非推奨になってるけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ヒロイン力高かったし!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>中世にも機械あるんじゃない?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>んー、魔法機械と、機械は微妙に違う、という解釈。当然とってもいいけど、知識とか運動で代用しようかなって。あんまり出てくる技能じゃないし。ガン上げした人がいたら、頑張って出します。非推奨はそんな感じで取ったらアピールしてもらえるとうれしい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>んーまあたしかにね。クロスボウとかカタパルトとか水車とか風車とか機織り機とかいろいろありそうだなって、思っただけだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>どれも運動で代用しちゃおうかしらって感じかなぁ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>運動万能説</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>運動で世界を制す</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ノウキンは強い、ノウキンは万能、ノウキンは正義。RPGってそんな感じじゃない?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>筋肉万歳!!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>皆アタッカーか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ドラゴンブレス出しときますね～</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>自分の身が焼ける匂いで更に力アップだ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>どうしよっかな。鶫は後衛だったし前衛やろうか?　ヒーラーやってもいいよ、たまには癒し系も出来ると証明せねば</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>馬乗ったヒーラーとかやってなかった?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>やってたね、あれは栄先生と一緒で盾ヒーラーだったけど、何故か良く死んでた気がする</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>一緒にしないでくれ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>特攻するから……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あー、動物系出せないのはちょっと残念だね。テイマー系の職業がほしい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>ドラゴンをペットに出来る可能性が微レ存……?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>マインドなんちゃらとかいう鬼畜特性能力ありませんでしたか(震え</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>グレートソードが普通に武器一覧にあるの改めて見ると笑えるな……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>いやほんとに</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>ヒーリング系の能力者って氷と精神と身体強化しかいないのな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>だと思ったよ＞ヒーリング系</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>能力の持続時間って何かに比例するのかねえ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>基本的には戦闘時と同じ考え方＞能力の持続時間</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>どれにするかな、前衛もこなそうと思うと身体強化かな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>しつもーん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>どうぞー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>特性攻撃で遠距離攻撃ができるやつって遠隔攻撃に分類されるのかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>特性能力は特性能力になるはず。その中で射程が遠距離か近距離かの違い、だったはず。違ったらゴメン</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>りょうかい。んー例えば遠距離攻撃できるレールガンショット(電磁操作)のやつは遠距離から攻撃するペナルティを被る?(隣のエリアから攻撃するときのペナルティ)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>かぶる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>じゃあ光波干渉のレーザーショットにレーザーポインタを乗せたらペナルティはどうなる?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>これは特性能力で無理やり補正してるから、ペナルティはなし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>ういー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>じゃあ銃器がないから遠距離からペナルティなしで攻撃できるのは光波干渉くんだけだな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>おー、そうなんだ、そういうのパッと理解できるのすごいわ。特技で狙撃、とか取ってれば遠距離ペナルティつかないかも＞えヴぃ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>遠距離攻撃自体が電磁操作くんと光波干渉くんしかないんや</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>和弓あるやん!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>それ近距離</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>うそだぁ?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>P168みて……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>なるほど、理解した。これ、遠距離武器にしていいや。アーチェリー、和弓、クロスボウは遠距離扱いでよいです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>あ、ほんと?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>交戦距離かが全体的に短くなるみたいなニュアンスで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>射撃系にしようとしてたからうれしい。最大射程距離が近距離だと全員同じエリアで戦うことになる!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>タンクの意味があるのかなと思ってた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>エンゲージ作ることに意味があります</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>そうだね、エリア攻撃に弱くなるけど、それはそれでいいかなって。ドラゴンブレスはきますね～</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>決めた自分は氷結能力にしますね。クール系キャラを目指そう。治療は任せろ、どんな重症でもすぐに凍結できるぞ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>基本元素系は強いと思うわ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>anekoさんどうします?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>電磁操作でタンクになるかな。一応回避補正できる特技もあるし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>anekoが電撃系タンクでkaeruがゴリラ系アタッカーだっけ?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>うん、前回とちょっとかぶるけど致し方なし</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>氷結系ヒーラーだよ、まあアタッカーも出来るようにはするけどさ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>氷結か。後ろでピシュピシュする係になるか。物質転移系アーチャーやるわ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>おー、おもしろそう。なんとなくまとまったかな?　ちょっと業務連絡。時間がないので、最後に必ず決めてほしいことだけ伝えます</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        前回のフレーバー「驚異的な○○」を決めたみたいに、今回も決めてもらうことがあります。<br>
                        「それは、あなたPCにとって命と同じくらい大切な人物の創造」です。<br>
                        この人のために自分が生きている、みたいなくらいのレベルで大事な人を設定してください。<br>
                        どんな人物であるかは指定しませんので、ご自由にどうぞ。
                    </blockquote>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>今日はここまで決めてあればOK。大事な人はキャラシの下の方に書いといてください。簡単な設定もあるとなおよし</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>ういー</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>おk</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ほい。宿題にしとくので、次回のセッションまでに作っておいてちょーだい。以降、自由解散でどうぞ。おつかれさまー</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>おつかれさま</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@PL</div><div class='col-sm-10 serif'>おつかれー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>おつおつー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'><a href="https://charasheet.vampire-blood.net/1845804">ざっくり</a>。ライフパスとかまだだけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>（読み読み）自転車もってるじゃん……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>欲しいものがなかった!　予備の武器とかあったほうがいいのかしら</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>現地調達でもいいよ。エクスカリバーとか刺さってる可能性あるし＞予備の武器</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>近接武器はいらないよ!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>そんなぁ;;</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>（ライフパスコロコロ……）んあ、ハッキングだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>おめでとうございます、神スキルですね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>っていうか全部ゴミじゃん。ROCだし選ぶか……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>そういうの取っちゃった場合は、できるだけ出すけど、いやなら振り直しでいいよ。あ、そうねROCでもよいよい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>といってもなんか選ぶの苦手だからいいかふり直しで（コロコロ……）水泳……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>川、出しときますね……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>これむしろハッキングにしてGMが頑張るところを見るほうが楽しいのでは?　データ面はとりあえずこれでいいや。後日うめときます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>『大切な人』だけ出来たので張っときます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>雑草魂を教えてくれた祖父「踏まれても踏まれても起き上がり、一族が滅びようと密かに根強く生き、そしてまた一族の根を伸ばしてくれ」いつもその言葉を心に置き、自分は行動する。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>じいちゃあん!　あんがと、見とくわ!　ヒョウカのキーパーソンは弟君でいいのかな? 生きてはいるんだよね、どのくらい重傷なん</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>正直生死は考えてなかったけど都合のいい方でいいよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あんまりシリアスにしてもあれだから、車いすで病院から出れないくらいでいいかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>アネコのキャラはなんて読むのかなぁ、ヒガクレゲンゾウかな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>ひがくれ げんぞうです。詳細はマスにリンク張りました。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ういうい、ありがおー。マスってなんだ、キャラの駒には何もないようにみえるぞう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>あ、はってなかった。すみません</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ドジっ子属性追加ね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>君は人間なのか?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>忍者です。ところで舞台は最初から異世界であってますか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>YES,異世界スタートでっす</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ゲンゾウの祖父ちゃんしんでない!?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>大切な人は死んだ。いや、生きてても大丈夫です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あ、ほんと? 死にそうでもいいよ。もう半分以上お墓に入ってるとかそういうレベルでもいい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>じゃあ死にそう設定にしよう。幻蔵としては、祖父はもう死んでる扱いしてる態で動きます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>おっけい、それなら大丈夫ぅ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@PL</div><div class='col-sm-10 serif'>できたできた。だんだん年齢があがるEviPC</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>後藤お父さんは熱いなあ。娘ちゃんはめっちゃ元気?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@グラント</div><div class='col-sm-10 serif'>元気じゃよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>おっけい、元気ね。年齢設定とかほしいかも、もしかしたらその人のこと描写しないといけない場合があるので……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@グラント</div><div class='col-sm-10 serif'>（ころころ……）娘は15しゃい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>おっけい、中学3あたりかな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>（ころころ……）弟は15才かな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あー、つながりましたねぇ……</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>祖父ちゃんは20歳にしよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>祖父ちゃん20歳ってどういうことなのよぉおお</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>200才の打ち間違えでしょう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>賢い。大切な人 = 雑草魂を教えてくれた祖父(200歳、生き仏)。こうでいい?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>忍者だからそのぐらいぶっ飛んだ設定でもいいかも。けど祖父……?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ニンジャスゴイナー</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>まあ150超えて子作りしたということで……</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>ゲンキダナー</div></div>
        </section>
    </div>
{% endblock %}