{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>氷華の個別エンディング</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>結局、ヒョウカは契約書に関してはどういう判断を下したんだろう。契約書はハンコおしてなかったよね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>ああどうするかなあ。契約も結んでおくか、街というか世界中の病院を教育しないといけないし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>結局はサインはしちゃう?　しなくてもついていくってのもいいかなって思ってた。ついていかない、って選択肢はキャンペーン離脱になっちゃう。できればきてほしい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>シナリオブレイクに定評のあるkaeruくんならしない可能性も……</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>まあサインはしようか。後々面倒になるといけないし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@グラント</div><div class='col-sm-10 serif'>シロノに山賊の頭と「次はお前だ」ってメッセージ送るんでしょ、知ってる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>やめちくり～><</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>平常運転で何より</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@シロノ</div><div class='col-sm-10 serif'>じゃあ、出発前。そのサインを見て</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@シロノ</div><div class='col-sm-10 serif'>「……いいんですか、ヒョウカ様」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>「構わないわ、この世界でやらないといけないことも見つけたしね」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>解剖した遺体の図を紙に書き込みながら言おう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>異世界の人種全ての肉を味わうことかな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>まあ一通り解剖はしないとね。やっぱエルフやドワーフは体のつくりが違うだろうし</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@シロノ</div><div class='col-sm-10 serif'>んでは、そんな姿を見て。ありがとう、と言いながら馬車の方に走っていきました</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>感動的だなー</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>まあエルフの方が美味しいと思うよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>ニンジャがなんか怖いこと言ってる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>いきなりの裏切りにびっくり</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>根は善ね、根は善だからね(二度言う</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>共通エンディング</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        [シーンPC] 全員<br>
                        [季節・天気・時間] 春、快晴、朝<br>
                        [場所] エルフの王国、城外、城門前<br>
                        <br>
                        　昨日までの陰鬱な天気が嘘のような、雲ひとつない青空が広がっている。<br>
                        「みなさーん、そろそろ出発しますよー」<br>
                        　軽装備に身を包んだシロノが、キミたちの方に手を振っていた。<br>
                        　すぐ側には、二頭立ての馬車――よく見ると額に一本のツノが生えてるあたり普通の『馬』ではないのかもしれないが――と白い布で作られた荷台(カバードワゴン)がある。<br>
                        「早くせんと、置いていってしまうぞー」<br>
                        　御者台に座っているのは、大賢者アステルだった。手に持ったムチを、指揮棒のようにビュンビュンと振りまわしている。<br>
                        <br>
                    </blockquote>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>って感じ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@グラント</div><div class='col-sm-10 serif'>のりこめー^^</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>「そんな急がないでくれよ、だいけんじゃさま～」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アステル</div><div class='col-sm-10 serif'>「善は急げなのじゃ～」とにこやかだ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>ああそっか旅にでるんだった</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>だから氷大丈夫?って言ってたと思う</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@グラント</div><div class='col-sm-10 serif'>ぐっばい氷</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>じゃあ死体は旅の荷物に入れておきます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>死体を野ざらしにすることで更なる病原体が……</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>そして適度に凍らせるから問題ないよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>こっそり捨てるね^^</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>うーん、どうしようかな。必要な荷物以外は載せられない設定だったから、どうしても持っていくなら背負っていく感じになる</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>捨てたらもう治療しないからね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>検問あったら即アウトじゃないか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>まあばらしてカバンに入れて背負いましょう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@グラント</div><div class='col-sm-10 serif'>ネクロフィリアだったんですか?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>戦利品を冷蔵庫に入れるアレだよそれ!?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>カニバリズムだったはず</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@グラント</div><div class='col-sm-10 serif'>ああ、食料に見えてるのか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>いや異世界人と地球人で人体構造に違いがあると困るから解剖学的にね必要なんだ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>非常食を持っていくと考えたら可笑しい事ではない</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>「(こいつ……やっぱり頭おかしい)」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>では続き……</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        「それでは――」<br>
                        「白の旅団、出発しんこー、なのじゃ!」<br>
                        　ムチのしなる音とともに、馬車が動き出す。<br>
                        　こうして『白の旅団(しろのりょだん)』は、試験交流都市『グリーンゴールド』に向けて出発したのだった。<br>
                        <br>
                        第一話「白のエルフ姫」おしまい<br>
                        <br>
                    </blockquote>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>以上、お疲れ様でしたー!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>お疲れ様です</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>おつかれー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@グラント</div><div class='col-sm-10 serif'>おつかれーーーー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あ、最後に次回のフックを……</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        　ガラガラと城門を離れていく馬車を物陰から見つめる人影が一つ。<br>
                        「――――絶対に」<br>
                        　そう一言つぶやくと、暗闇に溶けるようにして姿を消した。<br>
                        　(つづく)
                    </blockquote>
                </div>
            </div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>次回の獲物かな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>若頭の恋人かな?　こうやって復讐の連鎖が始まるんだよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>なんだそりゃぁ^q^</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>感想戦</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>こんな感じかな～。あとは自由解散でいいぞう!　あ、次回以降は例のごとくキャラごとにピックアップ回にしたいんだけど、どう?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@グラント</div><div class='col-sm-10 serif'>ええんでないかな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>合点承知</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>感謝感謝。んで、今できてるプロットだと。2回目ファンタジー、3回目現代(過去)、4回目ファンタジーって感じにする予定なんだけど、どれ担当したいか決めてほしい</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>3回目だけ毛色が違うな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@グラント</div><div class='col-sm-10 serif'>ふむ?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>現代に戻ることがあるのね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>過去編でしょ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>GOだし、さすがに一回くらいは現代やらないとダメかなと。シナリオ的にも都合良いので</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@氷華</div><div class='col-sm-10 serif'>（コロコロ）……まあじゃあ自分が3やるか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ほいほい。他の二人はファンタジーでいいかな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@幻蔵</div><div class='col-sm-10 serif'>いいですよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ゲンゾウ、グラントがファンタジー。ヒョウカが現代(過去編)で作っときます。ゲンゾとグラはどっちがどっちになるかは開けてからのお楽しみで</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>冒険の書</h2>
                    <p>これまでの冒険を記録しますか？　▼はい　いいえ</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th></th>
                                <th>グラント・後藤</th>
                                <th>鏡 氷華</th>
                                <th>日隠 幻蔵</th>
                            </tr>
                            <tr>
                                <th>セッションに最後まで参加した(5)</th>
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th>シナリオの目的を達成した(10)</th>
                                <td>10</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th>よいロールプレイをした(1)</th>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>他のプレイヤーを助けた(1)</th>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>セッションの進行を助けた(1)</th>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>場所の手配、連絡を行った(2)</th>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th>総獲得経験値</th>
                                <td><b>18</b></td>
                                <td><b>18</b></td>
                                <td><b>18</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name">冒険の書</div>
                <div class="col-sm-10 serif">「記録しました。ゆっくり休んでくださいね」</div>
            </div>
        </section>
    </div>
{% endblock %}