{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>前回までのあらすじ</h2>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        ここは極東のとある地域にある学園都市。<br>
                        その都市の中でも最も古くからある私立魔輝銀会学園(シリツマキギンカイガクエン)。<br>
                        キミ達はその学園の高等部「ゼロ特別クラス」に所属している生徒である。<br>
                        <br>
                        都市内で噂られていたアヤシイ薬と、藤堂社崩壊の危機を救ったゼロ特のオーダー達。<br>
                        事件は新聞やゴシップ雑誌にすら載らなかったが、彼らの持つ真新しい装備品、藤堂印が輝くそれらは、事件が無事に解決されたことを静かに物語っていた。<br>
                        さて、季節は移ろい、冬の足音が聞こえてきた今日この頃、ゼロ特クラスに鶫の見知った顔の人物が訪ねて来る―――。<br>
                    </blockquote>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>トレーラー</h2>
                    <p>今回は豺虎鶫さんピックアップの回です</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        豺虎鶫は空を見上げていた。<br>
                        <br>
                        「(オレは―――。)」<br>
                        <br>
                        鶫の視線の先には、雲一つない、空気の透き通ったすがすがしい青。<br>
                        <br>
                        「―――それでは！」<br>
                        <br>
                        マイクを通して妙に陽気な声が響く。<br>
                        <br>
                        「お次は魔輝銀会学園からの秘密兵器！」<br>
                        <br>
                        鶫は静かに目をつむる。<br>
                        <br>
                        「(なぜ―――。)」<br>
                        <br>
                        自分の胸につけてある「293」と書かれたバッヂを触る。<br>
                        <br>
                        「エントリーナンバー293番！ツグミちゃん！張り切ってどうぞー！」<br>
                        <br>
                        鶫の目の前にあったカーテンが勢いよく落ちた。<br>
                        <br>
                        ここは学園都市毎年恒例の『花嫁一番コンテスト』の会場。<br>
                        超満員の会場は異様な熱気に包まれていた。<br>
                        <br>
                        秋晴れのすがすがしい空の元、かわいらしい水着を身に着けた鶫は、心の中で泣いていた・・・かもしれない。<br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="text-center">
                            ガーデンオーダーTRPG シリーズ「ゼロ特学園生活！」<br>
                            第5話「絶対！オレが！一番花嫁！」<br>
                            その絆、ゼロをも凌駕し、平和をつかめ！
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                    </blockquote>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>シナリオインフォメーション</h2>
                    <p>天下一ヒロイン武道会と最後まで悩んだんですけど・・・</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        [予定時間] 9時間(3時間x3)<br>
                        [推奨PL人数] 3 - 4人<br>
                        [難易度] NORMAL<br>
                        [セッション傾向] ミッション、戦闘、非PvP<br>
                    </blockquote>
                </div>
            </div>
        </section>
    </div>
{% endblock %}