{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>キャラクター成長</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">成長報告「藤堂栄」</p>
                        引継経験点    + XXX点 <br>
                        獲得経験点    + XXX点 (計XXX点)<br>
                        消費経験点    - XXX点 XXXXXXXXXX<br>
                    </blockquote>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">成長報告「豺虎鶫」</p>
                        引継経験点    + XXX点 <br>
                        獲得経験点    + XXX点 (計XXX点)<br>
                        消費経験点    - XXX点 XXXXXXXXXX<br>
                    </blockquote>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">成長報告「鶯餡子」</p>
                        引継経験点    + XXX点 <br>
                        獲得経験点    + XXX点 (計XXX点)<br>
                        消費経験点    - XXX点 XXXXXXXXXX<br>
                    </blockquote>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>スタイル決定</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>※どっちにしますかい</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>トレーラー</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>※別ページ参照</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>オープニング</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        [シーンPC] XXXXX<br>
                        [場所] XXXXX<br>
                        [時間] XXXXX<br>
                        [描写]<br>
                        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX<br>
                        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX<br>
                        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                    </blockquote>
                </div>
            </div>
        </section>
    </div>
{% endblock %}