{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>キャラクター成長</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">成長報告「藤堂栄」</p>
                        引継経験点 + 04点<br>
                        獲得経験点 + 23点 (計27点)<br>
                        消費経験点 - 25点 パワードスーツ
                    </blockquote>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">成長報告「豺虎鶫」</p>
                        引継経験点 + 5点<br>
                        獲得経験点 + 23点 (計28点)<br>
                        消費経験点 - 28点 銃撃強化
                    </blockquote>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">成長報告「鶯餡子」</p>
                        引継経験点 + 23点<br>
                        獲得経験点 + 23点 (計46点)<br>
                        消費経験点 - 30点 特性能力Lv5→6
                    </blockquote>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>スタイル決定</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        [ソロスタイル] 豺虎鶫<br>
                        [バディスタイル] 鶯餡子 & 藤堂栄<br>
                    </blockquote>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>トレーラー</h2>
                    <p>※別ページ参照</p>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>んじゃめな、始めます。ゼロ特学園生活!第5話はじまりはじまり～。例のごとく、前回のあらすじとトレーラーをどうぞ。</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>よんだ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>読みましたが……まさかの水着回か</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>誰得なんだろう</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>けもなー?</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>全国の鶫ファン待望ですよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>頑張れ鶫ちゃんの回になるはず。展開としては、2話目にやったマラソン大会の回に似てる進行になると思う……いまんところ。この時点で何か質問あるかな～?</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>ないかな</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>大丈夫です</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>もぐもぐ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>あいよ、ではオープニングいってみよ～</div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>オープニング</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        [シーンPC] 全員<br>
                        [場所] ゼロ特別クラス教室<br>
                        [時間] トレーラーから3日前、夕方<br>
                        時はさかのぼること3日前。<br>
                        キミ達は、いつものように教室で査問委員会を開こうと準備をしているところだ。<br>
                        そこに見慣れない制服を着た生徒が飛び込んできた。<br>
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>今回は、シーンがトレーラーの3日前から始まります</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>部外者おおすぎぃ!</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>この学校の警備やばいね</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>いつも一般開放してそう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>来るもの拒まず……がモットーですので^^</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>その部外者は、教室に駆け込んでくるなり、こう叫びました</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>ギャルのパンティおくれ!</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>変態かな</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@ブガイシャー</div>
                <div class='col-sm-10 serif'>「鶫さん!つぐみさーーーーん!!マッドドッグでぶいぶい言わせてた、つぐみさーーーーん!」</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>SMクラブの名前だろうか</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>「あん!?なんだあてめえ!」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@ブガイシャー</div>
                <div class='col-sm-10 serif'>「つ、鶫さん!?ああ!?よかったここにいるって情報は本当だったんすね!オレです、オレ、東山秀吉(ヒガシヤマヒデヨシ)です」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>「……誰だっけ?おまえ?」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>鶫は思い出してほしいんだけど、中等部のころマッドドッグで一緒に悪さしてた仲間みたいな人物。ということにしてほしい。東山君は、学園の制服ではない、どちらかというと学ランに近い制服を着た男子生徒のようです</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>舎弟かな</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>今では七三分けメガネになって……</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>「ああ思い出した!サルかお前」秀吉だからあだ名はサルだな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>ちなみに『マッドドッグ』というのは、鶫の設定にある昔の不良グループの名前です。ちなみに今もやってるの?マッドドッグ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>鶫は知らないな、抜けたあとどうなったかは決めてないし</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>んむ、ならばまあ自然解散したって感じでいこうかな</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>まあリーダー居なくなったしね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>鶫がいなくなったあと解散前にみんなで旅行にいったことは彼らの忘れられない思い出である</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>小学生の不良グループってすごいな</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@サルゥ</div>
                <div class='col-sm-10 serif'>「助けちください!西脇が!西脇が!」そういうなり、抱き着く勢いですがりついてきた</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>西脇(NPC)ってのも、サルゥ君と同じポジションの人物だと思ってください</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>「ええい!うるせえべたべた触るんじゃねえ」蹴ります</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@サルゥ</div>
                <div class='col-sm-10 serif'>「ああ、やっぱり!これでこそ鶫さんだぁ!」と少しうれしそうです</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>ロリコンかな?</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@サルゥ</div>
                <div class='col-sm-10 serif'>「――西脇が、あいつらにさらわれちまったんです!」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>「チッ、あたいは今は足を洗ってんだ、あんまり巻き込むなよな……で?何がどうなったんだ?」</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>ないすで～す。では、以下の内容を話してくれました</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        - 不良グループ「マッドドッグ」の右腕だった「西脇明日香(ニシワキアスカ)」が、同じく不良グループ「カッツェンツンゲン」によってさらわれた<br>
                        - 人質の交換条件として「3日後に開催される『花嫁一番コンテスト』の優勝賞品を持ってこい」とのこと<br>
                        - 口外した場合は、人質がそれはもうひどいことになってしまう!
                    </blockquote>
                </div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>西脇って女だったのか</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>どっちでもいいような名前にしてる、どっちがいい?</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>助けるなら女のほうが盛り上がる</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>おっけい、じゃあ女性ってことにしておこう</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>藁にもすがる思いできたんだね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>藁というかサメにすがるかんじ</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@サルゥ</div>
                <div class='col-sm-10 serif'>「って感じなんです!頼んます!こんなこと頼めるの、鶫さん以外にオレ達知らなくち……」と床に正座して涙ぐんでいます</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>「たく、随分と舐めたまねしてくれるな、そいつら潰すか」</div>
            </div>
            <div class='row npc'>
                <div class='col-sm-2 name'>naki@サルゥ</div>
                <div class='col-sm-10 serif'>「ちょ!ちょっとまってください!それだと、明日香が!どうなるかはよくわからないですけど、ひどいことになっちまいます!」</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>というか鶫に頼んだ時点でアウトじゃねえかこの条件だと</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>お、いいところに気が付いてくれたな。そこが今回のシナリオのミソなのだ。というのも、セッション的には、鶫はコンテストに出場してもらうけど、他の2名は何やってもいいとしてます。ゲームの内容的には「コンテストで優勝すること」が目的なので、みなで知恵を絞って優勝してほしい</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>野次でも飛ばすか</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>というかコンテストならお嬢のほうが参加した方がいい気がするが、ファンクラブあるし</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>優勝が決まっている勝負って楽しい?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>ビデオカメラ調達してこよ</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>黒歴史ファイルを作って進ぜよう</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>カメラは事前に全部銃撃しとく</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>オープニングは、チームの方向性が決定したら終わりになります。さて、どうしましょか?あ、その前にミドルフェイズの進め方だけ伝えさせてちょうだい</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">ミドルフェイズの進め方</p>
                        今回は、コンテストに参加することで話が進んでいきます。<br>
                        コンテストには3種類の種目があり、それぞれで獲得した総合得点によって物語が分岐します。<br>
                        <br>
                        1. 鶫の自由行動シーン<br>
                        1. 栄の自由行動シーン<br>
                        1. 餡子の自由行動シーン<br>
                        2. コンテストシーン<br>
                        <br>
                        ※1~2を3回繰り返すと、自動的にクライマックスフェイズに突入する<br>
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>って感じの進行になります。</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">自由行動</p>
                        コンテストシーンに入る前に「自由行動」が取れます。<br>
                        自由行動では、コンテストに有利なシーンを演出する毎に5ポイントの追加得点を取得可能です。<br>
                        有利な行動かどうかはGMが判断します。<br>
                        <br>
                        失敗: 0点<br>
                        成功: 5点<br>
                    </blockquote>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">コンテストシーン</p>
                        種目の判定は「コンテストシーン」と呼ばれる特殊なシーンで判定します。<br>
                        判定方法は各種目ごとに設定されています。<br>
                        点数の計算は、チーム全体(3人)で1つの得点として扱います。<br>
                        <br>
                        ファンブル: 0点<br>
                        失敗: 5点<br>
                        成功: 10点<br>
                        クリティカル: 15点<br>
                    </blockquote>
                </div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>マラソンのときみたいにグダグダやるのもあれなので、一応得点形式を採用しました。優勝判定のボーダーも決まってるんだけど、聞きます?内緒でやってもらってもいいと思ってる</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>まあ本来は知らないわけだしヒミツでいいよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>あいあい、じゃあ内緒でいこう</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>どうせなら先生もコンテストでる?</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>先生でたら優勝してまう</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>コンテストに自信ある人多いし3人で行くか</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>3人で出たら一人ぐらい優勝するでしょ</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>チーム参加かな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>鶫はコンテスト参加必須。餡子はどうする?栄はどうする?を聞いたら、ミドルフェイズにいきます。今回のセッション全体の方針というか、立ち位置を先にプロットしてもらうって感じね</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>もし参加しなかったらどうなります?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>鶫が参加しない場合は、歴史改変が起こりセッションが終了します。他の2人は割と自由でOK。アイディア次第でいろいろできると思う</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>支援するってこと?</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>支援してもいいし、ライバルとして登場してもいいし</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>ぼくは裏方ですきなことをしよう</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>まあ、evi君はそういうと思ったから、特に何も思い浮かばないなら「審査員」をやってもらおうと思ってる</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>鶫の代わりに明日香ちゃん舎弟にしたいから、でよう</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>あすかちゃん争奪戦なのか??????</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>裏で人質救出とかかっこいいと思いますよ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>ルートはあるから、できるにはできるで。それ難易度VERYHARDの展開です</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>ほとんどサイボーグと化した先生がゴロツキと殴り合う戦いがはじまる</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>映画化しそう。サイボーグティーチャーSAKAE</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>まあピンチになったら裏で先生がなんとかするでしょうし</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>え?カメラマンやるだけだけど</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>先生はこっちとバディなんで……</div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">プロット最終確認</p>
                        鶫 = コンテスト参加(強制)<br>
                        餡子 = コンテスト参加<br>
                        栄 = カメラマンやる
                    </blockquote>
                </div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>無論、商品は山分け</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>山分けできる内容なのかな</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>半分にするさ、トロフィーでもね</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>あすかちゃんでも……ウィンドカッターで……</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>ていうか優勝商品がなにかしらんな。同じもの買っていけば解決するかな</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>え～ちなみに優勝賞品ですが……「『卒業式の日に伝説の樹の下で告白して生まれたカップルは永遠に幸せになれる』という伝説の樹からへし折ってきた伝説の枝」です</div>
            </div>
            <div class='row aneko'>
                <div class='col-sm-2 name'>aneko@餡子</div>
                <div class='col-sm-10 serif'>半分にできるね!</div>
            </div>
            <div class='row evi'>
                <div class='col-sm-2 name'>evi@栄</div>
                <div class='col-sm-10 serif'>植樹して増やそう</div>
            </div>
            <div class='row kaeru'>
                <div class='col-sm-2 name'>kaeru@鶫</div>
                <div class='col-sm-10 serif'>接ぎ木すれば可能。もう勝手に枝とりに行こうぜ</div>
            </div>
            <div class='row gm'>
                <div class='col-sm-2 name'>naki@GM</div>
                <div class='col-sm-10 serif'>入手するルートもありますけど、そのためにはいろいろなパラメーターを3か月かけて強化していくという苦行が……。よし、じゃあさっきの最終プロットで異議ないってことで進めます</div>
            </div>
        </section>
    </div>
{% endblock %}