{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>

            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>前回までのあらすじ</h2>
                    <p>動きがないキャンペーンなので毎回同じ・・・</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        ここは極東のとある地域にある学園都市。<br>
                        <br>
                        その都市の中でも最も古くからある私立魔輝銀会学園(シリツ マキギンカイガクエン)。<br>
                        <br>
                        キミ達はその学園の高等部「ゼロ特別クラス」に所属している生徒である。<br>
                        <br>
                        幸か不幸か、今回もなぜだかトラブルが舞い込んでくる予感。<br>
                        <br>
                        学園のトラブルメーカーとしての地位に甘んじるか、学園の救世主となるかはキミたち次第だ。
                    </blockquote>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>トレーラー</h2>
                    <p>長いけど、読んで雰囲気つかんでどうぞ</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        学園恒例晩春のマラソン大会も終わり、筋肉痛も和らいできた今日この頃・・・。<br>
                        <br>
                        ――― シトシト<br>
                        <br>
                        教室の窓には、朝から降り続いている雨が当たっている。<br>
                        <br>
                        窓枠には、誰が取り付けたのだろう、テルテル坊主が陰鬱な表情をしてぶら下がっていた。<br>
                        <br>
                        テルテル坊主だけではない、教室の誰もがこの陰鬱な時期の雰囲気にうんざりしているようだった。<br>
                        <br>
                        ――― ジメジメ<br>
                        <br>
                        頬杖をついて、鴬餡子はボーっと黒板を見つめる。<br>
                        <br>
                        (ああ、なにか楽しいことが起こらないかしら)<br>
                        <br>
                        餡子は退屈そうに大きくため息をつく・・・。<br>
                        <br>
                        ――― ガララッ！<br>
                        <br>
                        餡子がもう一度ため息をつこうとした時だった、教室の前の扉が勢いよく開いたのは。<br>
                        <br>
                        (誰もいない・・・？)<br>
                        <br>
                        不思議に思った餡子が視線を少し落とすと、鮮やかなピンク色の髪をした<b>女の子がそこに立っていた</b>。<br>
                        <br>
                        女の子は不安そうに教室内を見回す。<br>
                        <br>
                        自然と餡子と女の子の目が合う。<br>
                        <br>
                        その次の瞬間、女の子からは不安の表情は消え、太陽のような笑顔でこう言った。<br>
                        <br>
                        「<b>・・・ママ！</b>」<br>
                        <br>
                        女の子は一直線に走り出した。その笑顔の先には餡子。<br>
                        <br>
                        教室の空気は一瞬で凍り付く、ほとんどのものが状況を理解していなかっただろう。<br>
                        <br>
                        女の子はそのまま餡子に抱きつく、まるで自分の母親に抱き着いて甘える子どものように。<br>
                        <br>
                        「「「・・・」」」<br>
                        <br>
                        教室中に静寂が満ちる。<br>
                        <br>
                        「「「<b>ま、ママぁ！？</b>」」」<br>
                        <br>
                        教室中の生徒全員がガタタと席を立ちあがり、視線が餡子とその女の子に集中した。<br>
                        <br>
                        ――― ああ、またトラブルが向こうからやってきた。<br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="text-center">
                            ガーデンオーダーTRPG シリーズ「ゼロ特学園生活！」<br>
                            第3話「あむあいゆあまざー！？」<br>
                            その絆、ゼロをも凌駕し、平和をつかめ！
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                    </blockquote>
                </div>
            </div>
        </section>
    </div>
{% endblock %}