{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>前回までのあらすじ</h2>
                    <p>キャラと伏線だけが増えていく・・・</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        ここは極東のとある地域にある学園都市。<br>
                        その都市の中でも最も古くからある私立魔輝銀会学園(シリツ マキギンカイガクエン)。<br>
                        キミ達はその学園の高等部「ゼロ特別クラス」に所属している生徒である。<br>
                        <br>
                        季節外れの転校生もクラスに少しだけ馴染んできて、いよいよ夏本番！<br>
                        ―――と思った矢先、学園の職員室に見慣れない制服を着た女性がやってきたのだった。
                    </blockquote>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>トレーラー</h2>
                    <p>今回は藤堂栄君ピックアップの回です</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        夕暮れどきの空き教室。男と女、二つの影。<br>
                        男は教育実習生、女は頬を朱に染めている。<br>
                        雰囲気の良いBGMでも流れていれば、まるで青春ドラマのワンシーンのようなシチュエーションだったろう―――。<br>
                        <br>
                        教育実習生の名前は藤堂栄。<br>
                        恋多きお年頃の生徒たちに囲まれているためか、生来の素質か、こういった経験は今までに何度かあった。<br>
                        職務に忠実な栄は、波風立てずに断る理由を考える。いつものように。<br>
                        <br>
                        しかし、目の前の女の口から告げられた内容は、いつもとはあまりにも違う、突拍子のないものだった。<br>
                        <br>
                        「―――お前の後見人、藤堂高虎が先ほど拘束された。殺人の容疑だ。」<br>
                        <br>
                        栄は身内の名前と不穏な単語の組み合わせに思わずぎょっとした。<br>
                        目の前にいる女をよくよく見るに、見た目こそ凛として美しいが、その瞳は氷のように冷たい。<br>
                        先ほど頬を朱に染めているように見えたのは夕暮れ時のせいだったようだ。<br>
                        <br>
                        「容疑者はお前と話があるそうだ。今すぐ支度し、正面まで来い。以上だ。」<br>
                        <br>
                        恋する乙女改め、冷徹を絵にかいたような女は、無感情に言い放ち、ツカツカとブーツの音高らかに空き教室を出ていった。<br>
                        夕暮れどきの空き教室。残された男、一つの影。<br>
                        藤堂栄は困っていた―――。<br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="text-center">
                            ガーデンオーダーTRPG シリーズ「ゼロ特学園生活！」<br>
                            第4話「事件No.90993」<br>
                            その絆、ゼロをも凌駕し、平和をつかめ！
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                    </blockquote>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>シナリオインフォメーション</h2>
                    <p>要望聞いてシリアス寄りの何かを目指した結果、よくわからないものが出来上がった気がする</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        [予定時間] 9時間(3時間x3)<br>
                        [推奨PL人数] 3 - 4人<br>
                        [難易度] NORMAL<br>
                        [セッション傾向] シリアス、タイムリミット、探索、戦闘、非PvP、マルチエンディング(3種)<br>
                    </blockquote>
                </div>
            </div>
        </section>
    </div>
{% endblock %}