{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>キャラクター成長</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>経験点はいつもと同じ18点。各自経験点いくらつかったか報告よろり、15分までで締切。アイテム購入に関しては前回のアドバンスドルールを適応のこと</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>成長どうするかなあ・・・</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">成長報告「藤堂栄」</p>
                        引継経験点    + 16点 <br>
                        獲得経験点    + 18点 (計34点)<br>
                        消費経験点    - 30点 特性技能をランクアップ<br>
                    </blockquote>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ででたぁああ、ホントにランクアップしやがったああ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ムッハハハハ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>ロケットランチャー買うの有かと思ったがどうだろう？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>エンゲージ内に無差別だから、近接する私はだいたい死ぬ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>ＧＭ逆に武器売って経験点とかには出来ないんだっけ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>そういうルールはないなぁ。よってなしの方向で</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>とすると、ロケランとると機関銃が死んでしまう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>1シーンに1回だから、1発撃ったらその戦闘は木偶の坊ですね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>うーむ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>持ち替えについてルルブで言及されてないかもしれない。ぶっちゃけロケラン、衝撃属性だからあんまり強くない気がする・・・</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">成長報告「豺虎鶫」</p>
                        獲得経験点    + 18点<br>
                        消費経験点    - 18点 銃器+18
                    </blockquote>
                </div>
            </div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>これで銃器の値は154になった、ロケランは諦めましたはい。154だから３回攻撃できるじゃん！強い！！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ほしければ買ってやるよ（貴族の顔）</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>当たればね当たれば・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>51,51,52か・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>当たるに決まってるさあ、しかもクリティカルも30あるしね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>クリティカルは変わらないの？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>今見たら変わらないって書いてあった(Ｐ217)</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>つよい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>(げ、ほんとだ)こりゃつええわ！・・・最後に餡子はいかがする？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>今回は次回特性上げたいので未使用です</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">成長報告「鶯餡子」</p>
                        消費経験点    なし
                    </blockquote>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>らじゃ。じゃあ全員成長はOK</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>スタイル決定</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>で、バディスタイルなんだけど、GMのハンドアウト的には栄ソロ、あんこつぐみでバディ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>希望があるなら崩してくれて構わない。どうする？＞ALL</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>OKです、下僕はいたほうがいい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>栄はソロだと買い物マシーンになるが大丈夫ですか？バディでもヒーリングマシーンだけど</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>いつもの事じゃないか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あ、今回救済策があるから栄は必ずしも買い物マシーンになる必要はない・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>というと？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ルールの共有メモ#4の特殊ルールを見てほしいんだけど・・・</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">特殊ルール#4「購入判定について」</p>
                        今回、栄くんがシーンプレイヤーになるシーンがいくつかあります。<br>
                        シナリオの都合でキャラの持ち味(購入判定で活躍できるように作ってある)を殺しちゃうのは本意ではないので、その代替案として特殊な購入判定を用意してます。<br>
                        <br>
                        1. クライマックスフェイズの前に、シーンを消費しない購入判定ができる<br>
                        2. チャレンジ回数は各自2回まで<br>
                        3. ミドルフェイズ中に舞台裏PCになって「負傷の回復」「購入判定」を選択した場合、その分だけこの特殊な購入判定のチャレンジ回数が減少する<br>
                        <br>
                        例:<br>
                        ミドルフェイズのシーン3でクライマックスフェイズに突入した場合<br>
                        [パターン1] 舞台裏で行動0回 = チャレンジ回数2<br>
                        [パターン2] 舞台裏で行動1回 = チャレンジ回数1<br>
                        [パターン3] 舞台裏で行動2回 = チャレンジ回数0<br>
                        [パターン4] 舞台裏で行動3回 = チャレンジ回数0<br>
                    </blockquote>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>例見てくれればわかると思うけど、そんな感じでシーン消費しない購入判定が可能な条件が用意されてます。うまく使ってトゥルーエンドを目指してね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>おｋ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>舞台裏に行った分だけ最後の購入判定ができなくなるのか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>そうだね、購入判定っていうストックがあるイメージで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>これ先生が序盤に大怪我して回復判定に専念しだしたら笑うね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>んむ、そういうのも含めてストックは消費するからよく考えてダメージをもらうこと</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>みんな、肉盾を守ってね</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>トレーラー</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>※別ページ参照</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>リプレイでタイトル見ちゃったなんていえない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>視聴率が高いのはいいことだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>オープン情報だから問題なかろうもんなのだ。読んだら教えてね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>(読み読み・・・)また謎の女子が増えたぞ、どれがヒロインだろう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>え、それは保健室のアノ人だけど・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>(読み読み・・・)よんだ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>(読み読み・・・)なるほどサツをぶっ潰せば解決か</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>今回は栄君の後見人(親みたいなもの)が殺人事件を起こしたところから始まります</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>やっちまったかぁー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>セッション傾向はシリアス、エンディングは時間経過によって分岐の3種類。トゥルーエンドはたぶん相当難しいです（脳内予想的な意味で</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>メンツ的に厳しそう。とはいえ、時間経過か・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>速攻で突っ込むしかないな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>最速がBADルートなんですよ？知らないんですか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>そんなゲームある！？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>最初の選択肢でBADEND</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>数時間放置しないと進まない古の神ゲーがあったような・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>Trueエンド見るためにリアル4時間放置しないといけないゲームあったなあ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>それ発見した人すごいね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>んじゃあ、前置きが長くなっちゃったけど、ゼロ特学園生活！第4話「事件No.90993」はじまりはじまり～</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>オープニング「檻の中の虎」</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        [シーンPC] 藤堂栄<br>
                        [場所] 面会室<br>
                        [時間] 夜<br>
                        [描写]<br>
                        護送車を降りた先の施設で「面会室」と書かれた部屋に通される。<br>
                        面会室は、白一面の部屋、中央に椅子が一つ置かれるのみ。<br>
                        キミの後見人である藤堂高虎は、目をつぶったままその椅子に座っていた。
                    </blockquote>
                </div>
            </div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>後見人という言い回しが気になるのだけど、なに血が繋がってないの</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>そうだね、血はつながってないね。栄君は幼いときに彼に養子としてひきとられてます。けど恩人みたいな、そういうポジの人</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>仮初のパパか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>実の親子でも後見人って言葉使った気がする</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ほほー、そうなんだ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>(アイコン見て)思った以上におじいさんやな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>(アイコン見て)ジブリにでてきそう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>老子！！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>意外と雰囲気あるおじいちゃんの絵ってなかなかないんだよね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ともあれパパの人となりをみないとRPが定まらない</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@藤堂高虎</div><div class='col-sm-10 serif'>「———栄か。」高虎は入ってきた栄を見て言います</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>還暦を迎えた翁ではあるが、その眼光は鋭く、並みの人間なら一睨みで気を失ってしまうだろう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>「報せを聞きました、旦那様。いったい、何が・・・」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@藤堂高虎</div><div class='col-sm-10 serif'>「そこの小娘、わしが人を殺めたと言う。実におかしなことをいうことだ・・・」高虎は目を閉じたまま、くつくつと笑う</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ヒロイン候補もいるのか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>そこの小娘っていうのは、栄君を呼びに来た人ね。取り調べ室とかによくある向こう側からしか見えない壁の奥にいるニュアンス</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@藤堂高虎</div><div class='col-sm-10 serif'>「だが、ほれ、わしの首には無粋な爆弾なんぞつけられておる。わしはここから動くことができん。」そういうと鈍く光る首輪をトントンとする</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>※そういう趣味の人ではない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>「何かの間違いでは？旦那様がそのような・・・しかも、常識的な扱いではない！」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>首に爆弾とはどこの国だろう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>日本だよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>出るとこに出てやる！（出ている）</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@藤堂高虎</div><div class='col-sm-10 serif'>「さよう・・・それでもわしはやってない。」悲しそうな顔</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>痴漢冤罪かな？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あ、あぶないシリアス顔が崩れてしまうところだった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>「そういえば、旦那様からお話があると。」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@藤堂高虎</div><div class='col-sm-10 serif'>「栄、この件・・・お前の手を貸してはくれぬか。」高虎の目は鋭く栄を見た</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>暗殺なら任せろ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>シリアスキラー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>お呼びでない</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>こりゃまたしつれい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>「この状況でいかな手助けができるか分かりませんが、何なりと命じて下さい。」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@藤堂高虎</div><div class='col-sm-10 serif'>「そうか・・・」高虎は口元にわずかに笑みを浮かべたかのように見えた</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@藤堂高虎</div><div class='col-sm-10 serif'>「詳しい指示は犬塚に聞け。ここでは話せぬこともある。」とこれ以上話せることはないと目をつぶった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>犬塚君は高虎君の秘書である人です。栄君も面識があります</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>秘書がいるのか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>どんな人だろう・・・おとこ？おんな？えらい？えろい？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>間違いなくえろいとは思う</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>モエてきた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>「承知しました。一刻もはやく、旦那様の嫌疑を晴らします！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>んー、以上！他になにかやりたいことあるか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>終了でいいんじゃないですかね、OPだしサクッといこう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あいよ。んでは、栄が部屋を出るのを見届けると、高虎は静かにつぶやいた</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@藤堂高虎</div><div class='col-sm-10 serif'>「———わしに残された時間もあとわずか、か」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ゾンビモノでインシュリンが無いパターンだ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>寿命でしょ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>どのみち死ぬの？死ぬ運命しかないの？</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>吐血とかしてそう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>警察病院ってなんのためにあるんだろなぁ！</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>オープニング「委員長は見た」</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        [シーンPC] 鶯餡子、豺虎鶫<br>
                        [場所] ゼロ特別教室<br>
                        [時間] 放課後<br>
                        [描写]<br>
                        「大変だよ！大変だよー！」<br>
                        キミ達が帰り支度をしていると、委員長が血相を変えて飛び込んで来た。<br>
                        「い、今、あっちの空き教室で聞いちゃったんだよ！栄先生が———」<br>
                        ———その後、本日の議題と書かれた黒板には『栄先生が殺人容疑で捕まっちゃったよ！』とでかでかと書かれることになる
                    </blockquote>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>お次はバディのお二人</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「まあ、ついに・・・」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>デスメタル委員長だ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>「ヒューッ、ロックだな先生も」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@委員長</div><div class='col-sm-10 serif'>「ど、どうしよう・・・！先生にはまだ食べてもらいたいキノコがたくさんあったのに・・・」と庭で取れたキノコをギュッと握りしめます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>「お前もそのうち捕まりそうだよな委員長」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>毒味役かな？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「新しい先生が楽しみだわ～」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>「ケッどうせ先公なんざ碌な奴じゃねえさ」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>栄先生が死んだニュースを聞いた外国人の反応まとめ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>これはひどい＾ｑ＾；</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@ペロン</div><div class='col-sm-10 serif'>「んでー・・・せんせーどうするの？ほっとくのー？」とおもひでアルバムと書かれた写真集をペラペラみながらいいます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「鶫ちゃん、お世話になった先生にお別れの言葉を言いに行きましょ」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>「そーだな、せいぜい笑ってやるさ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「善はハリーアップ、さあいきましょう、ペロンちゃんも」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@ペロン</div><div class='col-sm-10 serif'>「わーい、お姉ちゃんとおでかけー」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@委員長</div><div class='col-sm-10 serif'>「そ、そっか！あんこちゃん、つぐみちゃん、やっぱり先生の事心配なんだね！ツンデレだね！」と手をパンと叩きます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>次の鶫シナリオでは覚悟しとけよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>俺が何したというんだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>なにもしないことが悪</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>鶫は不良だからね仕方ない</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@委員長</div><div class='col-sm-10 serif'>「それじゃあ後はよろしくね！」とサッサとキノコ農園に帰って行ってしまいました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ん～、以上！他になんかやりたいことある？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>ないかな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>ないね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>んでは、さくさくミドルフェイズにいきまーす</div></div>
        </section>
    </div>
{% endblock %}