{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>エンディングフェイズ</h2>
                    <p></p>
                </div>
            </div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>「汚ねえミンチだ」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「先生、生きてたんですか!」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>「餡子・・・勝手に無茶なことをして。あとで委員長の査問委員会で絞られてくるといい。だが助かった」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ぴくぴくしてる肉片を盾でザクッしよう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>先生!私にねぎらいの言葉はないんですか!!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「生きていることに感謝しましょう」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>レーザーブレードで焼肉にしよう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>「まあ今回も何とかなってよかったな、お嬢」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>ヘカトンケイルを…食べてる!?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>まさに死体蹴りなんだよなぁ・・・。では、思い思いに肉片と遊んでいる皆さんですが・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@秘書犬塚</div><div class='col-sm-10 serif'>「う、うう・・・」と苦しそうにしている秘書さんに気が付いてください</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ワンちゃん!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>「犬塚さん!大丈夫ですか!?銃弾とか当たってませんか!?裁判起こしましょう!」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@秘書犬塚</div><div class='col-sm-10 serif'>「う、うーん、ツグミ許すまじ・・・」と意識を失ったままっぽいですね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>面識ないよね!?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>鶫は全人類の恨みを買ってるから多少はね?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ここって結局研究施設みたいなとこなんですか?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>おお、いい所に気が付いてくれた。やっぱ見た目は古びた洋館って感じだね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>「お前たちの話だと、収集が大変そうだな・・・」と餡子と鶫の話をきいてぼやきます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「鶫ちゃん、あなたは少し先生を見習うべきだと思うの」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>オイルは有りますかあ?とりあえず床にガソリンまいとく</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>「お嬢、急に何の話だ?」ドボドボ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>「だが諸悪の根源は潰えた。こんな非人道な行為は二度と起こさせてはいけない」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>んじゃあ・・・ドボドボとガソリンをまく鶫ですが・・・全員感覚判定してください</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>というわけで鶫の車を爆発させ・・・なんだろう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>マイカーはやめて!ローンが残ってるの!!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>GO60 「感覚ロール」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>GardenOrder : D100<=60@12 → 16 → 成功</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO65</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=65@13 → 15 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>GO75</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>GardenOrder : D100<=75@15 → 52 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>じゃあ、みんなの耳に聞こえるけど、遠くからパトカーの音が聞こえるね。こっちにむかってきてるみたい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「鶫ちゃん、早く放火を!私達は裏手から逃げるから!」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>そして鶫は気が付きます。自分が載ってきて先ほど大破させた車の横には「日本国家警察 OS一課」とでかでかと描かれていることに</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>どういうことなの!?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>鶫の手に布をかぶせて出頭のポーズ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>脱獄編が始まるね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>たまげたなぁ・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>今回あたい何にも悪いことしてないよね!?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>「チィ、お嬢サツが来やがった、さっさと逃げるぜ!」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>「たとえ警察でも・・・こんな技術は引き渡せない。さっさと潰してずらかろう」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>というわけで鶫を爆破します</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>なんでさ!まあ着火して車で逃げよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>すごい顛末になってきた・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@電話で聞いた声</div><div class='col-sm-10 serif'>「まーたきさまかあ!つぐみぃ!今度という今度は―――」と怒声が聞こえたところでフェードアウトして・・・いい?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>うん</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>「あーばよーとっつあーん」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>僕は鶫に轢かれた体で病院いこ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>こっちも鶫に撃たれた体で病院いこ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>傷口が合わないと思うんですけど</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@秘書犬塚</div><div class='col-sm-10 serif'>「・・・」忘れ去られ打ち捨てられた犬塚の運命やいかに</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>拾ってあげよう。肩車フォームで運べば傷ついた二人でも運べるね!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>犬塚は運んで旦那様のとこにつれていく</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>以上!第4話「事件No.90993」おしまい!</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>感想戦</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>時間かなり余っちゃったな。個別エンドも一応あるんだけど、いい終わりっちゃ終わりっぽい</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>そもそもなんで犬塚いたんだろう?立ち位置が分からんよね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>犬塚さんはダークサイドだから</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>すごい怪しい雰囲気臭わせているNPC枠</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>プロジェクトFIの超兵士作成薬を独占したかったんでしょ(適当)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>正しい!ような、最短ルート目指すとその辺は全て語られずに終わる系シナリオ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>おじいちゃんの無実を証明しないとな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>そういえばおじいちゃんいたね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>おじいちゃんなんで捕まったんだろう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>そこ忘れてるのはもうどうしようもない</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>いや罪を擦り付けたの誰だったのかと思って</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>犬塚さんじゃないの?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>まあ非協力的だったしね。無実は証明されましたか・・・?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>確かに、証拠ってあったかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>犬塚さんが電磁操作か光波操作あたりでやらかしたと考えている</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">後日譚</p>
                        高虎さんは、燃えそこなった洋館から出てきたプロジェクトFIの研究資料やら、謎のアンプルから出てきた薬品が、爆発したISEインダストリーの誰かさんから出てきたものと一致したりで、無罪放免とあいなりました。<br>
                        藤堂社は今日も安泰。<br>
                        次期主力製品の強化バリスティックシールドの研究に余念がありません。
                    </blockquote>
                </div>
            </div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>わーい、おじいちゃんと暮らす!</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>珍しく有能な警察だ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>パワードスーツもよろしく</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>レーザーブレードも!</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>機関銃もよろしく</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ええいただで供給されようとしおって!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>バッドエンドだとどんなかんじだったんですか?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>バッドエンドだと、高虎君が死にます。まあ、肉腫が高虎君になるってだけね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>そんなー</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>なるほどなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>GOODの場合は、高虎が脱獄して、犬塚が肉片になります</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>今回で経験点27になったからパワードスーツの常備化P25を超えてるんですよねぇ・・・ククク</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>他をたたけば、栄にダメージが入ると気が付いてしまったのだ・・・。鶫に嫌がらせしつつ、餡子をたたけば・・・ふふふ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ヘカトンケイルですけど至近と近しかなくて移動しないから別エリアからバシバシしてたら楽勝だったんですよね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>yes, thats right. まあ、餡子が死にそうになっておかしいなあって気が付いたんだけどね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>初見殺し</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ちなみに当初のギミックでは3ターンに一回強制的にエリア移動する敵でした。ちゃんとフレーバーテキスト読まないといけないなって反省したわ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>特性があげれる!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ランク上がっちゃう?上がっちゃうの?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>次は4回攻撃を目指すか。でも交渉用に威圧も上げたいなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>4回攻撃とか意味わかんないぜ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>200%とか・・・クリティカル率なんぼや?40か・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あへぇ・・・クリティカルシステム壊れる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>クリティカル無効つけよう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>変態の領域に達しつつある</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>まあ基本能力使わないしなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>データ的には栄くん完成しちゃってる感あるから悩むな・・・パワードスーツ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>(頭を抱える)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>けどクリティカル出せばいいだけだし!このゲーム最終的にはクリティカルの押しつけ合戦になるんじゃないかなと・・・。結果ダイス運だけで戦うことになるから、実は中盤が一番おもしろいのかもしれない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>暗闇とかエリア封鎖とか搦手が必要かもしれませんな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ああ・・確かに。ヘカトンもそもそも狭いところで出てくる敵っぽかったし、閉鎖前提の能力だよね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>あと大抵の勝因はボスが1匹となんか無視してもよさげな取り巻きだから、ボスクラスを2体とかにするといいかもしれませんね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>バランス大丈夫かなぁ・・・公式シナリオでも複数ボスはやってないんだよね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>いっそのこと敵のオーダー出すとか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>分裂するボス</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>増える・・・だと・・・!?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>次は銃弾が当たる度に増えるボスにしますね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>やめてください死んでしまいます。ロケットランチャーに乗り換えるしかないのか?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あ、そうだ次のシナリオだとツグミの回になる予定だけど、いい?あと、シナリオ傾向になんか要望ある?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>地下労働が始まる・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>チンチロ編かよぉ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>すごいわくわくする始まり方だね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>間違いなくほかの二人がいないね・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>また2ラインのシナリオかぁ、壊れるなぁ・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>いいね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>きっとピンチに仲間が駆けつけてくれるはず。ここらでヒロインが誰かはっきりさせよう!そんなシナリオで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>GARDENの地下収容施設はちょっと手が出せないなあ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>仲間・・・?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ミスコンシナリオ。優勝候補は・・・美ヶ原!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ミスコンシナリオとか学園モノとしては王道じゃんか・・・いいなあ・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>なんかギャグシナリオの臭いがするけど大丈夫かな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ぼくはシリアスならなんでもいいっていったらこんなシナリオになってました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>鶫がミスコンって時点でもはやコメディでは・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>たしかに・・・</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>鶫の脱走をみんなで協力して達成するのだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>やっぱチンチロ編かぁ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>ミニゲームがありそう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>重力操作でダイス目を操る!!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>超能力チンチロ・・・!</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>先生は心読んでポーカーとか圧勝しそう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>風で全てを飛ばそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>地味に一番強そうだよなぁ、栄先生</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ブレインウォッシュするからエキストラを操れますよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>風は使い道がないな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>ポルナレフをかけよう!</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>鉄骨渡りで参加者の妨害が出来るくらいかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>負けそうになったら突風をおこす</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>いちばん剛の者だった</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>風で相手の意識を飛ばす</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ウィンドカッターで轟盲牌する</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>無理だろ!!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>収拾つかなくなりそうだな、こりゃ^q^;</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>成績表！</h2>
                    <p>後日、参加メンバーには以下のような書類が渡されたという・・・。</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th></th>
                                <th>藤堂 栄</th>
                                <th>鶯 餡子</th>
                                <th>豺虎 鶫</th>
                            </tr>
                            <tr>
                                <th>セッションに最後まで参加した(5)</th>
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th>シナリオの目的を達成した(10)</th>
                                <td>10</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th>TRUE END BONUS(5)</th>
                                <td>5</td>
                                <td>5</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th>よいロールプレイをした(1)</th>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>他のプレイヤーを助けた(1)</th>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>セッションの進行を助けた(1)</th>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>場所の手配、連絡を行った(2)</th>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th>総獲得経験値</th>
                                <td><b>23</b></td>
                                <td><b>23</b></td>
                                <td><b>23</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class='row gm'>
                <div class="col-sm-2 name text-right">naki@GM</div>
                <div class="col-sm-10 serif">総評：<b>大変よくできました！</b></div>
            </div>
        </section>
    </div>
{% endblock %}