{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/lostroyal-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-aneko.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>※未編集</h2>
                    <p></p>
                </div>
            </div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@魔王</div><div class='col-sm-10 serif'>「なに……?このようなところでやられるというの……か……?」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>魔王の体が朽ちていくのが分かります</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>あれ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>トドメはキングの役目では?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>それと同時に、魔群達も消滅していきます。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>鮭も残してたのに</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>血に濡れた拳をフキフキしよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>酒歌はダメージ減少にしか使えないけど、特殊能力持ってたっけ?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>あれそうだっけ?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>フランベルジュは酔拳的なのあるから攻撃につかえるけどね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>魔王が消滅使用としたその瞬間、姿が変わりました</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>ともあれ残念だ、ベルの仇を撃ちたかった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>そしてこういいました。</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@魔王</div><div class='col-sm-10 serif'>「ふふ……。この世界もたのしかったよ。また縁があったら会おう。人間達よ……」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>クリストファーさん!!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>名前以外おぼえてないけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>そういうと同時に、魔王だった者は消滅しました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あれ、白亜の王じゃなかったってことか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>後2サイクル分の時間が残りました。各人何か言いたいことはありますか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>今の聖杯はまだ輝きを放っています</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>「貴様は王の器ではなかった、キングはただ一人!この俺だ!!」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>1,2言ぐらいは話す時間があるでしょう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>帝王のポーズで告げます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>何だ帝王のポーズって</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>エンペラー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>ちょっと怪しかったですが、まあ回避しました</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>ていく2</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>空を飛ぶペンギンのような様です</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>なんだ回避って</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>それではエンディングです</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>聖杯の輝きが増していくと、ついにその刻がやってきました</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@???</div><div class='col-sm-10 serif'>「……復活するようね」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>そういうと同時に、聖杯から金色の龍が現れ、世界全体が光に包まれました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>絵はないです</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@サラ王女</div><div class='col-sm-10 serif'>「終わった……の?」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>「おわりましたぞおおおおおおお」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>その光がなくなった瞬間、世界各地から歓声が響きました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@ベル</div><div class='col-sm-10 serif'>「その、ようです。姫、御立派、でした」息も絶え絶え</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>龍の復活により、魔族はほろび、ついでにペンギンはぎりぎり生き残りました</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>「いいえ、姫これからが始まりですよ、我らがペンギン帝国の!!」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>割とペンペンしてるけど</div></div>
            <div class='row npc'><div class='col-sm-2 name'>aneko@サラ王女</div><div class='col-sm-10 serif'>「うっ……うっ……」今まで我慢してきた気持ちがこみ上げ、王女はその場で泣き始めました</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>直ぐに王女を抱き上げて涙を拭きます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>*ペンギンの捕食シーン</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>磯臭いから止めて</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>といった所でEP4「世界の終幕」終了です。ありがとうございました</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>おつかれー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おつかれさまでしたー!</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>感想戦</h2>
                    <p></p>
                </div>
            </div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>ペンギン帝国はどうなるんですか!?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>キングには動物園の園長を任そう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いやー、おしかったねあと10%くらいでトゥルーエンドだった</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>2週目かな?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>たった一言の猶予であそこまで言ったら上出来だと思う</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>消化不良です</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>この状況がわからない阻害感よ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>あそこで「私が魔王だ」宣言してたら、ペンギンは一緒に消滅するトゥルーエンドがあった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>魔族の消滅なんでね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>あ、そういえばエンザーも消えた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>かなしい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、結局、白亜の花はどうなったん?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>そんな展開あっても伏線もなしじゃ、読者は納得しませんよ!</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>伏線はさんざん自分で立ててたでしょ!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>花についても、魔族判定にひっかかって消滅してます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あねこえんどの世界観的には危機が去ったって感じなんだね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>じゃあ次期国王である俺はその後お城で事後処理でもしてるのかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>園長だから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>そうですね、あくまでも魔族は滅びましたエンド</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いいんじゃなかな、世界の黄昏もこなかった。世界は平和を取り戻したのだー!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>やったぜ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>さて、どうするかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>まあ終わりです。ないと思うけど聞きたいことあります?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>ペンギン好き?</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>結局、クリストファーは何もんだったんだ?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>ペンギン帝国の設立がどうなったか聞きたい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>魔王なの?魔王の分身なの?それとも全然違う世界線からきたとか?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>外なる神という設定です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>外なる神……いろいろな人間の姿に変わる……</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そいつが遊んで帰っていったみたいな?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>そうですね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おお、なるほどね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>所謂糞ストーリーです</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>ニャルさんじゃないですかー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>さしずめ賢者はそれを阻止したかったって感じか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まったくdafeoijfaiokにもこまったもんだぜ!</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>放っていたら滅ぶということ自体は変わらなかったので</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>デネトワの応戦がありました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>本人は戦闘能力はないので、騎士達と対抗するということになりましたけどね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>忘れないうちに言っておくとターン制限を設けたのは、1ターン目の状況を8ターンも耐えれるのか……という絶望を味わって欲しかったため</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>絶望突き抜けて諦めてたわ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>CRPGなら全然ありなんだけどなあ、リセットボタン押せばいいだけだし。アネコはイベントの設定がCRPGベースだよね、前から思ってたけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>確かにTRPG向けではないイベントってのは重々分かっているんです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ああ、戦闘でそれをどうしてもやりたかったのね。わかる気もする</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>イベント戦ってなかなか難しいよな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>他にもいろいろなラスボス戦を考えてたんだけど、面倒じゃないパターンがこれだった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まあ、TRPGなら負けRPっていうのもあるから、その辺PLに言えばいいと思う。今回のだとデネトワ出てから戦闘開始でもいいんじゃないかなって思ったな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>前にも言ったけど私は負けイベ系は絶対やらない派。でもやりたいきもちはわかる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>それは知ってる。SWでかなり嫌がってたから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>ちなみにデータとかビルドに重みがない冒険企画系はべつに気にしない</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>ゲームにもよるよね、クトゥルフとかだと絶対勝てない敵が出ても気にならない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>COCはねえ……本来そうだし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>確かにTRPGでやると戦闘に時間がかかる分、無駄な時間だったと思っちゃうもんね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>CoCの場合はわかってて突入するかいきなりやらされるかでけっこうねちがいますね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>シナリオによっては初手旧支配者とかもあるし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>そんな開始5分でおつかれさまでしたじゃん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>ちなみにデネトワとの出会いだけど、屋上に行かず帰ろうとすると本物に先にであってたんです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんじゃってー!?確認したとき、時間1あります。見たいに言ってほしかった</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>まじかよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>われわれGMの心は読めないからね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>単純に、ストーリー破綻のストッパー役として出してただけで、本来は今回のが理想的です</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>その辺は信じてくれていいよ、誰もシナリオ壊そうとなんて思ってないからさw</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@クヮイン</div><div class='col-sm-10 serif'>今回の冒頭みたいなのは、えっ何してほしいの実質一択じゃん……え???ってなって、よくないかもしれないね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>無駄な選択肢を増やしたい衝動に駆られた</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@キング</div><div class='col-sm-10 serif'>まあ伏線とか大事だよね、シナリオ作ろうとすると</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>先に会えてたら、もしかしてBUFF付きで戦闘開始とかあった?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>aneko@GM</div><div class='col-sm-10 serif'>今回の2ターン目からの戦闘と同じ感じになってました。姿も今ので</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>くぅ～、それを知っていたらぁ!くやしいです</div></div>
        </section>
    </div>
{% endblock %}