{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>前回までのあらすじ</h2>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        ここは極東のとある地域にある学園都市。<br>
                        その都市の中でも最も古くからある私立魔輝銀会学園(シリツマキギンカイガクエン)。<br>
                        キミ達はその学園の高等部「ゼロ特別クラス」に所属している生徒である。<br>
                        <br>
                        花嫁一番コンテストを隠れ蓑にした地元の不良同士の因縁に終止符を打ったゼロ特オーダー達。<br>
                        ほっと胸をなでおろし帰路に着いたのもつかの間、突如目の前に現れた軍用サーチライトがオーダー達の視界を塞ぐ。<br>
                        騒動の主は、オーダー達にペロンを渡すように要求して来たのだった。<br>
                    </blockquote>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ほんで、選択肢としては「学園地下で、迎え撃つ」が選択されました、といったところでした</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>タワーディフェンスがはじまる</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>固定砲台TUGUMIがある限り全員ハチの巣さ</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>トレーラー</h2>
                    <p>時系列的には、前回のシナリオの後編って感じです</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        「なるほど、それがキミ達の答え」<br>
                        男はそうつぶやくと、挙げた右手を静かに振り下ろす。<br>
                        「やはり興味深いよ、キミ達は。残念だ」<br>
                        ――無数の銃声と閃光があたりを支配した。<br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="text-center">
                            ガーデンオーダーTRPG シリーズ「ゼロ特学園生活！」<br>
                            最終話「ゼロを超える絆」<br>
                            その絆、ゼロをも凌駕し、平和をつかめ！
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                    </blockquote>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>シナリオインフォメーション</h2>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        [予定時間] 9時間(3時間x3)<br>
                        [推奨PL人数] 3 - 4人<br>
                        [難易度] NORMAL<br>
                        [セッション傾向] ミッション、戦闘、非PvP<br>
                    </blockquote>
                </div>
            </div>
        </section>
    </div>
{% endblock %}