{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/go-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-naki.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>クライマックス1「白衣の男」</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>えー、見事敵の侵攻を食い止めたキミ達は、演習場の教員控室で身体を休めていた</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        [シーン名] 白衣の男<br>
                        [シーンPC] 全員(マスターシーン)<br>
                        [場所] 学園地下演習場、教員控室<br>
                        [時間] 夜<br>
                        「よくできました」<br>
                        <br>
                        扉の奥の暗闇から男の声と乾いた拍手の音が聞こえた。<br>
                        それはどこかで聞いたことのあるような声。<br>
                        暗闇から白衣が見える。<br>
                    </blockquote>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>誰かなんかリアクションしてほしいかも。セリフかなんかでいいよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「誰!?」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>「誰だ!」と鶫を構えます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>もはや銃という概念と同一化した鶫</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>鶫の概念が壊れる</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>「なんだ?てめえで最後か?さっきのやつらは口ほどにもなかったからな」</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        白衣の男はキミ達に向かって1歩1歩近づいてきて、やがてその顔があらわになった。<br>
                        「――さすがは、あたしが選んだゼロ特の生徒達だわ」<br>
                        白衣の男、美ヶ原教諭は、皮肉めいた顔でキミ達に笑いかけるのだった。
                    </blockquote>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>っというわけで、美ヶ原先生が出てきました</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>先生の恋人じゃないか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>わたしに応急手当をくれた師匠</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>「いったい何が目的ですか」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>「あんたは!?どういうことだ?事と次第によっちゃあその顔吹き飛ばすぜ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@美ヶ原先生</div><div class='col-sm-10 serif'>「それは、この子を見ればわかるわ、先生」</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>クライマックス2「アペイロン」</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        [シーンPC] 全員(マスターシーン)<br>
                        [場所] 学園地下演習場、教員控室<br>
                        [時間] 夜<br>
                        <br>
                        キミ達の目の前には、ペロンと瓜二つの少女がたたずんでいた。<br>
                        美ヶ原はその少女の肩に手を置く。<br>
                        <br>
                        「さあ、最後の仕上げをしましょう、アペイロン。あなたが人類の到達点、夢の具現化だということを証明するために」<br>
                        <br>
                        アペイロンと呼ばれた少女は静かにうなずくと、静かに片手をキミ達に向けた。<br>
                        <br>
                        「……初めまして」<br>
                        <br>
                        アペイロンの掲げた右腕から、オーダースペックの光で作られた幾何学文様が幾重にも現出した。<br>
                        <br>
                        「そして、さようなら。出来損ないの8番目」<br>
                    </blockquote>
                </div>
            </div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>デデーン!!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>とぅーびーこんちぬーど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>この時点でよくわかんなくなってたら教えてください、質問も可</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>黒幕が良く知る人物だったパターンでしょう?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>流れ的に8番目がペロンって言うのは分かった</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>ああヒロインってのは美ヶ原のほうかなと先生的に</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>正解正解</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>まあ今のところは特に問題ないです</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>とりあえずペロンの敵なら鶫は誰であっても潰すぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>真の敵は己なんだよ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>鶫君さっき大活躍でしたよねえ!?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>ペロンがアンドロイドっぽいことを仄めかしてた台詞もあったもんね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>大丈夫そうかな?ま、まあいいか。アペイロンの特殊能力で説明しないといけないことがあるんだけど、キャラシ見てもらっていい?特性能力の上から1番目と2番目なんだけど、アペイロンの力とアペイロンの盾って能力ね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>まあ厄介だなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>「前のラウンドで受けた属性と同じ」ってところがGOに規定されてないんだけど、オリジナルの特殊能力的なやつ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>実ヶ原先生はサッカーチームを作ろうとしてた……?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>これは前のラウンドの属性って複数受けた場合は全部適応されるの?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>YES。1ラウンド目、銃撃、衝撃、切断 で攻撃を受けたら、2ラウンド目にはその3つの属性の攻撃コストが0になり、さらにダメージ軽減8を得ます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>なるほどな、このシリーズで初めて重力攻撃を使う機会がくるかもな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>クリティカルで防御貫通するのは同じなので、クリティカル出れば関係ないです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>ふむふ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>なら銃でごリオスほうががいいな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>んむ、戦い方は任せるよ。基本ステータスは低めに設定してあるから、倒せるとは思う。負けちゃった場合は、世界が滅びます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>おk、世界を救いますか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>世界を救うのは、もうあきた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>俺達がウイニングイレブンだ</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>ラウンド1</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>では、配置してください。GHIのいずれかのエリアにどうぞ。固まったなぁ、先手取れればうれしいうれしい。では……セットアップ、イニシアチブどうぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>1D10+11-2 [セットアップ]</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>GardenOrder : (1D10+11-2) → 2[2]+11-2 → 11</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>1d10+4</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>GardenOrder : (1D10+4) → 10[10]+4 → 14</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>お</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>1d10+7 イニシアチブ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : (1D10+7) → 6[6]+7 → 13</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>修正値5だった</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>15です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あ、イニシアチブようにコマ増やさなくて大丈夫。イニシアチブ表つかっちくり</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>じゃあ、先行はアペイロンで……</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>エリアHにイマジネーションインジャリー</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GO120 イマジネーションインジャリー(特性能力)/MAIN/範/∞/-/疲労2/切断</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GardenOrder : D100<=120@24 → 32 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>範囲攻撃なので全員回避どうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>いやあ……無限はわらうぜ……</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>GO75 [回避]</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>GardenOrder : D100<=75@15 → 16 → 成功</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>よけたわ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO90 回避</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=90@18 → 95 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>マジ!?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>まじか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>go30</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>GardenOrder : D100<=30@6 → 69 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>つか、回避値たけえなぁ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>1d10+16 防御無視, 脳が存在しないキズを認識する (DCSL)</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GardenOrder : (1D10+16) → 3[3]+16 → 19</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>失敗した人はDCSLで19、防御無視です</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>つらたん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>DCSL19</div></div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>GardenOrder : 負傷表 切断[19] → 重傷1/DOT:軽傷1 | 腕部負傷 …… 腕に大きな傷を受ける。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>胸に7つの傷痕を持った先生が……</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>いきなり重症かあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>はい、次の方～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>のっしのっし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>おわり</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>移動して撃つ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>餡子さんどうずぉ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>撃つんかい!?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>そりゃあ撃ちますよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>そっか、遠距離攻撃できるんか、成功値半分でどうぞ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>半分か</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>エリア移動(全力移動)のペナルティね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO102@41 銃器1回攻撃半分</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=102@41 → 67 → 成功</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GO30 回避</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GardenOrder : D100<=30@6 → 42 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ダメージ下さい</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>1d10+19 重機関銃ダメージ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : (1D10+19) → 9[9]+19 → 28</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>(なんで移動したんだ?)</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>DCBL20</div></div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>GardenOrder : 負傷表 銃弾[20] → 重傷2/マヒ | 脚部貫通 …… 脚を銃弾に貫かれ、その場でひざまずく。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>いきなり重症2かよぉ……</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>こっちのセリフだぜ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>で、ターンエンド。クリンナップドウゾ、DOT処理だけかな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>俺の抵抗力をなめるなよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>go40</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>GardenOrder : D100<=40@8 → 64 → 失敗</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>餡子動いてないz</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>銃撃受けたので、次のラウンドは銃撃へのダメージ軽減:8がつきます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>会動いてた</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>ほい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>(軽傷:5->4)</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>ラウンド2</h2>
                    <p></p>
                </div>
            </div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>===== ラウンド2 =====</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>セットアップかな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO50 抵抗</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=50@10 → 10 → クリティカル</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>セットアップ、イニシアチブ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>DOT解除</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>1d10+5</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>GardenOrder : (1D10+5) → 3[3]+5 → 8</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>おお、DOT受けてから、解消判定ね。最低1回はくらっちゃう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>1D10+11-2 [セットアップ]</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>GardenOrder : (1D10+11-2) → 2[2]+11-2 → 11</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>うーむどうすっかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ヘイストっちゃう?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>使うか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>ヘイスト</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO100 特性能力</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=100@20 → 6 → クリティカル</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>クリティカルの文字が多すぎる卓はここです</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>ヘイスト5ね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>1d10+7+5 イニシアチブ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : (1D10+7+5) → 2[2]+7+5 → 14</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>出目えええええ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>(ФωФ)フフフ……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>懐かしい顔文字だ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>アペイロン早いなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>なぜ固まっているのだ我々は!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>初期位置の問題</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>では、アペイロンから。アペイロンの力(銃撃)ついてるのでエリア攻撃いきます</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>仲間だからさ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GO120 アーガトラムバレット(特性能力)/MAIN/範/∞/-/疲労2/銃弾</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GardenOrder : D100<=120@24 → 32 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>鶫さんはなんで前に来てるんですかねぇ……</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>知らない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>エリアEにいる3人は回避判定どうぞ。あ、あとアペイロンのマヒが解消します</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>GO75 [回避]</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>GardenOrder : D100<=75@15 → 37 → 成功</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>解消早いなあ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>おしかった</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO90 回避</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=90@18 → 82 → 成功</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>疲労1でマインズ・アイしよう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>畜生めええ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>マヒは移動ができないってあれだからね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>(疲労:6->5)</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>go60</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>GardenOrder : D100<=60@12 → 89 → 失敗</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>栄先生にヒットっと</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>コーブラーまぎれもなくーやーつさー</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>1d10+16 虚空から突如弾丸の雨が降り注ぐ (DCBL)</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GardenOrder : (1D10+16) → 3[3]+16 → 19</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>遠隔攻撃だよね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>あ、痛くない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>再び19点どうぞ、銃撃で軽減できます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>銃弾防御20です</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>マジ!?貫通してないじゃん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>じゃあ、ノーダメージで次鶫さんどうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>カンカン</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>当たらなくていいんだっけ?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>射程無限だから、そうだね、遠隔攻撃扱いでいいよ>餡子</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>当たってるよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あ、ほんとだ、判定のしかたわすれてらぁw</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>BL5</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ごめんね、鶫と餡子も受けといて</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>得、何が置きてるの</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>DCBL5</div></div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>GardenOrder : 負傷表 銃弾[5] → 軽傷2 | 腕部損傷 …… 銃弾が腕をかすめた。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>やはりか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>aneko@餡子の軽傷を2減少(軽傷:5->3)</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>DCBL15</div></div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>GardenOrder : 負傷表 銃弾[15] → 重傷1 | 肩負傷 …… 肩を貫かれる。骨が砕けたようだ。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>めっちゃ痛そう……</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>また重症だあああ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>カバーリングしますよそんなん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>といいたいけど負傷決定したから今回はいいや</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ついに宿敵機関銃スナイパーを倒せる時がきそう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>流石先生</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「ペロ……ペペロンチーノチャン……</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@ペロン</div><div class='col-sm-10 serif'>※ぐぅ～ お腹が鳴った音</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>うごごごご</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>では、改めて鶫さんの番</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>こうなれば怒りの4連射y</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO51@41 銃器4回攻撃</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=51@41 → 15 → クリティカル</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO51@41 銃器4回攻撃</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=51@41 → 6 → クリティカル</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO51@41 銃器4回攻撃</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=51@41 → 51 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>クリティカル、やめちくり～</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO51@41 銃器4回攻撃</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=51@41 → 88 → 失敗</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO51@41 銃器4回攻撃</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=51@41 → 80 → 失敗</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>もう一回!</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>撃ちすぎた</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>もう終わったぜ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GO30 回避</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GardenOrder : D100<=30@6 → 97 → ファンブル</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ギルティ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GO30 回避</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GardenOrder : D100<=30@6 → 62 → 失敗</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GO30 回避</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GardenOrder : D100<=30@6 → 17 → 成功</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>クリティカルが2回HIT、ダメージ下さい。オバブも検討してね</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>お怒りなのでオバブしようかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ダメージ上限オーバーするようなら使わない方がお得でっせ、奥さん</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>餡子は逃げ回ってもよかですか</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>振ってから使うか決めていいんだっけ?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ダメージ決定前ならOKのはず</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>1d10+19 重機関銃ダメージ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : (1D10+19) → 9[9]+19 → 28</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>ここでオバブしてマックスダメージにしようかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ああ～、負傷決定ステップの前だから、ダイス振る前だな、まあ次からダイス振る前でお願いしやす</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>じゃあ次のダメージでオバブします</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>普通にGMの言葉無視してるのかと思った</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>1d10+19+15 重機関銃ダメージ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : (1D10+19+15) → 3[3]+19+15 → 37</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>鶫がルールだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>僕ルール結構あいまいに処理するから、ツッコムか教えてくれてもいいのよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>GMがルール</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>今のは完全に鶫さんがおかしかった</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>とりあえず28と37ダメージでお願いします</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>オーバーブーストは、全部のダメージに適応していいよ。とりあえず今回は使うか使わないかだけ宣言して致命傷1くらってください</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>ああそういう事か</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>43、37で処理するよん</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>ありがとうございます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>いえいえ、TRPGはあいまいなものなのだ(ダメな奴</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>防御点が上がってて16になってるから……</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>致命傷1食らいました</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>クリティカルだからそのままでいいのでは?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>はっ!?そうだった</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>DCBL43</div></div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>GardenOrder : 負傷表 銃弾[43] → 致命傷2/DOT:重傷1 | 必殺の一撃 …… 銃弾が心臓の近くを貫く。動脈にダメージを受けたようだ。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>いたそうだなー</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>DCBL37</div></div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>GardenOrder : 負傷表 銃弾[37] → 致命傷2 | 胸部負傷 …… 銃弾で肺を貫かれる。</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>死にそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ふぁっ!?致命傷0!?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>虫の息だ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>心臓と肺をもらいました</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>あ、生殺与奪権はPC側にあるので死亡0になっても生きてることにしてもいいからね。では次に……なんかもう終わりそうだな^q^;</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>餡子さんどうぞ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>顔をしかめてメニークルシミマス</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@美ヶ原先生</div><div class='col-sm-10 serif'>「そ、そんな!?」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>Bにいってエアカッターしよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>成功率半分で判定どうぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>GO50 [特性能力]</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>GardenOrder : D100<=50@10 → 56 → 失敗</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>えー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>実際、半分だからなあ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>aneko@餡子の疲労を1減少(疲労:7->6)</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>次、栄ぇ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>50%は成功しない卓</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>栄くんでは殺せないからな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>エリア移動だけして終了</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>来るのか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>鶫、さよなら</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>らじゃり、クリンナップ処理します</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>俺の抵抗力をなめるなよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>go40</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>GardenOrder : D100<=40@8 → 41 → 失敗</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>^^</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>重傷1点、解消判定</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>(軽傷:4->3)</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GO40 抵抗</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GardenOrder : D100<=40@8 → 97 → ファンブル</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>んぎゅおわあああああ(断末魔</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>そりゃそうよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>抵抗をしていない……?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>心臓と肺を撃たれてるし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>では……ラウンド3</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>ラウンド3</h2>
                    <p></p>
                </div>
            </div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>===== ラウンド3 =====</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>でもスタンも麻痺もないのでバリバリ動く</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>1d10+5</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>GardenOrder : (1D10+5) → 4[4]+5 → 9</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>1D10+11-2 [セットアップ]</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>GardenOrder : (1D10+11-2) → 3[3]+11-2 → 12</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>クリンナップ、イニシアチブどうぞ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>もっかいヘイスト</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>セットアップだったよぉおん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>どうぞ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO100 特性能力</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=100@20 → 56 → 成功</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>1d10+7+5 イニシアチブ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : (1D10+7+5) → 8[8]+7+5 → 20</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>鶫致命傷減った?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>よっしゃ追い抜いた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ええっと、鶫からかな?どうぞ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>減ったよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>なんだか終わりそう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>じゃあトドメヲ刺すかな</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO51@41 銃器4回攻撃</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=51@41 → 55 → 失敗</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO51@41 銃器4回攻撃</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=51@41 → 55 → 失敗</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO51@41 銃器4回攻撃</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=51@41 → 2 → クリティカル</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GO51@41 銃器4回攻撃</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : D100<=51@41 → 67 → 失敗</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>ふっふふふ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GO30 回避</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>GardenOrder : D100<=30@6 → 96 → ファンブル</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>後は任せた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ノーーーー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>うーん、HIT!ダメージ下さい</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>1d10+19 重機関銃ダメージ</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>GardenOrder : (1D10+19) → 4[4]+19 → 23</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>かばおうかと思ったけど、死にそうだからやめよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>DCBL23</div></div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>GardenOrder : 負傷表 銃弾[23] → 重傷3 | 消化器系損傷 …… 胃などの消化器官にダメージを受ける。</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>かなしみの繰り上がりダメージ……!?</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>かばって上げよう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>ダメだな、繰り上がって、死亡0。</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>体がボロボロだ</div></div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>===== てってれ～、キミ達は戦闘に勝利した! =====</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>戦いの後</h2>
                    <p></p>
                </div>
            </div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「ペロンちゃん!」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>「う……ぐ……」と声にならない声を上げて倒れます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ここでカバーリングですか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>見方を守るのは当然</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>まさかの裏切り展開</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>とっさにペペロンの前に出ます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ここからペペペンの弔い合戦がはじまる……!?</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>PvPいいぞ^～</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>フフフ世界はあたいのものだ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@美ヶ原先生</div><div class='col-sm-10 serif'>美ヶ原先生は、嘘よ嘘よと病的なほどにつぶやいてその場に崩れ落ちました</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>やさしく肩に手をおきます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>パワードスーツだからすごい握力だけど</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>とりあえずペペロンちゃんを保護しよう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>ぎゅーってなってそう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>とりあえず美ヶ原の手足を撃ち抜いた方がいいかな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>どさくさにまぎれて鶫を撃とうかな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@アペイロン</div><div class='col-sm-10 serif'>「……」もう生きてるのが不思議なくらいだけど、気を失ってるよう?トドメもさせます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>そういうのは国際条約に反するんで……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>臓器2つと消化器もってかれてるとか……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>医者もさじをなげるレベル</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「先生、治癒をお願いします……」</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>こっちは不良だから国際法なんて知らないなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>「まかせるがよい」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>法律は知らないでは済まされない!!</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>ペロンちゃん二人でアイドルユニットを結成するんじゃあー</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>酷い!いったい誰がこんなことを</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>「お嬢!そいつを助けるのか!?」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ドライブレコーダー積んでるからバレるよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「ええ、この子はきっと、愛を知らないだけなの。私には分かるわ」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>救いはあった……!</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>栄先生の能力みてたんですけど</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>「……まったく、お嬢にはかなわないな」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>キャラシを見て愛を知らない事を知った</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>バディじゃなくても致命傷2つと重傷1つを即座に治癒できるキチガイだった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>はぇ^～すっごい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>ブラックジャックばりのオペを……!</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>先生なんで教師やってるんだろ、医者になればいいのに</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>教育実習生なんでまだ学生ですよ?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>みんなそこんとこちゃんとしてね</div></div>
            <div class='row npc'><div class='col-sm-2 name'>naki@ペロン</div><div class='col-sm-10 serif'>じゃあ、そんなアペイロンを心配そうな表情で覗き込んでおこう</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>そもそも致命傷って直らないから致命傷なんだと思ってた</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>ゲームだから多少はね?</div></div>
            <div class='row kaeru'><div class='col-sm-2 name'>kaeru@鶫</div><div class='col-sm-10 serif'>じゃあ一応変な真似したらすぐに撃てるように銃を構えておこう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>naki@GM</div><div class='col-sm-10 serif'>時を同じくして、学園都市内での暴動?テロ?も鎮圧されたという放送がラジヲで流れていたのだった</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@餡子</div><div class='col-sm-10 serif'>「ペペロンちゃん……大丈夫よ……」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@栄</div><div class='col-sm-10 serif'>オバブしたサイコ君は何考えてセルフ致命傷負ってんですかね……</div></div>
        </section>
    </div>
{% endblock %}