{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/shnb-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascripts %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>トレーラー</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ今回のシナリオ説明をしよう</div></div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">シナリオ名「ザ・ミスト」</p>
                        そこは何の変哲もない田舎町だった。<br>
                        しかし数年前から一つの都市伝説が囁かれていた。<br>
                        曰く「霧の出る日は家から出てはいけない、霧の中には恐ろしい怪物がいるから」というもの。<br>
                        それは表の世界ではただの噂話、しかし裏の世界では……。<br>
                        (協力型シナリオ)
                    </blockquote>
                </div>
            </div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>もしかしてその怪物は「ソソソソ……」と鳴いたりするのでは……？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>またみんなそばアレルギーかあ……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>どっちかというと「テケリリ」かな</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>ハンドアウト</h2>
                    <p></p>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">PC1　使命</p>
                        貴方は一般人のＮＰＣと共に霧の中で怪物に襲われた、貴方の使命は「この霧の中から生還することだ」
                    </blockquote>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">PC2　使命</p>
                        貴方は依頼を受けたシノビである、貴方の使命は「霧の中の怪物の退治」である。
                    </blockquote>
                </div>
            </div>
            <div class="row system">
                <div class="col-sm-2 name">system@INFO</div>
                <div class="col-sm-10">
                    <blockquote>
                        <p class="header">PC3　使命</p>
                        貴方は依頼を受けたシノビである、貴方の使命は「霧の中の怪物の退治」である。
                    </blockquote>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>難易度が選ぶＰＣによって違います</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ＰＣ１イージー、ＰＣ２ノーマル、ＰＣ３ハードとなっております</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>それを踏まえてお選びください</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>初心者用シナリオとは……</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>じゃあ３</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>いや余ったのでいいです</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>アネコ３でいいのか！？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>RP楽しそうなのどのハンドアウト？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>うーん２かな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>初心者だし１がいいのでは？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>使命破棄にしないスタイルなので大丈夫</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>２と３の違いは？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>もちろん全員秘密は違います</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>生還するなら楽そうだなPC1いただき！</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>じゃあ３にしよう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>2ですかね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>了解しました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>大丈夫かなあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>それぞれ頑張ってください</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ頑張れば達成できる……はず</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあヒミツを配りますね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>人生頑張り過ぎないことが長寿のコツね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>シノビは命がけで頑張るのが仕事だから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>(配り配り……)秘密を配りました</div></div>

        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>キャラクターメイク</h2>
                    <p></p>
                </div>
            </div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>キャラは前回と同じ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>キャラも帰る予定</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>帰省するのか</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なすの馬に乗って</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>というか前回のってサンプルキャラだし作りたいでしょ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ルールも大体把握しただろうし</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>データ重いゲームだからド素人が作れるとはとてもじゃないが思えない……</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>１回プレイすれば玄人さ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>なすに乗ってくるということは……皆死んでいた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ始めます</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>とりあえずハンドアウト配ってキャラ作成かな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どんどんぱふぱふ～</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>新規かー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>特にエヴィのキャラは前回シノビガミになっちゃったし</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>なったの？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>中忍頭になっただけだな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>結構お手軽に慣れるんだね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>でも作成時に前回の功績点は使用してもいいよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>それなら今のままでいいや</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>リプレイでもお手軽になってたしね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ではキャラ作成をしてください</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>今回のシナリオの怪物は「妖魔」というカテゴリなのでかなり強いです、注意してください</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>へー</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>おいしそう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>その情報だけだと意味わからんのだけど、妖魔だとなにが注意することになるん？属性なのそれ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ルールブックにあるけど、単純にシノビよりも強い忍法を使う</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>妖魔専用の忍法がえげつない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ただそれだけです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>レイドボス</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なるほど？ただ強いってだけなんだな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>できたよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ言ってしまえばそうです</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>学園サイドのキャラが1人。今回アネコは流派何でいく？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いまさらだけどてんねんとうじゃないんだね読み方</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>知らなかったんですね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>しらなかったです</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>斬首ね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>流派は斜歯忍軍で行こうと思う</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>というかevi早いね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おっけー。比良坂でいこう。諜報機関ってことはスパイのチームなのかここは</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>わたしはいつでもはやい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>比良坂は国家機関だから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>公務員が近いかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>サンプルキャラベースでいこうかなぁ、今回も</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>もしかしてキャラ自体は前と同じ？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>evi</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>リスペックしたから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>特技とか忍法は変わってますよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>スペック変えるだけでいいのね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>最近マウスの調子が悪い</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>ホイールが壊れたと思ったら右クリックも調子悪い</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>買い替え時だね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>あ忍法が更新されてなかった</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>新しいのあるけど線の集合地域に手を突っ込むのがおっくう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>閲覧キーめ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんか比良坂ってサポート系かこれ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>せやな情報戦で最強</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ああ……やっぱりかあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>じょうほうじゆうじざい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>そういえば一般人のデータもいるんだっけ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>嫌がらせするなら比良坂と言われてる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>一般人とかいう黒歴史はやめるんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>今回はいらないよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>いらないのか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>今回はシノビオンリーだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>怪物退治に行くのに一般人なんかいたら瞬殺ですよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>正しい姿</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>公安隠密局って響きがかっこいい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>特技取ってれば、流派これにしてもいいんか？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>というより</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>流派を選んだらその流派の特技がとれるので</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>比良坂共通の忍法と公安以外は選べなくなる</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>条件    【沈黙】を取得していること　ってあるのはなんなん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>公安を選ぶんなら</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>忍法の沈黙を絶対とってね♡</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ってこと</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>てことだよな、沈黙沈黙……</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>情報共有無効ってこれ使い道ないやないすか……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>サポート忍法だから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>使わなくても良い</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>強力戦だと死にスキルになると思われるがどうか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>そういえば最初って皆中忍なの？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>秘密におそろしいことがかいてあるかもしれない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ヒー！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>新規キャラは中忍</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>さんくす</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>いや、中忍以上じゃないと習得できない技があるから、何でかなと思って</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ハグレモノかなんかで</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>下忍を召喚する忍法とかあるんですよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>ふむふむ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>むずいなスキルの発動条件に条件付きが多すぎる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>脳筋にはおすすめできない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>たしかに……鞍馬に変えとこうかなぁ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ツッコンでって雀蜂連射してればいい気もしてきた</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そもそも攻撃忍法がすくなすぎるじゃん……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>集団戦って</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>相手に変調（状態異常）を与えるから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>実ダメージではないんよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>だから雀蜂で殺すのは難しい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>けどこのゲーム……攻撃手段減らすこととHPがとにかく大事な気がしてる</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>まあね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>少なくとも射程4で1個ずつ削れれば、敵の戦力は堕ちるわけだから……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>集団戦ダメージではHP減らないから注意な！</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>といいたかった</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ん?スペシャル出せばいいんじゃないの？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>お、おう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>接近戦攻撃ってデフォルト忍法というわけではないの？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>デフォルトだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>それをすてることはできない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>でも接近戦攻撃を複数持つことはみんなに許されている</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>すてちゃた</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>もどしなさい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>功績点はアイテム増やせるだけ？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>背景もとれます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>まだ貯めておこう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@PL</div><div class='col-sm-10 serif'>できた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>見せて</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>みて</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>あ、奥義も分かるね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>秘匿情報閲覧パスがわからないから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>我々には見えないよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>よかった自分も分からない</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>達人は特技を一つ選ばないといけないよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>多分勘違いしてるけど、達人は一つの特技にしか効果ないよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>それは器術とかのくくりではないの？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>もしかしてカラクリとかを指定するってことかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>きじゅつの中の一つを選ぶ感じ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>ごみじゃないか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そう</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>汎用忍法に求めるものが大きすぎた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>必要な特技を絞ってそれだけを守るようにすれば使えなくもない</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>変更します</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>どうぞ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>おとなしく頑健にしよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>あいかわらずコメダの名前の最後にある全角スペースがきになる</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>キャラのほう消すの忘れてた</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>失敬</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>とりあま、特技だけ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ちなみにこのシナリオ元々クトゥルフ用だから、割とえぐい内容になっております</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ほうほう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>アンパンマンとどっちがぐろい？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>射撃戦よりは鎌鼬とか鎖陣とかのほうがおすすめ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>アドバイスあんがとう。RPメインでやるつもりだからガチガチじゃなくていいや</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>アンパンマンかなあ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>鎌鼬も鎖陣もわりとネタ忍法だけどね！</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なぜそれを進めた……</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>汎用忍法に何を求めているのか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>一応間合いが近くてコストも低いのを選んだ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>忍法は直感で選んだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ直感は大事だな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>全員完成したかな？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>kana-</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>コロセーーーー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では始めます</div></div>
        </section>
    </div>
{% endblock %}
