{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/shnb-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>「十眼衛(ジュウメエ)」の場合</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>それぞれの導入から始めましょう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ＰＣ１から</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>今回こそ一人がちするぞー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>名前はなんだ？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>まだ性別が未定だった</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>不明というジャンルにしよう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>デオンくんちゃん</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>PC1って年齢設定ある？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おっさんでよければ31になる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>特には考えてないな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>いいよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>キャラ絵はあとで</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>了解</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ十眼衛がＮＰＣの霧子と町を歩いています</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>２人は知り合いですが</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>何もんだこいつぁあ！</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>関係性を決めておきたいので感情票をふりましょう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>顔に血痕ついてますよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>すげえ昔のCoCでこんな名前のキャラ使ってましたね君</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>ET    ShinobiGami : 感情表(6) → 狂信（プラス）／殺意（マイナス）</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いきなり不穏な関係なんですが・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>多分そいつとは字が違うぞ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>どうしようかなあ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>あの伝説の刀をさがすCoCか</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>まあ狂信を取ります</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>そっちも振ってね</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>ET    ShinobiGami : 感情表(4) → 忠誠（プラス）／侮蔑（マイナス）</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>忠誠かな</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>好きな方を選んでください</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>くさかに狂信とか頭わいてんじゃね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>狂ってますわ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>これは早急にイラストを探さねば・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>今決めましたが、霧子は十眼衛が普通の人ではないと思っており、自分も同じ世界の住人になりたいと思って近づいています</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>草加のイラストは何でどの卓でも出てくるのだろう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>なので十眼衛を師匠と呼ぶことにしましょう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>呪いじゃない？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おっけい、設定は把握した</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>では進めましょう</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>「なあ師匠、今日こそは私を秘密の組織に入れてくれよー」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>「私がんばるからさあ」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「ふう、また名探偵コンナン君でも呼んで感化されたのか？」とはぐらかし</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「私はただの政治家だ。それ以外でも他でもないよ、あと秘書は間に合ってるから」すたすた</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>「またそうやってはぐらかす！私は知ってるんだ、師匠は絶対普通の人じゃないよお！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>そんな感じでいつものやり取りをしていると、不意に霧が出てきます</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@不可思議な霧</div><div class='col-sm-10 serif'>もわあああ</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@不可思議な霧</div><div class='col-sm-10 serif'>霧はあっという間に町を覆いつくします</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>草加の呪い・・・？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>これは死人でますわ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「な、なんだこのもああああっとしたものは！？」</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@不可思議な霧</div><div class='col-sm-10 serif'>２人はこの街に住んでいるので、この街のうわさを知っていました。</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@不可思議な霧</div><div class='col-sm-10 serif'>霧の出る日は化け物が現れると</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>「おお！師匠これは噂の霧では！？邪悪な気配を感じるよ！！」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「まさか・・・あんなもの噂にすぎない。と思う・・・」と腕組みして考えます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんかアクション起こした方がいい？</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@不可思議な霧</div><div class='col-sm-10 serif'>周りは霧に覆われ、何も見えなくなりました、しかしじっとしているわけにもいかず、２人は歩き出すのであった</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@不可思議な霧</div><div class='col-sm-10 serif'>いやこれでクローズしようかと</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いいんじゃない、巻き込まれ系かぁ</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@不可思議な霧</div><div class='col-sm-10 serif'>ＰＣ１は巻き込まれ系主人公です</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>「天然痘(アマシカ モガサ)」と「籠雫琲珈(コメダ ヒコ)」の場合</h2>
                    <p></p>
                </div>
            </div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@不可思議な霧</div><div class='col-sm-10 serif'>では次行こう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ＰＣ２と３は同時に導入をするよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>はい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>君たち２人は組織は違うけど、怪物を倒す依頼を受けたよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そこでまずはそれぞれの組織に依頼をした依頼人に会うところから始めるよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>ふぉい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>霧に覆われた町の外で３人は会うよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>「きたか」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>「だれだ？」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「顔濃いい」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>「俺がお前たちの依頼人のミストだ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>「俺様の依頼は怪物退治だ、質問はあるか？」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>黒幕っぽい名前ですねきみ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>気のせいでしょう</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「怪物の特徴を教えて♡」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>「詳しいことはわからんが、これが怪物の写真だ」</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@霧の中の怪物</div><div class='col-sm-10 serif'>写真</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>まさかピース写真が・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>どっちですか？</div></div>
            <div class='row enemy'><div class='col-sm-2 name'>kaeru@霧の中の怪物</div><div class='col-sm-10 serif'>上の方</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>写真からして勝てる気がしない</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「これは・・・むりですね」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>「俺様とこの怪物とは因縁があってな、正直かなり手ごわい」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>即断即決は基本</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>「だが相手が怪物ならこっちは忍者を使えば良い。そう思って依頼させてもらった」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>自分が無理だから人に頼むってことでOK?</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>「クーリングオフ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>まあ協力者がいないと厳しいだろうなって感じです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「分かりました。善処します。ところで支援物資とかはありますか？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>「そんなものニンジャなら必要ないだろ？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>「期待してるぜ、ニンジャってのは分身したり光線だしたり、巨大化したりできるんだろ？」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>「そういう構成じゃないんで」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>彼は外国人なのでニンジャの事をアメコミでしか知りません</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「まあ・・・そういうのもいる・・？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>「ともあれ、この霧の中に入れば後戻りはできねえ、行くぞ野郎ども！！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>野郎？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>この世界って忍者に簡単に依頼できるほど、忍者はオープンな存在なの？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ミストさんなら可能</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>そうして３人は霧の中に入っていく、地獄が舞っているとも知らずに</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>地獄がダンスってるのか・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>詩的表現◎</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>いや影の存在なので普通は無理です</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@ミスト・フォッグ</div><div class='col-sm-10 serif'>ミストさんは偶々２人の上司と飲み屋で意気投合したので依頼できました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>辞表かこ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>※ホットペッパーのCM</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>前回も書いてなかった？</div></div>
        </section>
    </div>
{% endblock %}
