{% extends 'layout-replay.twig' %}
{#{% block title %}{% endblock %}#}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ base_url }}/assets/css/shnb-common.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/gm-kaeru.css">
{% endblock %}
{#{% block javascript %}{% endblock %}#}
{% block body %}
    <div id="replay-body" class="container">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>エンディング</h2>
                    <p></p>
                </div>
            </div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ともかくそろったので始めようか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>前回のながれ覚えてるかな？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>EDロール流れるんだっけ？</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ポケモンゲットだぜ！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあボス倒したんで後はエンディングだけですね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>イマサラタウンよ、永遠にバイバイ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>誰からやる？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>スカートの中から始まる</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>シノビっぽい</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>とりあえずEDムービー流そう</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そんなシノビガミはイヤだ・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そんなものはうちにはないよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>長きにわたる宇宙戦争はついに終わりを告げた…</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>アーノルド、リック、ヘンリーの犠牲は無駄にはしない</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>エンディングお願い</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあＰＣ１からやるか</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>だれだっけ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>十眼衛じゃない？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>らじゃり（PC1</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>こっちは？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>では３人と怪物との戦いが終わり</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>（正直シノビガミにEDとか求めてない）</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>３か</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ヒコは３だな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>エンディングやらないTRPGなんてそんな・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>怪物が消えたことにより、町の霧は晴れた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そして霧が晴れた先には戦闘の後と十眼衛だけが残っていた</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>ひこ死んだんだっけ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そしてそんな十眼衛に駆け寄る影が一つ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ここにいるぞぉ！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>生きてるよ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ジャーンジャーン</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>後ろから刺されそう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>あんたらは仕事終わったし帰るんじゃないの？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>「師匠ー、探しましたよ！」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>妹も無事に拉致したしね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>おかあさん！</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>現れたのは霧子、そして戦闘の跡を見て驚きに目を見開く</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「・・・無事だったのか霧子」と少し安心した様子で</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>「急に霧が晴れたと思ったら！やっぱり師匠がやったんですね！！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>意訳    貴様がやったのかー</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「はてぇ・・・なんのことかな？」すっとぼけ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>「そうでした、師匠が闇のエージェントだってことは秘密でしたね！ダイジョブですよ誰にも言いません」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>そう言いつつスマホで写真をとります</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>厨二チャン</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>白いモヤのようなものがそこには写りこんでしまいました・・・</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>「私もいつか師匠みたいになれるかな？」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>ＳＡＮチェックかな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「ん？うーん、なんのことやら・・・は！選挙活動に遅れてしまう！ではな霧子くん！」ダッシュ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>「あ！待ってくださいよー師匠ー」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>そうして二人は現場を離れます</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@十眼衛</div><div class='col-sm-10 serif'>「（これでいい・・・）」と口元にやける十眼衛であった</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@霧ヶ峰霧子</div><div class='col-sm-10 serif'>そして誰もいなくなった後の現場で動くものが一つ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>白いモヤのようなものが・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>全然どうでもいいんだけど近所の新居に雷太郎って人が入ってきた</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>それは地面からはい出した１本の触手</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>家特定した</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>月のない夜は気をつけろ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>その触手は弱弱しい動きで町の中に進んでいく</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そんな感じで終わりかな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>踏みつけにいっていいですか？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>まさかの引きで終わるんかい＾ｑ＾；</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>十眼衛は見事日常へと帰りました</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>やったぁぜ。</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>次回の伏線だからさ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>次は天然痘かな</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>そうか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>天然痘は組織からの依頼は果たしましたが、自分の過去の因縁にけりをつけることはできませんでした</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ついたよ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>どうついたんだよ！？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>天然君なんかぶっぱしてたな、なんだっけか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>ヒコのために全力で文曲してただけですが</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>過去とは切り離したと思っても、不意に浮かび上がってくるものなのです</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>優秀なサポートキャラだった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>貴方は夢を見ました、それはまだ家族が生きていたころ、既に帰らぬ思いでの日々</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>貴方は夢の中では自分の意思で体を動かせず、家族に触れることも出来ない</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>カナシバリー</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>しかし、不意に夢の中の妹があなたへと手を伸ばす</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>時々見るよねそんな夢</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>たいてい死ぬけど</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>手が触れる刹那貴方は夢から覚める</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>せやろか</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>階段から転げ落ちる夢はよく見る</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>落ちる夢はあんまよくない、落ちる前に根性で飛び起きるが吉</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>自分から飛び降りることもある</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>その時あなたが何を思ったか、それは誰にも分からない…だが貴方はもう一度動き出すだろう、過去を終わらせるために…</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>地面に激突する直前に目が覚める</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>そこまでいったら空飛ぶくらいの根性でいこう</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>普通にホラー体験じゃないですかあ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあＰＣ２はこんな感じでしめます</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>2D6>=6 （判定    飛術）    ShinobiGami : (2D6>=6) → 2[1,1] → 2 → ファンブル</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>最後に一言どうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>だめみたい</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あつ・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>地面に落ちてないから飛んでるといっても過言ではない</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>「次はクリティカルヒット撃つぞ！」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>前向きだなおい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>「次は絶対防御成功するといいなあ・・・」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>最後ヒコやろうか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>貴方は任務を無事達成し上司に報告に来ました</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>だれがひこにゃんだって？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>出たな真敵</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「無事GETしたから臨時ボーナスよろ♡」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>「ヒコ君よくやってくれた」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>「元々そういう依頼だったろう」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>「まあいい、報酬には色を付けてあげよう」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>（上司の塗り絵が施された紙幣）</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>何色？</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>「ククク、これさえあれば私の研究もさらなる飛躍をするだろう！！」</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「勝手に映さないでください、肖像権の侵害で訴えますよ」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>「科学の発展にはあらゆる事が正当化されるのだよ！」</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>はすばでしたっけ？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ヒコくんの上司に対する感情表は常に負なのだろうか・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「さいですか・・・（辞表だそ）」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>※ホットペ（ｒｙ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>はすばだ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>感情票ふってもいいよ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>ET    ShinobiGami : 感情表(2) → 友情（プラス）／怒り（マイナス）</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>おこだよ</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>友情感じるんですよねえ？</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'> (。◟‸◞。✿)</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>「まあ、君の優秀さには今後も期待しよう、次回も頼むよ！クハハハハハ！！」</div></div>
            <div class='row npc'><div class='col-sm-2 name'>kaeru@上司</div><div class='col-sm-10 serif'>これで終わりかな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そんな感じで３人はそれぞれの日常に帰っていきます</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>「・・・」</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>続く</div></div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2><span class="section-icon"></span>感想戦</h2>
                    <p></p>
                </div>
            </div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ザミストって映画が元ネタ？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>そうね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>オリジナルじゃないのか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ内容は全然かぶってないけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>嘘つけ絶対見てないぞ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>一応見たよ、霧と化け物くらいしか接点ないけど</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>やるやん</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>というかあんなヒューマンドラマＴＲＰＧで再現は無理やで</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>じゃあネタバレ警告表示はいらなさそうだな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>功績点は</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ちなみに映画おもろかった？ちょっと興味ある</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>衝撃的ではある</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>なんどそのうたい文句にだまされて映画館にいったことか・・・</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>あ、進めてドウゾ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>具体性のないレポートは万人受けしない証</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ実際ラストの展開は賛否分かれるだろうな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>任務達成したのは十眼衛とヒコだな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>このくらい簡単なのがウレシイね</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>皆のおかげ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>じゅーめーの秘密みたっけ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>見てないね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>「がんばれ」とかそんなん？</div></div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>[秘密]</div></div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>貴方はシノビではあるが表の顔を持ち普段は一般人として生きている。</div></div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>貴方はＮＰＣ１と共に霧の中に閉じ込められてしまった。</div></div>
            <div class='row system'><div class='col-sm-2 name'>system@INFO</div><div class='col-sm-10 serif'>貴方の本当の使命は「ＮＰＣ１共々無事に霧の中から生還する事である」</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>どうぞ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>どうも</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ十眼衛は特に秘密らしい秘密じゃあないね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>何を思ったかシノビガミ.txtを昨日ゴミ箱にいれて削除しちゃったんだよな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>流儀にかんしては全員達成かな</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>それはゴミ箱が悪い</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>セッションに最後まで参加したも全員、プライズの獲得はなし</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>だって・・・終わったシナリオだしな・・・</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>流儀適当に書いてるなあ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>いやあ、ミストさんは強敵でしたね</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>金銭に触れたは各自プレイヤーを指名してくれ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>監禁ボールはプライズではないのね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>プライズかもしれないけど</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>初期所持は含めないのだ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>功績が欲しければ強奪あるのみ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ああ、最初方もってるぶんはカウントしない</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>そうか、最初から持ってたんだ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>誰か退魔銃とってればよかったけどねえ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>あの人特攻して死んでいったじゃん・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>死ぬ前に奪わないといけないのだ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ん～、琴線はラストいいセリフはいてた天然に1票</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>畜生かな？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ほい天然１</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>殺してでも奪い取れ！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>的なアイテムだから</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>ラストいいセリフはいてたか？</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>正直あまり覚えてないけど、自分を犠牲にしてくれた天然に一票</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>じゃあ天然は功績点２+かな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>妹だと思ってたのが弟というところが衝撃的でした</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>妹子・・・</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>弱いものは淘汰されるから・・・</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>それはＧＭも知らない設定なんだが</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>妹子は死んでよかった</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>死んでないよ</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>シノビの世界はかくも厳しい</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>殺したかったなあ</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>GMも知らない裏設定って奴かな</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>ありますねぇ！</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>再登場フラグは立てたから頑張れ</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>まあ秘密見る前にキャラ作ってるから最適なビルドではないから</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>いいんですけど</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>功績点は何点ですか？</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>えーと功績点は十眼衛６点、ヒコ７点、痘５点かな</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>多分</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>そんなにあったか</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあ２点+されたからねえ</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>任務達成できてればトップだったね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>前回たくさん貰ったし</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>まあね</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>よい</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>という感じで一応次のシナリオも考えてるんで、また時間のある時に続きって感じで</div></div>
            <div class='row gm'><div class='col-sm-2 name'>kaeru@GM</div><div class='col-sm-10 serif'>お疲れ様でした</div></div>
            <div class='row naki'><div class='col-sm-2 name'>naki@PL</div><div class='col-sm-10 serif'>おつかれさーん</div></div>
            <div class='row evi'><div class='col-sm-2 name'>evi@天然痘</div><div class='col-sm-10 serif'>おつかれさま</div></div>
            <div class='row aneko'><div class='col-sm-2 name'>aneko@籠雫琲珈</div><div class='col-sm-10 serif'>おつかれさま</div></div>
        </section>
    </div>
{% endblock %}
